Repository vdaas/vald, changes with the labels that .github/labeler.yml gives for each.
All labels: area/agent/core, area/agent/sidecar, area/discoverer, area/filter/egress, area/filter/ingress, area/gateway, area/gateway/lb, area/gateway/meta, area/gateway/backup, area/gateway/filter, area/manager/backup, area/manager/index, area/manager/replication, area/meta, area/tools/cli/loadtest, area/internal, area/helm, area/makefile, team/set, team/sre, type/ci

change pkg/agent sidecar & core for new design api (#743)
  internal/net/net.go
  pkg/agent/core/ngt/handler/grpc/handler.go
  pkg/agent/core/ngt/handler/grpc/option.go
  pkg/agent/core/ngt/handler/rest/handler.go
  pkg/agent/core/ngt/handler/rest/option.go
  pkg/agent/core/ngt/service/kvs/kvs.go
  pkg/agent/core/ngt/usecase/agentd.go
  pkg/agent/sidecar/service/observer/observer.go
  pkg/agent/sidecar/service/restorer/restorer.go
Labels: area/agent/core, area/agent/sidecar, area/internal

add context argument for backoff & add trace span for backoff
  internal/backoff/backoff.go
  internal/backoff/backoff_test.go
  internal/net/grpc/client.go
  internal/net/grpc/pool/pool.go
  internal/net/http/transport/roundtrip.go
Labels: area/internal, team/set

:green_heart: remove deprecated set-env commands (#752)
  .github/workflows/dockers-agent-ngt-image.yml
  .github/workflows/dockers-agent-sidecar-image.yml
  .github/workflows/dockers-backup-manager-cassandra-image.yml
  .github/workflows/dockers-backup-manager-mysql-image.yml
  .github/workflows/dockers-base-image.yml
  .github/workflows/dockers-ci-container-image.yml
  .github/workflows/dockers-dev-container-image.yml
  .github/workflows/dockers-discoverer-k8s-image.yml
  .github/workflows/dockers-gateway-vald-image.yml
  .github/workflows/dockers-helm-operator-image.yml
  .github/workflows/dockers-loadtest-image.yml
  .github/workflows/dockers-manager-compressor-image.yml
  .github/workflows/dockers-manager-index-image.yml
  .github/workflows/dockers-meta-cassandra-image.yml
  .github/workflows/dockers-meta-redis-image.yml
Labels: team/sre, type/ci

fix
  internal/backoff/backoff.go
Labels: area/internal

fix
  internal/backoff/backoff.go
Labels: area/internal

add context argument for backoff & add trace span for backoff (#760)
  internal/backoff/backoff.go
  internal/backoff/backoff_test.go
  internal/net/grpc/client.go
  internal/net/grpc/pool/pool.go
  internal/net/http/transport/roundtrip.go
Labels: area/internal, team/set

fix
  Makefile
  Makefile.d/build.mk
  dockers/agent/core/ngt/Dockerfile
  internal/core/ngt/ngt.go
Labels: area/internal, area/makefile, team/sre

fix
  pkg/agent/core/ngt/service/ngt.go
Labels: area/agent/core

Update internal/db/rdb/mysql/mysql_test.go
  internal/db/rdb/mysql/mysql_test.go
Labels: area/internal, team/set

fix: fails test
  internal/db/rdb/mysql/mysql_test.go
Labels: area/internal, team/set

fix load test using new design API
  pkg/tools/cli/loadtest/config/config.go
  pkg/tools/cli/loadtest/service/insert.go
  pkg/tools/cli/loadtest/service/loader.go
  pkg/tools/cli/loadtest/service/loader_option.go
  pkg/tools/cli/loadtest/service/search.go
  pkg/tools/cli/loadtest/usecase/load.go
Labels: area/tools/cli/loadtest

fix load test configuration file
  cmd/tools/cli/loadtest/sample.yaml
Labels: area/tools/cli/loadtest

fix import
  pkg/tools/cli/loadtest/service/search.go
Labels: area/tools/cli/loadtest

:white_check_mark: Fix mysql test failure (#750)
  internal/db/rdb/mysql/mysql_test.go
Labels: area/internal, team/set

Apply suggestions from code review
  .github/workflows/dockers-gateway-backup-image.yml
  .github/workflows/dockers-gateway-lb-image.yml
  .github/workflows/dockers-gateway-meta-image.yml
Labels: team/sre, type/ci

[patch] change gateway vald's mutex lock
  pkg/gateway/vald/handler/grpc/handler.go
Labels: area/gateway

patch add more effective Close function for internal/core
  internal/core/ngt/ngt.go
Labels: area/internal

fix: apply suggestio
  internal/db/storage/blob/s3/s3.go
  internal/db/storage/blob/s3/s3_mock_test.go
  internal/db/storage/blob/s3/s3_test.go
Labels: area/internal, team/set

fix
  pkg/gateway/vald/handler/grpc/handler.go
Labels: area/gateway

patch add more effective Close function for internal/core (#764)
  internal/core/ngt/ngt.go
Labels: area/internal

fix
  pkg/gateway/vald/handler/grpc/handler.go
Labels: area/gateway

Update pkg/gateway/vald/handler/grpc/handler.go
  pkg/gateway/vald/handler/grpc/handler.go
Labels: area/gateway

[patch] change gateway vald's mutex lock (#765)
  pkg/gateway/vald/handler/grpc/handler.go
Labels: area/gateway

:bookmark: :robot: Release v0.0.58
  CHANGELOG.md
  charts/vald-helm-operator/Chart.yaml
  charts/vald-helm-operator/README.md
  charts/vald-helm-operator/values.yaml
  charts/vald/Chart.yaml
  charts/vald/README.md
  charts/vald/values.yaml
  versions/VALD_VERSION
Labels: area/helm

:robot: Automatically update Helm charts
  charts/index.yaml
  charts/vald-helm-operator-v0.0.58.tgz
  charts/vald-v0.0.58.tgz
Labels: area/helm

bugix gateway logic
  go.mod
  go.sum
  internal/backoff/backoff.go
  pkg/gateway/lb/handler/grpc/handler.go
  pkg/gateway/lb/handler/grpc/visitlist.go
  pkg/gateway/vald/handler/grpc/checklist.go
  pkg/gateway/vald/handler/grpc/checklist_test.go
Labels: area/gateway, area/gateway/lb, area/internal, team/set

[patch] bugfix gateway index out of bounds
  pkg/gateway/vald/handler/grpc/handler.go
Labels: area/gateway

[patch] bugfix gateway index out of bounds (#768)
  pkg/gateway/vald/handler/grpc/handler.go
Labels: area/gateway

:bookmark: :robot: Release v0.0.59
  CHANGELOG.md
  charts/vald-helm-operator/Chart.yaml
  charts/vald-helm-operator/README.md
  charts/vald-helm-operator/values.yaml
  charts/vald/Chart.yaml
  charts/vald/README.md
  charts/vald/values.yaml
  versions/VALD_VERSION
Labels: area/helm

:robot: Automatically update Helm charts
  charts/index.yaml
  charts/vald-helm-operator-v0.0.59.tgz
  charts/vald-v0.0.59.tgz
Labels: area/helm

fix failed build
  internal/compress/gob/gob_mock_test.go
  internal/compress/gzip/gzip_mock_test.go
  internal/compress/lz4/lz4_mock_test.go
  internal/compress/mock_test.go
  internal/compress/zstd/zstd_mock_test.go
  internal/db/storage/blob/s3/reader/option_test.go
  internal/db/storage/blob/s3/reader/reader.go
  pkg/agent/sidecar/service/restorer/restorer.go
  pkg/gateway/vald/handler/grpc/handler.go
  pkg/gateway/vald/handler/grpc/handler_test.go
  pkg/gateway/vald/service/backup_option_test.go
  pkg/gateway/vald/service/backup_test.go
  pkg/gateway/vald/service/filter_option_test.go
  pkg/gateway/vald/service/filter_test.go
  pkg/gateway/vald/service/gateway.go
  pkg/gateway/vald/service/gateway_option_test.go
  pkg/gateway/vald/service/gateway_test.go
  pkg/gateway/vald/service/meta_option_test.go
  pkg/gateway/vald/service/meta_test.go
  pkg/tools/cli/loadtest/service/insert.go
  pkg/tools/cli/loadtest/service/insert_test.go
  pkg/tools/cli/loadtest/service/loader_option_test.go
  pkg/tools/cli/loadtest/service/loader_test.go
  pkg/tools/cli/loadtest/service/search.go
  pkg/tools/cli/loadtest/service/search_test.go
Labels: area/agent/sidecar, area/gateway, area/tools/cli/loadtest, area/internal, team/set

fix
  assets/test/templates/common/function.tmpl
  assets/test/templates/option/function.tmpl
Labels: none

fix
  pkg/gateway/lb/handler/grpc/handler.go
Labels: area/gateway/lb

bugfix/internal gateway/new design apis (#767)
  go.mod
  go.sum
  internal/backoff/backoff.go
  pkg/gateway/lb/handler/grpc/handler.go
  pkg/gateway/lb/handler/grpc/visitlist.go
  pkg/gateway/vald/handler/grpc/checklist.go
Labels: area/gateway, area/gateway/lb, area/internal

fix
  hack/swagger/main.go
  hack/swagger/main_test.go
  pkg/manager/index/handler/grpc/checklist.go
Labels: area/manager/index, team/set

:recycle: Use new design apis in load test (#762)
  cmd/tools/cli/loadtest/sample.yaml
  pkg/tools/cli/loadtest/config/config.go
  pkg/tools/cli/loadtest/service/insert.go
  pkg/tools/cli/loadtest/service/loader.go
  pkg/tools/cli/loadtest/service/loader_option.go
  pkg/tools/cli/loadtest/service/search.go
  pkg/tools/cli/loadtest/usecase/load.go
Labels: area/tools/cli/loadtest

.github/labeler.yml:

area/agent/core:
  - apis/proto/agent/core/**/*
  - apis/grpc/agent/core/**/*
  - cmd/agent/core/**/*
  - pkg/agent/core/**/*

area/agent/sidecar:
  - apis/proto/agent/sidecar/**/*
  - apis/grpc/agent/sidecar/**/*
  - cmd/agent/sidecar/**/*
  - pkg/agent/sidecar/**/*

area/discoverer:
  - apis/proto/discoverer/**/*
  - apis/grpc/discoverer/**/*
  - cmd/discoverer/**/*
  - pkg/discoverer/**/*

area/filter/egress:
  - apis/proto/filter/egress/**/*
  - apis/grpc/filter/egress/**/*
  - cmd/filter/egress/**/*
  - pkg/filter/egress/**/*

area/filter/ingress:
  - apis/proto/filter/ingress/**/*
  - apis/grpc/filter/ingress/**/*
  - cmd/filter/ingress/**/*
  - pkg/filter/ingress/**/*

area/gateway:
  - apis/proto/vald/**/*
  - apis/grpc/vald/**/*
  - cmd/gateway/vald/**/*
  - pkg/gateway/vald/**/*

area/gateway/lb:
  - apis/proto/vald/**/*
  - apis/grpc/vald/**/*
  - cmd/gateway/lb/**/*
  - pkg/gateway/lb/**/*

area/gateway/meta:
  - apis/proto/vald/**/*
  - apis/grpc/vald/**/*
  - cmd/gateway/meta/**/*
  - pkg/gateway/meta/**/*

area/gateway/backup:
  - apis/proto/vald/**/*
  - apis/grpc/vald/**/*
  - cmd/gateway/backup/**/*
  - pkg/gateway/backup/**/*

area/gateway/filter:
  - apis/proto/vald/**/*
  - apis/grpc/vald/**/*
  - cmd/gateway/filter/**/*
  - pkg/gateway/filter/**/*

area/manager/backup:
  - apis/proto/manager/backup/**/*
  - apis/grpc/manager/backup/**/*
  - cmd/manager/backup/**/*
  - pkg/manager/backup/**/*

area/manager/index:
  - apis/proto/manager/index/**/*
  - apis/grpc/manager/index/**/*
  - cmd/manager/index/**/*
  - pkg/manager/index/**/*

area/manager/replication:
  - apis/proto/manager/replication/**/*
  - apis/grpc/manager/replication/**/*
  - cmd/manager/replication/**/*
  - pkg/manager/replication/**/*

area/meta:
  - apis/proto/meta/**/*
  - apis/grpc/meta/**/*
  - cmd/meta/**/*
  - pkg/meta/**/*

area/tools/cli/loadtest:
  - apis/proto/agent/core/**/*
  - apis/grpc/agent/core/**/*
  - apis/proto/vald/**/*
  - apis/grpc/vald/**/*
  - cmd/tools/cli/loadtest/**/*
  - pkg/tools/cli/loadtest/**/*


area/internal:
  - internal/**/*

area/helm:
  - charts/**/*

area/makefile:
  - Makefile
  - Makefile.d/**/*

team/set:
  - "**/*_test.go"

team/sre:
  - Makefile
  - Makefile.d/**/*
  - .github/**/*

type/ci:
  - .github/**/*
