Repository vdaas/vald, changes with the labels that .github/labeler.yml gives for each.
All labels: area/agent/core, area/agent/sidecar, area/discoverer, area/filter/egress, area/filter/ingress, area/gateway, area/gateway/lb, area/gateway/meta, area/gateway/backup, area/gateway/filter, area/manager/backup, area/manager/index, area/manager/replication, area/meta, area/tools/cli/loadtest, area/internal, area/helm, area/makefile, team/set, team/sre, type/ci

.github/labeler.yml:

area/agent/core:
  - apis/proto/agent/core/**/*
  - apis/grpc/agent/core/**/*
  - cmd/agent/core/**/*
  - pkg/agent/core/**/*

area/agent/sidecar:
  - apis/proto/agent/sidecar/**/*
  - apis/grpc/agent/sidecar/**/*
  - cmd/agent/sidecar/**/*
  - pkg/agent/sidecar/**/*

area/discoverer:
  - apis/proto/discoverer/**/*
  - apis/grpc/discoverer/**/*
  - cmd/discoverer/**/*
  - pkg/discoverer/**/*

area/filter/egress:
  - apis/proto/filter/egress/**/*
  - apis/grpc/filter/egress/**/*
  - cmd/filter/egress/**/*
  - pkg/filter/egress/**/*

area/filter/ingress:
  - apis/proto/filter/ingress/**/*
  - apis/grpc/filter/ingress/**/*
  - cmd/filter/ingress/**/*
  - pkg/filter/ingress/**/*

area/gateway:
  - apis/proto/vald/**/*
  - apis/grpc/vald/**/*
  - cmd/gateway/vald/**/*
  - pkg/gateway/vald/**/*

area/gateway/lb:
  - apis/proto/vald/**/*
  - apis/grpc/vald/**/*
  - cmd/gateway/lb/**/*
  - pkg/gateway/lb/**/*

area/gateway/meta:
  - apis/proto/vald/**/*
  - apis/grpc/vald/**/*
  - cmd/gateway/meta/**/*
  - pkg/gateway/meta/**/*

area/gateway/backup:
  - apis/proto/vald/**/*
  - apis/grpc/vald/**/*
  - cmd/gateway/backup/**/*
  - pkg/gateway/backup/**/*

area/gateway/filter:
  - apis/proto/vald/**/*
  - apis/grpc/vald/**/*
  - cmd/gateway/filter/**/*
  - pkg/gateway/filter/**/*

area/manager/backup:
  - apis/proto/manager/backup/**/*
  - apis/grpc/manager/backup/**/*
  - cmd/manager/backup/**/*
  - pkg/manager/backup/**/*

area/manager/index:
  - apis/proto/manager/index/**/*
  - apis/grpc/manager/index/**/*
  - cmd/manager/index/**/*
  - pkg/manager/index/**/*

area/manager/replication:
  - apis/proto/manager/replication/**/*
  - apis/grpc/manager/replication/**/*
  - cmd/manager/replication/**/*
  - pkg/manager/replication/**/*

area/meta:
  - apis/proto/meta/**/*
  - apis/grpc/meta/**/*
  - cmd/meta/**/*
  - pkg/meta/**/*

area/tools/cli/loadtest:
  - apis/proto/agent/core/**/*
  - apis/grpc/agent/core/**/*
  - apis/proto/vald/**/*
  - apis/grpc/vald/**/*
  - cmd/tools/cli/loadtest/**/*
  - pkg/tools/cli/loadtest/**/*


area/internal:
  - internal/**/*

area/helm:
  - charts/**/*

area/makefile:
  - Makefile
  - Makefile.d/**/*

team/set:
  - "**/*_test.go"

team/sre:
  - Makefile
  - Makefile.d/**/*
  - .github/**/*

type/ci:
  - .github/**/*

change pkg/agent sidecar & core for new design api
  internal/net/net.go
  pkg/agent/core/ngt/handler/grpc/handler.go
  pkg/agent/core/ngt/handler/grpc/option.go
  pkg/agent/core/ngt/handler/rest/handler.go
  pkg/agent/core/ngt/handler/rest/option.go
  pkg/agent/core/ngt/service/kvs/kvs.go
  pkg/agent/core/ngt/usecase/agentd.go
  pkg/agent/sidecar/service/observer/observer.go
  pkg/agent/sidecar/service/restorer/restorer.go
Labels: area/agent/core, area/agent/sidecar, area/internal

change pkg/manager package for new design api
  pkg/manager/backup/cassandra/handler/grpc/handler.go
  pkg/manager/backup/mysql/handler/grpc/handler.go
  pkg/manager/compressor/handler/grpc/handler.go
  pkg/manager/compressor/service/registerer.go
Labels: area/manager/backup

bugfix discoverer nil map reference
  pkg/discoverer/k8s/service/discover.go
Labels: area/discoverer

feature add LB Gateway for new design API
  .github/workflows/dockers-gateway-lb-image.yml
  cmd/gateway/lb/main.go
  dockers/gateway/lb/Dockerfile
  pkg/gateway/internal/location/location.go
  pkg/gateway/lb/README.md
  pkg/gateway/lb/config/config.go
  pkg/gateway/lb/handler/doc.go
  pkg/gateway/lb/handler/grpc/handler.go
  pkg/gateway/lb/handler/grpc/option.go
  pkg/gateway/lb/handler/grpc/visitlist.go
  pkg/gateway/lb/handler/rest/handler.go
  pkg/gateway/lb/handler/rest/option.go
  pkg/gateway/lb/router/option.go
  pkg/gateway/lb/router/router.go
  pkg/gateway/lb/service/doc.go
  pkg/gateway/lb/service/gateway.go
  pkg/gateway/lb/service/option.go
  pkg/gateway/lb/usecase/vald.go
Labels: area/gateway/lb, team/sre, type/ci

feature add Meta Gateway for new design API
  .github/workflows/dockers-gateway-meta-image.yml
  cmd/gateway/meta/main.go
  dockers/gateway/meta/Dockerfile
  pkg/gateway/internal/location/location.go
  pkg/gateway/meta/README.md
  pkg/gateway/meta/config/config.go
  pkg/gateway/meta/handler/doc.go
  pkg/gateway/meta/handler/grpc/handler.go
  pkg/gateway/meta/handler/grpc/option.go
  pkg/gateway/meta/handler/rest/handler.go
  pkg/gateway/meta/handler/rest/option.go
  pkg/gateway/meta/router/option.go
  pkg/gateway/meta/router/router.go
  pkg/gateway/meta/service/doc.go
  pkg/gateway/meta/service/meta.go
  pkg/gateway/meta/service/option.go
  pkg/gateway/meta/usecase/vald.go
Labels: area/gateway/meta, team/sre, type/ci

feature add Backup Gateway for new design API
  .github/workflows/dockers-gateway-backup-image.yml
  cmd/gateway/backup/main.go
  dockers/gateway/backup/Dockerfile
  pkg/gateway/backup/README.md
  pkg/gateway/backup/config/config.go
  pkg/gateway/backup/handler/doc.go
  pkg/gateway/backup/handler/grpc/handler.go
  pkg/gateway/backup/handler/grpc/option.go
  pkg/gateway/backup/handler/rest/handler.go
  pkg/gateway/backup/handler/rest/option.go
  pkg/gateway/backup/router/option.go
  pkg/gateway/backup/router/router.go
  pkg/gateway/backup/service/backup.go
  pkg/gateway/backup/service/doc.go
  pkg/gateway/backup/service/option.go
  pkg/gateway/backup/usecase/vald.go
  pkg/gateway/internal/location/location.go
Labels: area/gateway/backup, team/sre, type/ci

Apply suggestions from code review
  Makefile.d/docker.mk
  apis/proto/v1/meta/meta.proto
Labels: area/makefile, team/sre

fix reviewed point
  internal/client/v1/client/agent/grpc/option.go
  internal/config/ngt.go
  internal/net/http/transport/roundtrip.go
Labels: area/internal

:green_heart: remove deprecated set-env commands
  .github/workflows/dockers-agent-ngt-image.yml
  .github/workflows/dockers-agent-sidecar-image.yml
  .github/workflows/dockers-backup-manager-cassandra-image.yml
  .github/workflows/dockers-backup-manager-mysql-image.yml
  .github/workflows/dockers-base-image.yml
  .github/workflows/dockers-ci-container-image.yml
  .github/workflows/dockers-dev-container-image.yml
  .github/workflows/dockers-discoverer-k8s-image.yml
  .github/workflows/dockers-gateway-vald-image.yml
  .github/workflows/dockers-helm-operator-image.yml
  .github/workflows/dockers-loadtest-image.yml
  .github/workflows/dockers-manager-compressor-image.yml
  .github/workflows/dockers-manager-index-image.yml
  .github/workflows/dockers-meta-cassandra-image.yml
  .github/workflows/dockers-meta-redis-image.yml
Labels: team/sre, type/ci

feat: add test
  internal/db/storage/blob/s3/s3.go
  internal/db/storage/blob/s3/s3_test.go
  internal/errors/s3.go
Labels: area/internal, team/set

feat: add test and mock
  internal/db/storage/blob/s3/s3.go
  internal/db/storage/blob/s3/s3_mock_test.go
  internal/db/storage/blob/s3/s3_test.go
Labels: area/internal, team/set

fix
  internal/client/v1/client/agent/grpc/option.go
  internal/client/v1/client/compressor/option.go
Labels: area/internal

fix
  pkg/agent/core/ngt/handler/grpc/handler.go
Labels: area/agent/core

fix
  internal/net/net.go
Labels: area/internal

fix
  pkg/agent/core/ngt/handler/grpc/handler.go
Labels: area/agent/core

change pkg/manager package for new design api (#744)
  pkg/manager/backup/cassandra/handler/grpc/handler.go
  pkg/manager/backup/mysql/handler/grpc/handler.go
  pkg/manager/compressor/handler/grpc/handler.go
  pkg/manager/compressor/service/registerer.go
Labels: area/manager/backup

bugfix discoverer nil map reference (#745)
  pkg/discoverer/k8s/service/discover.go
Labels: area/discoverer

fix
  .github/workflows/dockers-gateway-meta-image.yml
  pkg/gateway/meta/README.md
  pkg/gateway/meta/handler/grpc/handler.go
  pkg/gateway/meta/handler/grpc/option.go
  pkg/gateway/meta/router/router.go
  pkg/gateway/meta/service/meta.go
  pkg/gateway/meta/usecase/vald.go
Labels: area/gateway/meta, team/sre, type/ci

fix
  .github/workflows/dockers-gateway-lb-image.yml
  internal/net/grpc/client.go
  pkg/gateway/lb/README.md
  pkg/gateway/lb/handler/grpc/handler.go
  pkg/gateway/lb/router/router.go
  pkg/gateway/lb/service/gateway.go
Labels: area/gateway/lb, area/internal, team/sre, type/ci

fix
  .github/workflows/dockers-gateway-backup-image.yml
  pkg/gateway/backup/handler/grpc/handler.go
  pkg/gateway/backup/handler/grpc/option.go
  pkg/gateway/backup/router/router.go
  pkg/gateway/backup/service/backup.go
  pkg/gateway/backup/usecase/vald.go
Labels: area/gateway/backup, team/sre, type/ci

fix
  pkg/gateway/meta/service/meta.go
Labels: area/gateway/meta

[patch] bugfix cgo std::vector memory over allocation
  pkg/agent/core/ngt/service/ngt.go
Labels: area/agent/core

:recycle: refactor dockerfile and makefile.d/docker.mk
  Makefile.d/docker.mk
  dockers/agent/core/ngt/Dockerfile
  dockers/agent/sidecar/Dockerfile
  dockers/base/Dockerfile
  dockers/ci/base/Dockerfile
  dockers/discoverer/k8s/Dockerfile
  dockers/gateway/vald/Dockerfile
  dockers/manager/backup/cassandra/Dockerfile
  dockers/manager/backup/mysql/Dockerfile
  dockers/manager/compressor/Dockerfile
  dockers/manager/index/Dockerfile
  dockers/meta/cassandra/Dockerfile
  dockers/meta/redis/Dockerfile
  dockers/tools/cli/loadtest/Dockerfile
Labels: area/makefile, team/sre

:green_heart: revise GitHub Actions yaml
  .github/workflows/dockers-agent-ngt-image.yml
  .github/workflows/dockers-agent-sidecar-image.yml
  .github/workflows/dockers-backup-manager-cassandra-image.yml
  .github/workflows/dockers-backup-manager-mysql-image.yml
  .github/workflows/dockers-base-image.yml
  .github/workflows/dockers-ci-container-image.yml
  .github/workflows/dockers-dev-container-image.yml
  .github/workflows/dockers-discoverer-k8s-image.yml
  .github/workflows/dockers-gateway-vald-image.yml
  .github/workflows/dockers-helm-operator-image.yml
  .github/workflows/dockers-loadtest-image.yml
  .github/workflows/dockers-manager-compressor-image.yml
  .github/workflows/dockers-manager-index-image.yml
  .github/workflows/dockers-meta-cassandra-image.yml
  .github/workflows/dockers-meta-redis-image.yml
  Makefile
  Makefile.d/docker.mk
Labels: area/makefile, team/sre, type/ci

:art: add .github/**/*.yml to format objects
  Makefile
Labels: area/makefile, team/sre

:memo: update README table
  README.md
Labels: none

:memo: update README: use badge for DockerHub
  README.md
Labels: none

:memo: update README: use badge for ghcr.io
  README.md
Labels: none

:memo: update CHANGELOG template
  hack/CHANGELOG.template.md
Labels: none

fix: syntax error
  internal/db/storage/blob/cloudstorage/option.go
Labels: area/internal

:memo: simplify README table
  README.md
Labels: none

fix
  internal/core/ngt/ngt.go
  pkg/agent/core/ngt/service/ngt.go
Labels: area/agent/core, area/internal

Update internal/db/storage/blob/s3/s3.go
  internal/db/storage/blob/s3/s3.go
Labels: area/internal

Update internal/db/storage/blob/s3/s3.go
  internal/db/storage/blob/s3/s3.go
Labels: area/internal

Apply suggestions from code review
  apis/proto/discoverer/discoverer.proto
  apis/proto/meta/meta.proto
  apis/proto/v1/agent/core/agent.proto
  apis/proto/v1/agent/sidecar/sidecar.proto
  apis/proto/v1/discoverer/discoverer.proto
  apis/proto/v1/meta/meta.proto
  apis/proto/v1/payload/payload.proto
  apis/proto/v1/vald/filter.proto
  apis/proto/v1/vald/insert.proto
  apis/proto/v1/vald/object.proto
  apis/proto/v1/vald/remove.proto
  apis/proto/v1/vald/search.proto
  apis/proto/v1/vald/update.proto
  apis/proto/v1/vald/upsert.proto
Labels: area/discoverer, area/meta

fix
  pkg/gateway/vald/handler/grpc/handler.go
Labels: area/gateway

fix
  pkg/agent/core/ngt/handler/grpc/handler.go
Labels: area/agent/core

feature add LB Gateway for new design API (#747)
  .github/workflows/dockers-gateway-lb-image.yml
  cmd/gateway/lb/main.go
  dockers/gateway/lb/Dockerfile
  internal/net/grpc/client.go
  pkg/gateway/internal/location/location.go
  pkg/gateway/lb/README.md
  pkg/gateway/lb/config/config.go
  pkg/gateway/lb/handler/doc.go
  pkg/gateway/lb/handler/grpc/handler.go
  pkg/gateway/lb/handler/grpc/option.go
  pkg/gateway/lb/handler/grpc/visitlist.go
  pkg/gateway/lb/handler/rest/handler.go
  pkg/gateway/lb/handler/rest/option.go
  pkg/gateway/lb/router/option.go
  pkg/gateway/lb/router/router.go
  pkg/gateway/lb/service/doc.go
  pkg/gateway/lb/service/gateway.go
  pkg/gateway/lb/service/option.go
  pkg/gateway/lb/usecase/vald.go
Labels: area/gateway/lb, area/internal, team/sre, type/ci

feature add Meta Gateway for new design API (#746)
  .github/workflows/dockers-gateway-meta-image.yml
  cmd/gateway/meta/main.go
  dockers/gateway/meta/Dockerfile
  pkg/gateway/meta/README.md
  pkg/gateway/meta/config/config.go
  pkg/gateway/meta/handler/doc.go
  pkg/gateway/meta/handler/grpc/handler.go
  pkg/gateway/meta/handler/grpc/option.go
  pkg/gateway/meta/handler/rest/handler.go
  pkg/gateway/meta/handler/rest/option.go
  pkg/gateway/meta/router/option.go
  pkg/gateway/meta/router/router.go
  pkg/gateway/meta/service/doc.go
  pkg/gateway/meta/service/meta.go
  pkg/gateway/meta/service/option.go
  pkg/gateway/meta/usecase/vald.go
Labels: area/gateway/meta, team/sre, type/ci

feature add Backup Gateway for new design API (#748)
  .github/workflows/dockers-gateway-backup-image.yml
  cmd/gateway/backup/main.go
  dockers/gateway/backup/Dockerfile
  pkg/gateway/backup/README.md
  pkg/gateway/backup/config/config.go
  pkg/gateway/backup/handler/doc.go
  pkg/gateway/backup/handler/grpc/handler.go
  pkg/gateway/backup/handler/grpc/option.go
  pkg/gateway/backup/handler/rest/handler.go
  pkg/gateway/backup/handler/rest/option.go
  pkg/gateway/backup/router/option.go
  pkg/gateway/backup/router/router.go
  pkg/gateway/backup/service/backup.go
  pkg/gateway/backup/service/doc.go
  pkg/gateway/backup/service/option.go
  pkg/gateway/backup/usecase/vald.go
Labels: area/gateway/backup, team/sre, type/ci
