Repository vdaas/vald, pull requests merged in 2019-12, with the labels that each got.

#92 add type alias
  internal/net/grpc/client.go
  pkg/agent/ngt/usecase/agentd.go
  pkg/discoverer/k8s/usecase/discovered.go
  pkg/gateway/vald/model/agent.go
  pkg/gateway/vald/usecase/vald.go
  pkg/manager/backup/cassandra/usecase/backupd.go
  pkg/manager/backup/mysql/usecase/backupd.go
  pkg/manager/index/model/agent.go
  pkg/manager/index/usecase/vald.go
  pkg/manager/replication/model/agent.go
  pkg/manager/replication/usecase/vald.go
  pkg/meta/cassandra/usecase/meta.go
  pkg/meta/redis/usecase/meta.go
Labels: area/internal, priority/low, size/S, team/set

#91 safety package test
  internal/safety/safety_test.go
Labels: area/internal, priority/low, size/S, team/set, type/test

#99 labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: team/sre, type/ci

#96 fix manager backup
  assets/ddl/manager/backup/mysql/ddl.sql
  internal/db/rdb/mysql/model.go
  internal/db/rdb/mysql/mysql.go
  pkg/manager/backup/cassandra/handler/grpc/handler.go
  pkg/manager/backup/mysql/handler/grpc/handler.go
  pkg/manager/backup/mysql/service/mysql.go
Labels: area/internal, area/manager/backup, size/M, status/in review, team/core, type/bug

#100 :pencil: Revise PULL_REQUEST_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/bugfix.md
Labels: team/sre

#106 :bug: Fix response structure of GetMetas(Inverse) #105
  internal/db/nosql/cassandra/cassandra.go
  pkg/meta/cassandra/handler/grpc/handler.go
Labels: area/internal, area/meta, priority/medium, size/S, status/author-review, type/bug

#102 [bugfix] change gateway multiinsert check insert key existence logic
  go.mod
  go.sum
  hack/go.mod.default
  internal/db/nosql/cassandra/cassandra.go
  pkg/gateway/vald/handler/grpc/handler.go
  pkg/gateway/vald/service/meta.go
  pkg/meta/cassandra/handler/grpc/handler.go
  pkg/meta/redis/handler/grpc/handler.go
Labels: area/gateway, area/internal, area/meta, priority/high, size/S, status/in review, team/core, type/bug

#113 added pr labeler
  .github/workflows/labeler.yml
Labels: size/S, team/sre, type/ci

#116 fix
  go.mod
  go.sum
  internal/core/converter/tensorflow/option.go
  internal/core/converter/tensorflow/tensorflow.go
  internal/errors/tensorflow.go
Labels: area/internal

#124 fix code size
  .github/workflows/labeler.yml
Labels: size/S, team/sre, type/ci

#126 change grpc persistent client re-connection logic
  go.mod
  go.sum
  internal/net/grpc/client.go
  internal/net/grpc/option.go
  pkg/gateway/vald/service/gateway.go
Labels: area/gateway, area/internal, priority/high, size/L, status/in review, team/sre, type/feature, type/refactoring

#128 [bugfix] fix recursion error
  internal/net/grpc/client.go
Labels: area/gateway, area/internal, size/S, team/core, type/bug

#127 :sparkles: Show commit hash, build time and more with version info
  cmd/agent/ngt/main.go
  cmd/discoverer/k8s/main.go
  cmd/gateway/vald/main.go
  cmd/manager/backup/cassandra/main.go
  cmd/manager/backup/mysql/main.go
  cmd/manager/index/main.go
  cmd/manager/replication/main.go
  cmd/meta/cassandra/main.go
  cmd/meta/redis/main.go
  dockers/agent/ngt/Dockerfile
  dockers/base/Dockerfile
  dockers/discoverer/k8s/Dockerfile
  dockers/gateway/vald/Dockerfile
  dockers/manager/backup/cassandra/Dockerfile
  dockers/manager/backup/mysql/Dockerfile
  dockers/meta/cassandra/Dockerfile
  dockers/meta/redis/Dockerfile
  hack/license/gen/main.go
  internal/info/info.go
  internal/runner/option.go
  internal/runner/runner.go
  versions/VALD_VERSION
Labels: area/agent, area/discoverer, area/gateway, area/internal, area/manager/backup, area/manager/index, area/manager/replication, area/meta, priority/low, size/L, team/sre, type/feature
