Repository vdaas/vald, pull requests merged in 2020-12, with the labels that each got.

#857 Add test case for json package
  internal/net/http/json/json.go
  internal/net/http/json/json_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#858 Add internal/net/http/client test
  internal/net/http/client/client.go
  internal/net/http/client/client_test.go
  internal/test/comparator/standard.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#837 Add s3 test and Refactor
  internal/db/storage/blob/s3/option.go
  internal/db/storage/blob/s3/option_test.go
  internal/db/storage/blob/s3/reader/option.go
  internal/db/storage/blob/s3/reader/option_test.go
  internal/db/storage/blob/s3/reader/reader.go
  internal/db/storage/blob/s3/reader/reader_mock.go
  internal/db/storage/blob/s3/reader/reader_test.go
  internal/db/storage/blob/s3/s3.go
  internal/db/storage/blob/s3/s3_test.go
  internal/db/storage/blob/s3/writer/option.go
  internal/db/storage/blob/s3/writer/option_test.go
  internal/db/storage/blob/s3/writer/writer.go
  internal/db/storage/blob/s3/writer/writer_mock.go
  internal/db/storage/blob/s3/writer/writer_test.go
Labels: area/internal, priority/low, size/XXL, status/author-review, team/set, type/test

#879 Build Helm schemas when building helm-operator image
  dockers/operator/helm/Dockerfile
Labels: area/makefile, priority/low, size/M, team/sre, type/refactoring

#885 [patch] bugfix agent duplicated data update execution & gateway nil pointer depends on lost connectivity
  internal/net/grpc/client.go
  pkg/agent/core/ngt/service/ngt.go
Labels: area/agent/core, area/internal, priority/medium, size/M, type/bug

#886 [patch] Remove go mod tidy from base image / Add valid token to semver job
  .github/workflows/semver.yml
  dockers/base/Dockerfile
Labels: priority/low, size/S, team/sre, type/ci

#887 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/vald/configmap.yaml
  k8s/gateway/vald/deployment.yaml
  k8s/gateway/vald/hpa.yaml
  k8s/gateway/vald/ing.yaml
  k8s/gateway/vald/pdb.yaml
  k8s/gateway/vald/priorityclass.yaml
  k8s/gateway/vald/svc.yaml
  k8s/manager/backup/configmap.yaml
  k8s/manager/backup/deployment.yaml
  k8s/manager/backup/hpa.yaml
  k8s/manager/backup/pdb.yaml
  k8s/manager/backup/priorityclass.yaml
  k8s/manager/backup/svc.yaml
  k8s/manager/compressor/configmap.yaml
  k8s/manager/compressor/deployment.yaml
  k8s/manager/compressor/hpa.yaml
  k8s/manager/compressor/pdb.yaml
  k8s/manager/compressor/priorityclass.yaml
  k8s/manager/compressor/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/meta/configmap.yaml
  k8s/meta/deployment.yaml
  k8s/meta/hpa.yaml
  k8s/meta/pdb.yaml
  k8s/meta/priorityclass.yaml
  k8s/meta/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, size/S, type/documentation

#870 Add test for internal/errors/compressor.go
  internal/errors/compressor.go
  internal/errors/compressor_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#874 Add test case for internal/errors/discoverer.go
  internal/errors/discoverer.go
  internal/errors/discoverer_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#865 Add test for cassandra error
  internal/errors/cassandra.go
  internal/errors/cassandra_test.go
Labels: area/internal, priority/low, size/XXL, team/set, type/test

#888 Implement internal/errors/blob test
  internal/errors/blob.go
  internal/errors/blob_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#892 Fix bug on updating status of VR & VHOR resources
  charts/vald-helm-operator/crds/valdhelmoperatorrelease.yaml
  charts/vald-helm-operator/crds/valdrelease.yaml
Labels: area/helm, priority/medium, size/S, type/bug

#901 [patch] Rename PriorityClass objects to contain namespace
  charts/vald/templates/agent/daemonset.yaml
  charts/vald/templates/agent/deployment.yaml
  charts/vald/templates/agent/priorityclass.yaml
  charts/vald/templates/agent/statefulset.yaml
  charts/vald/templates/discoverer/daemonset.yaml
  charts/vald/templates/discoverer/deployment.yaml
  charts/vald/templates/discoverer/priorityclass.yaml
  charts/vald/templates/gateway/vald/daemonset.yaml
  charts/vald/templates/gateway/vald/deployment.yaml
  charts/vald/templates/gateway/vald/priorityclass.yaml
  charts/vald/templates/manager/backup/daemonset.yaml
  charts/vald/templates/manager/backup/deployment.yaml
  charts/vald/templates/manager/backup/priorityclass.yaml
  charts/vald/templates/manager/compressor/daemonset.yaml
  charts/vald/templates/manager/compressor/deployment.yaml
  charts/vald/templates/manager/compressor/priorityclass.yaml
  charts/vald/templates/manager/index/daemonset.yaml
  charts/vald/templates/manager/index/deployment.yaml
  charts/vald/templates/manager/index/priorityclass.yaml
  charts/vald/templates/meta/daemonset.yaml
  charts/vald/templates/meta/deployment.yaml
  charts/vald/templates/meta/priorityclass.yaml
Labels: area/helm, priority/low, size/S, type/refactoring

#902 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/vald/configmap.yaml
  k8s/gateway/vald/deployment.yaml
  k8s/gateway/vald/hpa.yaml
  k8s/gateway/vald/ing.yaml
  k8s/gateway/vald/pdb.yaml
  k8s/gateway/vald/priorityclass.yaml
  k8s/gateway/vald/svc.yaml
  k8s/manager/backup/configmap.yaml
  k8s/manager/backup/deployment.yaml
  k8s/manager/backup/hpa.yaml
  k8s/manager/backup/pdb.yaml
  k8s/manager/backup/priorityclass.yaml
  k8s/manager/backup/svc.yaml
  k8s/manager/compressor/configmap.yaml
  k8s/manager/compressor/deployment.yaml
  k8s/manager/compressor/hpa.yaml
  k8s/manager/compressor/pdb.yaml
  k8s/manager/compressor/priorityclass.yaml
  k8s/manager/compressor/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/meta/configmap.yaml
  k8s/meta/deployment.yaml
  k8s/meta/hpa.yaml
  k8s/meta/pdb.yaml
  k8s/meta/priorityclass.yaml
  k8s/meta/svc.yaml
  k8s/operator/helm/crds/valdhelmoperatorrelease.yaml
  k8s/operator/helm/crds/valdrelease.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, size/S, type/documentation

#893 Add test case for internal/errors/file.go
  internal/errors/file.go
  internal/errors/file_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test
