Repository vdaas/vald, pull requests merged in 2020-03, with the labels that each got.

#263 Add vdaas/vald-helm-operator
  .github/workflows/dockers-helm-operator-image.yml
  Makefile
  Makefile.d/docker.mk
  README.md
  dockers/operator/helm/Dockerfile
  k8s/operator/helm/clusterrole.yaml
  k8s/operator/helm/clusterrolebinding.yaml
  k8s/operator/helm/cr.yaml
  k8s/operator/helm/crd.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/serviceaccount.yaml
Labels: priority/low, size/M, status/in-review, team/sre, type/feature

#265 Bugfix on internal/observability/collector & update Helm values
  .github/workflows/helm.yml
  internal/net/tcp/option_dialer.go
  internal/observability/metrics/metrics.go
  vald/values.yaml
Labels: area/internal, size/S, team/sre

#267 [patch] change errgroup return logic
  dockers/operator/helm/Dockerfile
  go.mod
  go.sum
  internal/errors/compressor.go
  pkg/manager/compressor/handler/grpc/handler.go
  pkg/manager/compressor/service/compress.go
Labels: area/internal, size/L

#268 Add several metrics from memstats
  internal/observability/metrics/mem/mem.go
Labels: area/internal, size/M, status/in-review, team/sre

#270 [patch] change index manager grpc interface and reduce grpc read packet
  apis/docs/agent/docs.md
  apis/docs/manager/index/docs.md
  apis/docs/payload/docs.md
  apis/grpc/agent/agent.pb.go
  apis/grpc/manager/index/index_manager.pb.go
  apis/grpc/payload/payload.pb.go
  apis/proto/agent/agent.proto
  apis/proto/manager/index/index_manager.proto
  apis/proto/payload/payload.proto
  apis/swagger/agent/agent.swagger.json
  apis/swagger/manager/index/index/index_manager.swagger.json
  go.mod
  go.sum
  internal/config/index.go
  pkg/agent/ngt/handler/grpc/handler.go
  pkg/manager/index/handler/grpc/handler.go
  pkg/manager/index/service/indexer.go
  pkg/manager/index/service/indexinfos.go
  pkg/manager/index/service/option.go
Labels: area/agent, area/internal, area/manager/index, priority/high, size/L, status/in-review, team/core, team/sre, type/bug

#269 enable/disable client handler by observability enabled flag
  pkg/gateway/vald/usecase/vald.go
  pkg/manager/index/usecase/indexer.go
  vald/values.yaml
Labels: area/gateway, area/manager/index, priority/low, size/L, status/in-review, team/sre, type/refactoring

#273 Fix Helm chart: annotations.checksum/config
  vald/templates/agent/daemonset.yaml
  vald/templates/agent/deployment.yaml
  vald/templates/agent/statefulset.yaml
  vald/templates/discoverer/daemonset.yaml
  vald/templates/discoverer/deployment.yaml
  vald/templates/gateway/vald/daemonset.yaml
  vald/templates/gateway/vald/deployment.yaml
  vald/templates/manager/backup/daemonset.yaml
  vald/templates/manager/backup/deployment.yaml
  vald/templates/manager/compressor/daemonset.yaml
  vald/templates/manager/compressor/deployment.yaml
  vald/templates/manager/index/daemonset.yaml
  vald/templates/manager/index/deployment.yaml
  vald/templates/meta/daemonset.yaml
  vald/templates/meta/deployment.yaml
Labels: priority/low, size/S, status/in-review, team/sre, type/refactoring

#275 Add nil check on compressor daemon PreStart
  pkg/manager/compressor/usecase/compressord.go
Labels: priority/low, size/S, team/core, type/bug

#276 [patch] add agent anti affinity
  vald/templates/agent/deployment.yaml
  vald/templates/agent/statefulset.yaml
Labels: area/helm, priority/high, size/S, status/in-review, team/sre, type/feature, type/suggestion

#225 Returns grpc status corresponding to the error
  apis/docs/agent/docs.md
  apis/docs/discoverer/docs.md
  apis/docs/errors/docs.md
  apis/docs/filter/egress/docs.md
  apis/docs/filter/ingress/docs.md
  apis/docs/gateway/vald/docs.md
  apis/docs/manager/backup/docs.md
  apis/docs/manager/compressor/docs.md
  apis/docs/manager/index/docs.md
  apis/docs/manager/replication/docs.md
  apis/docs/manager/traffic/docs.md
  apis/docs/meta/docs.md
  apis/docs/payload/docs.md
  go.mod
  go.sum
  internal/db/nosql/cassandra/cassandra.go
  internal/errors/cassandra.go
  pkg/manager/backup/cassandra/handler/grpc/handler.go
  pkg/meta/cassandra/handler/grpc/handler.go
Labels: area/internal, area/manager/backup, area/meta, size/L, size/M, size/S, type/bug

#277 Revise Helm charts and Add profefe deployment
  Makefile.d/k8s.mk
  k8s/metrics/profefe/clusterrole.yaml
  k8s/metrics/profefe/clusterrolebinding.yaml
  k8s/metrics/profefe/cronjob.yaml
  k8s/metrics/profefe/deployment.yaml
  k8s/metrics/profefe/serviceaccount.yaml
  k8s/metrics/profefe/svc.yaml
  vald/templates/_helpers.tpl
  vald/templates/agent/daemonset.yaml
  vald/templates/agent/deployment.yaml
  vald/templates/agent/statefulset.yaml
  vald/templates/discoverer/daemonset.yaml
  vald/templates/discoverer/deployment.yaml
  vald/templates/gateway/vald/daemonset.yaml
  vald/templates/gateway/vald/deployment.yaml
  vald/templates/manager/backup/daemonset.yaml
  vald/templates/manager/backup/deployment.yaml
  vald/templates/manager/compressor/daemonset.yaml
  vald/templates/manager/compressor/deployment.yaml
  vald/templates/manager/index/daemonset.yaml
  vald/templates/manager/index/deployment.yaml
  vald/templates/manager/index/svc.yaml
  vald/templates/meta/daemonset.yaml
  vald/templates/meta/deployment.yaml
  vald/values-dev.yaml
Labels: priority/low, size/L, team/sre, type/refactoring

#278 [Helm] Use latest release version for default tag
  .github/workflows/semver.yml
  vald/values-dev.yaml
  vald/values.yaml
Labels: area/helm, priority/low, size/S, team/sre, type/refactoring

#279 Add pod priority for agent-ngt & Fix problem on HPA and Helm-operator
  vald/templates/agent/daemonset.yaml
  vald/templates/agent/deployment.yaml
  vald/templates/agent/priorityclass.yaml
  vald/templates/agent/statefulset.yaml
  vald/templates/gateway/vald/deployment.yaml
  vald/templates/manager/backup/deployment.yaml
  vald/templates/manager/compressor/deployment.yaml
  vald/templates/meta/deployment.yaml
  vald/values.yaml
Labels: area/helm, priority/low, size/S, team/sre, type/refactoring

#280 Fix PriorityClass value / Remove CPU metrics (gopsutil) / Revise Makefile tasks
  Makefile.d/k8s.mk
  internal/config/observability.go
  internal/observability/collector/collector_option.go
  internal/observability/metrics/cpu/cpu.go
  internal/observability/observability.go
  k8s/agent/priorityclass.yaml
  k8s/metrics/grafana/dashboards/vald-agent.json
  k8s/metrics/grafana/dashboards/vald-cluster-overview.json
  vald/templates/_helpers.tpl
  vald/values.yaml
Labels: area/internal, priority/low, size/XXL, status/in-review, team/sre, type/refactoring

#281 Revise default values in Helm chart
  vald/values.yaml
Labels: priority/low, size/S, status/in-review, team/sre, type/refactoring

#282 ChatOps: update format command / Update CI container
  .github/workflows/build-protobuf.yml
  .github/workflows/chatops.yml
  .github/workflows/dockers-agent-ngt-image.yml
  .github/workflows/dockers-backup-manager-cassandra-image.yml
  .github/workflows/dockers-backup-manager-mysql-image.yml
  .github/workflows/dockers-discoverer-k8s-image.yml
  .github/workflows/dockers-gateway-vald-image.yml
  .github/workflows/dockers-helm-operator-image.yml
  .github/workflows/dockers-manager-compressor-image.yml
  .github/workflows/dockers-manager-index-image.yml
  .github/workflows/dockers-meta-cassandra-image.yml
  .github/workflows/dockers-meta-redis-image.yml
  .github/workflows/e2e-deploy.yml
  .github/workflows/helm.yml
  .github/workflows/reviewdog.yml
  Makefile
  dockers/ci/base/Dockerfile
  hack/tools/config/meta/redis/sample.yaml
Labels: size/M, team/sre, type/ci

#284 Fix CI container build
  Makefile
  Makefile.d/docker.mk
Labels: size/S, team/sre, type/ci

#287 Refactoring labeler
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/workflows/chatops.yml
  .github/workflows/labeler.yml
  .github/workflows/update_pull_request_template.yml
Labels: priority/low, size/S, status/in-review, team/sre, type/ci

#237 [WIP] e2e benchmark framework.
  .github/workflows/e2e-bench-agent-stream.yml
  .github/workflows/e2e-bench-agent.yml
  Makefile.d/bench.mk
  go.sum
  hack/benchmark/core/ngt/gongt_bench_test.go
  hack/benchmark/core/ngt/ngt_bench_test.go
  hack/benchmark/e2e/agent/ngt/helper_test.go
  hack/benchmark/e2e/agent/ngt/metrics.yaml
  hack/benchmark/e2e/agent/ngt/metrics_test.go
  hack/benchmark/e2e/agent/ngt/ngt_bench_test.go
  hack/benchmark/e2e/external/ngtd/ngtd_bench_test.go
  hack/benchmark/e2e/gateway/vald/vald_bench_test.go
  hack/benchmark/e2e/internal/metrics.go
  hack/benchmark/e2e/internal/starter.go
  hack/benchmark/internal/assets/dataset.go
  hack/benchmark/internal/client/ngtd/grpc/client.go
  hack/benchmark/internal/client/ngtd/grpc/option.go
  hack/benchmark/internal/client/ngtd/rest/client.go
  hack/benchmark/internal/client/ngtd/rest/option.go
  hack/benchmark/internal/e2e/e2e.go
  hack/benchmark/internal/e2e/option.go
  hack/benchmark/internal/e2e/strategy.go
  hack/benchmark/internal/e2e/strategy/create_index.go
  hack/benchmark/internal/e2e/strategy/create_index_option.go
  hack/benchmark/internal/e2e/strategy/insert.go
  hack/benchmark/internal/e2e/strategy/insert_option.go
  hack/benchmark/internal/e2e/strategy/remove.go
  hack/benchmark/internal/e2e/strategy/remove_option.go
  hack/benchmark/internal/e2e/strategy/search.go
  hack/benchmark/internal/e2e/strategy/search_option.go
  hack/benchmark/internal/e2e/strategy/stream_insert.go
  hack/benchmark/internal/e2e/strategy/stream_insert_option.go
  hack/benchmark/internal/e2e/strategy/stream_remove.go
  hack/benchmark/internal/e2e/strategy/stream_remove_option.go
  hack/benchmark/internal/e2e/strategy/stream_search.go
  hack/benchmark/internal/e2e/strategy/stream_search_option.go
  hack/benchmark/internal/starter/agent/ngt/ngt.go
  hack/benchmark/internal/starter/agent/ngt/option.go
  hack/benchmark/internal/starter/external/ngtd/ngtd.go
  hack/benchmark/internal/starter/external/ngtd/option.go
  hack/benchmark/internal/starter/gateway/vald/option.go
  hack/benchmark/internal/starter/gateway/vald/vald.go
  hack/benchmark/internal/starter/starter.go
  internal/client/agent/ngt/grpc/client.go
  internal/client/agent/ngt/grpc/option.go
  internal/client/agent/ngt/rest/client.go
  internal/client/agent/ngt/rest/option.go
  internal/client/client.go
  internal/client/gateway/vald/grpc/client.go
  internal/client/gateway/vald/grpc/option.go
  internal/client/gateway/vald/rest/client.go
  internal/client/gateway/vald/rest/option.go
  internal/errors/client.go
  internal/net/grpc/stream.go
  internal/net/http/json/json.go
Labels: area/internal, area/makefile, priority/low, size/XXXL, team/set, team/sre, type/ci, type/refactoring

#289 Fix ChatOps and e2e deploy test: remove CI-container from useless cases
  .github/workflows/chatops.yml
  .github/workflows/e2e-deploy.yml
  Makefile
  dockers/ci/base/Dockerfile
Labels: area/makefile, priority/low, size/S, team/sre, type/ci, type/refactoring

#294 Add docs for Vald Helm chart
  .github/workflows/helm.yml
  Makefile
  Makefile.d/helm.mk
  Makefile.d/k8s.mk
  charts/vald-helm-operator/README.md
  charts/vald-helm-operator/README.md.gotmpl
  charts/vald-helm-operator/values.yaml
  charts/vald/README.md
  charts/vald/README.md.gotmpl
  charts/vald/templates/_helpers.tpl
  charts/vald/templates/agent/svc.yaml
  charts/vald/templates/discoverer/svc.yaml
  charts/vald/templates/gateway/vald/svc.yaml
  charts/vald/templates/manager/backup/svc.yaml
  charts/vald/templates/manager/compressor/svc.yaml
  charts/vald/templates/manager/index/svc.yaml
  charts/vald/templates/meta/svc.yaml
  charts/vald/values.yaml
  dockers/ci/base/Dockerfile
  hack/license/gen/main.go
Labels: area/helm, area/makefile, priority/low, size/XL, status/in-review, team/sre, type/ci, type/documentation

#300 Add benchmark: Cassandra GoCQL BindMap vs BindStruct
  hack/benchmark/internal/db/nosql/cassandra/cassandra_test.go
  hack/benchmark/internal/db/nosql/cassandra/testdata.json
Labels: priority/low, size/XL, team/set, type/bench

#230 create new docs users/get-started
  CONTRIBUTORS
  README.md
  docs/user/get-started.md
  example/client/go.mod
  example/client/go.sum
  example/client/main.go
  example/helm/values-scylla.yaml
Labels: area/gateway, priority/low, size/XL

#305 Add helm chart docs' link to get-started
  README.md
  docs/user/get-started.md
Labels: priority/low, size/S, type/refactoring

#297 ♻️ Refactoring meta Cassandra & Gateway insert codes
  README.md
  example/client/main.go
  internal/config/cassandra.go
  internal/db/nosql/cassandra/cassandra.go
  internal/db/nosql/cassandra/get.go
  internal/db/nosql/cassandra/list.go
  internal/db/nosql/cassandra/option.go
  internal/db/nosql/cassandra/query.go
  internal/db/nosql/cassandra/set.go
  internal/errors/cassandra.go
  internal/errors/vald.go
  internal/net/grpc/status/status.go
  k8s/jobs/db/initialize/cassandra/job.yaml
  k8s/jobs/db/initialize/mysql/job.yaml
  k8s/jobs/db/initialize/redis/job.yaml
  k8s/operator/helm/clusterrole.yaml
  pkg/agent/ngt/service/ngt.go
  pkg/gateway/vald/handler/grpc/handler.go
  pkg/gateway/vald/service/meta.go
  pkg/manager/backup/cassandra/service/cassandra.go
  pkg/meta/cassandra/service/cassandra.go
  pkg/meta/cassandra/usecase/meta.go
Labels: area/agent, area/gateway, area/internal, area/manager/backup, area/meta, priority/low, size/XL, status/in-review, type/refactoring

#306 Use deepsource mini badge
  README.md
Labels: priority/low, size/S, type/documentation

#307 [patch] add CHANGELOG
  CHANGELOG.md
Labels: priority/low, size/S
