Repository vdaas/vald, pull requests merged in 2020-09, with the labels that each got.

#658 fix indents in helm chart of vald-helm-operator
  charts/vald-helm-operator/templates/operator.yaml
Labels: area/helm, priority/low, size/S, type/refactoring

#642 add metrics for indexer and sidecar
  internal/observability/metrics/agent/sidecar/sidecar.go
  internal/observability/metrics/manager/index/index.go
  internal/observability/metrics/metrics.go
  pkg/agent/sidecar/service/observer/hook.go
  pkg/agent/sidecar/service/observer/observer.go
  pkg/agent/sidecar/service/observer/option.go
  pkg/agent/sidecar/service/storage/info.go
  pkg/agent/sidecar/service/storage/storage.go
  pkg/agent/sidecar/usecase/sidecar/sidecar.go
  pkg/manager/index/service/indexer.go
  pkg/manager/index/service/indexer_test.go
  pkg/manager/index/usecase/indexer.go
Labels: area/agent/sidecar, area/internal, area/manager/index, priority/medium, size/XL, team/set, type/feature

#660 [patch] update deps
  Makefile
  dockers/ci/base/Dockerfile
  go.mod
  go.sum
  hack/go.mod.default
  versions/GO_VERSION
  versions/NGT_VERSION
  versions/OPERATOR_SDK_VERSION
Labels: area/makefile, priority/low, size/L, team/sre, type/ci

#664 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/vald/configmap.yaml
  k8s/gateway/vald/deployment.yaml
  k8s/gateway/vald/hpa.yaml
  k8s/gateway/vald/ing.yaml
  k8s/gateway/vald/pdb.yaml
  k8s/gateway/vald/priorityclass.yaml
  k8s/gateway/vald/svc.yaml
  k8s/manager/backup/configmap.yaml
  k8s/manager/backup/deployment.yaml
  k8s/manager/backup/hpa.yaml
  k8s/manager/backup/pdb.yaml
  k8s/manager/backup/priorityclass.yaml
  k8s/manager/backup/svc.yaml
  k8s/manager/compressor/configmap.yaml
  k8s/manager/compressor/deployment.yaml
  k8s/manager/compressor/hpa.yaml
  k8s/manager/compressor/pdb.yaml
  k8s/manager/compressor/priorityclass.yaml
  k8s/manager/compressor/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/meta/configmap.yaml
  k8s/meta/deployment.yaml
  k8s/meta/hpa.yaml
  k8s/meta/pdb.yaml
  k8s/meta/priorityclass.yaml
  k8s/meta/svc.yaml
  k8s/operator/helm/operator.yaml
Labels: priority/low, size/S, type/documentation

#663 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: priority/low, size/S, team/sre, type/ci, type/documentation

#665 [patch] add build stage for operator-sdk docker v1.0.0 permission changes
  .github/workflows/dockers-helm-operator-image.yml
  dockers/operator/helm/Dockerfile
Labels: priority/medium, size/S, team/sre, type/bug, type/ci

#666 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/vald/configmap.yaml
  k8s/gateway/vald/deployment.yaml
  k8s/gateway/vald/hpa.yaml
  k8s/gateway/vald/ing.yaml
  k8s/gateway/vald/pdb.yaml
  k8s/gateway/vald/priorityclass.yaml
  k8s/gateway/vald/svc.yaml
  k8s/manager/backup/configmap.yaml
  k8s/manager/backup/deployment.yaml
  k8s/manager/backup/hpa.yaml
  k8s/manager/backup/pdb.yaml
  k8s/manager/backup/priorityclass.yaml
  k8s/manager/backup/svc.yaml
  k8s/manager/compressor/configmap.yaml
  k8s/manager/compressor/deployment.yaml
  k8s/manager/compressor/hpa.yaml
  k8s/manager/compressor/pdb.yaml
  k8s/manager/compressor/priorityclass.yaml
  k8s/manager/compressor/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/meta/configmap.yaml
  k8s/meta/deployment.yaml
  k8s/meta/hpa.yaml
  k8s/meta/pdb.yaml
  k8s/meta/priorityclass.yaml
  k8s/meta/svc.yaml
  k8s/operator/helm/operator.yaml
Labels: priority/low, size/S, type/documentation

#671 Fix failing test
  internal/net/tcp/dialer_test.go
  internal/worker/queue_option_test.go
Labels: area/internal, priority/low, size/S, team/set, type/test

#656 Add test case for `storage/blob/s3/writer/option`
  docs/contributing/coding-style.md
  internal/db/storage/blob/s3/writer/option.go
  internal/db/storage/blob/s3/writer/option_test.go
  internal/db/storage/blob/s3/writer/writer.go
  internal/errors/option.go
Labels: area/internal, priority/low, size/XL, status/author-review, team/set, type/test

#680 [patch] bugfix error assertion
  internal/db/rdb/mysql/mysql.go
  internal/errors/blob.go
  internal/errors/cassandra.go
  internal/errors/mysql.go
  internal/errors/redis.go
  pkg/meta/cassandra/service/cassandra.go
  pkg/meta/redis/service/redis.go
Labels: area/internal, area/meta, priority/medium, size/M, type/bug

#681 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/vald/configmap.yaml
  k8s/gateway/vald/deployment.yaml
  k8s/gateway/vald/hpa.yaml
  k8s/gateway/vald/ing.yaml
  k8s/gateway/vald/pdb.yaml
  k8s/gateway/vald/priorityclass.yaml
  k8s/gateway/vald/svc.yaml
  k8s/manager/backup/configmap.yaml
  k8s/manager/backup/deployment.yaml
  k8s/manager/backup/hpa.yaml
  k8s/manager/backup/pdb.yaml
  k8s/manager/backup/priorityclass.yaml
  k8s/manager/backup/svc.yaml
  k8s/manager/compressor/configmap.yaml
  k8s/manager/compressor/deployment.yaml
  k8s/manager/compressor/hpa.yaml
  k8s/manager/compressor/pdb.yaml
  k8s/manager/compressor/priorityclass.yaml
  k8s/manager/compressor/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/meta/configmap.yaml
  k8s/meta/deployment.yaml
  k8s/meta/hpa.yaml
  k8s/meta/pdb.yaml
  k8s/meta/priorityclass.yaml
  k8s/meta/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, size/S, type/documentation

#683 pass CFLAGS, CXXFLAGS to NGT build command
  Makefile
Labels: area/makefile, priority/medium, size/S, team/sre, type/bug

#684 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/vald/configmap.yaml
  k8s/gateway/vald/deployment.yaml
  k8s/gateway/vald/hpa.yaml
  k8s/gateway/vald/ing.yaml
  k8s/gateway/vald/pdb.yaml
  k8s/gateway/vald/priorityclass.yaml
  k8s/gateway/vald/svc.yaml
  k8s/manager/backup/configmap.yaml
  k8s/manager/backup/deployment.yaml
  k8s/manager/backup/hpa.yaml
  k8s/manager/backup/pdb.yaml
  k8s/manager/backup/priorityclass.yaml
  k8s/manager/backup/svc.yaml
  k8s/manager/compressor/configmap.yaml
  k8s/manager/compressor/deployment.yaml
  k8s/manager/compressor/hpa.yaml
  k8s/manager/compressor/pdb.yaml
  k8s/manager/compressor/priorityclass.yaml
  k8s/manager/compressor/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/meta/configmap.yaml
  k8s/meta/deployment.yaml
  k8s/meta/hpa.yaml
  k8s/meta/pdb.yaml
  k8s/meta/priorityclass.yaml
  k8s/meta/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, size/S, type/documentation

#618 use internal client
  cmd/tools/cli/loadtest/sample.yaml
  pkg/tools/cli/loadtest/service/insert_test.go
  pkg/tools/cli/loadtest/service/loader.go
  pkg/tools/cli/loadtest/service/loader_test.go
  pkg/tools/cli/loadtest/service/search_test.go
  pkg/tools/cli/loadtest/usecase/load.go
Labels: area/tools/cli/loadtest, priority/medium, size/M, team/set, type/feature

#676 Implement zstd test
  internal/compress/zstd.go
  internal/compress/zstd/zstd.go
  internal/compress/zstd_test.go
Labels: area/internal, priority/low, size/XL, team/set, type/test

#678 update contributing guide
  CONTRIBUTING.md
Labels: priority/low, size/S, type/documentation

#686 add AVX2 to Requirements
  README.md
Labels: priority/low, size/S, type/documentation

#695 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: priority/low, size/S, team/sre, type/ci, type/documentation

#706 improve CI builds: use DOCKER_BUILDKIT
  .github/workflows/dockers-agent-ngt-image.yml
  .github/workflows/dockers-agent-sidecar-image.yml
  .github/workflows/dockers-backup-manager-cassandra-image.yml
  .github/workflows/dockers-backup-manager-mysql-image.yml
  .github/workflows/dockers-base-image.yml
  .github/workflows/dockers-ci-container-image.yml
  .github/workflows/dockers-discoverer-k8s-image.yml
  .github/workflows/dockers-gateway-vald-image.yml
  .github/workflows/dockers-helm-operator-image.yml
  .github/workflows/dockers-image-scan.yml
  .github/workflows/dockers-loadtest-image.yml
  .github/workflows/dockers-manager-compressor-image.yml
  .github/workflows/dockers-manager-index-image.yml
  .github/workflows/dockers-meta-cassandra-image.yml
  .github/workflows/dockers-meta-redis-image.yml
Labels: priority/low, size/S, team/sre, type/ci, type/refactoring

#699 build proto docs from single protoc command
  Makefile
  Makefile.d/proto.mk
  apis/docs/agent/core/docs.md
  apis/docs/agent/sidecar/docs.md
  apis/docs/discoverer/docs.md
  apis/docs/docs.md
  apis/docs/errors/docs.md
  apis/docs/filter/egress/docs.md
  apis/docs/filter/ingress/docs.md
  apis/docs/gateway/vald/docs.md
  apis/docs/manager/backup/docs.md
  apis/docs/manager/compressor/docs.md
  apis/docs/manager/index/docs.md
  apis/docs/manager/replication/agent/docs.md
  apis/docs/manager/replication/controller/docs.md
  apis/docs/manager/traffic/docs.md
  apis/docs/meta/docs.md
  apis/proto/manager/replication/controller/replication_manager.proto
Labels: area/makefile, area/manager/replication, priority/low, size/M, team/sre, type/refactoring

#644 Add cassandra option test
  docs/contributing/coding-style.md
  internal/db/nosql/cassandra/cassandra.go
  internal/db/nosql/cassandra/cassandra_mock_test.go
  internal/db/nosql/cassandra/option.go
  internal/db/nosql/cassandra/option_test.go
  internal/db/storage/blob/s3/writer/option.go
  internal/db/storage/blob/s3/writer/option_test.go
  internal/errors/option.go
Labels: area/internal, priority/low, size/XXL, team/set, type/test

#701 [patch] add C.free & delete ivc before core.BulkInsert C' function executing for reducing memory usage
  apis/docs/docs.md
  apis/grpc/manager/replication/controller/replication_manager.pb.go
  apis/swagger/manager/replication/controller/replication/controller/replication_manager.swagger.json
  go.mod
  go.sum
  hack/go.mod.default
  internal/core/ngt/ngt.go
  pkg/agent/core/ngt/service/ngt.go
Labels: area/agent/core, area/internal, area/manager/replication, priority/medium, size/L, type/bug

#708 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/vald/configmap.yaml
  k8s/gateway/vald/deployment.yaml
  k8s/gateway/vald/hpa.yaml
  k8s/gateway/vald/ing.yaml
  k8s/gateway/vald/pdb.yaml
  k8s/gateway/vald/priorityclass.yaml
  k8s/gateway/vald/svc.yaml
  k8s/manager/backup/configmap.yaml
  k8s/manager/backup/deployment.yaml
  k8s/manager/backup/hpa.yaml
  k8s/manager/backup/pdb.yaml
  k8s/manager/backup/priorityclass.yaml
  k8s/manager/backup/svc.yaml
  k8s/manager/compressor/configmap.yaml
  k8s/manager/compressor/deployment.yaml
  k8s/manager/compressor/hpa.yaml
  k8s/manager/compressor/pdb.yaml
  k8s/manager/compressor/priorityclass.yaml
  k8s/manager/compressor/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/meta/configmap.yaml
  k8s/meta/deployment.yaml
  k8s/meta/hpa.yaml
  k8s/meta/pdb.yaml
  k8s/meta/priorityclass.yaml
  k8s/meta/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, size/S, type/documentation

#711 CI-container: upgrade dependencies of & remove workdir contents
  dockers/ci/base/Dockerfile
Labels: priority/low, size/S, type/refactoring

#620 Add devcontainer
  .devcontainer/devcontainer.json
  .github/workflows/dockers-dev-container-image.yml
  Makefile
  Makefile.d/docker.mk
  dockers/dev/Dockerfile
Labels: area/makefile, priority/low, size/M, team/sre, type/ci

#612 implement billion scale data
  Makefile
  Makefile.d/bench.mk
  dockers/tools/cli/loadtest/Dockerfile
  hack/benchmark/assets/large/dataset/.gitignore
  hack/benchmark/assets/x1b/loader.go
  hack/benchmark/assets/x1b/loader_bench_test.go
  hack/benchmark/assets/x1b/loader_test.go
  hack/benchmark/core/benchmark/strategy/bulk_insert.go
  hack/benchmark/core/benchmark/strategy/bulk_insert_commit.go
  hack/benchmark/core/benchmark/strategy/insert.go
  hack/benchmark/core/benchmark/strategy/insert_commit.go
  hack/benchmark/core/benchmark/strategy/search.go
  hack/benchmark/core/benchmark/strategy/util.go
  hack/benchmark/internal/e2e/strategy/insert.go
  hack/benchmark/internal/e2e/strategy/remove.go
  hack/benchmark/internal/e2e/strategy/search.go
  hack/benchmark/internal/e2e/strategy/stream_insert.go
  hack/benchmark/internal/e2e/strategy/stream_remove.go
  hack/benchmark/internal/e2e/strategy/stream_search.go
  pkg/tools/cli/loadtest/assets/dataset.go
  pkg/tools/cli/loadtest/assets/dataset_test.go
  pkg/tools/cli/loadtest/assets/hdf5_loader.go
  pkg/tools/cli/loadtest/assets/hdf5_loader_test.go
  pkg/tools/cli/loadtest/assets/large_dataset.go
  pkg/tools/cli/loadtest/assets/large_dataset_test.go
  pkg/tools/cli/loadtest/assets/loader_test.go
  pkg/tools/cli/loadtest/assets/small_dataset.go
  pkg/tools/cli/loadtest/assets/small_dataset_test.go
  pkg/tools/cli/loadtest/service/insert.go
  pkg/tools/cli/loadtest/service/search.go
Labels: area/makefile, area/tools/cli/loadtest, priority/medium, size/XXXL, team/set, team/sre, type/feature

#726 Chart: agent-sidecar on initContainer mode can be deployed without enabling sidecar mode
  charts/vald/templates/agent/daemonset.yaml
  charts/vald/templates/agent/deployment.yaml
  charts/vald/templates/agent/sidecar-configmap.yaml
  charts/vald/templates/agent/statefulset.yaml
Labels: area/helm, priority/low, size/S, type/refactoring

#729 [patch] fix duplicated search result
  pkg/gateway/vald/handler/grpc/handler.go
Labels: area/gateway, priority/medium, size/S, type/bug

#730 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/vald/configmap.yaml
  k8s/gateway/vald/deployment.yaml
  k8s/gateway/vald/hpa.yaml
  k8s/gateway/vald/ing.yaml
  k8s/gateway/vald/pdb.yaml
  k8s/gateway/vald/priorityclass.yaml
  k8s/gateway/vald/svc.yaml
  k8s/manager/backup/configmap.yaml
  k8s/manager/backup/deployment.yaml
  k8s/manager/backup/hpa.yaml
  k8s/manager/backup/pdb.yaml
  k8s/manager/backup/priorityclass.yaml
  k8s/manager/backup/svc.yaml
  k8s/manager/compressor/configmap.yaml
  k8s/manager/compressor/deployment.yaml
  k8s/manager/compressor/hpa.yaml
  k8s/manager/compressor/pdb.yaml
  k8s/manager/compressor/priorityclass.yaml
  k8s/manager/compressor/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/meta/configmap.yaml
  k8s/meta/deployment.yaml
  k8s/meta/hpa.yaml
  k8s/meta/pdb.yaml
  k8s/meta/priorityclass.yaml
  k8s/meta/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, size/S, type/documentation

#731 Remove go-proto-gql dependency
  Makefile
  apis/docs/docs.md
  apis/proto/agent/core/agent.proto
  apis/proto/agent/sidecar/sidecar.proto
  apis/proto/discoverer/discoverer.proto
  apis/proto/filter/egress/egress_filter.proto
  apis/proto/filter/ingress/ingress_filter.proto
  apis/proto/gateway/vald/vald.proto
  apis/proto/manager/backup/backup_manager.proto
  apis/proto/manager/compressor/compressor.proto
  apis/proto/manager/index/index_manager.proto
  apis/proto/manager/replication/agent/replication_manager.proto
  apis/proto/manager/replication/controller/replication_manager.proto
  apis/proto/manager/traffic/traffic_manager.proto
  apis/proto/meta/meta.proto
  apis/swagger/agent/core/core/agent.swagger.json
  apis/swagger/discoverer/discoverer.swagger.json
  apis/swagger/gateway/vald/vald/vald.swagger.json
  apis/swagger/manager/backup/backup/backup_manager.swagger.json
  apis/swagger/manager/compressor/compressor/compressor.swagger.json
  apis/swagger/manager/index/index/index_manager.swagger.json
  apis/swagger/manager/replication/agent/replication/agent/replication_manager.swagger.json
  apis/swagger/manager/replication/controller/replication/controller/replication_manager.swagger.json
  apis/swagger/meta/meta.swagger.json
Labels: area/agent/core, area/agent/sidecar, area/discoverer, area/filter/egress, area/filter/ingress, area/makefile, area/manager/backup, area/manager/index, area/manager/replication, area/meta, area/tools/cli/loadtest, priority/low, size/S, team/sre

#702 Create s3/session test
  internal/db/storage/blob/s3/session/option.go
  internal/db/storage/blob/s3/session/session.go
  internal/db/storage/blob/s3/session/session_test.go
  internal/test/comparator/standard.go
Labels: area/internal, priority/low, size/XL, team/set, type/test
