Repository vdaas/vald, pull requests merged in 2020-07, with the labels that each got.

#532 add codeql config
  .github/codeql/codeql-config.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/helm.yml
  .github/workflows/update_pull_request_and_issue_template.yml
Labels: priority/low, size/S, team/sre, type/ci

#530 added internal/config/log test
  .github/codeql/codeql-config.yaml
  internal/config/log.go
  internal/config/log_test.go
Labels: area/internal, priority/low, size/M, team/set, team/sre, type/ci, type/test

#531 Add test workflow
  .github/workflows/test.yml
  Makefile
  Makefile.d/test.mk
  dockers/ci/base/Dockerfile
Labels: area/makefile, priority/low, size/M, team/sre, type/ci

#535 [agent-sidecar] Add cancel hook for file watcher
  charts/vald/values.yaml
  pkg/agent/sidecar/service/observer/observer.go
  pkg/agent/sidecar/service/observer/option.go
Labels: area/agent/sidecar, area/helm, priority/medium, size/S, type/bug

#534 add internal/config/tls test
  internal/config/tls.go
  internal/config/tls_test.go
  internal/tls/option.go
  internal/tls/tls.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#537 Add images of usecase
  assets/docs/usecase_audio.png
  assets/docs/usecase_data.png
  assets/docs/usecase_image.png
  assets/docs/usecase_text.png
Labels: priority/medium, size/S, type/feature

#504 Revise log messages along with the coding guideline
  internal/client/discoverer/discover.go
  internal/file/watch/watch.go
  internal/net/grpc/pool/pool.go
  internal/net/grpc/status/status.go
  internal/runner/runner.go
  internal/servers/server/option.go
  internal/servers/server/option_test.go
  internal/servers/server/server.go
  internal/servers/server/server_test.go
  internal/worker/worker.go
  pkg/agent/core/ngt/handler/grpc/handler.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/usecase/agentd.go
  pkg/agent/sidecar/service/observer/observer.go
  pkg/agent/sidecar/service/restorer/restorer.go
  pkg/discoverer/k8s/handler/grpc/handler.go
  pkg/discoverer/k8s/service/discover.go
  pkg/discoverer/k8s/usecase/discovered.go
  pkg/gateway/vald/handler/grpc/handler.go
  pkg/gateway/vald/service/gateway.go
  pkg/manager/backup/cassandra/handler/grpc/handler.go
  pkg/manager/backup/cassandra/usecase/backupd.go
  pkg/manager/backup/mysql/handler/grpc/handler.go
  pkg/manager/backup/mysql/usecase/backupd.go
  pkg/manager/compressor/handler/grpc/handler.go
  pkg/manager/compressor/usecase/compressord.go
  pkg/manager/index/service/indexer.go
  pkg/manager/replication/agent/usecase/backupd.go
  pkg/manager/replication/controller/service/discover.go
  pkg/manager/replication/controller/usecase/discovered.go
  pkg/meta/cassandra/handler/grpc/handler.go
  pkg/meta/cassandra/usecase/meta.go
  pkg/meta/redis/handler/grpc/handler.go
  pkg/meta/redis/usecase/meta.go
  pkg/tools/cli/loadtest/assets/loader.go
  pkg/tools/cli/loadtest/service/loader.go
Labels: area/agent/core, area/agent/sidecar, area/discoverer, area/gateway, area/internal, area/manager/backup, area/manager/index, area/manager/replication, area/meta, area/tools/cli/loadtest, priority/low, size/L, team/set, type/refactoring

#516 documentation: tutorial/agent-on-docker
  docs/tutorial/agent-on-docker.md
  docs/tutorial/get-started.md
  example/client/agent/main.go
  example/client/go.mod
  example/client/go.sum
  example/helm/values-standalone-agent-ngt.yaml
Labels: priority/low, size/L, status/author-review, type/documentation

#536 [agent-ngt] use Len and InsertVCacheLen method for IndexInfo / add mutex for (Create|Save)Index
  internal/runner/runner.go
  pkg/agent/core/ngt/handler/grpc/handler.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/sidecar/usecase/sidecar/sidecar.go
Labels: area/agent/core, area/agent/sidecar, area/internal, priority/low, size/M, type/refactoring

#543 [CI tests] exclude hack codes
  .github/chatops_commands.md
  .github/workflows/chatops-help.yml
  .github/workflows/chatops.yml
  .github/workflows/test.yml
  Makefile.d/test.mk
Labels: area/makefile, priority/low, size/M, team/sre, type/ci

#544 Fix condition check of chatops
  .github/workflows/chatops.yml
Labels: priority/low, size/S, team/sre, type/ci

#538 add log/mock/logger test
  internal/log/mock/logger.go
  internal/log/mock/logger_test.go
Labels: area/internal, priority/low, size/XXL, team/set, type/test

#518 Added test case for `internal/file/watch/option_test.go`
  internal/file/watch/option_test.go
Labels: area/internal, priority/low, size/XXL, team/set, type/test

#549 add internal/log/mock/retry test
  internal/log/mock/retry.go
  internal/log/mock/retry_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#482 Add use case document
  docs/usecase/usage-example.md
Labels: area/agent/core, area/agent/sidecar, area/helm, area/internal, priority/low, size/XL, team/set, type/documentation

#548 not to force rebuild gotests
  Makefile
  Makefile.d/docker.mk
  Makefile.d/test.mk
Labels: area/makefile, priority/low, size/S, team/sre, type/refactoring

#542 add internal/singleflight test
  internal/singleflight/singleflight.go
  internal/singleflight/singleflight_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#550 Add test case for `internal/file`
  internal/file/file.go
  internal/file/file_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#553 internal/cache/cacher test
  internal/cache/cacher/cacher.go
  internal/cache/cacher/cacher_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#554 add internal/config/ngt test
  internal/config/ngt.go
  internal/config/ngt_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#560 [bug fix] Fix global cache in internal/cache/gache package
  internal/cache/gache/gache.go
  internal/cache/gache/option.go
Labels: area/internal, priority/medium, size/S, type/bug

#562 pass tparse by tee command
  .github/workflows/test.yml
  Makefile.d/test.mk
Labels: area/makefile, priority/low, size/M, team/sre, type/ci

#485 internal/tls test
  internal/test/data/tls/dummyCa.pem
  internal/test/data/tls/dummyServer.crt
  internal/test/data/tls/dummyServer.key
  internal/test/data/tls/invalid.crt
  internal/test/data/tls/invalid.pem
  internal/test/doc.go
  internal/test/testdata.go
  internal/test/testdata_test.go
  internal/tls/option.go
  internal/tls/option_test.go
  internal/tls/tls.go
  internal/tls/tls_test.go
Labels: area/internal, priority/low, size/XXL, status/author-review, team/set, type/test

#561 fix failed test
  internal/log/glg/glg_test.go
  internal/servers/server/option_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#563 Add test for `internal/config/mysql.go`
  internal/config/mysql.go
  internal/config/mysql_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#567 fix update-k8s workflow & update sample manifests
  .github/workflows/helm.yml
  charts/vald/templates/_helpers.tpl
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/vald/configmap.yaml
  k8s/gateway/vald/deployment.yaml
  k8s/gateway/vald/hpa.yaml
  k8s/gateway/vald/ing.yaml
  k8s/gateway/vald/pdb.yaml
  k8s/gateway/vald/priorityclass.yaml
  k8s/gateway/vald/svc.yaml
  k8s/manager/backup/configmap.yaml
  k8s/manager/backup/deployment.yaml
  k8s/manager/backup/hpa.yaml
  k8s/manager/backup/pdb.yaml
  k8s/manager/backup/priorityclass.yaml
  k8s/manager/backup/svc.yaml
  k8s/manager/compressor/configmap.yaml
  k8s/manager/compressor/deployment.yaml
  k8s/manager/compressor/hpa.yaml
  k8s/manager/compressor/pdb.yaml
  k8s/manager/compressor/priorityclass.yaml
  k8s/manager/compressor/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/meta/configmap.yaml
  k8s/meta/deployment.yaml
  k8s/meta/hpa.yaml
  k8s/meta/pdb.yaml
  k8s/meta/priorityclass.yaml
  k8s/meta/svc.yaml
  k8s/operator/helm/operator.yaml
Labels: area/helm, priority/low, size/S, team/sre, type/ci

#569 [patch] bugfix gateway & internal/net/grpc
  apis/grpc/gateway/vald/vald.pb.go
  charts/vald/templates/_helpers.tpl
  charts/vald/values.yaml
  go.mod
  go.sum
  hack/git/hooks/pre-commit
  hack/go.mod.default
  internal/config/grpc.go
  internal/errors/grpc.go
  internal/errors/ngt.go
  internal/net/grpc/client.go
  internal/net/grpc/option.go
  internal/net/grpc/pool/option.go
  internal/net/grpc/pool/pool.go
  internal/test/testdata_test.go
  pkg/discoverer/k8s/service/discover.go
  pkg/gateway/vald/handler/grpc/handler.go
  versions/GO_VERSION
  versions/NGT_VERSION
  versions/OPERATOR_SDK_VERSION
Labels: area/discoverer, area/gateway, area/helm, area/internal, priority/medium, size/XXL, team/set, type/bug

#570 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: size/S, team/sre, type/ci, type/documentation

#572 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/vald/configmap.yaml
  k8s/gateway/vald/deployment.yaml
  k8s/gateway/vald/hpa.yaml
  k8s/gateway/vald/ing.yaml
  k8s/gateway/vald/pdb.yaml
  k8s/gateway/vald/priorityclass.yaml
  k8s/gateway/vald/svc.yaml
  k8s/manager/backup/configmap.yaml
  k8s/manager/backup/deployment.yaml
  k8s/manager/backup/hpa.yaml
  k8s/manager/backup/pdb.yaml
  k8s/manager/backup/priorityclass.yaml
  k8s/manager/backup/svc.yaml
  k8s/manager/compressor/configmap.yaml
  k8s/manager/compressor/deployment.yaml
  k8s/manager/compressor/hpa.yaml
  k8s/manager/compressor/pdb.yaml
  k8s/manager/compressor/priorityclass.yaml
  k8s/manager/compressor/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/meta/configmap.yaml
  k8s/meta/deployment.yaml
  k8s/meta/hpa.yaml
  k8s/meta/pdb.yaml
  k8s/meta/priorityclass.yaml
  k8s/meta/svc.yaml
  k8s/operator/helm/operator.yaml
Labels: priority/low, size/S, type/documentation

#574 update k8s manifests only on publish tags
  .github/workflows/helm.yml
Labels: priority/low, size/S, team/sre, type/ci

#526 Add test for `internal/file/watch`
  internal/file/watch/option_test.go
  internal/file/watch/watch.go
  internal/file/watch/watch_test.go
Labels: area/internal, priority/low, size/XXL, team/set, type/test

#575 add internal/cache/gache/option test
  internal/cache/gache/option.go
  internal/cache/gache/option_test.go
Labels: area/internal, priority/low, size/XL, team/set, type/test

#576 add cache test
  internal/cache/cache.go
  internal/cache/cache_test.go
  internal/cache/option.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#583 add internal/cache/gache test
  internal/cache/gache/gache.go
  internal/cache/gache/gache_test.go
  internal/cache/gache/option_test.go
Labels: area/internal, priority/low, size/XL, team/set, type/test

#501 [patch] Test/internal/tcp
  internal/errors/net.go
  internal/net/tcp/dialer.go
  internal/net/tcp/dialer_test.go
  internal/net/tcp/option.go
  internal/net/tcp/option_test.go
Labels: area/internal, priority/low, size/XXL, status/author-review, team/set, type/test

#586 add internal/cache/option test
  internal/cache/option.go
  internal/cache/option_test.go
Labels: area/internal, priority/low, size/XL, team/set, type/test

#592 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/vald/configmap.yaml
  k8s/gateway/vald/deployment.yaml
  k8s/gateway/vald/hpa.yaml
  k8s/gateway/vald/ing.yaml
  k8s/gateway/vald/pdb.yaml
  k8s/gateway/vald/priorityclass.yaml
  k8s/gateway/vald/svc.yaml
  k8s/manager/backup/configmap.yaml
  k8s/manager/backup/deployment.yaml
  k8s/manager/backup/hpa.yaml
  k8s/manager/backup/pdb.yaml
  k8s/manager/backup/priorityclass.yaml
  k8s/manager/backup/svc.yaml
  k8s/manager/compressor/configmap.yaml
  k8s/manager/compressor/deployment.yaml
  k8s/manager/compressor/hpa.yaml
  k8s/manager/compressor/pdb.yaml
  k8s/manager/compressor/priorityclass.yaml
  k8s/manager/compressor/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/meta/configmap.yaml
  k8s/meta/deployment.yaml
  k8s/meta/hpa.yaml
  k8s/meta/pdb.yaml
  k8s/meta/priorityclass.yaml
  k8s/meta/svc.yaml
  k8s/operator/helm/operator.yaml
Labels: priority/low, size/S, type/documentation

#539 tensorflow savedmodel warmup
  internal/core/converter/tensorflow/option.go
  internal/core/converter/tensorflow/option_test.go
  internal/core/converter/tensorflow/tensorflow.go
  internal/core/converter/tensorflow/tensorflow_test.go
Labels: area/internal, priority/medium, size/L, status/author-review, team/core, team/set, type/feature

#594 add internal/net/http/transport/option test
  internal/net/http/transport/option.go
  internal/net/http/transport/option_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#596 [bugfix] fix behavior when index path is empty
  pkg/agent/core/ngt/service/option.go
Labels: area/agent/core, priority/medium, size/S, type/bug

#597 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/vald/configmap.yaml
  k8s/gateway/vald/deployment.yaml
  k8s/gateway/vald/hpa.yaml
  k8s/gateway/vald/ing.yaml
  k8s/gateway/vald/pdb.yaml
  k8s/gateway/vald/priorityclass.yaml
  k8s/gateway/vald/svc.yaml
  k8s/manager/backup/configmap.yaml
  k8s/manager/backup/deployment.yaml
  k8s/manager/backup/hpa.yaml
  k8s/manager/backup/pdb.yaml
  k8s/manager/backup/priorityclass.yaml
  k8s/manager/backup/svc.yaml
  k8s/manager/compressor/configmap.yaml
  k8s/manager/compressor/deployment.yaml
  k8s/manager/compressor/hpa.yaml
  k8s/manager/compressor/pdb.yaml
  k8s/manager/compressor/priorityclass.yaml
  k8s/manager/compressor/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/meta/configmap.yaml
  k8s/meta/deployment.yaml
  k8s/meta/hpa.yaml
  k8s/meta/pdb.yaml
  k8s/meta/priorityclass.yaml
  k8s/meta/svc.yaml
  k8s/operator/helm/operator.yaml
Labels: priority/low, size/S, type/documentation

#598 [bugfix] fix agent sidecar behavior when index files are updated
  pkg/agent/sidecar/service/observer/observer.go
  pkg/agent/sidecar/service/observer/observer_test.go
Labels: area/agent/sidecar, priority/medium, size/S, team/set, type/bug

#599 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/vald/configmap.yaml
  k8s/gateway/vald/deployment.yaml
  k8s/gateway/vald/hpa.yaml
  k8s/gateway/vald/ing.yaml
  k8s/gateway/vald/pdb.yaml
  k8s/gateway/vald/priorityclass.yaml
  k8s/gateway/vald/svc.yaml
  k8s/manager/backup/configmap.yaml
  k8s/manager/backup/deployment.yaml
  k8s/manager/backup/hpa.yaml
  k8s/manager/backup/pdb.yaml
  k8s/manager/backup/priorityclass.yaml
  k8s/manager/backup/svc.yaml
  k8s/manager/compressor/configmap.yaml
  k8s/manager/compressor/deployment.yaml
  k8s/manager/compressor/hpa.yaml
  k8s/manager/compressor/pdb.yaml
  k8s/manager/compressor/priorityclass.yaml
  k8s/manager/compressor/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/meta/configmap.yaml
  k8s/meta/deployment.yaml
  k8s/meta/hpa.yaml
  k8s/meta/pdb.yaml
  k8s/meta/priorityclass.yaml
  k8s/meta/svc.yaml
  k8s/operator/helm/operator.yaml
Labels: priority/low, size/S, type/documentation

#604 Add reviewdog - markdown: LanguageTool
  .github/workflows/reviewdog-markdown.yml
Labels: priority/low, size/S, team/sre, type/ci

#590 Refactoring `internal/db/kvs/redis` package
  internal/db/kvs/redis/option_test.go
  internal/db/kvs/redis/redis.go
  internal/db/kvs/redis/redis_mock_test.go
  internal/db/kvs/redis/redis_test.go
Labels: area/internal, priority/low, size/XL, team/set, type/refactoring

#595 Add gaussian random vector generation
  pkg/tools/cli/loadtest/assets/dataset.go
Labels: area/tools/cli/loadtest, priority/medium, size/M, team/set, type/feature

#591 add delete dataflow in architecture document
  assets/docs/delete_flow.drawio
  assets/docs/delete_flow.png
  docs/overview/architecture.md
Labels: priority/low, size/S, status/author-review, team/set, type/documentation
