Repository vdaas/vald, pull requests merged in 2020-02, with the labels that each got.

#206 Add /format command for ChatOps
  .github/chatops_permissions.yaml
  .github/workflows/chatops.yml
  README.md
Labels: size/S, team/sre, type/ci

#205 add custom dialer
  .golangci.yml
  go.mod
  go.sum
  internal/config/cassandra.go
  internal/db/nosql/cassandra/cassandra.go
  internal/db/nosql/cassandra/option.go
  internal/net/tcp/dialer.go
  internal/timeutil/location/loc_test.go
  internal/timeutil/time_test.go
  pkg/manager/backup/cassandra/service/cassandra.go
  vald/values.yaml
Labels: area/agent, area/internal, area/manager/backup, size/L, size/M, team/set, type/feature

#207 Add scylla deployments
  Makefile.d/k8s.mk
  k8s/external/scylla/statefulset.yaml
  k8s/external/scylla/svc.yaml
  vald/values.yaml
Labels: priority/low, size/S, status/in-review, team/sre, type/feature

#209 update go module dependencies
  go.mod
  go.sum
Labels: size/S

#210 add deploy tasks (with either Scylla or Cassandra) to Makefile
  Makefile.d/k8s.mk
  vald/values.yaml
Labels: size/L, team/sre, type/feature

#97 test case for `internal/servers/server`
  internal/servers/server/option.go
  internal/servers/server/option_test.go
  internal/servers/server/server_test.go
Labels: area/internal, priority/low, size/XXL, status/author-review, status/draft, team/set, type/test

#215 [Helm] add volumes volumeMounts / add custom initContainers
  vald/templates/_helpers.tpl
  vald/templates/agent/daemonset.yaml
  vald/templates/agent/deployment.yaml
  vald/templates/agent/statefulset.yaml
  vald/templates/discoverer/daemonset.yaml
  vald/templates/discoverer/deployment.yaml
  vald/templates/gateway/vald/daemonset.yaml
  vald/templates/gateway/vald/deployment.yaml
  vald/templates/manager/backup/daemonset.yaml
  vald/templates/manager/backup/deployment.yaml
  vald/templates/manager/compressor/daemonset.yaml
  vald/templates/manager/compressor/deployment.yaml
  vald/templates/meta/daemonset.yaml
  vald/templates/meta/deployment.yaml
Labels: area/helm, size/S, team/sre, type/feature

#217 :green_heart: Fix chatops: yq v3
  .github/workflows/chatops.yml
Labels: size/S, team/sre

#213 [patch] add gateway metadata cache layer for performance
  .github/workflows/reviewdog.yml
  .golangci.yml
  Makefile
  apis/swagger/agent/agent.swagger.json
  apis/swagger/discoverer/discoverer.swagger.json
  apis/swagger/errors/errors.swagger.json
  apis/swagger/filter/egress/egress/egress_filter.swagger.json
  apis/swagger/filter/ingress/ingress/ingress_filter.swagger.json
  apis/swagger/manager/backup/backup/backup_manager.swagger.json
  apis/swagger/manager/compressor/compressor/compressor.swagger.json
  apis/swagger/manager/index/index/index_manager.swagger.json
  apis/swagger/manager/replication/replication/replication_manager.swagger.json
  apis/swagger/manager/traffic/traffic/traffic_manager.swagger.json
  apis/swagger/meta/meta.swagger.json
  apis/swagger/payload/payload.swagger.json
  apis/swagger/vald/vald.swagger.json
  go.mod
  go.sum
  internal/cache/cache.go
  internal/cache/cacher/cacher.go
  internal/cache/gache/gache.go
  internal/cache/gache/option.go
  internal/cache/option.go
  internal/config/cassandra.go
  internal/config/grpc.go
  internal/config/meta.go
  internal/errors/cache.go
  internal/log/glg/glg_test.go
  internal/log/log.go
  internal/log/log_test.go
  internal/log/logger/type.go
  internal/log/logger/type_test.go
  internal/log/option.go
  internal/log/option_test.go
  internal/net/tcp/dialer.go
  internal/net/tcp/option_dialer.go
  k8s/gateway/vald/configmap.yaml
  pkg/gateway/vald/service/meta.go
  pkg/gateway/vald/service/meta_option.go
  pkg/gateway/vald/usecase/vald.go
  pkg/manager/backup/mysql/service/mysql.go
  pkg/meta/redis/service/redis.go
  vald/templates/gateway/vald/configmap.yaml
  vald/values.yaml
Labels: area/gateway, area/internal, priority/medium, size/L, size/XL, status/in-review, team/core, team/set, team/sre, type/feature

#214 Replace zstd / Replace compress/gzip with klauspost/gzip
  dockers/manager/compressor/Dockerfile
  go.mod
  go.sum
  hack/go.mod.default
  internal/compress/ddzstd.go
  internal/compress/ddzstd_option.go
  internal/compress/ddzstd_test.go
  internal/compress/gzip.go
  internal/compress/zstd.go
  internal/compress/zstd_option.go
  internal/config/compress.go
  pkg/manager/compressor/service/compress.go
Labels: area/internal, size/L, status/in-review, team/core, team/set, type/feature

#228 [patch] Make bidirectional stream concurrency configurable
  internal/config/server.go
  pkg/agent/ngt/handler/grpc/option.go
  pkg/agent/ngt/usecase/agentd.go
  pkg/gateway/vald/handler/grpc/option.go
  pkg/gateway/vald/usecase/vald.go
  pkg/manager/index/handler/grpc/option.go
  pkg/manager/replication/handler/grpc/option.go
  vald/values.yaml
Labels: area/agent, area/gateway, area/internal, area/manager/index, area/manager/replication, size/M, type/feature

#234 Add nodeName and nodeSelector field to Helm template
  vald/templates/agent/daemonset.yaml
  vald/templates/agent/deployment.yaml
  vald/templates/agent/statefulset.yaml
  vald/templates/discoverer/daemonset.yaml
  vald/templates/discoverer/deployment.yaml
  vald/templates/gateway/vald/daemonset.yaml
  vald/templates/gateway/vald/deployment.yaml
  vald/templates/manager/backup/daemonset.yaml
  vald/templates/manager/backup/deployment.yaml
  vald/templates/manager/compressor/daemonset.yaml
  vald/templates/manager/compressor/deployment.yaml
  vald/templates/meta/daemonset.yaml
  vald/templates/meta/deployment.yaml
Labels: size/S, status/author-review, team/sre, type/feature

#232 Add install scripts for kind, helm, and valdcli
  Makefile
  Makefile.d/client.mk
  Makefile.d/k8s.mk
  Makefile.d/kind.mk
  versions/VALDCLI_VERSION
Labels: size/M, team/sre, type/feature

#236 Benchmark for gRPC Connection Pooling
  internal/net/grpc/pool_bench_test.go
Labels: area/internal, size/XXXL, team/set

#241 [patch] bugfix in discovered agent client panic problem
  k8s/debug/kind/config.yaml
  pkg/gateway/vald/service/gateway.go
  vald/templates/discoverer/clusterrole.yaml
Labels: area/gateway, size/M

#242 Add Dockerfile, CI settings, and Helm template for index-manager
  .github/workflows/dockers-manager-index-image.yml
  Makefile
  Makefile.d/docker.mk
  Makefile.d/k8s.mk
  README.md
  dockers/manager/index/Dockerfile
  internal/config/gateway.go
  internal/config/index.go
  pkg/gateway/vald/service/gateway_option.go
  pkg/gateway/vald/usecase/vald.go
  pkg/manager/index/service/option.go
  pkg/manager/index/usecase/vald.go
  vald/templates/gateway/vald/configmap.yaml
  vald/templates/manager/index/configmap.yaml
  vald/templates/manager/index/daemonset.yaml
  vald/templates/manager/index/deployment.yaml
  vald/templates/manager/index/pdb.yaml
  vald/templates/manager/index/svc.yaml
  vald/values.yaml
Labels: area/gateway, area/internal, area/manager/index, size/L, status/author-review, team/sre, type/feature

#243 [patch] bugfix in discovered agent client panic problem
  go.mod
  go.sum
  internal/net/grpc/pool.go
  pkg/gateway/vald/service/gateway.go
  pkg/manager/index/service/indexer.go
Labels: area/gateway, area/internal, area/manager/index, size/L

#246 [patch] bugfix gateway high memory usage
  go.mod
  go.sum
  internal/net/grpc/client.go
  internal/net/grpc/pool.go
  internal/net/grpc/pool_bench_test.go
  internal/net/tcp/dialer.go
  pkg/gateway/vald/service/gateway.go
Labels: area/gateway, area/internal, size/L, team/set

#245 Add sha256 checksum of configmaps to each deployments / Add values-xxx.yaml
  Makefile.d/k8s.mk
  vald/templates/agent/daemonset.yaml
  vald/templates/agent/deployment.yaml
  vald/templates/agent/statefulset.yaml
  vald/templates/discoverer/daemonset.yaml
  vald/templates/discoverer/deployment.yaml
  vald/templates/gateway/vald/daemonset.yaml
  vald/templates/gateway/vald/deployment.yaml
  vald/templates/manager/backup/daemonset.yaml
  vald/templates/manager/backup/deployment.yaml
  vald/templates/manager/compressor/daemonset.yaml
  vald/templates/manager/compressor/deployment.yaml
  vald/templates/manager/index/daemonset.yaml
  vald/templates/manager/index/deployment.yaml
  vald/templates/meta/daemonset.yaml
  vald/templates/meta/deployment.yaml
  vald/values-cassandra.yaml
  vald/values-dev.yaml
  vald/values-scylla.yaml
  vald/values.yaml
Labels: size/M, status/in-review, team/set, team/sre, type/refactoring

#247 [patch] add discoverer client package and centralize discovery logic used by gateway and index manager
  go.mod
  go.sum
  internal/client/discoverer/discover.go
  internal/client/discoverer/option.go
  internal/errors/discoverer.go
  internal/errors/grpc.go
  pkg/gateway/vald/service/gateway.go
  pkg/gateway/vald/service/gateway_option.go
  pkg/gateway/vald/usecase/vald.go
  pkg/manager/index/service/indexer.go
  pkg/manager/index/service/option.go
  pkg/manager/index/usecase/indexer.go
  versions/GO_VERSION
  versions/NGT_VERSION
Labels: area/gateway, area/internal, area/manager/index, priority/medium, size/XXL, status/in-review, team/core, team/sre, type/refactoring

#249 Revise Docker image tagging policy
  .github/workflows/dockers-agent-ngt-image.yml
  .github/workflows/dockers-backup-manager-cassandra-image.yml
  .github/workflows/dockers-backup-manager-mysql-image.yml
  .github/workflows/dockers-base-image.yml
  .github/workflows/dockers-ci-container-image.yml
  .github/workflows/dockers-discoverer-k8s-image.yml
  .github/workflows/dockers-gateway-vald-image.yml
  .github/workflows/dockers-manager-compressor-image.yml
  .github/workflows/dockers-manager-index-image.yml
  .github/workflows/dockers-meta-cassandra-image.yml
  .github/workflows/dockers-meta-redis-image.yml
  README.md
Labels: size/S, team/sre

#250 [patch] bugfix discovery start up
  internal/client/discoverer/discover.go
Labels: area/internal, size/S

#252 Add discoverer config to Helm template
  vald/templates/discoverer/configmap.yaml
  vald/values.yaml
Labels: size/S, type/feature

#251 [patch] bugfix memory leak
  Makefile
  internal/client/discoverer/discover.go
  internal/net/grpc/pool.go
  internal/safety/safety.go
  pkg/discoverer/k8s/handler/grpc/handler.go
  pkg/discoverer/k8s/service/discover.go
  pkg/discoverer/k8s/service/option.go
Labels: area/discoverer, area/internal, size/L, size/M, size/S, team/sre

#253 [patch] discovery logic changed
  internal/client/discoverer/discover.go
Labels: area/gateway, area/internal, area/manager/index, priority/medium, size/L, status/in-review, team/core, team/sre, type/refactoring

#256 Add podManagementPolicy for agent statefulset
  vald/templates/agent/statefulset.yaml
  vald/values-dev.yaml
  vald/values.yaml
Labels: size/S, type/feature

#254 fix
  go.mod
  internal/net/grpc/pool.go
  vald/templates/agent/statefulset.yaml
  vald/values-dev.yaml
  vald/values.yaml
Labels: area/internal, size/M

#257 [patch] bugfix grpc concurrent range order
  internal/client/discoverer/discover.go
  internal/net/grpc/client.go
  versions/NGT_VERSION
Labels: area/internal, size/S

#258 [bugfix] gateway loadbalancing algorithms
  go.mod
  go.sum
  internal/client/discoverer/discover.go
  internal/net/grpc/client.go
  pkg/gateway/vald/handler/grpc/handler.go
  pkg/gateway/vald/service/gateway.go
  pkg/manager/index/service/indexer.go
Labels: area/gateway, area/internal, area/manager/index, size/L, size/M

#259 Refactor Helm template to add initContainer templates & logging default settings
  vald/templates/_helpers.tpl
  vald/templates/agent/configmap.yaml
  vald/templates/agent/daemonset.yaml
  vald/templates/agent/deployment.yaml
  vald/templates/agent/statefulset.yaml
  vald/templates/discoverer/configmap.yaml
  vald/templates/discoverer/daemonset.yaml
  vald/templates/discoverer/deployment.yaml
  vald/templates/gateway/vald/configmap.yaml
  vald/templates/gateway/vald/daemonset.yaml
  vald/templates/gateway/vald/deployment.yaml
  vald/templates/manager/backup/configmap.yaml
  vald/templates/manager/backup/daemonset.yaml
  vald/templates/manager/backup/deployment.yaml
  vald/templates/manager/compressor/configmap.yaml
  vald/templates/manager/compressor/daemonset.yaml
  vald/templates/manager/compressor/deployment.yaml
  vald/templates/manager/index/configmap.yaml
  vald/templates/manager/index/daemonset.yaml
  vald/templates/manager/index/deployment.yaml
  vald/templates/meta/configmap.yaml
  vald/templates/meta/daemonset.yaml
  vald/templates/meta/deployment.yaml
  vald/values-cassandra.yaml
  vald/values-scylla.yaml
  vald/values.yaml
Labels: size/M

#244 quick start
  example/client/go.mod
  example/client/go.sum
  example/client/main.go
  example/helm/values-scylla.yaml
Labels: size/L

#260 Add e2e deploy job
  .github/workflows/build-protobuf.yml
  .github/workflows/coverage.yml
  .github/workflows/dockers-agent-ngt-image.yml
  .github/workflows/dockers-backup-manager-cassandra-image.yml
  .github/workflows/dockers-backup-manager-mysql-image.yml
  .github/workflows/dockers-base-image.yml
  .github/workflows/dockers-ci-container-image.yml
  .github/workflows/dockers-discoverer-k8s-image.yml
  .github/workflows/dockers-gateway-vald-image.yml
  .github/workflows/dockers-manager-compressor-image.yml
  .github/workflows/dockers-manager-index-image.yml
  .github/workflows/dockers-meta-cassandra-image.yml
  .github/workflows/dockers-meta-redis-image.yml
  .github/workflows/e2e-bench-agent-stream.yml
  .github/workflows/e2e-deploy.yml
  vald/values-scylla.yaml
  vald/values.yaml
Labels: size/S, team/sre, type/feature
