Repository vdaas/vald, pull requests merged in 2020-05, with the labels that each got.

#370 💚 Add vald-client-node to protobuf dispatches list
  .github/workflows/update-protobuf.yml
Labels: priority/low, size/S, team/sre, type/ci

#367 [patch] add storage backup option to agent
  Makefile.d/functions.mk
  charts/vald/templates/agent/statefulset.yaml
  charts/vald/values.yaml
  go.mod
  go.sum
  hack/go.mod.default
  internal/core/ngt/ngt.go
  internal/file/file.go
  internal/file/file_test.go
  pkg/agent/ngt/handler/grpc/handler.go
  pkg/agent/ngt/service/ngt.go
  pkg/agent/ngt/service/ngt_test.go
  pkg/agent/ngt/usecase/agentd.go
Labels: area/agent, area/helm, area/internal, area/makefile, priority/medium, size/XL, team/set, team/sre, type/feature

#368 Fix failing tests of `internal/log` and modified to match the test template
  internal/log/log_test.go
  internal/log/option_test.go
Labels: area/internal, priority/low, size/XXL, team/set, type/test

#371 Fix `internal/log/logger` to match the test template
  go.mod
  go.sum
  internal/log/logger/type_test.go
Labels: area/internal, priority/low, size/L, status/author-review, team/set, type/test

#369 Fix`internal/log/format` to match the test template
  internal/log/format/format_test.go
Labels: area/internal, priority/low, size/L, status/author-review, team/set, type/test

#376 ♻️ Fix compressor readiness shutdown_duration / Fix cassandra …
  charts/vald/values.yaml
Labels: area/helm, priority/low, size/S, type/refactoring

#377 🐛 Fix missing value on compressor health servers
  .github/workflows/helm-lint.yml
  charts/vald/values.yaml
Labels: area/helm, priority/medium, size/S, team/sre, type/bug, type/ci

#381 [patch] update dependencies version
  go.mod
  go.sum
  hack/go.mod.default
  versions/GO_VERSION
  versions/NGT_VERSION
  versions/OPERATOR_SDK_VERSION
  versions/TENSORFLOW_C_VERSION
Labels: priority/low, size/L

#382 Update PULL_REQUEST_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE.md
Labels: priority/low, size/S, team/sre, type/ci, type/documentation

#383 ✨ Add topology spread constraints
  charts/vald/templates/agent/daemonset.yaml
  charts/vald/templates/agent/deployment.yaml
  charts/vald/templates/agent/statefulset.yaml
  charts/vald/templates/discoverer/daemonset.yaml
  charts/vald/templates/discoverer/deployment.yaml
  charts/vald/templates/gateway/vald/daemonset.yaml
  charts/vald/templates/gateway/vald/deployment.yaml
  charts/vald/templates/manager/backup/daemonset.yaml
  charts/vald/templates/manager/backup/deployment.yaml
  charts/vald/templates/manager/compressor/daemonset.yaml
  charts/vald/templates/manager/compressor/deployment.yaml
  charts/vald/templates/manager/index/daemonset.yaml
  charts/vald/templates/manager/index/deployment.yaml
  charts/vald/templates/meta/daemonset.yaml
  charts/vald/templates/meta/deployment.yaml
  charts/vald/values.yaml
  docs/guides/configurations.md
  go.mod
  go.sum
Labels: area/helm, priority/medium, size/S, type/feature

#384 Fix example/values-scylla.yaml typo
  example/helm/values-scylla.yaml
Labels: priority/medium, size/S, type/bug

#385 [patch] add agent auto save indexing feature
  charts/vald/values.yaml
  go.mod
  go.sum
  hack/benchmark/e2e/agent/ngt/ngt_bench_test.go
  hack/go.mod.default
  internal/client/agent/grpc/client.go
  internal/client/agent/grpc/client_test.go
  internal/client/agent/grpc/option.go
  internal/client/agent/grpc/option_test.go
  internal/client/agent/rest/client.go
  internal/client/agent/rest/client_test.go
  internal/client/agent/rest/option.go
  internal/client/agent/rest/option_test.go
  internal/config/ngt.go
  internal/core/ngt/ngt.go
  internal/core/ngt/option.go
  pkg/agent/ngt/service/ngt.go
  pkg/manager/index/service/indexer.go
  versions/NGT_VERSION
Labels: area/agent, area/helm, area/internal, area/manager/index, priority/medium, size/L, team/set, type/feature

#386 Update PULL_REQUEST_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE.md
  charts/vald/README.md
  charts/vald/README.md.gotmpl
Labels: area/helm, priority/low, size/S, team/sre, type/ci, type/documentation

#388 ✨ Add internal/db/storage/blob
  internal/config/blob.go
  internal/db/storage/blob/blob.go
  internal/db/storage/blob/blob_test.go
  internal/db/storage/blob/option.go
  internal/db/storage/blob/s3/option.go
  internal/db/storage/blob/s3/s3.go
Labels: area/internal, priority/medium, size/L, team/set, type/feature

#379 ✨ Add gen-test command for chatops
  .github/chatops_permissions.yaml
  .github/workflows/chatops.yml
  Makefile
  Makefile.d/functions.mk
  Makefile.d/test.mk
  go.mod
  go.sum
Labels: area/makefile, priority/low, size/L, team/sre, type/ci

#389 ✨ add trace spans and metrics for agent-ngt and index-manager
  charts/vald/values.yaml
  go.mod
  go.sum
  internal/config/ngt.go
  internal/observability/metrics/agent/ngt/ngt.go
  pkg/agent/ngt/handler/grpc/handler.go
  pkg/agent/ngt/service/ngt.go
  pkg/agent/ngt/service/ngt_test.go
  pkg/manager/index/service/indexer.go
Labels: area/agent, area/helm, area/internal, area/manager/index, priority/medium, size/L, team/set, type/feature

#373 Vald contacts document
  docs/user/contacts.md
Labels: priority/low, size/M, status/author-review, team/sre, type/ci, type/documentation

#397 🗺 Add app.kubernetes.io/xxx labels to all resources
  charts/vald/templates/agent/configmap.yaml
  charts/vald/templates/agent/daemonset.yaml
  charts/vald/templates/agent/deployment.yaml
  charts/vald/templates/agent/hpa.yaml
  charts/vald/templates/agent/pdb.yaml
  charts/vald/templates/agent/priorityclass.yaml
  charts/vald/templates/agent/statefulset.yaml
  charts/vald/templates/agent/svc.yaml
  charts/vald/templates/discoverer/clusterrole.yaml
  charts/vald/templates/discoverer/clusterrolebinding.yaml
  charts/vald/templates/discoverer/configmap.yaml
  charts/vald/templates/discoverer/daemonset.yaml
  charts/vald/templates/discoverer/deployment.yaml
  charts/vald/templates/discoverer/hpa.yaml
  charts/vald/templates/discoverer/pdb.yaml
  charts/vald/templates/discoverer/priorityclass.yaml
  charts/vald/templates/discoverer/serviceaccount.yaml
  charts/vald/templates/discoverer/svc.yaml
  charts/vald/templates/gateway/vald/configmap.yaml
  charts/vald/templates/gateway/vald/daemonset.yaml
  charts/vald/templates/gateway/vald/deployment.yaml
  charts/vald/templates/gateway/vald/hpa.yaml
  charts/vald/templates/gateway/vald/ing.yaml
  charts/vald/templates/gateway/vald/pdb.yaml
  charts/vald/templates/gateway/vald/priorityclass.yaml
  charts/vald/templates/gateway/vald/svc.yaml
  charts/vald/templates/manager/backup/configmap.yaml
  charts/vald/templates/manager/backup/daemonset.yaml
  charts/vald/templates/manager/backup/deployment.yaml
  charts/vald/templates/manager/backup/hpa.yaml
  charts/vald/templates/manager/backup/pdb.yaml
  charts/vald/templates/manager/backup/priorityclass.yaml
  charts/vald/templates/manager/backup/svc.yaml
  charts/vald/templates/manager/compressor/configmap.yaml
  charts/vald/templates/manager/compressor/daemonset.yaml
  charts/vald/templates/manager/compressor/deployment.yaml
  charts/vald/templates/manager/compressor/hpa.yaml
  charts/vald/templates/manager/compressor/pdb.yaml
  charts/vald/templates/manager/compressor/priorityclass.yaml
  charts/vald/templates/manager/compressor/svc.yaml
  charts/vald/templates/manager/index/configmap.yaml
  charts/vald/templates/manager/index/daemonset.yaml
  charts/vald/templates/manager/index/deployment.yaml
  charts/vald/templates/manager/index/pdb.yaml
  charts/vald/templates/manager/index/priorityclass.yaml
  charts/vald/templates/manager/index/svc.yaml
  charts/vald/templates/meta/configmap.yaml
  charts/vald/templates/meta/daemonset.yaml
  charts/vald/templates/meta/deployment.yaml
  charts/vald/templates/meta/hpa.yaml
  charts/vald/templates/meta/pdb.yaml
  charts/vald/templates/meta/priorityclass.yaml
  charts/vald/templates/meta/svc.yaml
  example/helm/values-scylla.yaml
  k8s/external/scylla/statefulset.yaml
Labels: area/helm, priority/low, size/S, type/refactoring

#399 ⬆️ Upgrade tools version
  .github/workflows/semver.yml
  Makefile
  Makefile.d/helm.mk
  charts/vald/values.yaml
Labels: area/helm, area/makefile, priority/low, size/S, team/sre, type/ci

#402 ⬆️ Upgrade Operator SDK version / Remove useless GO111MODULE=off
  Makefile.d/proto.mk
  go.mod
  go.sum
  hack/go.mod.default
  versions/OPERATOR_SDK_VERSION
Labels: area/makefile, priority/low, size/L, team/sre, type/ci

#406 Revise ChatOps not to add go.mod & go.sum when /format runs
  .github/workflows/chatops.yml
Labels: priority/low, size/S, team/sre, type/ci

#365 ✨ Add JSON schema for Vald Helm Chart
  .github/workflows/helm-lint.yml
  .github/workflows/semver.yml
  Makefile.d/helm.mk
  charts/vald-helm-operator/values.schema.json
  charts/vald-helm-operator/values.yaml
  charts/vald/values.schema.json
  charts/vald/values.yaml
  hack/helm/schema/gen/main.go
  versions/OPERATOR_SDK_VERSION
Labels: area/helm, area/makefile, priority/low, size/L, team/sre, type/ci, type/documentation

#366 Vald architecture document
  CONTRIBUTORS
  README.md
  assets/docs/insert_flow.drawio
  assets/docs/insert_flow.svg
  assets/docs/search_flow.drawio
  assets/docs/search_flow.svg
  assets/docs/vector_data_space_explain.drawio
  assets/docs/vector_data_space_explain.svg
  docs/overview/architecture.md
Labels: area/helm, area/makefile, priority/low, size/L, status/author-review, team/sre, type/ci, type/documentation

#374 Documentation: About vald
  README.md
  docs/overview/about.md
Labels: priority/low, size/L, status/author-review, type/documentation

#412 Update Operator SDK version
  versions/OPERATOR_SDK_VERSION
Labels: priority/low, size/S, type/ci
