Repository vdaas/vald, pull requests merged in 2020-06, with the labels that each got.

#429 Fix: improve discoverer function
  internal/client/discoverer/discover.go
Labels: area/internal, priority/medium, size/S, type/bug

#430 Separate the component section from architecture doc
  docs/overview/architecture.md
  docs/overview/component/index.md
Labels: priority/low, size/L, type/documentation

#428 Remove AUTHORS/CONTRIBUTORS file
  .all-contributorsrc
  .github/workflows/chatops.yml
  AUTHORS
  CONTRIBUTORS
  Makefile
  README.md
Labels: area/makefile, priority/low, size/M, team/sre, type/ci, type/refactoring

#431 Fix structure of grpc java package
  apis/proto/gateway/vald/vald.proto
Labels: priority/low, size/S, type/refactoring

#435 💚 send PR when K8s manifests are updated
  .github/workflows/helm.yml
Labels: priority/low, size/S, team/sre, type/ci, type/refactoring

#436 ✏️ Fix wrong name field on agent sidecar svc
  charts/vald/values.yaml
Labels: area/helm, priority/medium, size/S, type/bug

#405 Example program: Add indexing interval description & fix logging message
  example/client/main.go
  example/helm/values-scylla.yaml
Labels: priority/medium, size/S, type/bug

#437 🍱 update architecture overview svg to add agent sidecar
  design/Vald Future Architecture Overview.svg
Labels: priority/low, size/S, type/documentation

#378 tensorflow test
  internal/core/converter/tensorflow/option.go
  internal/core/converter/tensorflow/option_test.go
  internal/core/converter/tensorflow/tensorflow.go
  internal/core/converter/tensorflow/tensorflow_mock_test.go
  internal/core/converter/tensorflow/tensorflow_test.go
Labels: area/internal, priority/low, size/XXL, status/author-review, type/test

#440 🐛 Add gRPC interceptor to recover panic in handlers
  .all-contributorsrc
  internal/db/storage/blob/s3/s3_test.go
  internal/net/grpc/interceptor.go
  internal/net/grpc/stream.go
  internal/safety/safety.go
  internal/servers/server/option.go
  pkg/agent/core/ngt/usecase/agentd.go
  pkg/agent/sidecar/handler/grpc/handler_test.go
  pkg/agent/sidecar/usecase/initcontainer/initcontainer.go
  pkg/agent/sidecar/usecase/initcontainer/initcontainer_test.go
  pkg/agent/sidecar/usecase/sidecar/sidecar.go
  pkg/agent/sidecar/usecase/sidecar/sidecar_test.go
  pkg/discoverer/k8s/usecase/discovered.go
  pkg/gateway/vald/usecase/vald.go
  pkg/manager/backup/cassandra/usecase/backupd.go
  pkg/manager/backup/mysql/usecase/backupd.go
  pkg/manager/compressor/usecase/compressord.go
  pkg/manager/index/usecase/indexer.go
  pkg/manager/replication/agent/usecase/backupd.go
  pkg/manager/replication/controller/usecase/discovered.go
  pkg/meta/cassandra/usecase/meta.go
  pkg/meta/redis/usecase/meta.go
Labels: area/agent/core, area/agent/sidecar, area/discoverer, area/gateway, area/internal, area/manager/backup, area/manager/index, area/manager/replication, area/meta, priority/medium, size/L, type/bug

#407 Document to deploy standalone agent
  docs/user/get-started.md
  example/client/agent/main.go
  example/helm/values-standalone-agent-ngt.yaml
Labels: priority/low, size/XL, type/documentation

#441 [Document] Apply design template to flow diagram
  assets/docs/insert_flow.drawio
  assets/docs/insert_flow.svg
  assets/docs/search_flow.drawio
  assets/docs/search_flow.svg
  docs/overview/architecture.md
Labels: priority/low, size/S, type/documentation

#442 Fix inconsistent wording
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/update_pull_request_and_issue_template.yml
  README.md
  charts/vald-helm-operator/README.md
  charts/vald-helm-operator/values.yaml
  charts/vald/README.md
  charts/vald/README.md.gotmpl
  docs/developer/style.md
  docs/guides/configurations.md
  docs/overview/about.md
Labels: area/helm, priority/low, size/M, team/sre, type/ci, type/documentation

#447 Add changelog command (ChatOps)
  .github/chatops_permissions.yaml
  .github/workflows/chatops.yml
  .github/workflows/semver.yml
  CHANGELOG.md
  Makefile
  example/helm/values-standalone-agent-ngt.yaml
  hack/CHANGELOG.template.md
Labels: area/makefile, priority/low, size/L, team/sre, type/ci

#444 Restructure document folder structure
  README.md
  docs/contributing/coding-style.md
  docs/overview/about-vald.md
  docs/support/contacts.md
  docs/tutorial/get-started.md
  docs/user-guides/configuration.md
Labels: area/helm, priority/low, size/S, team/sre, type/ci, type/documentation

#448 🐛 Fix bug on changelog command
  .github/workflows/chatops.yml
Labels: priority/low, size/S, team/sre, type/ci

#449 add loadtest job and container
  .github/labeler.yml
  .github/workflows/dockers-loadtest-image.yml
  Makefile
  Makefile.d/docker.mk
  README.md
  cmd/tools/cli/loadtest/main.go
  cmd/tools/cli/loadtest/sample.yaml
  cmd/tools/cli/vdctl/main.go
  dockers/base/Dockerfile
  dockers/tools/cli/loadtest/Dockerfile
  k8s/tools/cli/loadtest/configmap.yaml
  k8s/tools/cli/loadtest/cronjob.yaml
  k8s/tools/cli/loadtest/job.yaml
Labels: area/makefile, area/tools/cli/loadtest, priority/medium, size/L, team/sre, type/ci, type/feature

#450 Fix a bug on /changelog command
  .github/workflows/chatops.yml
  .github/workflows/semver.yml
Labels: priority/low, size/S, team/sre, type/ci

#451 bugfix change final stage of loadtest
  dockers/tools/cli/loadtest/Dockerfile
Labels: priority/medium, size/S, type/bug

#453 Fix k8s manifests for loadtest jobs
  k8s/tools/cli/loadtest/cronjob.yaml
  k8s/tools/cli/loadtest/job.yaml
Labels: priority/medium, size/S, type/bug

#454 Add WithOperation func to loadtest usecase
  pkg/tools/cli/loadtest/usecase/load.go
Labels: area/tools/cli/loadtest, priority/medium, size/M, type/bug

#452 Fix test template bug
  assets/test/templates/common/function.tmpl
  assets/test/templates/option/function.tmpl
Labels: priority/medium, size/S, type/bug

#456 fix document and added png images
  assets/docs/insert_flow.png
  assets/docs/search_flow.png
  design/vald_architecture_overview.png
  docs/contributing/coding-style.md
  docs/contributing/contributing-guide.md
  docs/overview/about-vald.md
  docs/overview/architecture.md
  docs/tutorial/get-started.md
  docs/user-guides/configuration.md
Labels: priority/low, size/M, type/documentation

#455 Fix internal/log/level pacakge test
  internal/log/level/level_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#438 [patch] Documentation: add concept section to the architecture document
  docs/overview/architecture.md
Labels: priority/low, size/M, status/author-review, type/documentation

#459 trim white margin from data flow images
  assets/docs/insert_flow.drawio
  assets/docs/insert_flow.png
  assets/docs/search_flow.drawio
  assets/docs/search_flow.png
Labels: priority/low, size/S, status/in-review, team/set, type/documentation

#458 Fix `internal/log/retry` pacakge
  internal/log/retry/option_test.go
  internal/log/retry/retry.go
  internal/log/retry/retry_test.go
Labels: area/internal, priority/low, size/XL, team/set, type/test

#465 Fix /format command
  .github/workflows/chatops.yml
Labels: priority/low, size/S, team/sre, type/ci

#460 ✨ Add options for AWS client
  charts/vald/values.yaml
  cmd/tools/cli/loadtest/main_test.go
  cmd/tools/cli/vdctl/main_test.go
  go.mod
  go.sum
  internal/config/blob.go
  internal/config/blob_test.go
  internal/db/storage/blob/s3/option.go
  internal/db/storage/blob/s3/option_test.go
  internal/db/storage/blob/s3/s3.go
  internal/db/storage/blob/s3/s3_test.go
  internal/db/storage/blob/s3/session/option.go
  internal/db/storage/blob/s3/session/option_test.go
  internal/db/storage/blob/s3/session/session.go
  internal/db/storage/blob/s3/session/session_test.go
  internal/db/storage/blob/s3/writer/writer.go
  internal/errors/unit.go
  internal/unit/unit.go
  internal/unit/unit_test.go
  pkg/agent/sidecar/service/storage/option.go
  pkg/agent/sidecar/service/storage/option_test.go
  pkg/agent/sidecar/service/storage/storage.go
  pkg/agent/sidecar/service/storage/storage_test.go
  pkg/agent/sidecar/usecase/initcontainer/initcontainer.go
  pkg/agent/sidecar/usecase/initcontainer/initcontainer_test.go
  pkg/agent/sidecar/usecase/sidecar/sidecar.go
  pkg/agent/sidecar/usecase/sidecar/sidecar_test.go
Labels: area/agent/sidecar, area/helm, area/internal, area/tools/cli/loadtest, priority/medium, size/XXL, team/set, type/feature

#468 Fix failing the test of `internal/backoff`
  internal/backoff/backoff_test.go
Labels: area/internal, priority/low, size/S, team/set, type/test

#469 Fix failing the test of `internal/net/middleware`
  internal/net/http/middleware/timeout_test.go
Labels: area/internal, priority/low, size/S, team/set, type/test

#470 💚 Fix /changelog command format
  .github/workflows/chatops.yml
Labels: priority/low, size/S, team/sre, type/ci

#471 fix invalid link
  docs/contributing/coding-style.md
Labels: priority/low, size/S, type/documentation

#473 internal/db/storage/blob/s3: remove ctx from struct
  .github/workflows/dockers-agent-sidecar-image.yml
  internal/db/storage/blob/s3/writer/writer.go
  internal/db/storage/blob/s3/writer/writer_test.go
Labels: area/internal, priority/low, size/M, team/set, team/sre, type/ci, type/refactoring

#475 send a request to GoProxy after new version is published
  .github/workflows/semver.yml
Labels: priority/low, size/S, team/sre, type/ci

#464 Fix failed test case of internal/safety package
  docs/contributing/coding-style.md
  internal/safety/safety_test.go
Labels: area/internal, priority/low, size/L, status/author-review, team/set, type/test

#477 AWS region can be specified with empty string
  internal/db/storage/blob/s3/session/session.go
Labels: area/internal, priority/low, size/S, type/refactoring

#474 Add `internal/params` pacakge test
  docs/contributing/coding-style.md
  internal/params/option.go
  internal/params/option_test.go
  internal/params/params.go
  internal/params/params_test.go
Labels: area/internal, priority/low, size/XXL, team/set, type/test

#486 Add CodeQL workflow instead of LGTM.com
  .github/workflows/codeql-analysis.yml
  Makefile
Labels: area/makefile, priority/low, size/S, team/sre, type/ci

#495 Revise triggers of workflow run & Fix reading changelogs from PR comments
  .github/workflows/codeql-analysis.yml
  .github/workflows/detect-internal-config-changes.yml
  .github/workflows/dockers-agent-ngt-image.yml
  .github/workflows/dockers-agent-sidecar-image.yml
  .github/workflows/dockers-backup-manager-cassandra-image.yml
  .github/workflows/dockers-backup-manager-mysql-image.yml
  .github/workflows/dockers-discoverer-k8s-image.yml
  .github/workflows/dockers-gateway-vald-image.yml
  .github/workflows/dockers-loadtest-image.yml
  .github/workflows/dockers-manager-compressor-image.yml
  .github/workflows/dockers-manager-index-image.yml
  .github/workflows/dockers-meta-cassandra-image.yml
  .github/workflows/dockers-meta-redis-image.yml
  .github/workflows/e2e-bench-agent.yml
  .github/workflows/reviewdog.yml
  .github/workflows/semver.yml
Labels: priority/low, size/S, team/sre, type/ci

#494 Added test case for `internal/errorgroup`
  internal/errgroup/group_test.go
Labels: area/internal, priority/low, size/XL, team/set, type/test

#500 Feature/drawio
  design/Vald Architecture Assets.drawio
  design/Vald Architecture Dataflow.drawio
Labels: priority/medium, size/S, type/feature

#508 Fix roundtrip error handling
  internal/net/http/transport/roundtrip.go
Labels: area/internal, priority/medium, size/S, type/bug

#509 [patch] Revise S3 reader/writer: compatible with IBM Cloud Object Storage
  charts/vald/values.yaml
  internal/config/blob.go
  internal/config/sidecar.go
  internal/db/storage/blob/s3/option.go
  internal/db/storage/blob/s3/reader/option.go
  internal/db/storage/blob/s3/reader/reader.go
  internal/db/storage/blob/s3/s3.go
  internal/db/storage/blob/s3/writer/option.go
  internal/db/storage/blob/s3/writer/writer.go
  internal/errors/io.go
  internal/io/io.go
  pkg/agent/sidecar/service/observer/observer.go
  pkg/agent/sidecar/service/restorer/option.go
  pkg/agent/sidecar/service/restorer/restorer.go
  pkg/agent/sidecar/usecase/initcontainer/initcontainer.go
  pkg/agent/sidecar/usecase/sidecar/sidecar.go
Labels: area/agent/sidecar, area/helm, area/internal, priority/medium, size/L, status/draft, type/feature

#515 Added test case for `internal/unit` pacakge
  internal/unit/unit_test.go
Labels: area/internal, priority/low, size/M, team/set, type/test

#505 Add `internal/runner` test
  internal/runner/option_test.go
  internal/runner/runner.go
  internal/runner/runner_mock_test.go
  internal/runner/runner_test.go
Labels: area/internal, priority/low, size/XXL, team/set, type/test

#514 Added test case for `internal/info` pacakge.
  go.mod
  go.sum
  internal/info/info.go
  internal/info/info_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test
