Repository vdaas/vald, pull requests merged in 2021-12, with the labels that each got.

#1501 Update dependencies version
  apis/docs/v1/docs.md
  charts/vald/values.go
  go.mod
  go.sum
  hack/benchmark/internal/operation/operation.go
  hack/go.mod.default
  internal/config/ngt.go
  internal/core/algorithm/ngt/ngt_test.go
  internal/core/algorithm/ngt/option_test.go
  internal/log/retry/retry.go
  pkg/agent/sidecar/service/storage/storage.go
  tests/e2e/operation/operation.go
  versions/GO_VERSION
  versions/NGT_VERSION
  versions/OPERATOR_SDK_VERSION
Labels: team/set, type/dependency, priority/low, area/internal, size/XXL, area/helm, area/agent/sidecar, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling

#1503 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: team/sre, priority/low, type/documentation, size/S, type/ci

#1504 add NGT linear search API
  internal/core/algorithm/ngt/ngt.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/ngt_test.go
Labels: team/set, type/feature, priority/medium, area/internal, size/XL, area/agent/core

#1500 Implement internal/net/control test
  internal/net/control/control.go
  internal/net/control/control_test.go
Labels: team/set, type/test, priority/low, area/internal, size/XL

#1502 Implement internal/net/grpc/credentials and health test
  internal/net/grpc/credentials/credentials.go
  internal/net/grpc/credentials/credentials_test.go
  internal/net/grpc/health/health.go
  internal/net/grpc/health/health_test.go
Labels: team/set, type/test, priority/low, size/M, area/internal

#1508 Fix test generate command example
  docs/contributing/coding-style.md
Labels: priority/low, type/documentation, size/S

#1505 Implement internal/net net.go&dialer.go test
  internal/net/dialer_test.go
  internal/net/net.go
  internal/net/net_test.go
Labels: team/set, type/test, priority/low, area/internal, size/XL

#1509 implement and modify internal/io tests
  internal/io/copy_test.go
  internal/io/io_test.go
  internal/io/ioutil/ioutil_test.go
Labels: team/set, type/test, priority/low, area/internal, size/XXL

#1514 Update license headers / Format codes
  .gitattributes
Labels: priority/low, size/S

#1515 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: team/sre, priority/low, type/documentation, size/S, type/ci

#1507 Implement internal/net/grpc metrics & proto & types test
  internal/net/grpc/metric/client.go
  internal/net/grpc/metric/client_test.go
  internal/net/grpc/metric/server.go
  internal/net/grpc/metric/server_test.go
  internal/net/grpc/proto/proto.go
  internal/net/grpc/proto/proto_test.go
  internal/net/grpc/types/types.go
  internal/net/grpc/types/types_test.go
Labels: team/set, type/test, priority/low, size/L, area/internal

#1510 update get started with using kubernetes ingress
  docs/tutorial/get-started.md
  example/client/go.mod
  example/client/go.sum
  example/client/main.go
  example/helm/values.yaml
Labels: team/set, priority/low, type/documentation, area/internal, size/XL

#1516 add insert api document
  docs/api/README.md
  docs/api/insert.md
Labels: priority/low, type/documentation, size/L
