Repository vdaas/vald, pull requests merged in 2021-08, with the labels that each got.

#1368 fix build failure on arm cpu due to the xxh3 dependency version
  go.mod
  go.sum
  hack/go.mod.default
Labels: priority/medium, size/S, type/bug

#1369 Update license headers / Format codes
  internal/config/client_test.go
Labels: area/internal, priority/low, size/S, team/set

#1370 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/crds/valdrelease.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, size/S, type/documentation

#1371 replace invalid gateway component reference from chart.NOTES
  charts/vald/templates/NOTES.txt
Labels: area/helm, priority/medium, size/S, type/bug

#1375 fix svg error on dataflow image
  assets/docs/overview/dataflow_v2.drawio
  assets/docs/overview/delete_flow_v2.svg
  assets/docs/overview/insert_flow_v2.svg
  assets/docs/overview/search_flow_v2.svg
  assets/docs/overview/update_flow_v2.svg
  assets/docs/overview/upsert_flow_v2.svg
Labels: priority/low, size/S, type/documentation

#1356 Add e2e-profiling job
  .github/helm/values/values-profile.yaml
  .github/workflows/e2e-profiling.yml
Labels: actions/e2e-profiling, priority/low, size/S, team/sre, type/ci

#1377 [Documentation] fix image filename
  README.md
  assets/docs/overview/Vald Basic Architecture.svg
  assets/docs/overview/vald_basic_architecture.svg
  assets/image/svg/Vald Architecture Overview.svg
  assets/image/svg/vald_architecture_overview.svg
  assets/image/svg/vald_architecture_overview_full.svg
  docs/overview/architecture.md
  docs/overview/data-flow.md
Labels: priority/low, type/documentation, size/S

#1383 [CI] Fix formatter ci fail
  Makefile
Labels: team/sre, priority/low, size/S, type/ci, area/makefile

#1382 Add test for the function to get length of vqueue
  pkg/agent/core/ngt/service/vqueue/queue.go
  pkg/agent/core/ngt/service/vqueue/queue_test.go
Labels: team/set, type/test, priority/low, size/XL, area/agent/core, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling

#1376 refactor gateway request result location aggregation logic & use xxh3 for kvsdb hashing
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/values.schema.json
  charts/vald/values.yaml
  go.mod
  go.sum
  internal/config/ngt.go
  internal/config/ngt_test.go
  internal/io/copy.go
  k8s/agent/configmap.yaml
  pkg/agent/core/ngt/config/config_test.go
  pkg/agent/core/ngt/handler/grpc/option_test.go
  pkg/agent/core/ngt/service/kvs/kvs.go
  pkg/agent/core/ngt/service/kvs/kvs_test.go
  pkg/agent/core/ngt/service/kvs/option.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/gateway/internal/location/location.go
  pkg/gateway/lb/handler/grpc/handler.go
Labels: team/set, priority/low, type/refactoring, size/L, area/internal, area/helm, area/agent/core, area/gateway/lb, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling

#1337 [proposal] add golines as vald default formatter
  .github/workflows/chatops.yml
  Makefile
  docs/contributing/coding-style.md
  hack/git/hooks/pre-commit
Labels: team/sre, priority/low, size/S, type/ci, area/makefile

#1389 format codes
  Makefile
  hack/benchmark/internal/db/nosql/cassandra/cassandra_test.go
  hack/git/hooks/pre-commit
  hack/helm/schema/crd/main.go
  internal/config/backoff.go
  internal/config/cassandra.go
  internal/config/client.go
  internal/config/discoverer.go
  internal/config/filter.go
  internal/config/grpc.go
  internal/config/log.go
  internal/config/meta.go
  internal/config/mysql.go
  internal/config/net.go
  internal/config/observability.go
  internal/config/redis.go
  internal/config/server.go
  internal/config/tensorflow.go
  internal/config/transport.go
  internal/db/nosql/cassandra/option_test.go
  internal/info/info.go
  internal/net/grpc/errdetails/errdetails.go
  internal/net/grpc/interceptor/server/logging/accesslog.go
  pkg/agent/internal/metadata/metadata.go
  pkg/discoverer/k8s/handler/grpc/handler.go
  pkg/gateway/filter/handler/grpc/handler.go
  pkg/tools/cli/loadtest/assets/large_dataset_test.go
  pkg/tools/cli/loadtest/config/config.go
  tests/e2e/operation/operation.go
  tests/e2e/operation/stream.go
Labels: team/set, team/sre, priority/low, type/refactoring, area/discoverer, area/internal, size/XL, area/makefile, area/tools/cli/loadtest, area/gateway/filter

#1391 add Makefile & Makefile.d to build kick rule
  .github/workflows/dockers-ci-container-image.yml
Labels: type/bug, team/sre, priority/medium, size/S, type/ci

#1393 fix command in vald agent standalone on docker
  docs/tutorial/vald-agent-standalone-on-docker.md
Labels: priority/low, type/documentation, size/S

#1397 fix e2e multi apis test code
  tests/e2e/operation/multi.go
Labels: type/bug, priority/medium, size/S, actions/e2e-deploy, actions/e2e-chaos

#1394 add google grpc healthz & logger
  go.mod
  go.sum
  internal/config/server.go
  internal/config/server_test.go
  internal/net/grpc/client.go
  internal/net/grpc/health/health.go
  internal/net/grpc/logger/logger.go
  internal/servers/server/server.go
Labels: team/set, type/feature, priority/medium, size/L, area/internal, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling

#1398 remove global errgroup from kvsdb goroutine limitation
  pkg/agent/core/ngt/service/kvs/kvs.go
  pkg/agent/core/ngt/service/kvs/option.go
  pkg/agent/core/ngt/service/ngt.go
Labels: type/bug, priority/medium, size/S, area/agent/core, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling

#1399 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/crds/valdrelease.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, type/documentation, size/S

#1402 change security context uid to distroless nonroot uid
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/values.schema.json
  charts/vald/values.yaml
  k8s/agent/statefulset.yaml
  k8s/discoverer/deployment.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/manager/index/deployment.yaml
  k8s/operator/helm/crds/valdrelease.yaml
Labels: priority/low, type/refactoring, size/S, area/helm, actions/e2e-deploy

#1406 Remove schema of security contexts
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/README.md
  charts/vald/values.schema.json
  charts/vald/values.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/operator/helm/crds/valdrelease.yaml
Labels: priority/low, size/S, area/helm

#1405 refactor grpc logging and use os.PathSeparator instead of /
  internal/file/file.go
  internal/net/grpc/logger/logger.go
  internal/servers/server/server.go
  internal/test/testdata.go
  pkg/agent/core/ngt/service/option.go
  pkg/tools/cli/loadtest/assets/dataset.go
Labels: priority/low, type/refactoring, size/M, area/internal, area/agent/core, area/tools/cli/loadtest

#1408 Fix watcher test for fsnotify v1.5 update
  internal/file/watch/watch_test.go
Labels: team/set, type/test, priority/low, area/internal, size/XL

#1404 update go version to 1.17 and update go module dependencies
  .github/workflows/build-binaries.yml
  .github/workflows/build-protobuf.yml
  .github/workflows/chatops.yml
  .github/workflows/coverage.yml
  .github/workflows/e2e-bench-agent.yml
  .github/workflows/e2e-chaos.yaml
  .github/workflows/e2e-deploy.yml
  .github/workflows/e2e-profiling.yml
  .github/workflows/format.yml
  .github/workflows/fossa.yml
  .github/workflows/helm-lint.yml
  .github/workflows/helm.yml
  .github/workflows/reviewdog-k8s.yml
  .github/workflows/reviewdog.yml
  .github/workflows/semver.yml
  .github/workflows/test-hack.yml
  .github/workflows/test.yml
  Makefile
  Makefile.d/bench.mk
  Makefile.d/functions.mk
  Makefile.d/helm.mk
  Makefile.d/test.mk
  go.mod
  go.sum
  hack/go.mod.default
  internal/file/watch/watch_test.go
  internal/net/control/control_darwin.go
  internal/net/control/control_other.go
  internal/net/control/control_unix.go
  internal/net/control/control_windows.go
  tests/e2e/crud/crud_test.go
  tests/e2e/hdf5/hdf5.go
  tests/e2e/kubernetes/client/client.go
  tests/e2e/kubernetes/portforward/portforward.go
  tests/e2e/multiapis/multiapis_test.go
  tests/e2e/operation/doc.go
  tests/e2e/operation/multi.go
  tests/e2e/operation/operation.go
  tests/e2e/operation/stream.go
  tests/e2e/sidecar/sidecar_test.go
  versions/GO_VERSION
Labels: team/set, team/sre, type/dependency, priority/high, type/refactoring, status/in-review, area/internal, type/ci, size/XL, area/makefile, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, dependencies, actions/e2e-profiling

#1409 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/format.yml
  .github/workflows/semver.yml
  README.md
Labels: team/sre, priority/low, type/documentation, size/S, type/ci

#1412 [bugfix] resolve errgroup limitation channel close panic
  .github/workflows/format.yml
  Makefile
  hack/git/hooks/pre-commit
  internal/errgroup/group.go
  pkg/agent/core/ngt/service/ngt.go
Labels: type/bug, team/sre, priority/high, size/M, area/internal, type/ci, area/makefile, area/agent/core, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling

#1413 [bugfix] downgrade cloud.google.com/go to resolve runtime panic
  Makefile.d/build.mk
  go.mod
  go.sum
  hack/go.mod.default
Labels: type/bug, team/sre, priority/medium, size/M, area/makefile, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling

#1414 Added time validation logic to RangePopXXX functions
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/vqueue/queue.go
Labels: priority/low, type/refactoring, size/M, size/XXL, area/agent/core

#1401 Add stateful PBT for vqueue
  go.mod
  go.sum
  pkg/agent/core/ngt/service/vqueue/stateful_test.go
Labels: type/bug, team/set, priority/medium, size/XXL, area/agent/core

#1421 change default epsilon value to 0.1 from 0.0.1
  charts/vald/README.md
  charts/vald/values.yaml
  cmd/agent/core/ngt/sample.yaml
  docs/tutorial/get-started.md
  docs/tutorial/vald-agent-standalone-on-k8s.md
  example/client/agent/main.go
  example/client/main.go
  hack/benchmark/core/gongt/gongt_bench_test.go
  hack/benchmark/core/ngt/ngt_bench_test.go
  hack/benchmark/internal/e2e/strategy/search_option.go
  internal/core/algorithm/ngt/ngt_test.go
  internal/core/algorithm/ngt/option.go
  k8s/agent/configmap.yaml
  tests/e2e/operation/stream.go
Labels: team/set, priority/low, type/refactoring, size/M, area/internal, area/helm, area/agent/core

#1423 Update license headers / Format codes
  example/client/agent/main.go
  example/client/main.go
Labels: priority/low, size/S

#1422 Upgrade Operator-SDK to v1.11.0
  versions/OPERATOR_SDK_VERSION
Labels: priority/low, size/S, type/ci

#1420 Add LB gateway dashboard
  k8s/metrics/grafana/dashboards/08-vald-lb-gateway.yaml
  k8s/metrics/grafana/deployment.yaml
Labels: type/feature, priority/medium, size/S

#1424 add default logger when logger not initialized
  internal/log/log.go
Labels: type/feature, priority/medium, size/M, area/internal, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling
