Repository vdaas/vald, pull requests merged in 2021-09, with the labels that each got.

#1426 Update license headers / Format codes
  internal/log/log.go
Labels: priority/low, size/S, area/internal

#1384 Add stateful PBT for NGT service
  pkg/agent/core/ngt/service/ngt_stateful_test.go
Labels: team/set, type/test, priority/low, size/XXL, area/agent/core

#1428 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/crds/valdrelease.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, type/documentation, size/S

#1425 Add vqueue test for Exists and GetVector method
  pkg/agent/core/ngt/service/vqueue/queue.go
  pkg/agent/core/ngt/service/vqueue/queue_test.go
Labels: team/set, type/test, priority/low, area/internal, size/XXL, area/agent/core

#1380 Fix golangci-lint rule
  .golangci.yml
Labels: team/set, type/test, priority/low, size/S, area/internal

#1435 Change golangci-lint version to the latest and Fix docker build error
  .github/workflows/dockers-agent-ngt-image.yml
  dockers/agent/core/ngt/Dockerfile
  dockers/ci/base/Dockerfile
  dockers/dev/Dockerfile
Labels: team/sre, priority/low, size/S, type/ci

#1440 Remove not existing components from build.mk
  Makefile.d/build.mk
Labels: team/sre, priority/low, size/S, area/makefile

#1441 Fix icon image path in Chart.yaml
  .github/workflows/helm-lint.yml
  charts/vald-helm-operator/Chart.yaml
  charts/vald/Chart.yaml
Labels: team/sre, priority/low, size/S, type/ci, area/helm

#1442 Add tools.mk for installing CI tools
  Makefile
  Makefile.d/tools.mk
  dockers/ci/base/Dockerfile
  dockers/dev/Dockerfile
Labels: team/sre, priority/low, type/refactoring, size/L, area/makefile

#1439 [bugfix] fix unknown status problems in search operation
  .github/workflows/e2e-chaos.yaml
  .github/workflows/e2e-deploy.yml
  .github/workflows/e2e-profiling.yml
  .golangci.yml
  Makefile.d/functions.mk
  internal/core/algorithm/ngt/ngt.go
  internal/core/algorithm/ngt/ngt_test.go
  internal/errgroup/group.go
  internal/errors/lb.go
  internal/errors/ngt.go
  internal/errors/ngt_test.go
  internal/net/grpc/status/status.go
  internal/net/grpc/status/status_test.go
  pkg/agent/core/ngt/handler/grpc/handler.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/ngt_stateful_test.go
  pkg/gateway/lb/handler/grpc/handler.go
Labels: type/bug, team/set, team/sre, priority/medium, size/L, area/internal, type/ci, area/makefile, area/agent/core, area/gateway/lb, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling

#1445 update go module dependencies & update go patch version to 1.17.1
  go.mod
  go.sum
  hack/go.mod.default
  versions/GO_VERSION
Labels: priority/low, size/L, type/ci, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling

#1446 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: team/sre, priority/low, type/documentation, size/S, type/ci

#1448 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, type/documentation, size/S

#1429 Implement pkg/agent/core/ngt/service/option test
  pkg/agent/core/ngt/service/option.go
  pkg/agent/core/ngt/service/option_test.go
Labels: team/set, type/test, priority/low, size/XXL, area/agent/core

#1454 fix filter-gateway chart
  charts/vald/templates/gateway/filter/configmap.yaml
Labels: type/bug, priority/medium, size/S, area/helm

#1415 Add E2E scenario with SkipStrictExistCheck enabled
  .github/workflows/e2e-deploy.yml
  .github/workflows/reviewdog.yml
  internal/net/grpc/status/status.go
  tests/e2e/crud/crud_test.go
  tests/e2e/operation/operation.go
  tests/e2e/operation/stream.go
Labels: team/set, team/sre, type/test, priority/low, area/internal, type/ci, size/XL, actions/e2e-deploy

#1451 Remove rinx from several yamls
  .github/chatops_permissions.yaml
  .github/dependabot.yml
Labels: team/sre, priority/low, size/S, type/ci
