Repository vdaas/vald, pull requests merged in 2021-03, with the labels that each got.

#1033 add internal/errors/redis test
  internal/errors/redis.go
  internal/errors/redis_test.go
Labels: area/internal, priority/low, size/XL, team/set, type/test

#1055 bugfix nil pointer no target discovered
  internal/net/grpc/client.go
  internal/net/grpc/pool/pool.go
Labels: area/internal, priority/medium, size/S, type/bug

#1056 refactor discoverer client
  internal/client/v1/client/discoverer/discover.go
  internal/net/grpc/client.go
Labels: area/internal, priority/low, size/S, type/refactoring

#1057 Update license headers / Format codes
  internal/client/v1/client/discoverer/discover.go
Labels: area/internal, size/S

#1059 Add internal/backoff/option test
  internal/backoff/option.go
  internal/backoff/option_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#1064 add grpc reflection
  charts/vald/templates/_helpers.tpl
  charts/vald/values.schema.json
  charts/vald/values.yaml
  go.mod
  go.sum
  internal/config/server.go
  internal/net/grpc/reflection/reflection.go
  internal/servers/server/option.go
  internal/servers/server/option_test.go
  internal/servers/server/server.go
  internal/servers/server/server_test.go
  k8s/agent/configmap.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/gateway/backup/configmap.yaml
  k8s/gateway/backup/deployment.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/meta/configmap.yaml
  k8s/gateway/meta/deployment.yaml
  k8s/manager/backup/configmap.yaml
  k8s/manager/backup/deployment.yaml
  k8s/manager/compressor/configmap.yaml
  k8s/manager/compressor/deployment.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/meta/configmap.yaml
  k8s/meta/deployment.yaml
Labels: area/helm, area/internal, priority/medium, size/XXL, team/set, type/feature

#1039 Add internal/config/config test
  internal/config/config.go
  internal/config/config_test.go
Labels: area/internal, priority/low, size/XXL, team/set, type/test

#1053 add remove sample code for tutorial
  docs/tutorial/get-started.md
  example/client/agent/main.go
  example/client/main.go
  example/helm/values-scylla.yaml
Labels: priority/low, size/L, type/documentation

#1013 Revise gRPC error statuses and details in meta (Redis/Cassandra)
  pkg/meta/cassandra/handler/grpc/handler.go
  pkg/meta/redis/handler/grpc/handler.go
Labels: area/meta, priority/low, size/XL, status/in-progress, type/refactoring

#1069 Update Agent dashboard
  k8s/metrics/grafana/dashboards/01-vald-agent.yaml
Labels: priority/medium, size/S, type/feature

#1078 Feature/docs/ann aggregation flow
  assets/docs/vald-ann-search-flow
Labels: priority/medium, size/XL, type/feature

#1084 Fix error handling of SearchByID API in lb gateway
  internal/db/rdb/mysql/mysql.go
  pkg/gateway/lb/handler/grpc/handler.go
Labels: area/gateway/lb, area/internal, priority/medium, size/S, type/bug

#1087 [patch] Release v1.0.4
  go.mod
  go.sum
Labels: actions/e2e-chaos, actions/e2e-deploy, priority/low, size/L

#1092 make timeouts for e2e and chaos tests longer
  .github/workflows/e2e-chaos.yaml
  .github/workflows/e2e-deploy.yml
Labels: priority/low, size/S, team/sre, type/ci

#1094 Fix hack/tools/metrics failed builds
  hack/tools/metrics/main.go
Labels: priority/low, size/S, type/ci

#1066 Add internal/core/algorithm/ngt/util.go test
  internal/core/algorithm/ngt/util_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#1085 add internal backoff test
  internal/backoff/backoff.go
  internal/backoff/backoff_test.go
Labels: area/internal, priority/low, size/XL, team/set, type/test

#1061 remove unnecessary tests and update test
  Makefile
  internal/compress/gob/gob_mock_test.go
  internal/compress/gob/gob_test.go
  internal/compress/gzip/gzip_mock_test.go
  internal/compress/gzip/gzip_test.go
  internal/compress/lz4/lz4_mock_test.go
  internal/compress/lz4/lz4_test.go
  internal/compress/mock_test.go
  internal/compress/zstd/option_test.go
  internal/compress/zstd/zstd_mock_test.go
  internal/compress/zstd/zstd_test.go
  internal/core/converter/tensorflow/tensorflow_mock.go
  internal/db/kvs/redis/redis_mock.go
  internal/db/nosql/cassandra/cassandra_mock.go
  internal/db/nosql/cassandra/cassandra_mock_test.go
  internal/db/rdb/mysql/dbr/connection_test.go
  internal/db/rdb/mysql/dbr/dbr_mock_test.go
  internal/db/rdb/mysql/dbr/dbr_test.go
  internal/db/rdb/mysql/dbr/delete_test.go
  internal/db/rdb/mysql/dbr/insert_test.go
  internal/db/rdb/mysql/dbr/select_test.go
  internal/db/rdb/mysql/dbr/session_test.go
  internal/db/rdb/mysql/dbr/tx_test.go
  internal/db/rdb/mysql/mysql_test.go
  internal/db/storage/blob/s3/reader/reader_mock_test.go
  internal/db/storage/blob/s3/writer/mock_test.go
  internal/db/storage/blob/s3/writer/writer_mock.go
  internal/db/storage/blob/s3/writer/writer_mock_test.go
  internal/errors/errors.go
  internal/errors/errors_test.go
  internal/net/http/routing/middleware_mock.go
  internal/net/http/transport/roundtrip_mock.go
  internal/net/net_test.go
  internal/runner/runner_mock.go
  internal/servers/servers_mock.go
  internal/worker/queue_mock.go
Labels: area/internal, area/makefile, priority/low, size/XXXL, team/set, team/sre, type/test

#1108 change params for passing test of internal/backoff
  internal/backoff/backoff_test.go
Labels: area/internal, priority/low, size/S, team/set, type/test

#1104 create internal/config/backoff test
  internal/config/backoff.go
  internal/config/backoff_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#1097 Add test internal/config/compress.go
  internal/config/compress.go
  internal/config/compress_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#1089 create bench code for internal/rand
  internal/rand/rand_bench_test.go
Labels: area/internal, priority/low, size/L, team/set, type/bench

#1114 Add internal/config/blob test
  internal/config/blob.go
  internal/config/blob_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#1120 remove unused variable from mysql test
  internal/db/rdb/mysql/mysql_test.go
Labels: area/internal, priority/low, size/S, team/set, type/test

#1091 Implement internal/timeutil/location/loc.go benchmark test
  internal/timeutil/location/loc_bench_test.go
Labels: area/internal, priority/low, size/M, team/set, type/bench, type/test

#1121 Add internal/config/client.go test
  internal/config/client.go
  internal/config/client_test.go
Labels: area/internal, priority/low, size/M, team/set, type/test

#1093 Implement internal/info/info.go benchmark
  internal/info/info_bench_test.go
Labels: area/internal, priority/low, size/L, team/set, type/bench
