Repository vdaas/vald, pull requests merged in 2021-04, with the labels that each got.

#1128 create internal/config/gateway test
  internal/config/gateway.go
  internal/config/gateway_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#1109 [Bug] Fix gateway service selectors in Helm chart
  charts/vald/templates/gateway/backup/daemonset.yaml
  charts/vald/templates/gateway/backup/deployment.yaml
  charts/vald/templates/gateway/backup/svc.yaml
  charts/vald/templates/gateway/filter/daemonset.yaml
  charts/vald/templates/gateway/filter/deployment.yaml
  charts/vald/templates/gateway/filter/svc.yaml
  charts/vald/templates/gateway/lb/daemonset.yaml
  charts/vald/templates/gateway/lb/deployment.yaml
  charts/vald/templates/gateway/lb/svc.yaml
  charts/vald/templates/gateway/meta/daemonset.yaml
  charts/vald/templates/gateway/meta/deployment.yaml
  charts/vald/templates/gateway/meta/svc.yaml
Labels: area/helm, priority/medium, size/S, type/bug

#1125 Add internal/config/filter.go test
  internal/config/filter.go
  internal/config/filter_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#1122 Add internal/config/discoverer test
  internal/config/discoverer.go
  internal/config/discoverer_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#1130 create internal/config/grpc test
  internal/config/grpc.go
  internal/config/grpc_test.go
Labels: area/internal, priority/low, size/XL, team/set, type/test

#1124 delete internal/config/debug file
  internal/config/debug.go
  internal/config/debug_test.go
Labels: area/internal, priority/low, size/L, status/author-review, team/set, type/test

#1132 create internal/config/backup test
  internal/config/backup.go
  internal/config/backup_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#1129 Add internal/config/index test
  internal/config/index.go
  internal/config/index_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#1139 Bug nil pointer error when config object is nil
  pkg/gateway/backup/handler/grpc/handler.go
  pkg/gateway/lb/handler/grpc/handler.go
  pkg/gateway/meta/handler/grpc/handler.go
Labels: area/gateway/backup, area/gateway/lb, area/gateway/meta, priority/medium, size/S, type/bug

#1133 create internal/config/meta test
  internal/config/meta.go
  internal/config/meta_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#1140 create internal/config/net test
  internal/config/net.go
  internal/config/net_test.go
Labels: area/internal, priority/low, size/XL, team/set, type/test

#1145 Fix security issue: Add validation about path of extracted file
  internal/errors/file.go
  internal/errors/file_test.go
  pkg/agent/sidecar/service/restorer/restorer.go
Labels: area/agent/sidecar, area/internal, priority/high, size/M, team/set, type/security

#1144 Bugfix correct error handling for agent apis
  go.mod
  go.sum
  hack/go.mod.default
  internal/config/server.go
  internal/errors/errors.go
  internal/errors/ngt.go
  internal/errors/ngt_test.go
  internal/net/grpc/status/status.go
  internal/net/grpc/stream.go
  internal/net/net.go
  internal/net/net_test.go
  internal/observability/trace/status.go
  pkg/agent/core/ngt/handler/grpc/handler.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/ngt_test.go
  pkg/agent/core/ngt/service/vqueue/queue.go
  pkg/agent/core/ngt/service/vqueue/queue_test.go
Labels: area/agent/core, area/internal, priority/medium, size/XXL, team/set, type/bug

#1150 Fix validation about zip slip
  pkg/agent/sidecar/service/restorer/restorer.go
Labels: area/agent/sidecar, priority/high, size/S, type/security

#1052 PR for review all logging statements
  hack/license/gen/main.go
  hack/tools/metrics/main.go
  internal/client/v1/client/discoverer/discover.go
  internal/config/redis.go
  internal/core/algorithm/ngt/ngt.go
  internal/db/nosql/cassandra/cassandra.go
  internal/db/storage/blob/s3/reader/reader.go
  internal/db/storage/blob/s3/writer/writer.go
  internal/file/watch/watch.go
  internal/k8s/pod/pod.go
  internal/net/dialer.go
  internal/net/grpc/interceptor/server/logging/accesslog.go
  internal/net/grpc/pool/pool.go
  internal/net/grpc/stream.go
  pkg/agent/core/ngt/handler/grpc/handler.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/sidecar/service/observer/observer.go
  pkg/agent/sidecar/service/restorer/restorer.go
  pkg/discoverer/k8s/handler/grpc/handler.go
  pkg/gateway/backup/handler/grpc/handler.go
  pkg/gateway/filter/handler/grpc/handler.go
  pkg/gateway/lb/handler/grpc/handler.go
  pkg/gateway/meta/handler/grpc/handler.go
  pkg/gateway/vald/handler/grpc/handler.go
  pkg/manager/backup/cassandra/handler/grpc/handler.go
  pkg/manager/backup/mysql/handler/grpc/handler.go
  pkg/manager/compressor/handler/grpc/handler.go
  pkg/meta/cassandra/handler/grpc/handler.go
  pkg/meta/redis/handler/grpc/handler.go
Labels: area/agent/core, area/agent/sidecar, area/discoverer, area/gateway, area/gateway/backup, area/gateway/filter, area/gateway/lb, area/gateway/meta, area/internal, area/manager/backup, area/manager/index, area/manager/replication, area/meta, area/tools/cli/loadtest, priority/low, size/XXL, type/refactoring

#1068 Add OpenAPIv3 schema to CRDs
  Makefile
  Makefile.d/helm.mk
  charts/vald-helm-operator/README.md
  charts/vald-helm-operator/README.md.gotmpl
  charts/vald-helm-operator/crds/valdhelmoperatorrelease.yaml
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald-helm-operator/values.schema.json
  charts/vald/values.schema.json
  docs/user-guides/operations.md
  hack/helm/schema/crd/main.go
  hack/helm/schema/gen/main.go
  hack/helm/schema/gen/main_test.go
Labels: actions/fossa, area/helm, area/makefile, priority/low, size/L, team/set, team/sre, type/refactoring

#1134 Add internal/config/lb test
  internal/config/lb.go
  internal/config/lb_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#951 add tensorflow filter
  .github/workflows/dockers-filter-ingress-tensorflow.yaml
  Makefile
  Makefile.d/build.mk
  Makefile.d/docker.mk
  cmd/filter/ingress/tensorflow/main.go
  cmd/filter/ingress/vectorizer/.gitkeep
  dockers/filter/ingress/tensorflow/Dockerfile
  internal/config/tensorflow.go
  internal/config/tensorflow_test.go
  internal/core/converter/tensorflow/option.go
  internal/core/converter/tensorflow/option_test.go
  pkg/filter/ingress/tensorflow/README.md
  pkg/filter/ingress/tensorflow/config/config.go
  pkg/filter/ingress/tensorflow/config/config_test.go
  pkg/filter/ingress/tensorflow/handler/doc.go
  pkg/filter/ingress/tensorflow/handler/grpc/handler.go
  pkg/filter/ingress/tensorflow/handler/grpc/handler_test.go
  pkg/filter/ingress/tensorflow/handler/grpc/option.go
  pkg/filter/ingress/tensorflow/handler/grpc/option_test.go
  pkg/filter/ingress/tensorflow/handler/rest/handler.go
  pkg/filter/ingress/tensorflow/handler/rest/handler_test.go
  pkg/filter/ingress/tensorflow/handler/rest/option.go
  pkg/filter/ingress/tensorflow/handler/rest/option_test.go
  pkg/filter/ingress/tensorflow/router/option.go
  pkg/filter/ingress/tensorflow/router/option_test.go
  pkg/filter/ingress/tensorflow/router/router.go
  pkg/filter/ingress/tensorflow/router/router_test.go
  pkg/filter/ingress/tensorflow/usecase/filterd.go
  pkg/filter/ingress/tensorflow/usecase/filterd_test.go
  pkg/filter/ingress/vectorizer/.gitkeep
  pkg/gateway/filter/usecase/vald.go
Labels: area/filter/ingress, area/gateway/filter, area/internal, area/makefile, priority/medium, size/XXL, status/author-review, team/set, team/sre, type/ci, type/feature

#1153 Remove arm64 build of filter-ingress-tf
  .github/workflows/dockers-filter-ingress-tensorflow.yaml
Labels: priority/low, size/S, team/sre, type/ci

#1156 Fix typo & missed schema definition
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/values.yaml
Labels: area/helm, priority/medium, size/S, type/bug

#1159 Fix scylla deploy task
  Makefile.d/k8s.mk
Labels: actions/e2e-chaos, actions/e2e-deploy, area/makefile, priority/low, size/S, team/sre, type/ci

#1163 Fix typo in README
  README.md
Labels: size/S, type/documentation

#1158 Add Nop Logger for empty logger message
  internal/log/log.go
  internal/log/log_test.go
  internal/log/logger/type.go
  internal/log/logger/type_test.go
  internal/log/nop/nop.go
  internal/log/nop/nop_test.go
Labels: area/internal, priority/medium, size/XL, size/XXL, team/set, type/feature

#1166 Update license headers / Format codes
  internal/log/nop/nop.go
  internal/log/nop/nop_test.go
Labels: area/internal, priority/low, size/M, team/set

#1157 remove ngt version in filter-ingress-tensorflow
  Makefile.d/build.mk
Labels: area/makefile, priority/low, size/S, team/sre

#1154 Feature/internal net/use netaddr
  apis/grpc/filter/egress/egress_filter.pb.go
  apis/grpc/gateway/vald/vald.pb.go
  apis/grpc/payload/payload.pb.go
  apis/grpc/v1/agent/core/agent.pb.go
  apis/grpc/v1/agent/sidecar/sidecar.pb.go
  apis/grpc/v1/discoverer/discoverer.pb.go
  apis/grpc/v1/filter/egress/egress_filter.pb.go
  apis/grpc/v1/filter/ingress/ingress_filter.pb.go
  apis/grpc/v1/gateway/vald/vald.pb.go
  apis/grpc/v1/manager/backup/backup_manager.pb.go
  apis/grpc/v1/manager/compressor/compressor.pb.go
  apis/grpc/v1/manager/index/index_manager.pb.go
  apis/grpc/v1/manager/replication/agent/replication_manager.pb.go
  apis/grpc/v1/manager/replication/controller/replication_manager.pb.go
  apis/grpc/v1/meta/meta.pb.go
  apis/grpc/v1/payload/payload.pb.go
  apis/grpc/v1/vald/filter.pb.go
  apis/grpc/v1/vald/insert.pb.go
  apis/grpc/v1/vald/object.pb.go
  apis/grpc/v1/vald/remove.pb.go
  apis/grpc/v1/vald/search.pb.go
  apis/grpc/v1/vald/update.pb.go
  apis/grpc/v1/vald/upsert.pb.go
  go.mod
  go.sum
  hack/helm/schema/gen/main_test.go
  internal/config/grpc_test.go
  internal/config/net_test.go
  internal/core/algorithm/ngt/util_test.go
  internal/db/nosql/cassandra/conviction_test.go
  internal/db/rdb/mysql/mysql_test.go
  internal/net/dialer_test.go
  internal/net/grpc/pool/pool_bench_test.go
  internal/net/http/client/client_test.go
  internal/net/http/client/option.go
  internal/net/http/client/option_test.go
  internal/net/net.go
  internal/net/net_test.go
  internal/tls/tls.go
  internal/tls/tls_test.go
Labels: actions/e2e-chaos, actions/e2e-deploy, area/agent/core, area/agent/sidecar, area/discoverer, area/filter/egress, area/gateway, area/gateway/backup, area/gateway/filter, area/gateway/lb, area/gateway/meta, area/internal, priority/medium, size/L, team/set, type/feature

#1117 create internal/config/cassandra test
  internal/config/cassandra.go
  internal/config/cassandra_test.go
Labels: area/internal, priority/low, size/XL, status/author-review, team/set, type/test

#1176 Improve internal/timeutil/location implementation
  internal/timeutil/location/loc.go
Labels: area/internal, priority/low, size/S, type/refactoring

#1151 Add test for internal/config/mysql
  internal/config/mysql.go
  internal/config/mysql_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#1155 Add internal/config/observability unit test
  internal/config/observability.go
  internal/config/observability_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#1107 Remove values-xxx.yaml from Helm packages
  .github/workflows/helm-lint.yml
  .github/workflows/reviewdog-k8s.yml
  Makefile.d/helm.mk
  Makefile.d/k8s.mk
  charts/vald/.helmignore
  charts/vald/README.md
  charts/vald/README.md.gotmpl
  charts/vald/values-cassandra.yaml
  charts/vald/values/agent-ngt-standalone.yaml
  charts/vald/values/dev.yaml
  charts/vald/values/scylla.yaml
  k8s/gateway/backup/configmap.yaml
  k8s/gateway/backup/daemonset.yaml
  k8s/gateway/backup/deployment.yaml
  k8s/gateway/backup/hpa.yaml
  k8s/gateway/backup/ing.yaml
  k8s/gateway/backup/pdb.yaml
  k8s/gateway/backup/priorityclass.yaml
  k8s/gateway/backup/svc.yaml
  k8s/gateway/meta/configmap.yaml
  k8s/gateway/meta/daemonset.yaml
  k8s/gateway/meta/deployment.yaml
  k8s/gateway/meta/hpa.yaml
  k8s/gateway/meta/ing.yaml
  k8s/gateway/meta/pdb.yaml
  k8s/gateway/meta/priorityclass.yaml
  k8s/gateway/meta/svc.yaml
  k8s/gateway/vald/configmap.yaml
  k8s/gateway/vald/daemonset.yaml
  k8s/gateway/vald/deployment.yaml
  k8s/gateway/vald/hpa.yaml
  k8s/gateway/vald/ing.yaml
  k8s/gateway/vald/pdb.yaml
  k8s/gateway/vald/priorityclass.yaml
  k8s/gateway/vald/svc.yaml
  k8s/manager/backup/configmap.yaml
  k8s/manager/backup/daemonset.yaml
  k8s/manager/backup/deployment.yaml
  k8s/manager/backup/hpa.yaml
  k8s/manager/backup/pdb.yaml
  k8s/manager/backup/priorityclass.yaml
  k8s/manager/backup/svc.yaml
  k8s/manager/compressor/configmap.yaml
  k8s/manager/compressor/daemonset.yaml
  k8s/manager/compressor/deployment.yaml
  k8s/manager/compressor/hpa.yaml
  k8s/manager/compressor/pdb.yaml
  k8s/manager/compressor/priorityclass.yaml
  k8s/manager/compressor/svc.yaml
  k8s/meta/configmap.yaml
  k8s/meta/daemonset.yaml
  k8s/meta/deployment.yaml
  k8s/meta/hpa.yaml
  k8s/meta/pdb.yaml
  k8s/meta/priorityclass.yaml
  k8s/meta/svc.yaml
Labels: area/helm, area/makefile, priority/low, size/L, team/sre, type/ci, type/refactoring

#1175 create test for internal/config/server
  internal/config/server.go
  internal/config/server_test.go
Labels: area/internal, priority/low, size/XXL, team/set, type/test

#1086 Add benchmark for internal/timeutil/time.go
  internal/timeutil/time_bench_test.go
Labels: area/internal, priority/low, size/L, team/set, type/bench

#1173 Add internal/config/sidecar test
  internal/config/sidecar.go
  internal/config/sidecar_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#1172 Implement internal/config/transport test
  internal/config/transport.go
  internal/config/transport_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#1147 create internal/config/redis test
  internal/config/redis.go
  internal/config/redis_test.go
Labels: area/internal, priority/low, size/XL, team/set, type/test

#1186 Fix mysql and cassandra schema definitions in initialize jobs
  charts/vald/templates/jobs/db/initialize/cassandra/configmap.yaml
  charts/vald/templates/jobs/db/initialize/mysql/configmap.yaml
  k8s/jobs/db/initialize/cassandra/configmap.yaml
  k8s/jobs/db/initialize/mysql/configmap.yaml
Labels: area/helm, priority/medium, size/S, type/bug

#1171 Implement safety bench code
  internal/safety/safety_bench_test.go
  internal/safety/safety_test.go
Labels: area/internal, priority/low, size/L, team/set, type/bench

#1200 Add saving flag to index.info payload
  apis/docs/v0/docs.md
  apis/docs/v1/docs.md
  apis/grpc/filter/egress/egress_filter.pb.go
  apis/grpc/gateway/vald/vald.pb.go
  apis/grpc/payload/payload.pb.go
  apis/grpc/v1/agent/core/agent.pb.go
  apis/grpc/v1/agent/sidecar/sidecar.pb.go
  apis/grpc/v1/discoverer/discoverer.pb.go
  apis/grpc/v1/filter/egress/egress_filter.pb.go
  apis/grpc/v1/filter/ingress/ingress_filter.pb.go
  apis/grpc/v1/gateway/vald/vald.pb.go
  apis/grpc/v1/manager/backup/backup_manager.pb.go
  apis/grpc/v1/manager/compressor/compressor.pb.go
  apis/grpc/v1/manager/index/index_manager.pb.go
  apis/grpc/v1/manager/replication/agent/replication_manager.pb.go
  apis/grpc/v1/manager/replication/controller/replication_manager.pb.go
  apis/grpc/v1/meta/meta.pb.go
  apis/grpc/v1/payload/payload.pb.go
  apis/grpc/v1/vald/filter.pb.go
  apis/grpc/v1/vald/insert.pb.go
  apis/grpc/v1/vald/object.pb.go
  apis/grpc/v1/vald/remove.pb.go
  apis/grpc/v1/vald/search.pb.go
  apis/grpc/v1/vald/update.pb.go
  apis/grpc/v1/vald/upsert.pb.go
  apis/proto/payload/payload.proto
  apis/proto/v1/payload/payload.proto
  apis/swagger/v1/agent/core/apis/proto/v1/agent/core/agent.swagger.json
  apis/swagger/v1/discoverer/apis/proto/v1/discoverer/discoverer.swagger.json
  apis/swagger/v1/filter/egress/apis/proto/v1/filter/egress/egress_filter.swagger.json
  apis/swagger/v1/filter/ingress/apis/proto/v1/filter/ingress/ingress_filter.swagger.json
  apis/swagger/v1/gateway/vald/apis/proto/v1/gateway/vald/vald.swagger.json
  apis/swagger/v1/manager/backup/apis/proto/v1/manager/backup/backup_manager.swagger.json
  apis/swagger/v1/manager/compressor/apis/proto/v1/manager/compressor/compressor.swagger.json
  apis/swagger/v1/manager/index/apis/proto/v1/manager/index/index_manager.swagger.json
  apis/swagger/v1/manager/replication/agent/apis/proto/v1/manager/replication/agent/replication_manager.swagger.json
  apis/swagger/v1/manager/replication/controller/apis/proto/v1/manager/replication/controller/replication_manager.swagger.json
  apis/swagger/v1/meta/apis/proto/v1/meta/meta.swagger.json
  apis/swagger/v1/payload/apis/proto/v1/payload/payload.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/filter.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/insert.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/object.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/remove.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/search.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/update.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/upsert.swagger.json
  pkg/agent/core/ngt/handler/grpc/handler.go
Labels: area/agent/core, area/agent/sidecar, area/discoverer, area/filter/egress, area/gateway, area/gateway/backup, area/gateway/filter, area/gateway/lb, area/gateway/meta, priority/medium, size/S, type/feature

#1182 create docs/user-guides/sdks
  docs/user-guides/sdks.md
Labels: priority/low, size/M, type/documentation

#1177 Improve internal/info implementation
  internal/info/info.go
Labels: area/internal, priority/low, size/S, type/refactoring

#1207 update codecov version for vulnerability
  .github/workflows/coverage.yml
Labels: priority/low, size/S, team/sre, type/ci

#1212 Update license headers / Format codes
  .github/dependabot.yml
Labels: priority/low, size/S, team/sre, type/ci
