Repository vdaas/vald, pull requests merged in 2021-05, with the labels that each got.

#1213 Fix document url
  docs/contributing/unit-test-guideline.md
Labels: priority/low, size/S, type/documentation

#1216 Fix nil pointer panic in errors.go Is()
  internal/errors/errors.go
  internal/errors/errors_test.go
Labels: area/internal, priority/medium, size/S, team/set, type/bug

#1203 Update Tutotial/Get-Started
  docs/tutorial/get-started.md
  example/client/go.sum
  example/helm/values.yaml
Labels: priority/low, size/L, type/documentation

#1206 Implement pkg/agent/core/ngt/router/option test
  pkg/agent/core/ngt/router/option.go
  pkg/agent/core/ngt/router/option_test.go
Labels: area/agent/core, priority/low, size/L, team/set, type/test

#1190 refactor config error handling
  hack/benchmark/internal/client/ngtd/grpc/option.go
  internal/config/cassandra.go
  internal/config/cassandra_test.go
  internal/config/grpc.go
  internal/config/grpc_test.go
  internal/config/mysql.go
  internal/config/mysql_test.go
  internal/config/net.go
  internal/config/net_test.go
  internal/config/redis.go
  internal/config/redis_test.go
  pkg/agent/sidecar/usecase/initcontainer/initcontainer.go
  pkg/agent/sidecar/usecase/sidecar/sidecar.go
  pkg/discoverer/k8s/usecase/discovered.go
  pkg/gateway/backup/usecase/vald.go
  pkg/gateway/filter/usecase/vald.go
  pkg/gateway/lb/usecase/vald.go
  pkg/gateway/meta/usecase/vald.go
  pkg/gateway/vald/usecase/vald.go
  pkg/manager/compressor/usecase/compressord.go
  pkg/manager/index/usecase/indexer.go
  pkg/tools/cli/loadtest/usecase/load.go
Labels: area/agent/sidecar, area/discoverer, area/gateway, area/gateway/backup, area/gateway/filter, area/gateway/lb, area/gateway/meta, area/internal, area/manager/index, area/tools/cli/loadtest, priority/low, size/XL, status/author-review, team/set, type/refactoring

#1215 Implement pkg/agent/core/ngt/handler/grpc/option test
  pkg/agent/core/ngt/handler/grpc/handler.go
  pkg/agent/core/ngt/handler/grpc/handler_test.go
  pkg/agent/core/ngt/handler/grpc/option.go
  pkg/agent/core/ngt/handler/grpc/option_test.go
  pkg/agent/core/ngt/usecase/agentd.go
Labels: area/agent/core, priority/low, size/XL, team/set, type/test

#1181 Upgrade Helm, valdcli, yq, kubelinter and Operator-SDK
  Makefile
  charts/vald-helm-operator/templates/operator.yaml
  versions/OPERATOR_SDK_VERSION
Labels: area/helm, area/makefile, priority/low, size/S, team/sre, type/dependency

#1179 Fix CodeQL alerts: redundant check
  internal/net/net.go
Labels: area/agent/core, area/filter/ingress, area/internal, area/manager/index, area/manager/replication, area/meta, priority/low, size/M, type/refactoring

#1195 Add general info metrics package / Add NGT info metrics
  .github/workflows/coverage.yml
  internal/config/ngt.go
  internal/observability/metrics/info/info.go
  internal/observability/metrics/info/info_test.go
  internal/observability/metrics/metrics.go
  pkg/agent/core/ngt/usecase/agentd.go
Labels: area/agent/core, area/internal, priority/medium, size/XL, status/author-review, team/set, team/sre, type/ci, type/feature

#1214 Implement pkg/agent/core/ngt/router test
  internal/net/http/routing/router.go
  pkg/agent/core/ngt/router/router_test.go
Labels: area/agent/core, area/internal, priority/low, size/L, status/author-review, team/set, type/test

#519 Add Cloud Storage mode of Agent Sidecar.
  charts/vald/values.yaml
  go.mod
  go.sum
  internal/config/blob.go
  internal/config/blob_test.go
  internal/db/storage/blob/cloudstorage/cloudstorage.go
  internal/db/storage/blob/cloudstorage/option.go
  internal/db/storage/blob/cloudstorage/urlopener/option.go
  internal/db/storage/blob/cloudstorage/urlopener/urlopener.go
  internal/errors/storage.go
  pkg/agent/sidecar/service/observer/observer.go
  pkg/agent/sidecar/service/restorer/restorer.go
  pkg/agent/sidecar/service/storage/option.go
  pkg/agent/sidecar/service/storage/storage.go
  pkg/agent/sidecar/service/storage/storage_test.go
  pkg/agent/sidecar/usecase/initcontainer/initcontainer.go
  pkg/agent/sidecar/usecase/sidecar/sidecar.go
Labels: area/agent/sidecar, area/helm, area/internal, area/makefile, priority/medium, size/XXL, status/author-review, team/set, team/sre, type/feature

#1231 Bug fix of parallel test and goleak
  assets/test/templates/common/function.tmpl
  assets/test/templates/option/function.tmpl
  internal/config/backoff_test.go
  internal/config/backup_test.go
  internal/config/blob_test.go
  internal/config/cassandra_test.go
  internal/config/client_test.go
  internal/config/discoverer_test.go
  internal/config/filter_test.go
  internal/config/gateway_test.go
  internal/config/grpc_test.go
  internal/config/index_test.go
  internal/config/lb_test.go
  internal/config/meta_test.go
  internal/config/mysql_test.go
  internal/config/net_test.go
  internal/config/observability_test.go
  internal/config/redis_test.go
  internal/config/server_test.go
  internal/config/sidecar_test.go
  internal/config/tensorflow_test.go
  internal/config/transport_test.go
Labels: area/internal, priority/medium, size/M, status/author-review, team/set, type/bug

#1224 add correct grpc status and error handling
  apis/docs/v1/docs.md
  apis/grpc/v1/payload/payload.pb.go
  apis/proto/v1/payload/payload.proto
  apis/swagger/v1/agent/core/apis/proto/v1/agent/core/agent.swagger.json
  apis/swagger/v1/discoverer/apis/proto/v1/discoverer/discoverer.swagger.json
  apis/swagger/v1/filter/egress/apis/proto/v1/filter/egress/egress_filter.swagger.json
  apis/swagger/v1/filter/ingress/apis/proto/v1/filter/ingress/ingress_filter.swagger.json
  apis/swagger/v1/gateway/vald/apis/proto/v1/gateway/vald/vald.swagger.json
  apis/swagger/v1/manager/backup/apis/proto/v1/manager/backup/backup_manager.swagger.json
  apis/swagger/v1/manager/compressor/apis/proto/v1/manager/compressor/compressor.swagger.json
  apis/swagger/v1/manager/index/apis/proto/v1/manager/index/index_manager.swagger.json
  apis/swagger/v1/manager/replication/agent/apis/proto/v1/manager/replication/agent/replication_manager.swagger.json
  apis/swagger/v1/manager/replication/controller/apis/proto/v1/manager/replication/controller/replication_manager.swagger.json
  apis/swagger/v1/meta/apis/proto/v1/meta/meta.swagger.json
  apis/swagger/v1/payload/apis/proto/v1/payload/payload.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/filter.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/insert.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/object.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/remove.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/search.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/update.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/upsert.swagger.json
  go.mod
  go.sum
  hack/go.mod.default
  internal/config/blob_test.go
  internal/config/cassandra_test.go
  internal/db/storage/blob/cloudstorage/cloudstorage.go
  internal/db/storage/blob/cloudstorage/option.go
  internal/db/storage/blob/cloudstorage/urlopener/option.go
  internal/db/storage/blob/cloudstorage/urlopener/urlopener.go
  internal/errors/ngt.go
  internal/log/nop/nop_test.go
  internal/net/grpc/status/status.go
  internal/net/grpc/stream.go
  internal/observability/metrics/info/info_test.go
  internal/runner/runner.go
  pkg/agent/core/ngt/handler/grpc/handler.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/vqueue/queue.go
  pkg/agent/sidecar/service/storage/storage_test.go
  pkg/gateway/lb/handler/grpc/handler.go
  pkg/gateway/meta/handler/grpc/handler.go
Labels: actions/e2e-chaos, actions/e2e-deploy, area/agent/core, area/agent/sidecar, area/gateway/backup, area/gateway/filter, area/gateway/lb, area/gateway/meta, area/internal, priority/medium, size/XXL, team/set, type/feature

#1236 Revert "update go modules"
  go.mod
  go.sum
Labels: priority/low, size/L

#1185 remove nil check in Error() method in internal/errors
  internal/errors/blob_test.go
  internal/errors/cassandra_test.go
  internal/errors/errors.go
  internal/errors/filter_test.go
  internal/errors/info_test.go
  internal/errors/net_test.go
  internal/errors/ngt_test.go
  internal/errors/option.go
  internal/errors/option_test.go
  internal/errors/redis.go
  internal/errors/redis_test.go
Labels: area/agent/sidecar, area/internal, priority/low, size/XL, team/set, type/test

#1238 bugfix gateway search result merging process
  go.mod
  go.sum
  internal/errors/blob_test.go
  internal/net/grpc/status/status.go
  internal/net/net.go
  pkg/discoverer/k8s/handler/grpc/handler.go
  pkg/gateway/lb/handler/grpc/handler.go
Labels: actions/e2e-chaos, actions/e2e-deploy, area/discoverer, area/gateway/lb, area/internal, priority/medium, size/L, team/set, type/bug

#1239 update go version to 1.16.4
  versions/GO_VERSION
Labels: actions/e2e-chaos, actions/e2e-deploy, priority/low, size/S, type/ci

#1219 Add config agent core ngt test
  internal/config/config.go
  internal/config/config_test.go
  pkg/agent/core/ngt/config/config.go
  pkg/agent/core/ngt/config/config_test.go
Labels: actions/e2e-chaos, actions/e2e-deploy, area/agent/core, area/internal, priority/low, size/XL, status/author-review, team/set, type/test

#1242 update go modules
  go.mod
  go.sum
  internal/config/lb.go
  internal/errors/config.go
  pkg/agent/core/ngt/config/config.go
  pkg/agent/core/ngt/config/config_test.go
  pkg/agent/sidecar/config/config.go
  pkg/discoverer/k8s/config/config.go
  pkg/filter/ingress/tensorflow/config/config.go
  pkg/gateway/backup/config/config.go
  pkg/gateway/filter/config/config.go
  pkg/gateway/lb/config/config.go
  pkg/gateway/meta/config/config.go
  pkg/gateway/vald/config/config.go
  pkg/manager/backup/cassandra/config/config.go
  pkg/manager/backup/mysql/config/config.go
  pkg/manager/compressor/config/config.go
  pkg/manager/index/config/config.go
  pkg/meta/cassandra/config/config.go
  pkg/meta/redis/config/config.go
  pkg/tools/cli/loadtest/config/config.go
Labels: actions/e2e-chaos, actions/e2e-deploy, actions/fossa, area/agent/core, area/agent/sidecar, area/discoverer, area/filter/ingress, area/gateway, area/gateway/backup, area/gateway/filter, area/gateway/lb, area/gateway/meta, area/internal, area/manager/backup, area/manager/index, area/meta, area/tools/cli/loadtest, priority/low, size/L, team/set, type/ci

#1245 change error message
  internal/errors/lb.go
  pkg/gateway/lb/handler/grpc/handler.go
Labels: area/gateway/lb, area/internal, priority/low, size/S, type/refactoring

#1247 Fix path to the yq binary
  Makefile.d/helm.mk
  dockers/ci/base/Dockerfile
Labels: area/makefile, priority/low, size/S, team/sre

#1248 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/crds/valdhelmoperatorrelease.yaml
  k8s/operator/helm/crds/valdrelease.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, size/S, type/documentation

#1249 Fix update-helm-chart workflow
  .github/workflows/helm.yml
Labels: priority/low, size/S, team/sre, type/ci

#1223 Add config agent core ngt service kvs test
  pkg/agent/core/ngt/service/kvs/kvs.go
  pkg/agent/core/ngt/service/kvs/kvs_test.go
Labels: area/agent/core, priority/low, size/XXL, team/set, type/test

#1233 Add test for pkg/agent/core/ngt/service/vqueue/option
  pkg/agent/core/ngt/handler/grpc/option_test.go
  pkg/agent/core/ngt/service/vqueue/option.go
  pkg/agent/core/ngt/service/vqueue/option_test.go
  pkg/agent/core/ngt/service/vqueue/queue.go
  pkg/agent/core/ngt/service/vqueue/queue_test.go
Labels: area/agent/core, priority/low, size/XXL, team/set, type/test

#1250 bugfix agent vqueue & refactor tools/deps
  Makefile
  Makefile.d/k3d.mk
  Makefile.d/k8s.mk
  Makefile.d/kind.mk
  charts/vald/values/dev.yaml
  go.mod
  go.sum
  hack/go.mod.default
  internal/safety/safety.go
  pkg/agent/core/ngt/handler/grpc/handler.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/vqueue/queue.go
  tests/e2e/crud_test.go
Labels: actions/e2e-chaos, actions/e2e-deploy, area/agent/core, area/helm, area/internal, area/makefile, priority/low, size/L, team/set, team/sre, type/refactoring

#1253 bugfix remove unneccessary error return & add grpc status code handling for backoff
  internal/errors/lb.go
  internal/net/grpc/client.go
  pkg/agent/core/ngt/handler/grpc/handler.go
  pkg/agent/core/ngt/service/kvs/kvs_test.go
  pkg/gateway/lb/handler/grpc/handler.go
  pkg/gateway/lb/service/gateway.go
  pkg/gateway/meta/handler/grpc/handler.go
Labels: actions/e2e-chaos, actions/e2e-deploy, area/agent/core, area/gateway/lb, area/gateway/meta, area/internal, priority/medium, size/L, team/set, type/bug

#1254 add single connection client for agent & vald
  internal/client/v1/client/agent/core/client.go
  internal/client/v1/client/vald/vald.go
  internal/net/grpc/client.go
Labels: actions/e2e-chaos, actions/e2e-deploy, area/internal, priority/medium, size/L, type/feature

#1252 Redis: Fix invalid cluster client initialization option
  internal/db/kvs/redis/redis.go
Labels: actions/e2e-chaos, actions/e2e-deploy, area/internal, priority/medium, size/S, type/bug

#1255 Update license headers / Format codes
  internal/db/kvs/redis/redis.go
Labels: area/internal, priority/low, size/S

#1256 [bugfix] change exists cheking for agent vqueue
  go.mod
  go.sum
  internal/net/grpc/client.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/vqueue/queue.go
Labels: actions/e2e-chaos, actions/e2e-deploy, area/agent/core, area/internal, priority/medium, size/M, type/bug

#1263 Fix clusterrole of scylla-cluster member
  k8s/external/scylla/scyllacluster.yaml
Labels: actions/e2e-chaos, actions/e2e-deploy, priority/low, size/S, type/ci

#1262 add resource type infos to grpc error response
  go.mod
  go.sum
  internal/net/grpc/pool/pool.go
  internal/runner/runner.go
  pkg/agent/core/ngt/handler/grpc/handler.go
  pkg/discoverer/k8s/handler/grpc/handler.go
  pkg/discoverer/k8s/handler/grpc/option.go
  pkg/gateway/lb/handler/grpc/handler.go
  pkg/gateway/lb/handler/grpc/option.go
  pkg/gateway/meta/handler/grpc/handler.go
  pkg/gateway/meta/handler/grpc/option.go
Labels: area/agent/core, area/discoverer, area/gateway/lb, area/gateway/meta, area/internal, priority/low, size/XL, type/refactoring

#964 [WIP] Implement rebalance job
  .github/workflows/dockers-rebalancer-storage-job-image.yml
  Makefile
  Makefile.d/build.mk
  Makefile.d/docker.mk
  cmd/rebalancer/storage/job/main.go
  cmd/rebalancer/storage/job/sample.yaml
  dockers/rebalancer/storage/job/Dockerfile
  internal/config/rebalancer.go
  internal/db/storage/blob/blob.go
  internal/db/storage/blob/cloudstorage/cloudstorage.go
  internal/db/storage/blob/s3/copier/copier.go
  internal/db/storage/blob/s3/copier/option.go
  internal/db/storage/blob/s3/deleter/deleter.go
  internal/db/storage/blob/s3/deleter/option.go
  internal/db/storage/blob/s3/option.go
  internal/db/storage/blob/s3/s3.go
  internal/errors/storage.go
  pkg/rebalancer/storage/job/config/config.go
  pkg/rebalancer/storage/job/handler/grpc/handler.go
  pkg/rebalancer/storage/job/handler/grpc/option.go
  pkg/rebalancer/storage/job/handler/rest/handler.go
  pkg/rebalancer/storage/job/router/router.go
  pkg/rebalancer/storage/job/service/job/job.go
  pkg/rebalancer/storage/job/service/job/option.go
  pkg/rebalancer/storage/job/service/option.go
  pkg/rebalancer/storage/job/service/rebalancer.go
  pkg/rebalancer/storage/job/service/storage/option.go
  pkg/rebalancer/storage/job/service/storage/storage.go
  pkg/rebalancer/storage/job/usecase/rebalanced.go
Labels: area/internal, area/makefile, priority/medium, size/XXL, team/sre, type/ci, type/feature

#1202 [WIP] Refactor rebalancer controller: change recovery job logic
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/templates/rebalancer/jobconfigmap.yaml
  charts/vald/values.yaml
  internal/config/rebalancer.go
  internal/config/sidecar.go
  internal/k8s/replicaset/replicaset.go
  pkg/agent/sidecar/service/observer/observer.go
  pkg/agent/sidecar/service/observer/option.go
  pkg/agent/sidecar/usecase/sidecar/sidecar.go
  pkg/rebalancer/storage/controller/service/rebalancer.go
  pkg/rebalancer/storage/controller/service/rebalancer_option.go
  pkg/rebalancer/storage/controller/usecase/rebalanced.go
Labels: area/agent/core, area/agent/sidecar, area/helm, area/internal, priority/low, size/XXXL, team/set, type/refactoring
