Repository vdaas/vald, pull requests merged in 2021-01, with the labels that each got.

#906 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/vald/configmap.yaml
  k8s/gateway/vald/deployment.yaml
  k8s/gateway/vald/hpa.yaml
  k8s/gateway/vald/ing.yaml
  k8s/gateway/vald/pdb.yaml
  k8s/gateway/vald/priorityclass.yaml
  k8s/gateway/vald/svc.yaml
  k8s/manager/backup/configmap.yaml
  k8s/manager/backup/deployment.yaml
  k8s/manager/backup/hpa.yaml
  k8s/manager/backup/pdb.yaml
  k8s/manager/backup/priorityclass.yaml
  k8s/manager/backup/svc.yaml
  k8s/manager/compressor/configmap.yaml
  k8s/manager/compressor/deployment.yaml
  k8s/manager/compressor/hpa.yaml
  k8s/manager/compressor/pdb.yaml
  k8s/manager/compressor/priorityclass.yaml
  k8s/manager/compressor/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/meta/configmap.yaml
  k8s/meta/deployment.yaml
  k8s/meta/hpa.yaml
  k8s/meta/pdb.yaml
  k8s/meta/priorityclass.yaml
  k8s/meta/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, size/S, type/documentation

#903 Add test case for internal/errors/grpc.go
  hack/license/gen/main.go
  internal/errors/grpc.go
  internal/errors/grpc_test.go
Labels: area/internal, priority/low, size/XL, team/set, type/test

#910 Add test case for internal/errors/io.go
  internal/errors/io.go
  internal/errors/io_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#907 Update license headers for .github yamls
  .github/chatops_permissions.yaml
  .github/codeql/codeql-config.yaml
  .github/conflint.yaml
  .github/issue_label_bot.yaml
  .github/kubelinter.yaml
  .github/labeler.yml
  .github/workflows/build-binaries.yml
  .github/workflows/build-protobuf.yml
  .github/workflows/chatops-help.yml
  .github/workflows/chatops.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/coverage.yml
  .github/workflows/detect-internal-config-changes.yml
  .github/workflows/dockers-agent-ngt-image.yml
  .github/workflows/dockers-agent-sidecar-image.yml
  .github/workflows/dockers-backup-manager-cassandra-image.yml
  .github/workflows/dockers-backup-manager-mysql-image.yml
  .github/workflows/dockers-base-image.yml
  .github/workflows/dockers-ci-container-image.yml
  .github/workflows/dockers-dev-container-image.yml
  .github/workflows/dockers-discoverer-k8s-image.yml
  .github/workflows/dockers-gateway-vald-image.yml
  .github/workflows/dockers-helm-operator-image.yml
  .github/workflows/dockers-image-scan.yml
  .github/workflows/dockers-loadtest-image.yml
  .github/workflows/dockers-manager-compressor-image.yml
  .github/workflows/dockers-manager-index-image.yml
  .github/workflows/dockers-meta-cassandra-image.yml
  .github/workflows/dockers-meta-redis-image.yml
  .github/workflows/e2e-bench-agent.yml
  .github/workflows/e2e-deploy.yml
  .github/workflows/fossa.yml
  .github/workflows/helm-lint.yml
  .github/workflows/helm.yml
  .github/workflows/labeler.yml
  .github/workflows/reviewdog-hadolint.yml
  .github/workflows/reviewdog-k8s.yml
  .github/workflows/reviewdog-markdown.yml
  .github/workflows/reviewdog.yml
  .github/workflows/semver.yml
  .github/workflows/test.yml
  .github/workflows/update-protobuf.yml
  .github/workflows/update_pull_request_and_issue_template.yml
  Makefile
Labels: area/makefile, priority/low, size/S, team/sre, type/ci, type/refactoring

#911 Add formatter for master branch
  .github/workflows/format.yml
Labels: priority/low, size/S, team/sre, type/ci

#913 Update license headers / Format codes
  .github/workflows/format.yml
Labels: priority/low, size/S, team/sre, type/ci

#904 [patch] bugfix: do not create metadata file when create/append flag is not set for the agent/agent-sidecar
  internal/core/ngt/ngt.go
  internal/errors/meta.go
  internal/file/file.go
  internal/file/file_test.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/internal/metadata/metadata.go
Labels: area/agent/core, area/internal, priority/medium, size/L, team/set, type/bug

#914 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/vald/configmap.yaml
  k8s/gateway/vald/deployment.yaml
  k8s/gateway/vald/hpa.yaml
  k8s/gateway/vald/ing.yaml
  k8s/gateway/vald/pdb.yaml
  k8s/gateway/vald/priorityclass.yaml
  k8s/gateway/vald/svc.yaml
  k8s/manager/backup/configmap.yaml
  k8s/manager/backup/deployment.yaml
  k8s/manager/backup/hpa.yaml
  k8s/manager/backup/pdb.yaml
  k8s/manager/backup/priorityclass.yaml
  k8s/manager/backup/svc.yaml
  k8s/manager/compressor/configmap.yaml
  k8s/manager/compressor/deployment.yaml
  k8s/manager/compressor/hpa.yaml
  k8s/manager/compressor/pdb.yaml
  k8s/manager/compressor/priorityclass.yaml
  k8s/manager/compressor/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/meta/configmap.yaml
  k8s/meta/deployment.yaml
  k8s/meta/hpa.yaml
  k8s/meta/pdb.yaml
  k8s/meta/priorityclass.yaml
  k8s/meta/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, size/S, type/documentation

#895 Use vdaas-ci token for making commits on CI workflows
  .github/workflows/chatops.yml
  .github/workflows/helm.yml
Labels: priority/low, size/S, team/sre, type/ci

#917 change docker base image PRIMARY_TAG name from nightly to latest
  .github/workflows/dockers-base-image.yml
  Makefile
Labels: area/makefile, priority/low, size/S, team/sre, type/ci, type/refactoring

#919 Fix typo in gateway-vald configmap template
  charts/vald/templates/gateway/vald/configmap.yaml
Labels: area/helm, priority/low, size/S

#920 remove unneccessary pr-tag definition from chart
  charts/vald/values-cassandra.yaml
  charts/vald/values-scylla.yaml
Labels: area/helm, priority/medium, size/S, type/bug

#921 bugfix add nil check for grpc connection pool objects in grpc/client.go
  internal/net/grpc/addrs.go
  internal/net/grpc/client.go
  internal/net/grpc/pool/pool.go
  pkg/gateway/lb/usecase/vald.go
Labels: area/gateway/lb, area/internal, priority/medium, size/L, type/bug

#922 Revise building workflow of ci and dev containers
  Makefile
  Makefile.d/docker.mk
  dockers/ci/base/Dockerfile
  dockers/dev/Dockerfile
Labels: area/makefile, priority/low, size/M, team/sre, type/ci

#923 fix unclosed string literal in Dockerfile's ARG MAINTAINER
  dockers/agent/core/ngt/Dockerfile
  dockers/agent/sidecar/Dockerfile
  dockers/base/Dockerfile
  dockers/discoverer/k8s/Dockerfile
  dockers/gateway/backup/Dockerfile
  dockers/gateway/lb/Dockerfile
  dockers/gateway/meta/Dockerfile
  dockers/gateway/vald/Dockerfile
  dockers/manager/backup/cassandra/Dockerfile
  dockers/manager/backup/mysql/Dockerfile
  dockers/manager/compressor/Dockerfile
  dockers/manager/index/Dockerfile
  dockers/manager/replication/agent/Dockerfile
  dockers/manager/replication/controller/Dockerfile
  dockers/meta/cassandra/Dockerfile
  dockers/meta/redis/Dockerfile
  dockers/operator/helm/Dockerfile
  dockers/tools/cli/loadtest/Dockerfile
Labels: priority/medium, size/M, type/bug

#928 change grpc bidi-stream error handling and change grpc API interface
  apis/docs/v1/docs.md
  apis/grpc/v1/filter/egress/egress_filter.pb.go
  apis/grpc/v1/filter/ingress/ingress_filter.pb.go
  apis/grpc/v1/payload/payload.pb.go
  apis/grpc/v1/vald/filter.pb.go
  apis/grpc/v1/vald/insert.pb.go
  apis/grpc/v1/vald/object.pb.go
  apis/grpc/v1/vald/remove.pb.go
  apis/grpc/v1/vald/search.pb.go
  apis/grpc/v1/vald/update.pb.go
  apis/grpc/v1/vald/upsert.pb.go
  apis/proto/v1/filter/egress/egress_filter.proto
  apis/proto/v1/filter/ingress/ingress_filter.proto
  apis/proto/v1/gateway/vald/vald.proto
  apis/proto/v1/manager/compressor/compressor.proto
  apis/proto/v1/payload/payload.proto
  apis/proto/v1/vald/filter.proto
  apis/proto/v1/vald/insert.proto
  apis/proto/v1/vald/object.proto
  apis/proto/v1/vald/remove.proto
  apis/proto/v1/vald/search.proto
  apis/proto/v1/vald/update.proto
  apis/proto/v1/vald/upsert.proto
  apis/swagger/v1/filter/egress/apis/proto/v1/filter/egress/egress_filter.swagger.json
  apis/swagger/v1/filter/ingress/apis/proto/v1/filter/ingress/ingress_filter.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/filter.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/insert.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/object.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/remove.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/search.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/update.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/upsert.swagger.json
  go.mod
  go.sum
  hack/go.mod.default
  internal/net/grpc/addrs.go
  internal/net/grpc/addrs_test.go
  internal/net/grpc/status/status.go
  internal/net/grpc/status/status_test.go
  internal/net/grpc/stream.go
  pkg/agent/core/ngt/handler/grpc/handler.go
  pkg/gateway/backup/handler/grpc/handler.go
  pkg/gateway/lb/handler/grpc/handler.go
  pkg/gateway/meta/handler/grpc/handler.go
Labels: area/agent/core, area/gateway, area/gateway/backup, area/gateway/filter, area/gateway/lb, area/gateway/meta, area/internal, priority/medium, size/XL, team/set, type/feature

#930 os.free nil pointer failure in ngt cgo due to create index hang up
  Makefile
  Makefile.d/build.mk
  Makefile.d/client.mk
  README.md
  cmd/agent/core/ngt/sample.yaml
  internal/backoff/backoff.go
  internal/core/algorithm/ngt/ngt.go
  internal/net/grpc/stream.go
  internal/runner/runner.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/gateway/lb/usecase/vald.go
  versions/NGT_VERSION
Labels: area/agent/core, area/gateway/lb, area/internal, area/makefile, priority/medium, size/L, team/sre, type/bug

#931 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: priority/low, size/S, team/sre, type/ci, type/documentation

#932 Update license headers / Format codes
  pkg/agent/core/ngt/service/ngt.go
Labels: area/agent/core, priority/low, size/S

#833 revise kubelinter config / Add securityContext section to Helm chart
  .github/kubelinter.yaml
  .github/workflows/reviewdog-k8s.yml
  Makefile
  Makefile.d/k8s.mk
  charts/vald/templates/agent/daemonset.yaml
  charts/vald/templates/agent/deployment.yaml
  charts/vald/templates/agent/statefulset.yaml
  charts/vald/templates/discoverer/daemonset.yaml
  charts/vald/templates/discoverer/deployment.yaml
  charts/vald/templates/gateway/backup/daemonset.yaml
  charts/vald/templates/gateway/backup/deployment.yaml
  charts/vald/templates/gateway/lb/daemonset.yaml
  charts/vald/templates/gateway/lb/deployment.yaml
  charts/vald/templates/gateway/meta/daemonset.yaml
  charts/vald/templates/gateway/meta/deployment.yaml
  charts/vald/templates/gateway/vald/daemonset.yaml
  charts/vald/templates/gateway/vald/deployment.yaml
  charts/vald/templates/manager/backup/daemonset.yaml
  charts/vald/templates/manager/backup/deployment.yaml
  charts/vald/templates/manager/compressor/daemonset.yaml
  charts/vald/templates/manager/compressor/deployment.yaml
  charts/vald/templates/manager/index/daemonset.yaml
  charts/vald/templates/manager/index/deployment.yaml
  charts/vald/templates/meta/daemonset.yaml
  charts/vald/templates/meta/deployment.yaml
  charts/vald/values.schema.json
  charts/vald/values.yaml
  dockers/ci/base/Dockerfile
Labels: area/helm, area/makefile, priority/low, size/S, team/sre, type/ci

#908 Add test case for internal/errors/http.go
  internal/errors/http.go
  internal/errors/http_test.go
Labels: area/internal, priority/low, size/XL, team/set, type/test

#869 create unit test guideline
  docs/contributing/coding-style.md
  docs/contributing/unit-test-guideline.md
Labels: priority/low, size/L

#814 E2E deploy test: rewrite in go tests
  .github/chatops_commands.md
  .github/helm/values/values-agent-sidecar.yaml
  .github/helm/values/values-redis-mysql.yaml
  .github/helm/values/values-scylla.yaml
  .github/workflows/e2e-deploy.yml
  Makefile
  Makefile.d/k8s.mk
  charts/vald/values-scylla.yaml
  cmd/manager/backup/cassandra/sample.yaml
  cmd/meta/cassandra/sample.yaml
  docs/tutorial/get-started.md
  example/helm/values-scylla.yaml
  go.mod
  go.sum
  hack/go.mod.default
  internal/db/rdb/mysql/mysql.go
  internal/db/rdb/mysql/mysql_test.go
  k8s/external/minio/deployment.yaml
  k8s/external/minio/mb-job.yaml
  k8s/external/minio/svc.yaml
  k8s/external/scylla/scyllacluster.yaml
  tests/e2e/crud_test.go
  tests/e2e/portforward/portforward.go
  tests/e2e/sidecar_test.go
Labels: actions/e2e-deploy, actions/fossa, area/helm, area/internal, area/makefile, area/manager/backup, area/meta, priority/low, size/XXL, team/set, team/sre, type/ci

#935 update dependencies
  Makefile
  go.mod
  go.sum
  hack/go.mod.default
  versions/GO_VERSION
  versions/NGT_VERSION
Labels: area/makefile, priority/low, size/M, team/sre, type/ci

#890 Revise Docker build command to update latest tags & nightly label
  .github/workflows/dockers-agent-ngt-image.yml
  .github/workflows/dockers-agent-sidecar-image.yml
  .github/workflows/dockers-backup-manager-cassandra-image.yml
  .github/workflows/dockers-backup-manager-mysql-image.yml
  .github/workflows/dockers-base-image.yml
  .github/workflows/dockers-ci-container-image.yml
  .github/workflows/dockers-dev-container-image.yml
  .github/workflows/dockers-discoverer-k8s-image.yml
  .github/workflows/dockers-gateway-backup-image.yml
  .github/workflows/dockers-gateway-lb-image.yml
  .github/workflows/dockers-gateway-meta-image.yml
  .github/workflows/dockers-gateway-vald-image.yml
  .github/workflows/dockers-helm-operator-image.yml
  .github/workflows/dockers-loadtest-image.yml
  .github/workflows/dockers-manager-compressor-image.yml
  .github/workflows/dockers-manager-index-image.yml
  .github/workflows/dockers-meta-cassandra-image.yml
  .github/workflows/dockers-meta-redis-image.yml
  Makefile.d/docker.mk
Labels: area/makefile, priority/medium, size/XXXL, team/sre, type/ci, type/feature

#937 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: priority/low, size/S, team/sre, type/ci, type/documentation

#939 update go modules
  go.mod
  go.sum
Labels: priority/low, size/S, type/ci

#900 Add a gRPC interceptor for embedding payloads into trace spans
  charts/vald/templates/_helpers.tpl
  charts/vald/values.schema.json
  charts/vald/values.yaml
  internal/net/grpc/interceptor.go
  internal/net/grpc/interceptor/server/recover/recover.go
  internal/net/grpc/interceptor/server/recover/recover_test.go
  internal/net/grpc/interceptor/server/trace/payload.go
  internal/servers/server/option.go
  internal/servers/server/option_test.go
  pkg/agent/core/ngt/usecase/agentd.go
  pkg/agent/sidecar/usecase/initcontainer/initcontainer.go
  pkg/agent/sidecar/usecase/sidecar/sidecar.go
  pkg/discoverer/k8s/usecase/discovered.go
  pkg/gateway/vald/usecase/vald.go
  pkg/manager/backup/cassandra/usecase/backupd.go
  pkg/manager/backup/mysql/usecase/backupd.go
  pkg/manager/compressor/usecase/compressord.go
  pkg/manager/index/usecase/indexer.go
  pkg/manager/replication/agent/usecase/backupd.go
  pkg/manager/replication/controller/usecase/discovered.go
  pkg/meta/cassandra/usecase/meta.go
  pkg/meta/redis/usecase/meta.go
Labels: actions/e2e-deploy, area/agent/core, area/agent/sidecar, area/discoverer, area/gateway, area/helm, area/internal, area/manager/backup, area/manager/index, area/manager/replication, area/meta, priority/medium, size/L, team/set, type/feature

#940 Update Grafana dashboards
  Makefile.d/k8s.mk
  internal/observability/metrics/agent/core/ngt/ngt.go
  k8s/metrics/grafana/configmap.yaml
  k8s/metrics/grafana/dashboards/00-vald-cluster-overview.yaml
  k8s/metrics/grafana/dashboards/01-vald-agent.yaml
  k8s/metrics/grafana/dashboards/02-vald-discoverer.yaml
  k8s/metrics/grafana/dashboards/03-vald-backup-manager.yaml
  k8s/metrics/grafana/dashboards/04-vald-compressor.yaml
  k8s/metrics/grafana/dashboards/05-vald-index-manager.yaml
  k8s/metrics/grafana/dashboards/06-vald-meta.yaml
  k8s/metrics/grafana/dashboards/vald-agent.json
  k8s/metrics/grafana/dashboards/vald-cluster-overview.json
  k8s/metrics/grafana/deployment.yaml
  k8s/metrics/loki/loki.yaml
  k8s/metrics/loki/promtail.yaml
  k8s/metrics/prometheus/configmap.yaml
  k8s/metrics/prometheus/deployment.yaml
  k8s/metrics/tempo/jaeger-agent.yaml
  k8s/metrics/tempo/tempo.yaml
Labels: area/internal, area/makefile, priority/low, size/XXL, team/sre, type/refactoring

#942 update rbac.authorization.k8s.io v1beta1 to v1
  go.mod
  go.sum
  internal/net/grpc/interceptor/server/recover/recover_test.go
  internal/net/grpc/interceptor/server/trace/payload.go
  internal/net/grpc/interceptor/server/trace/payload_test.go
  k8s/metrics/profefe/clusterrole.yaml
  k8s/metrics/profefe/clusterrolebinding.yaml
  k8s/metrics/prometheus/clusterrole.yaml
  k8s/metrics/prometheus/clusterrolebinding.yaml
Labels: priority/low, size/S, type/ci

#943 bugfix gateway-lb nil pointer panic due to nil filter configuration
  pkg/gateway/lb/handler/grpc/handler.go
Labels: area/gateway/lb, priority/high, size/S, type/bug

#945 Add option to use networking.k8s.io/v1beta1 ingresses
  charts/vald/templates/gateway/backup/ing.yaml
  charts/vald/templates/gateway/lb/ing.yaml
  charts/vald/templates/gateway/meta/ing.yaml
  charts/vald/templates/gateway/vald/ing.yaml
  charts/vald/values-agent-ngt-standalone.yaml
  charts/vald/values-gateways.yaml
  charts/vald/values.schema.json
  charts/vald/values.yaml
Labels: area/helm, priority/low, size/S, type/refactoring

#949 Fix invalid data loading code in example
  example/client/agent/main.go
  example/client/main.go
Labels: priority/medium, size/S, type/bug

#918 Add test case for internal/errors/mysql.go
  internal/errors/mysql.go
  internal/errors/mysql_test.go
Labels: area/internal, priority/low, size/XL, team/set, type/test

#944 Add Zap logger and access log interceptor
  charts/vald/values.schema.json
  charts/vald/values.yaml
  go.mod
  go.sum
  internal/log/format/format.go
  internal/log/format/format_test.go
  internal/log/glg/glg.go
  internal/log/glg/glg_test.go
  internal/log/log.go
  internal/log/log_test.go
  internal/log/logger/iface.go
  internal/log/logger/type.go
  internal/log/logger/type_test.go
  internal/log/mock/logger.go
  internal/log/mock/logger_test.go
  internal/log/zap/option.go
  internal/log/zap/option_test.go
  internal/log/zap/zap.go
  internal/log/zap/zap_test.go
  internal/net/grpc/interceptor/server/logging/accesslog.go
  internal/net/grpc/interceptor/server/logging/accesslog_test.go
  internal/runner/runner.go
  internal/servers/server/option.go
  internal/servers/server/option_test.go
  k8s/metrics/loki/promtail.yaml
  k8s/metrics/tempo/tempo.yaml
Labels: area/helm, area/internal, priority/medium, size/XXL, team/set, type/feature

#954 Update license headers / Format codes
  internal/log/zap/option.go
  internal/log/zap/option_test.go
  internal/log/zap/zap.go
  internal/log/zap/zap_test.go
Labels: area/internal, priority/low, size/S, team/set

#957 Remove actions/cache to improve workflow speed / Refactoring docker-build workflows
  .github/actions/docker-build/action.yaml
  .github/workflows/dockers-agent-ngt-image.yml
  .github/workflows/dockers-agent-sidecar-image.yml
  .github/workflows/dockers-backup-manager-cassandra-image.yml
  .github/workflows/dockers-backup-manager-mysql-image.yml
  .github/workflows/dockers-base-image.yml
  .github/workflows/dockers-ci-container-image.yml
  .github/workflows/dockers-dev-container-image.yml
  .github/workflows/dockers-discoverer-k8s-image.yml
  .github/workflows/dockers-gateway-backup-image.yml
  .github/workflows/dockers-gateway-filter-image.yml
  .github/workflows/dockers-gateway-lb-image.yml
  .github/workflows/dockers-gateway-meta-image.yml
  .github/workflows/dockers-gateway-vald-image.yml
  .github/workflows/dockers-helm-operator-image.yml
  .github/workflows/dockers-loadtest-image.yml
  .github/workflows/dockers-manager-compressor-image.yml
  .github/workflows/dockers-manager-index-image.yml
  .github/workflows/dockers-meta-cassandra-image.yml
  .github/workflows/dockers-meta-redis-image.yml
Labels: priority/low, size/S, team/sre, type/ci
