Repository vdaas/vald, pull requests merged in 2021-07, with the labels that each got.

#1327 remove owner and description info from resource info rich error for each grpc handler
  pkg/agent/core/ngt/handler/grpc/handler.go
  pkg/discoverer/k8s/handler/grpc/handler.go
  pkg/gateway/lb/handler/grpc/handler.go
Labels: actions/e2e-chaos, actions/e2e-deploy, area/agent/core, area/discoverer, area/gateway/lb, priority/low, size/L, type/refactoring

#1330 Fix typo in wait-for-docker-image action
  .github/actions/wait-for-docker-image/action.yaml
Labels: priority/low, size/S, team/sre, type/ci

#1324 add timestamp handler for agent timestamp controlled update
  pkg/agent/core/ngt/handler/grpc/handler.go
  pkg/agent/core/ngt/service/ngt.go
Labels: actions/e2e-chaos, actions/e2e-deploy, area/agent/core, priority/medium, size/M, type/feature

#1333 [bugfix] agent.GetObject API returns old indexed vector problem instead of vqueue's new data
  pkg/agent/core/ngt/service/ngt.go
Labels: actions/e2e-chaos, actions/e2e-deploy, area/agent/core, priority/medium, size/S, type/bug

#1335 [bugfix] nil pointer panic in agent's MultiUpsert operation
  pkg/agent/core/ngt/handler/grpc/handler.go
  pkg/gateway/lb/handler/grpc/handler.go
Labels: actions/e2e-chaos, actions/e2e-deploy, area/agent/core, area/gateway/lb, priority/medium, size/L, type/bug

#1336 update go module dependencies
  go.mod
  go.sum
  hack/go.mod.default
Labels: priority/low, size/L, type/ci

#1341 [bugfix] change kvsdb and vqueue check order for Exists operation
  pkg/agent/core/ngt/handler/grpc/handler.go
  pkg/agent/core/ngt/service/ngt.go
Labels: actions/e2e-chaos, actions/e2e-deploy, area/agent/core, priority/medium, size/M, type/bug

#1343 [bugfix] agent createindex operation's time.Ticker purges too slow & buffer overflow due to the unnecessary error wrapping
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/vqueue/queue.go
Labels: area/agent/core, priority/low, size/L, type/refactoring

#1345 update go version to 1.16.6 and update go module dependencies
  go.mod
  go.sum
  versions/GO_VERSION
Labels: actions/e2e-chaos, actions/e2e-deploy, area/agent/core, area/internal, priority/low, size/L, team/set, type/ci

#1348 add line trace logging when log mode is glg and level is debug
  go.mod
  go.sum
  internal/log/glg/glg.go
  internal/log/level/level.go
  internal/log/log.go
  internal/log/option_test.go
  internal/log/retry/retry.go
Labels: area/internal, priority/medium, size/L, team/set, type/feature

#1331 Remove backup, meta components from CI-related codes.
  .github/actions/detect-docker-image-tags/action.yaml
  .github/actions/e2e-deploy-vald/action.yaml
  .github/actions/wait-for-docker-image/action.yaml
  .github/helm/values/values-chaos.yaml
  .github/helm/values/values-redis-mysql.yaml
  .github/helm/values/values-scylla.yaml
  .github/workflows/dockers-backup-manager-cassandra-image.yml
  .github/workflows/dockers-backup-manager-mysql-image.yml
  .github/workflows/dockers-gateway-backup-image.yml
  .github/workflows/dockers-gateway-meta-image.yml
  .github/workflows/dockers-gateway-vald-image.yml
  .github/workflows/dockers-image-scan.yml
  .github/workflows/dockers-manager-compressor-image.yml
  .github/workflows/dockers-meta-cassandra-image.yml
  .github/workflows/dockers-meta-redis-image.yml
  .github/workflows/e2e-chaos.yaml
  .github/workflows/e2e-deploy.yml
  tests/chaos/chart/values.yaml
Labels: actions/e2e-chaos, actions/e2e-deploy, priority/low, size/S, team/sre, type/ci

#1349 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: priority/low, size/S, team/sre, type/ci, type/documentation

#1346 comment out backup/meta/compressor build command in Makefile
  Makefile.d/build.mk
Labels: area/makefile, priority/low, size/L, status/author-review, team/sre, type/refactoring

#1355 Upgrade tools
  Makefile
Labels: area/makefile, priority/low, size/S, team/sre, type/ci

#1352 add time validation for vqueue
  pkg/agent/core/ngt/service/vqueue/queue.go
Labels: actions/e2e-chaos, actions/e2e-deploy, area/agent/core, priority/low, size/M, type/refactoring

#1351 Use GPG key for signing commits of CI service account
  .github/workflows/chatops.yml
  .github/workflows/format.yml
  .github/workflows/helm.yml
  .github/workflows/semver.yml
  .github/workflows/update_pull_request_and_issue_template.yml
Labels: priority/low, size/S, team/sre, type/ci

#1347 Add Upsert operation tests
  .github/workflows/e2e-deploy.yml
  Makefile
  Makefile.d/e2e.mk
  Makefile.d/functions.mk
  tests/e2e/crud/crud_test.go
  tests/e2e/operation/operation.go
Labels: actions/e2e-deploy, area/makefile, priority/low, size/M, team/set, team/sre, type/ci

#1358 Fix mount paths of Agent statefulset when using PVC template
  charts/vald/templates/agent/statefulset.yaml
Labels: area/helm, priority/medium, size/S, type/bug

#1360 Add condition to trigger importing gpg key on ChatOps workflow
  .github/workflows/chatops.yml
Labels: priority/low, size/S, team/sre, type/ci

#1362 Add gnupg to ci-container
  dockers/ci/base/Dockerfile
Labels: priority/low, size/S, type/ci

#1359 change initial-index-directory removal logic
  internal/core/algorithm/ngt/ngt.go
Labels: area/internal, priority/medium, size/S, type/bug

#1361 Fix bug of BulkInsert when error occurs
  internal/core/algorithm/ngt/ngt.go
Labels: area/internal, priority/medium, size/S, type/bug

#1304 Update architecture overview
  assets/docs/overview/Vald Basic Architecture.svg
  assets/docs/overview/dataflow_v2.drawio
  assets/docs/overview/delete_flow.drawio
  assets/docs/overview/delete_flow.png
  assets/docs/overview/delete_flow_v2.svg
  assets/docs/overview/insert_flow.drawio
  assets/docs/overview/insert_flow.png
  assets/docs/overview/insert_flow.svg
  assets/docs/overview/insert_flow_v2.svg
  assets/docs/overview/search_flow.drawio
  assets/docs/overview/search_flow.png
  assets/docs/overview/search_flow.svg
  assets/docs/overview/search_flow_v2.svg
  assets/docs/overview/update_flow.drawio
  assets/docs/overview/update_flow.png
  assets/docs/overview/update_flow_v2.svg
  assets/docs/overview/upsert_flow.drawio
  assets/docs/overview/upsert_flow.png
  assets/docs/overview/upsert_flow_v2.svg
  docs/overview/architecture.md
  docs/overview/data-flow.md
Labels: priority/low, size/L, type/documentation

#1363 update go module version
  go.mod
  go.sum
  hack/go.mod.default
Labels: priority/low, size/L, type/ci

#1334 remove meta backup compressor from charts
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/README.md
  charts/vald/README.md.gotmpl
  charts/vald/templates/_helpers.tpl
  charts/vald/templates/gateway/backup/configmap.yaml
  charts/vald/templates/gateway/backup/daemonset.yaml
  charts/vald/templates/gateway/backup/deployment.yaml
  charts/vald/templates/gateway/backup/hpa.yaml
  charts/vald/templates/gateway/backup/ing.yaml
  charts/vald/templates/gateway/backup/pdb.yaml
  charts/vald/templates/gateway/backup/priorityclass.yaml
  charts/vald/templates/gateway/backup/svc.yaml
  charts/vald/templates/gateway/filter/configmap.yaml
  charts/vald/templates/gateway/meta/configmap.yaml
  charts/vald/templates/gateway/meta/daemonset.yaml
  charts/vald/templates/gateway/meta/deployment.yaml
  charts/vald/templates/gateway/meta/hpa.yaml
  charts/vald/templates/gateway/meta/ing.yaml
  charts/vald/templates/gateway/meta/pdb.yaml
  charts/vald/templates/gateway/meta/priorityclass.yaml
  charts/vald/templates/gateway/meta/svc.yaml
  charts/vald/templates/gateway/vald/configmap.yaml
  charts/vald/templates/gateway/vald/daemonset.yaml
  charts/vald/templates/gateway/vald/deployment.yaml
  charts/vald/templates/gateway/vald/hpa.yaml
  charts/vald/templates/gateway/vald/ing.yaml
  charts/vald/templates/gateway/vald/pdb.yaml
  charts/vald/templates/gateway/vald/priorityclass.yaml
  charts/vald/templates/gateway/vald/svc.yaml
  charts/vald/templates/manager/backup/configmap.yaml
  charts/vald/templates/manager/backup/daemonset.yaml
  charts/vald/templates/manager/backup/deployment.yaml
  charts/vald/templates/manager/backup/hpa.yaml
  charts/vald/templates/manager/backup/pdb.yaml
  charts/vald/templates/manager/backup/priorityclass.yaml
  charts/vald/templates/manager/backup/svc.yaml
  charts/vald/templates/manager/compressor/configmap.yaml
  charts/vald/templates/manager/compressor/daemonset.yaml
  charts/vald/templates/manager/compressor/deployment.yaml
  charts/vald/templates/manager/compressor/hpa.yaml
  charts/vald/templates/manager/compressor/pdb.yaml
  charts/vald/templates/manager/compressor/priorityclass.yaml
  charts/vald/templates/manager/compressor/svc.yaml
  charts/vald/templates/meta/configmap.yaml
  charts/vald/templates/meta/daemonset.yaml
  charts/vald/templates/meta/deployment.yaml
  charts/vald/templates/meta/hpa.yaml
  charts/vald/templates/meta/pdb.yaml
  charts/vald/templates/meta/priorityclass.yaml
  charts/vald/templates/meta/svc.yaml
  charts/vald/values.schema.json
  charts/vald/values.yaml
  charts/vald/values/agent-ngt-standalone.yaml
  charts/vald/values/dev.yaml
  charts/vald/values/scylla.yaml
  docs/tutorial/using-backup-with-scylladb.md
  example/helm/values-scylla.yaml
  example/helm/values-standalone-agent-ngt.yaml
  example/helm/values.yaml
Labels: area/helm, priority/low, size/XL, type/refactoring

#1366 add mote accurate directory detection logic for removing
  internal/core/algorithm/ngt/ngt.go
  internal/core/algorithm/ngt/util.go
  internal/core/algorithm/ngt/util_test.go
  internal/errors/meta.go
  internal/file/file.go
  internal/file/file_test.go
  internal/params/params.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/internal/metadata/metadata.go
  pkg/agent/sidecar/service/restorer/restorer.go
Labels: area/agent/core, area/agent/sidecar, area/internal, priority/medium, size/XL, team/set, type/bug

#1364 Add core algorithm ngt test
  internal/core/algorithm/ngt/ngt_test.go
  internal/core/algorithm/ngt/option_test.go
  internal/test/comparator/comparators.go
  internal/test/comparator/standard.go
Labels: area/internal, priority/low, size/XXL, team/set, type/test
