Repository vdaas/vald, pull requests merged in 2021-10, with the labels that each got.

#1450 Remove non-exist components from doc and ci
  .deepsource.toml
  .fossa.yml
  .github/labeler.yml
  CONTRIBUTING.md
  Makefile.d/k8s.mk
  README.md
  dockers/manager/replication/controller/Dockerfile
  docs/overview/component/index.md
  hack/CHANGELOG.template.md
Labels: team/set, team/sre, priority/low, type/documentation, size/L, area/internal, type/ci, area/makefile

#1459 Update license headers / Format codes
  hack/benchmark/internal/operation/insert.go
  hack/benchmark/internal/operation/operation.go
  hack/benchmark/internal/operation/option.go
  hack/benchmark/internal/operation/remove.go
  hack/benchmark/internal/operation/search.go
  hack/benchmark/internal/operation/util.go
Labels: priority/low, size/M

#1458 fix unlimited gorountine processing in kvsdb
  charts/vald/values.yaml
  go.mod
  go.sum
  hack/go.mod.default
  internal/db/storage/blob/s3/reader/reader_test.go
  internal/errgroup/group.go
  internal/errgroup/group_test.go
  internal/net/dialer.go
  internal/net/dialer_test.go
  internal/net/grpc/stream.go
  internal/net/option.go
  internal/net/option_test.go
  internal/servers/servers.go
  k8s/agent/configmap.yaml
  pkg/agent/core/ngt/handler/grpc/handler.go
  pkg/agent/core/ngt/handler/grpc/option.go
  pkg/agent/core/ngt/service/kvs/kvs_test.go
  pkg/agent/core/ngt/service/kvs/option.go
  pkg/gateway/filter/handler/grpc/option.go
  pkg/gateway/lb/handler/grpc/option.go
Labels: type/bug, team/set, priority/medium, size/L, area/internal, area/helm, area/agent/core, area/gateway/lb, area/gateway/filter, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling
