Repository vdaas/vald, pull requests merged in 2021-06, with the labels that each got.

#1267 Docs/readme/replace architecture overview
  assets/docs/tutorial/getstarted.drawio
  assets/image/svg/Vald Architecture Overview Full.svg
  assets/image/svg/Vald Architecture Overview.svg
Labels: priority/low, size/L

#1270 bugfix nil internal/net/grpc.Client.Reconnect nil pointer fix
  internal/net/grpc/client.go
Labels: area/internal, size/S, type/bug

#1269 Fix CI error of copy test
  internal/io/copy_test.go
Labels: area/internal, priority/low, size/S, team/set, type/test

#1272 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, size/S, type/documentation

#1271 Fix Helm chart: agent-sidecar initContainer mode
  charts/vald/templates/agent/daemonset.yaml
  charts/vald/templates/agent/deployment.yaml
  charts/vald/templates/agent/statefulset.yaml
Labels: area/helm, priority/medium, size/S, type/bug

#1220 Refactor E2E tests: split operations into a new package
  .github/helm/values/values-agent-sidecar.yaml
  .github/workflows/e2e-chaos.yaml
  .github/workflows/e2e-deploy.yml
  Makefile.d/e2e.mk
  Makefile.d/functions.mk
  tests/e2e/crud/crud_test.go
  tests/e2e/crud_test.go
  tests/e2e/hdf5/hdf5.go
  tests/e2e/kubernetes/client/client.go
  tests/e2e/kubernetes/portforward/portforward.go
  tests/e2e/operation/operation.go
  tests/e2e/sidecar/sidecar_test.go
  tests/e2e/sidecar_test.go
Labels: actions/e2e-chaos, actions/e2e-deploy, actions/fossa, area/makefile, priority/low, size/XXL, team/set, team/sre, type/ci, type/refactoring

#1274 fix some wrongs of documents
  docs/contributing/unit-test-guideline.md
  docs/tutorial/using-backup-with-scylladb.md
  docs/tutorial/vald-agent-standalone-on-docker.md
Labels: priority/low, size/S, type/documentation

#1273 Update license headers / Format codes
  tests/e2e/operation/operation.go
Labels: priority/low, size/S

#1278 Use gofumpt as a default formatter
  .github/workflows/chatops.yml
  Makefile
  docs/contributing/coding-style.md
  hack/git/hooks/pre-commit
Labels: area/makefile, priority/low, size/S, team/sre, type/ci

#1279 Revert "Use gofumpt as a default formatter"
  .github/workflows/chatops.yml
  Makefile
  docs/contributing/coding-style.md
  hack/git/hooks/pre-commit
Labels: area/makefile, priority/low, size/S, team/sre, type/ci

#1282 [bugfix] kvsdb: do not increment the counter if key exists
  pkg/agent/core/ngt/service/kvs/kvs.go
  pkg/agent/core/ngt/service/kvs/kvs_test.go
  pkg/agent/core/ngt/service/kvs/uo.go
  pkg/agent/core/ngt/service/kvs/uo_test.go
Labels: area/agent/core, priority/medium, size/L, team/set, type/bug

#1281 Use gofumpt for format workflow
  .github/workflows/chatops.yml
  .github/workflows/format.yml
  Makefile
  docs/contributing/coding-style.md
  hack/git/hooks/pre-commit
Labels: area/makefile, priority/low, size/S, team/sre, type/ci

#1284 Update license headers / Format codes
  internal/config/server_test.go
  internal/net/http/client/option_test.go
Labels: area/internal, priority/low, size/S, team/set

#1285 Fix time condition of agent & lb gateway
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/vqueue/queue.go
  pkg/gateway/lb/handler/grpc/handler.go
Labels: actions/e2e-chaos, actions/e2e-deploy, area/agent/core, area/gateway/lb, priority/medium, size/S, type/bug

#1290 fix example/helm/values.yaml
  example/helm/values-scylla.yaml
  example/helm/values.yaml
Labels: priority/low, size/S, type/refactoring

#1288 Bugfix index count problem of ngt
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/vqueue/queue.go
  pkg/agent/core/ngt/service/vqueue/queue_test.go
Labels: actions/e2e-chaos, actions/e2e-deploy, area/agent/core, priority/medium, size/L, status/author-review, team/set, type/bug

#1292 add save index wait duration to index-manager for multiple agent index upload delay
  Makefile
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/templates/manager/index/configmap.yaml
  charts/vald/values.schema.json
  charts/vald/values.yaml
  go.mod
  go.sum
  internal/config/index.go
  internal/errors/vald.go
  internal/net/control/control_darwin.go
  internal/net/control/control_other.go
  internal/net/control/control_unix.go
  internal/net/control/control_windows.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/ngt_test.go
  pkg/gateway/lb/handler/grpc/handler.go
  pkg/manager/index/config/config_test.go
  pkg/manager/index/handler/grpc/handler_test.go
  pkg/manager/index/handler/grpc/option_test.go
  pkg/manager/index/handler/rest/handler_test.go
  pkg/manager/index/handler/rest/option_test.go
  pkg/manager/index/router/option_test.go
  pkg/manager/index/router/router_test.go
  pkg/manager/index/service/indexer.go
  pkg/manager/index/service/indexer_test.go
  pkg/manager/index/service/indexinfos_test.go
  pkg/manager/index/service/option.go
  pkg/manager/index/service/option_test.go
  pkg/manager/index/usecase/indexer.go
  pkg/manager/index/usecase/indexer_test.go
  tests/e2e/crud/crud_test.go
  tests/e2e/hdf5/hdf5.go
  tests/e2e/kubernetes/client/client.go
  tests/e2e/kubernetes/portforward/portforward.go
  tests/e2e/sidecar/sidecar_test.go
Labels: actions/e2e-chaos, actions/e2e-deploy, area/agent/core, area/gateway/lb, area/helm, area/internal, area/makefile, area/manager/index, priority/medium, size/XXL, team/set, team/sre, type/feature

#1294 Update license headers / Format codes
  pkg/agent/core/ngt/service/vqueue/queue_test.go
Labels: area/agent/core, priority/low, size/S, team/set

#1257 Add composite actions for E2E tests
  .github/actions/detect-docker-image-tags/action.yaml
  .github/actions/e2e-deploy-vald/action.yaml
  .github/actions/wait-for-docker-image/action.yaml
  .github/helm/values/values-lb.yaml
  .github/workflows/e2e-chaos.yaml
  .github/workflows/e2e-deploy.yml
  tests/chaos/chart/templates/network/bandwidth.yaml
  tests/chaos/chart/values.yaml
Labels: actions/e2e-chaos, actions/e2e-deploy, priority/low, size/S, team/sre, type/ci, type/refactoring

#1280 Update dashboards, add operator dashboard and several panels
  k8s/metrics/grafana/dashboards/00-vald-cluster-overview.yaml
  k8s/metrics/grafana/dashboards/01-vald-agent.yaml
  k8s/metrics/grafana/dashboards/02-vald-discoverer.yaml
  k8s/metrics/grafana/dashboards/03-vald-backup-manager.yaml
  k8s/metrics/grafana/dashboards/04-vald-compressor.yaml
  k8s/metrics/grafana/dashboards/05-vald-index-manager.yaml
  k8s/metrics/grafana/dashboards/06-vald-meta.yaml
  k8s/metrics/grafana/dashboards/07-vald-helm-operator.yaml
  k8s/metrics/grafana/deployment.yaml
  k8s/metrics/prometheus/configmap.yaml
Labels: priority/medium, size/S, type/feature

#1297 Update license headers / Format codes
  .github/actions/detect-docker-image-tags/action.yaml
  .github/actions/wait-for-docker-image/action.yaml
Labels: priority/low, size/S, team/sre, type/ci

#1299 Fix fails test in race condition
  pkg/agent/core/ngt/service/kvs/kvs_test.go
Labels: area/agent/core, priority/medium, size/S, team/set, type/bug

#1303 bugfix add feature vector duplication checking for LB-GW Upsert operation.
  go.mod
  go.sum
  hack/go.mod.default
  internal/net/control/control_darwin.go
  internal/net/control/control_other.go
  internal/net/control/control_unix.go
  internal/net/control/control_windows.go
  pkg/gateway/lb/handler/grpc/handler.go
  tests/e2e/crud/crud_test.go
  tests/e2e/hdf5/hdf5.go
  tests/e2e/kubernetes/client/client.go
  tests/e2e/kubernetes/portforward/portforward.go
  tests/e2e/operation/operation.go
  tests/e2e/sidecar/sidecar_test.go
Labels: actions/e2e-chaos, actions/e2e-deploy, area/gateway/lb, area/internal, priority/medium, size/L, team/set, type/bug

#1301 Add ruleguard rules
  .github/workflows/test-hack.yml
  .golangci.yml
  Makefile
  Makefile.d/proto.mk
  Makefile.d/test.mk
  apis/grpc/v1/payload/interface.go
  go.mod
  go.sum
  hack/gorules/rules.go
  hack/gorules/rules_test.go
  hack/gorules/testdata/tests.go
Labels: area/makefile, priority/low, size/L, team/set, team/sre, type/ci

#1302 Apply ruleguard fixes
  internal/net/grpc/status/status.go
  pkg/agent/core/ngt/handler/grpc/handler.go
  pkg/discoverer/k8s/service/discover.go
  pkg/gateway/backup/handler/grpc/handler.go
  pkg/gateway/filter/handler/grpc/handler.go
  pkg/gateway/internal/location/location.go
  pkg/gateway/lb/handler/grpc/handler.go
  pkg/gateway/meta/handler/grpc/handler.go
  pkg/gateway/vald/handler/grpc/handler.go
  pkg/manager/backup/cassandra/handler/grpc/handler.go
  pkg/manager/backup/mysql/handler/grpc/handler.go
  tests/e2e/operation/operation.go
Labels: actions/e2e-chaos, actions/e2e-deploy, area/agent/core, area/discoverer, area/gateway, area/gateway/backup, area/gateway/filter, area/gateway/lb, area/gateway/meta, area/internal, area/manager/backup, priority/low, size/L, type/ci

#1309 bugfix correct error backoff handling for lb gateway
  Makefile.d/k8s.mk
  internal/net/grpc/client.go
  internal/net/grpc/status/status.go
  pkg/gateway/lb/handler/grpc/handler.go
Labels: actions/e2e-chaos, actions/e2e-deploy, area/gateway/lb, area/internal, area/makefile, priority/medium, size/L, team/sre, type/bug

#1221 fix build error due to e2e benchmark invalid creating new client
  hack/benchmark/e2e/agent/core/ngt/ngt_bench_test.go
Labels: priority/medium, size/S, team/set, type/bug

#1251 Implement test for internal/core/alogrithm/ngt/option and refactor
  docs/contributing/coding-style.md
  internal/core/algorithm/ngt/ngt.go
  internal/core/algorithm/ngt/option.go
  internal/core/algorithm/ngt/option_test.go
  internal/errors/option.go
  internal/errors/option_test.go
Labels: actions/e2e-chaos, actions/e2e-deploy, area/internal, priority/low, size/XXL, status/author-review, team/set, type/test

#1306 update go modules and update go version to 1.16.5 from 1.16.4
  Makefile
  go.mod
  go.sum
  hack/go.mod.default
  internal/core/algorithm/ngt/option_test.go
  versions/GO_VERSION
Labels: actions/e2e-chaos, actions/e2e-deploy, area/makefile, priority/low, size/L, team/sre, type/ci

#1314 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: size/S, team/sre, type/ci, type/documentation

#1318 bugfix remove api return wrong error of non exsiting replicas
  pkg/gateway/lb/handler/grpc/handler.go
Labels: actions/e2e-chaos, actions/e2e-deploy, area/gateway/lb, priority/medium, size/M, type/bug

#1289 Update documents: configurations
  charts/vald/README.md.gotmpl
  docs/user-guides/configuration.md
  internal/net/control/control_darwin.go
  internal/net/control/control_other.go
  internal/net/control/control_unix.go
  internal/net/control/control_windows.go
  tests/e2e/crud/crud_test.go
  tests/e2e/hdf5/hdf5.go
  tests/e2e/kubernetes/client/client.go
  tests/e2e/kubernetes/portforward/portforward.go
  tests/e2e/sidecar/sidecar_test.go
Labels: area/helm, area/internal, priority/low, size/L, team/set, type/documentation
