Repository vdaas/vald, pull requests merged in 2021-02, with the labels that each got.

#958 add test for internal/errors/vald
  .github/actions/docker-build/action.yaml
  internal/errors/vald.go
  internal/errors/vald_test.go
Labels: area/internal, priority/low, size/L, team/set, team/sre, type/ci, type/test

#968 Use cass-operator to deploy cassandra for dev cluster
  Makefile
  Makefile.d/k8s.mk
  charts/vald/values-cassandra.yaml
  k8s/external/cassandra/cassandracluster.yaml
  k8s/external/cassandra/statefulset.yaml
  k8s/external/cassandra/svc.yaml
Labels: area/helm, area/makefile, priority/low, size/S, team/sre, type/refactoring

#970 Use checksum of configmap for sidecar-enabled Agents.
  .github/workflows/reviewdog-k8s.yml
  charts/vald/templates/agent/daemonset.yaml
  charts/vald/templates/agent/deployment.yaml
  charts/vald/templates/agent/statefulset.yaml
Labels: area/helm, priority/low, size/S, team/sre, type/ci, type/refactoring

#950 create new test and refactor for errors/option
  internal/errors/option.go
  internal/errors/option_test.go
  k8s/external/cassandra/cassandracluster.yaml
Labels: area/internal, priority/low, size/XXL, team/set, team/sre, type/ci, type/test

#936 Add test case for internal/errors/ngt.go
  internal/errors/ngt.go
  internal/errors/ngt_test.go
Labels: area/internal, priority/low, size/XXL, team/set, team/sre, type/ci, type/test

#963 Bug fix for gateway
  .github/helm/values/values-scylla.yaml
  .github/workflows/e2e-deploy.yml
  Makefile
  Makefile.d/e2e.mk
  Makefile.d/functions.mk
  Makefile.d/k8s.mk
  apis/docs/v1/docs.md
  charts/vald/values-scylla.yaml
  go.mod
  go.sum
  internal/client/v1/client/compressor/client.go
  internal/client/v1/client/discoverer/discover.go
  internal/net/grpc/client.go
  internal/net/grpc/errdetails/errdetails.go
  internal/net/grpc/status/status.go
  internal/net/grpc/stream.go
  internal/net/grpc/types/types.go
  pkg/agent/core/ngt/handler/grpc/handler.go
  pkg/gateway/backup/handler/grpc/handler.go
  pkg/gateway/lb/handler/grpc/handler.go
  pkg/gateway/lb/service/gateway.go
  pkg/gateway/meta/handler/grpc/handler.go
  pkg/gateway/meta/service/meta.go
  tests/e2e/crud_test.go
Labels: actions/e2e-deploy, area/agent/core, area/gateway/backup, area/gateway/lb, area/gateway/meta, area/helm, area/internal, area/makefile, priority/low, size/XXL, team/set, team/sre, type/ci

#975 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/backup/configmap.yaml
  k8s/gateway/backup/deployment.yaml
  k8s/gateway/backup/hpa.yaml
  k8s/gateway/backup/pdb.yaml
  k8s/gateway/backup/priorityclass.yaml
  k8s/gateway/backup/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/gateway/meta/configmap.yaml
  k8s/gateway/meta/deployment.yaml
  k8s/gateway/meta/hpa.yaml
  k8s/gateway/meta/ing.yaml
  k8s/gateway/meta/pdb.yaml
  k8s/gateway/meta/priorityclass.yaml
  k8s/gateway/meta/svc.yaml
  k8s/manager/backup/configmap.yaml
  k8s/manager/backup/deployment.yaml
  k8s/manager/backup/hpa.yaml
  k8s/manager/backup/pdb.yaml
  k8s/manager/backup/priorityclass.yaml
  k8s/manager/backup/svc.yaml
  k8s/manager/compressor/configmap.yaml
  k8s/manager/compressor/deployment.yaml
  k8s/manager/compressor/hpa.yaml
  k8s/manager/compressor/pdb.yaml
  k8s/manager/compressor/priorityclass.yaml
  k8s/manager/compressor/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/meta/configmap.yaml
  k8s/meta/deployment.yaml
  k8s/meta/hpa.yaml
  k8s/meta/pdb.yaml
  k8s/meta/priorityclass.yaml
  k8s/meta/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, size/S, type/documentation

#969 Add test case for internal/errors/net.go
  internal/errors/net.go
  internal/errors/net_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#929 create test for internal/errors/errors.go
  internal/errors/errors.go
  internal/errors/errors_test.go
Labels: area/internal, priority/low, size/XXL, team/set, type/test

#952 Implement internal/errors/worker test
  internal/errors/worker.go
  internal/errors/worker_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#980 [patch] bugfix lb-gateway's Insert rpc nil pointer panic
  go.mod
  go.sum
  internal/safety/safety.go
  pkg/gateway/backup/handler/grpc/handler.go
  pkg/gateway/filter/handler/grpc/handler.go
  pkg/gateway/lb/handler/grpc/handler.go
  pkg/gateway/meta/handler/grpc/handler.go
Labels: area/gateway/backup, area/gateway/filter, area/gateway/lb, area/gateway/meta, area/internal, priority/medium, size/L, type/bug

#981 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/backup/configmap.yaml
  k8s/gateway/backup/deployment.yaml
  k8s/gateway/backup/hpa.yaml
  k8s/gateway/backup/pdb.yaml
  k8s/gateway/backup/priorityclass.yaml
  k8s/gateway/backup/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/gateway/meta/configmap.yaml
  k8s/gateway/meta/deployment.yaml
  k8s/gateway/meta/hpa.yaml
  k8s/gateway/meta/ing.yaml
  k8s/gateway/meta/pdb.yaml
  k8s/gateway/meta/priorityclass.yaml
  k8s/gateway/meta/svc.yaml
  k8s/manager/backup/configmap.yaml
  k8s/manager/backup/deployment.yaml
  k8s/manager/backup/hpa.yaml
  k8s/manager/backup/pdb.yaml
  k8s/manager/backup/priorityclass.yaml
  k8s/manager/backup/svc.yaml
  k8s/manager/compressor/configmap.yaml
  k8s/manager/compressor/deployment.yaml
  k8s/manager/compressor/hpa.yaml
  k8s/manager/compressor/pdb.yaml
  k8s/manager/compressor/priorityclass.yaml
  k8s/manager/compressor/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/meta/configmap.yaml
  k8s/meta/deployment.yaml
  k8s/meta/hpa.yaml
  k8s/meta/pdb.yaml
  k8s/meta/priorityclass.yaml
  k8s/meta/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, size/S, type/documentation

#990 Update chatops permission
  .github/chatops_permissions.yaml
Labels: priority/low, size/S, team/sre, type/ci

#979 add test for internal/errors/unit
  internal/errors/unit.go
  internal/errors/unit_test.go
Labels: area/internal, priority/low, size/M, team/set, type/test

#982 add test for internal/errors/tensorflow
  internal/errors/tensorflow.go
  internal/errors/tensorflow_test.go
Labels: area/internal, priority/low, size/XL, team/set, type/test

#984 add test for internal/errors/runtime
  internal/errors/runtime.go
  internal/errors/runtime_test.go
Labels: area/internal, priority/low, size/L, team/set, type/test

#985 Add zap logger to chart schema
  charts/vald/values.schema.json
  charts/vald/values.yaml
Labels: area/helm, priority/low, size/S

#899 Add E2E Chaos tests running on GitHub Actions
  .github/helm/values/values-chaos.yaml
  .github/workflows/e2e-chaos.yaml
  Makefile.d/k8s.mk
  tests/chaos/chart/.helmignore
  tests/chaos/chart/Chart.yaml
  tests/chaos/chart/templates/NOTES.txt
  tests/chaos/chart/templates/_helpers.tpl
  tests/chaos/chart/templates/network/partition.yaml
  tests/chaos/chart/templates/pod/failure.yaml
  tests/chaos/chart/templates/pod/kill.yaml
  tests/chaos/chart/values.yaml
  tests/e2e/crud_test.go
Labels: actions/e2e-chaos, actions/e2e-deploy, area/helm, area/makefile, priority/low, size/XXL, team/set, team/sre, type/ci

#992 Use namespaced names for priorityclasses of new gateways
  charts/vald/templates/gateway/backup/priorityclass.yaml
  charts/vald/templates/gateway/filter/priorityclass.yaml
  charts/vald/templates/gateway/lb/priorityclass.yaml
  charts/vald/templates/gateway/meta/priorityclass.yaml
Labels: area/helm, priority/medium, size/S, type/bug

#995 Remove base docker image
  .deepsource.toml
  .github/workflows/dockers-agent-ngt-image.yml
  .github/workflows/dockers-agent-sidecar-image.yml
  .github/workflows/dockers-backup-manager-cassandra-image.yml
  .github/workflows/dockers-backup-manager-mysql-image.yml
  .github/workflows/dockers-base-image.yml
  .github/workflows/dockers-discoverer-k8s-image.yml
  .github/workflows/dockers-gateway-backup-image.yml
  .github/workflows/dockers-gateway-filter-image.yml
  .github/workflows/dockers-gateway-lb-image.yml
  .github/workflows/dockers-gateway-meta-image.yml
  .github/workflows/dockers-gateway-vald-image.yml
  .github/workflows/dockers-loadtest-image.yml
  .github/workflows/dockers-manager-compressor-image.yml
  .github/workflows/dockers-manager-index-image.yml
  .github/workflows/dockers-meta-cassandra-image.yml
  .github/workflows/dockers-meta-redis-image.yml
  Makefile
  Makefile.d/docker.mk
  dockers/agent/core/ngt/Dockerfile
  dockers/agent/sidecar/Dockerfile
  dockers/base/Dockerfile
  dockers/ci/base/Dockerfile
  dockers/dev/Dockerfile
  dockers/discoverer/k8s/Dockerfile
  dockers/gateway/backup/Dockerfile
  dockers/gateway/filter/Dockerfile
  dockers/gateway/lb/Dockerfile
  dockers/gateway/meta/Dockerfile
  dockers/gateway/vald/Dockerfile
  dockers/manager/backup/cassandra/Dockerfile
  dockers/manager/backup/mysql/Dockerfile
  dockers/manager/compressor/Dockerfile
  dockers/manager/index/Dockerfile
  dockers/manager/replication/agent/Dockerfile
  dockers/manager/replication/controller/Dockerfile
  dockers/meta/cassandra/Dockerfile
  dockers/meta/redis/Dockerfile
  dockers/operator/helm/Dockerfile
  dockers/tools/cli/loadtest/Dockerfile
Labels: area/makefile, priority/low, size/L, team/sre, type/ci

#997 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: team/sre, type/ci

#999 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/backup/configmap.yaml
  k8s/gateway/backup/deployment.yaml
  k8s/gateway/backup/hpa.yaml
  k8s/gateway/backup/pdb.yaml
  k8s/gateway/backup/priorityclass.yaml
  k8s/gateway/backup/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/gateway/meta/configmap.yaml
  k8s/gateway/meta/deployment.yaml
  k8s/gateway/meta/hpa.yaml
  k8s/gateway/meta/ing.yaml
  k8s/gateway/meta/pdb.yaml
  k8s/gateway/meta/priorityclass.yaml
  k8s/gateway/meta/svc.yaml
  k8s/manager/backup/configmap.yaml
  k8s/manager/backup/deployment.yaml
  k8s/manager/backup/hpa.yaml
  k8s/manager/backup/pdb.yaml
  k8s/manager/backup/priorityclass.yaml
  k8s/manager/backup/svc.yaml
  k8s/manager/compressor/configmap.yaml
  k8s/manager/compressor/deployment.yaml
  k8s/manager/compressor/hpa.yaml
  k8s/manager/compressor/pdb.yaml
  k8s/manager/compressor/priorityclass.yaml
  k8s/manager/compressor/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/meta/configmap.yaml
  k8s/meta/deployment.yaml
  k8s/meta/hpa.yaml
  k8s/meta/pdb.yaml
  k8s/meta/priorityclass.yaml
  k8s/meta/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, size/S, type/documentation

#993 Add test case for internal/errors/observability.go
  internal/errors/observability.go
  internal/errors/observability_test.go
Labels: area/internal, priority/low, size/M, team/set, type/test

#1002 Fix invalid changelogs / update changelog workflows
  .github/chatops_commands.md
  .github/workflows/chatops.yml
  .github/workflows/semver.yml
  CHANGELOG.md
  Makefile
  README.md
  hack/CHANGELOG.template.md
Labels: area/makefile, priority/low, size/L, team/sre, type/ci

#973 add logo guideline
  README.md
  assets/image/Vald_brandguidelines.pdf
  assets/image/ai/Vald_logo_CMYK.ai
  assets/image/ai/Vald_logo_RGB.ai
  assets/image/ai/vald_ol.ai
  assets/image/png/black_bottom.png
  assets/image/png/color_bottom.png
  assets/image/png/logo.png
  assets/image/png/logo_darkgray.png
  assets/image/png/logo_white.png
  assets/image/png/symbol.png
  assets/image/png/symbol_darkgray.png
  assets/image/png/symbol_white.png
  assets/image/png/white_bottom.png
  assets/image/readme.svg
  assets/image/svg/black_bottom.svg
  assets/image/svg/color_bottom.svg
  assets/image/svg/color_right.svg
  assets/image/svg/icon_color.svg
  assets/image/svg/logo.svg
  assets/image/svg/logo_darkgray.svg
  assets/image/svg/logo_white.svg
  assets/image/svg/symbol.svg
  assets/image/svg/symbol_darkgray.svg
  assets/image/svg/symbol_white.svg
  assets/image/svg/white_bottom.svg
Labels: priority/low, size/XXXL

#1007 add test for internal/errors/runner
  assets/image/Vald_brandguidelines.pdf
  internal/errors/runner.go
  internal/errors/runner_test.go
Labels: area/internal, priority/low, size/XL, team/set, type/test

#862 Implement internal/info/info test
  internal/errors/info.go
  internal/info/info.go
  internal/info/info_test.go
  internal/info/option.go
  internal/info/option_test.go
  internal/safety/safety_test.go
Labels: area/internal, priority/low, size/XXL, team/set, type/test

#1024 Add strategy section to Docker build workflows
  .github/workflows/dockers-agent-ngt-image.yml
  .github/workflows/dockers-agent-sidecar-image.yml
  .github/workflows/dockers-backup-manager-cassandra-image.yml
  .github/workflows/dockers-backup-manager-mysql-image.yml
  .github/workflows/dockers-ci-container-image.yml
  .github/workflows/dockers-dev-container-image.yml
  .github/workflows/dockers-discoverer-k8s-image.yml
  .github/workflows/dockers-gateway-backup-image.yml
  .github/workflows/dockers-gateway-filter-image.yml
  .github/workflows/dockers-gateway-lb-image.yml
  .github/workflows/dockers-gateway-meta-image.yml
  .github/workflows/dockers-gateway-vald-image.yml
  .github/workflows/dockers-helm-operator-image.yml
  .github/workflows/dockers-loadtest-image.yml
  .github/workflows/dockers-manager-compressor-image.yml
  .github/workflows/dockers-manager-index-image.yml
  .github/workflows/dockers-meta-cassandra-image.yml
  .github/workflows/dockers-meta-redis-image.yml
Labels: priority/low, size/S, team/sre, type/ci

#1025 remove not supported control flag on darwin
  Makefile
  go.mod
  go.sum
  hack/go.mod.default
  internal/info/info_test.go
  internal/info/option.go
  internal/net/control/control.go
  internal/net/control/control_darwin.go
  internal/net/control/control_other.go
  internal/net/control/control_unix.go
  internal/net/control/control_windows.go
Labels: area/internal, priority/medium, size/L, type/bug

#1009 Update tutorial to support v1
  docs/tutorial/agent-on-docker.md
  docs/tutorial/get-started.md
  example/client/agent/main.go
  example/client/go.mod
  example/client/go.sum
  example/client/main.go
  example/helm/values-scylla.yaml
  example/helm/values-standalone-agent-ngt.yaml
Labels: priority/low, size/XXL, type/documentation

#996 fix MySQL panic test
  internal/db/rdb/mysql/mysql.go
  internal/db/rdb/mysql/mysql_test.go
  internal/db/rdb/mysql/option_test.go
  internal/errors/mysql.go
  internal/errors/mysql_test.go
Labels: area/internal, priority/low, size/L, status/author-review, team/set, type/test

#1026 [patch] v1.0.3 release
  charts/vald/values.schema.json
  go.mod
  go.sum
Labels: area/helm, priority/low, size/S

#1029 fix document link path due to the dead link
  docs/contributing/unit-test-guideline.md
Labels: priority/low, size/S, type/documentation

#1027 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/backup/configmap.yaml
  k8s/gateway/backup/deployment.yaml
  k8s/gateway/backup/hpa.yaml
  k8s/gateway/backup/pdb.yaml
  k8s/gateway/backup/priorityclass.yaml
  k8s/gateway/backup/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/gateway/meta/configmap.yaml
  k8s/gateway/meta/deployment.yaml
  k8s/gateway/meta/hpa.yaml
  k8s/gateway/meta/ing.yaml
  k8s/gateway/meta/pdb.yaml
  k8s/gateway/meta/priorityclass.yaml
  k8s/gateway/meta/svc.yaml
  k8s/manager/backup/configmap.yaml
  k8s/manager/backup/deployment.yaml
  k8s/manager/backup/hpa.yaml
  k8s/manager/backup/pdb.yaml
  k8s/manager/backup/priorityclass.yaml
  k8s/manager/backup/svc.yaml
  k8s/manager/compressor/configmap.yaml
  k8s/manager/compressor/deployment.yaml
  k8s/manager/compressor/hpa.yaml
  k8s/manager/compressor/pdb.yaml
  k8s/manager/compressor/priorityclass.yaml
  k8s/manager/compressor/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/meta/configmap.yaml
  k8s/meta/deployment.yaml
  k8s/meta/hpa.yaml
  k8s/meta/pdb.yaml
  k8s/meta/priorityclass.yaml
  k8s/meta/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, size/S, type/documentation

#1034 Fix Docker images table in CHANGELOG.md
  CHANGELOG.md
  hack/CHANGELOG.template.md
Labels: priority/low, size/S, type/refactoring

#1035 Downgrade Go version to 1.15.8 because of failing push of Docker images
  .github/workflows/dockers-agent-ngt-image.yml
  .github/workflows/dockers-agent-sidecar-image.yml
  .github/workflows/dockers-backup-manager-cassandra-image.yml
  .github/workflows/dockers-backup-manager-mysql-image.yml
  .github/workflows/dockers-ci-container-image.yml
  .github/workflows/dockers-dev-container-image.yml
  .github/workflows/dockers-discoverer-k8s-image.yml
  .github/workflows/dockers-gateway-backup-image.yml
  .github/workflows/dockers-gateway-filter-image.yml
  .github/workflows/dockers-gateway-lb-image.yml
  .github/workflows/dockers-gateway-meta-image.yml
  .github/workflows/dockers-gateway-vald-image.yml
  .github/workflows/dockers-helm-operator-image.yml
  .github/workflows/dockers-loadtest-image.yml
  .github/workflows/dockers-manager-compressor-image.yml
  .github/workflows/dockers-manager-index-image.yml
  .github/workflows/dockers-meta-cassandra-image.yml
  .github/workflows/dockers-meta-redis-image.yml
  Makefile.d/docker.mk
  versions/GO_VERSION
Labels: area/makefile, priority/low, size/S, team/sre, type/ci

#1044 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: priority/low, size/S, team/sre, type/ci, type/documentation

#1038 Upgrade Operator SDK version to v1.4.2
  charts/vald-helm-operator/templates/operator.yaml
  charts/vald-helm-operator/values.schema.json
  charts/vald-helm-operator/values.yaml
  versions/OPERATOR_SDK_VERSION
Labels: area/helm, priority/low, size/S, type/dependency

#1046 update dependencies version
  go.mod
  go.sum
  hack/go.mod.default
  internal/encoding/json/json_test.go
  internal/net/grpc/errdetails/errdetails.go
  internal/net/http/dump/dump_test.go
  versions/GO_VERSION
Labels: area/internal, priority/low, size/L, team/set, type/ci

#1049 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: priority/low, size/S, team/sre, type/ci, type/documentation
