Repository vdaas/vald, pull requests merged in 2022-04, with the labels that each got.

#1596 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, type/documentation, size/S

#1601 add vald users in README
  README.md
  assets/image/vald-users/japansearch_color.png.webp
  assets/image/vald-users/yahoojapan.svg
Labels: priority/low, type/documentation, size/S

#1557 implement agent ngt handler search test
  pkg/agent/core/ngt/handler/grpc/handler_test.go
Labels: team/set, type/test, priority/low, area/agent, size/XL, area/agent/core

#1605 Upgrade pyroscope version
  k8s/metrics/pyroscope/base/clusterrole.yaml
  k8s/metrics/pyroscope/base/clusterrolebinding.yaml
  k8s/metrics/pyroscope/base/configmap.yaml
  k8s/metrics/pyroscope/base/daemonset.yaml
  k8s/metrics/pyroscope/base/deployment.yaml
  k8s/metrics/pyroscope/base/service.yaml
  k8s/metrics/pyroscope/base/serviceaccount.yaml
Labels: priority/low, size/S

#1603 [CI] Fix fails test of e2e chaos
  .github/helm/values/values-chaos.yaml
  .github/workflows/e2e-chaos.yaml
  tests/chaos/chart/templates/network/bandwidth.yaml
  tests/chaos/chart/templates/network/partition.yaml
  tests/chaos/chart/templates/pod/failure.yaml
  tests/chaos/chart/templates/pod/kill.yaml
  tests/chaos/chart/values.yaml
Labels: type/bug, team/sre, priority/medium, size/S, type/ci, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling

#1613 fix search handler test
  pkg/agent/core/ngt/handler/grpc/handler_test.go
Labels: team/set, team/sre, type/test, priority/low, size/L, area/makefile, area/agent/core, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling

#1615 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, type/documentation, size/S

#1611 [Security] Fix vulnerability problem of helm operator
  charts/vald-helm-operator/templates/clusterrole.yaml
Labels: type/security, priority/high, size/S, area/helm, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling

#1616 [CI] Allow e2e deploy action jobs to run in parallel
  .github/helm/values/values-agent-sidecar.yaml
  .github/helm/values/values-chaos.yaml
  .github/helm/values/values-lb.yaml
  .github/workflows/build-binaries.yml
  .github/workflows/build-protobuf.yml
  .github/workflows/chatops.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/coverage.yml
  .github/workflows/dockers-agent-ngt-image.yml
  .github/workflows/dockers-agent-sidecar-image.yml
  .github/workflows/dockers-ci-container-image.yml
  .github/workflows/dockers-dev-container-image.yml
  .github/workflows/dockers-discoverer-k8s-image.yml
  .github/workflows/dockers-filter-ingress-tensorflow.yaml
  .github/workflows/dockers-gateway-filter-image.yml
  .github/workflows/dockers-gateway-lb-image.yml
  .github/workflows/dockers-helm-operator-image.yml
  .github/workflows/dockers-image-scan.yml
  .github/workflows/dockers-loadtest-image.yml
  .github/workflows/dockers-manager-index-image.yml
  .github/workflows/e2e-chaos.yaml
  .github/workflows/e2e-code-bench-agent.yaml
  .github/workflows/e2e-deploy.yml
  .github/workflows/e2e-profiling.yml
  .github/workflows/format.yml
  .github/workflows/fossa.yml
  .github/workflows/helm-lint.yml
  .github/workflows/helm.yml
  .github/workflows/labeler.yml
  .github/workflows/reviewdog-hadolint.yml
  .github/workflows/reviewdog-k8s.yml
  .github/workflows/reviewdog-markdown.yml
  .github/workflows/reviewdog.yml
  .github/workflows/semver.yml
  .github/workflows/test-hack.yml
  .github/workflows/test.yml
  .github/workflows/update_pull_request_and_issue_template.yml
Labels: team/sre, priority/low, type/refactoring, type/ci, size/XXL, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling

#1621 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: team/sre, priority/low, type/documentation, size/S, type/ci

#1625 security: fix vulnerability problem of helm operator
  charts/vald-helm-operator/crds/valdhelmoperatorrelease.yaml
  charts/vald-helm-operator/templates/operator.yaml
  charts/vald-helm-operator/values.schema.json
  charts/vald-helm-operator/values.yaml
Labels: type/security, priority/high, size/S, area/helm

#1591 add FAQ and Troubleshooting document
  docs/support/faq.md
  docs/user-guides/troubleshooting.md
Labels: priority/low, type/documentation, size/L

#1617 refactor: improve memory high usage of vald-agent
  internal/config/config.go
  internal/errors/file.go
  internal/file/file.go
  internal/info/info.go
  internal/info/info_test.go
  internal/net/grpc/errdetails/errdetails.go
  pkg/agent/core/ngt/handler/grpc/handler.go
Labels: team/set, priority/low, type/refactoring, size/L, area/internal, area/agent/core, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling

#1624 implement search-by-id pkg test
  pkg/agent/core/ngt/handler/grpc/handler_test.go
Labels: team/set, type/test, priority/low, size/L, area/agent/core, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling

#1627 use ReadWriteOncePod instead of ReadWriteOnce and remove initializer
  Makefile
  Makefile.d/k8s.mk
  charts/vald-helm-operator/README.md
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/README.md
  charts/vald/templates/_helpers.tpl
  charts/vald/templates/agent/daemonset.yaml
  charts/vald/templates/agent/deployment.yaml
  charts/vald/templates/agent/statefulset.yaml
  charts/vald/templates/discoverer/daemonset.yaml
  charts/vald/templates/discoverer/deployment.yaml
  charts/vald/templates/discoverer/svc.yaml
  charts/vald/templates/gateway/filter/daemonset.yaml
  charts/vald/templates/gateway/filter/svc.yaml
  charts/vald/templates/gateway/lb/daemonset.yaml
  charts/vald/templates/gateway/lb/svc.yaml
  charts/vald/templates/jobs/db/initialize/cassandra/configmap.yaml
  charts/vald/templates/jobs/db/initialize/cassandra/job.yaml
  charts/vald/templates/jobs/db/initialize/cassandra/secret.yaml
  charts/vald/templates/jobs/db/initialize/mysql/configmap.yaml
  charts/vald/templates/jobs/db/initialize/mysql/job.yaml
  charts/vald/templates/jobs/db/initialize/mysql/secret.yaml
  charts/vald/templates/jobs/db/initialize/redis/job.yaml
  charts/vald/templates/jobs/db/initialize/redis/secret.yaml
  charts/vald/templates/manager/index/daemonset.yaml
  charts/vald/values.schema.json
  charts/vald/values.yaml
  charts/vald/values/vald-backup-via-pv-and-s3.yaml
  charts/vald/values/vald-backup-via-pv.yaml
  go.mod
  go.sum
  hack/go.mod.default
  k8s/agent/statefulset.yaml
  k8s/discoverer/deployment.yaml
  k8s/external/cassandra/cassandracluster.yaml
  k8s/external/mysql/deployment.yaml
  k8s/external/mysql/pv.yaml
  k8s/external/mysql/pvc.yaml
  k8s/external/mysql/secret.yaml
  k8s/external/mysql/svc.yaml
  k8s/external/redis/deployment.yaml
  k8s/external/redis/secret.yaml
  k8s/external/redis/svc.yaml
  k8s/external/scylla/scyllacluster.yaml
  k8s/jobs/db/initialize/cassandra/configmap.yaml
  k8s/jobs/db/initialize/cassandra/job.yaml
  k8s/jobs/db/initialize/cassandra/secret.yaml
  k8s/jobs/db/initialize/mysql/configmap.yaml
  k8s/jobs/db/initialize/mysql/job.yaml
  k8s/jobs/db/initialize/mysql/secret.yaml
  k8s/jobs/db/initialize/redis/job.yaml
  k8s/jobs/db/initialize/redis/secret.yaml
  k8s/operator/helm/clusterrole.yaml
  k8s/operator/helm/crds/valdhelmoperatorrelease.yaml
  k8s/operator/helm/crds/valdrelease.yaml
  k8s/operator/helm/operator.yaml
  tests/chaos/chart/README.md
Labels: team/sre, type/feature, priority/medium, size/L, area/helm, area/makefile, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling

#1631 fix superfluous response.WriteHeader call
  internal/net/dialer_test.go
  internal/net/net_test.go
Labels: team/set, type/test, priority/low, size/S, area/internal

#1629 ci: Fix CodeQL warning
  .github/codeql/codeql-config.yaml
  .github/workflows/codeql-analysis.yml
Labels: team/sre, priority/low, type/refactoring, size/S, type/ci

#1630 Implement multi insert test case for pkg agent handler - part 1
  pkg/agent/core/ngt/handler/grpc/handler_test.go
Labels: team/set, type/test, priority/low, size/XL, area/agent/core

#1634 document: update formats
  docs/api/README.md
  docs/api/build_proto.md
  docs/tutorial/get-started.md
  docs/tutorial/vald-agent-standalone-on-docker.md
  docs/tutorial/vald-agent-standalone-on-k8s.md
Labels: priority/low, type/documentation, size/M

#1636 update libs version
  go.mod
  go.sum
  hack/go.mod.default
  internal/net/grpc/server_test.go
Labels: team/set, type/dependency, priority/low, size/L, area/internal, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling

#1641 security fix Vulnerability due to usage of old golang.org/x:net in example depentency
  Makefile
  example/client/go.mod
  example/client/go.mod.default
  example/client/go.sum
Labels: team/sre, type/security, priority/high, size/M, area/makefile

#1642 update manifests version
  Makefile.d/k8s.mk
  charts/vald/values.yaml
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: team/sre, priority/low, size/S, area/helm, area/makefile
