Repository vdaas/vald, pull requests merged in 2022-12, with the labels that each got.

#1880 update gotestfmt org
  Makefile.d/test.mk
Labels: team/sre, priority/low, size/S, type/ci, area/makefile

#1879 Remove blank when all parameters are not used and Add ErrJobFuncNotFound
  internal/backoff/backoff.go
  internal/circuitbreaker/manager.go
  internal/client/v1/client/vald/vald.go
  internal/db/kvs/redis/redis_mock.go
  internal/db/nosql/cassandra/cassandra.go
  internal/db/nosql/cassandra/cassandra_mock.go
  internal/db/nosql/cassandra/cassandra_test.go
  internal/db/rdb/mysql/mysql.go
  internal/db/storage/blob/s3/s3.go
  internal/errors/cassandra.go
  internal/errors/cassandra_test.go
  internal/errors/compressor.go
  internal/errors/compressor_test.go
  internal/errors/info.go
  internal/errors/info_test.go
  internal/errors/io.go
  internal/errors/io_test.go
  internal/errors/mysql.go
  internal/errors/mysql_test.go
  internal/errors/observability.go
  internal/errors/observability_test.go
  internal/errors/redis.go
  internal/errors/redis_test.go
  internal/errors/vald.go
  internal/errors/vald_test.go
  internal/errors/worker.go
  internal/errors/worker_test.go
  internal/file/watch/watch.go
  internal/info/info.go
  internal/io/io.go
  internal/io/io_test.go
  internal/log/nop/nop.go
  internal/log/zap/zap_test.go
  internal/observability/metrics/grpc/grpc.go
  internal/observability/observability.go
  internal/observability/trace/trace.go
  internal/servers/starter/starter.go
  internal/worker/queue.go
  internal/worker/queue_test.go
  pkg/agent/sidecar/service/observer/observer.go
  pkg/agent/sidecar/service/storage/storage.go
  pkg/agent/sidecar/usecase/initcontainer/initcontainer.go
  pkg/agent/sidecar/usecase/sidecar/sidecar.go
  pkg/discoverer/k8s/handler/grpc/handler.go
  pkg/discoverer/k8s/usecase/discovered.go
  pkg/gateway/filter/usecase/vald.go
  pkg/gateway/lb/usecase/vald.go
  pkg/manager/index/service/indexer.go
  pkg/manager/index/usecase/indexer.go
Labels: team/set, priority/low, type/refactoring, area/discoverer, area/manager/index, area/internal, size/XL, area/agent/sidecar, area/gateway/lb, area/gateway/filter

#1878 Refactor: rename doXXX()
  hack/benchmark/assets/x1b/loader.go
  hack/benchmark/assets/x1b/loader_test.go
  internal/file/file.go
  internal/file/file_test.go
  internal/net/grpc/client.go
  internal/net/grpc/client_test.go
  internal/net/grpc/pool/pool.go
  internal/net/grpc/pool/pool_test.go
  internal/test/data/vector/gen.go
  internal/test/data/vector/gen_test.go
Labels: team/set, priority/low, type/refactoring, size/L, area/internal

#1885 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: team/sre, priority/low, type/documentation, size/S, type/ci

#1889 Fix grammar
  apis/docs/v1/docs.md
  apis/grpc/v1/agent/core/agent_vtproto.pb.go
  apis/grpc/v1/payload/interface.go
  apis/grpc/v1/payload/payload.pb.go
  apis/proto/v1/agent/core/agent.proto
  apis/proto/v1/payload/payload.proto
  apis/swagger/v1/agent/core/apis/proto/v1/agent/core/agent.swagger.json
  apis/swagger/v1/discoverer/apis/proto/v1/discoverer/discoverer.swagger.json
Labels: priority/low, type/documentation, area/manager/index, size/XXXL, area/agent/core, area/gateway/lb, area/gateway/filter

#1890 Separate markdown check by reviewdog
  .github/workflows/reviewdog-markdown.yml
Labels: team/sre, priority/low, type/refactoring, type/ci, size/XXXL

#1893 Add addtional digit logic for each vector element
  pkg/agent/core/ngt/service/ngt_test.go
Labels: team/set, size/XXL, area/agent/core

#1900 update docker login action
  .github/workflows/dockers-agent-ngt-image.yml
  .github/workflows/dockers-agent-sidecar-image.yml
  .github/workflows/dockers-ci-container-image.yml
  .github/workflows/dockers-dev-container-image.yml
  .github/workflows/dockers-discoverer-k8s-image.yml
  .github/workflows/dockers-gateway-filter-image.yml
  .github/workflows/dockers-gateway-lb-image.yml
  .github/workflows/dockers-helm-operator-image.yml
  .github/workflows/dockers-loadtest-image.yml
  .github/workflows/dockers-manager-index-image.yml
Labels: team/sre, priority/low, size/S, type/ci

#1901 Ci/GitHub action docker/update docker login action
  .github/workflows/dockers-agent-ngt-image.yml
  .github/workflows/dockers-agent-sidecar-image.yml
  .github/workflows/dockers-ci-container-image.yml
  .github/workflows/dockers-dev-container-image.yml
  .github/workflows/dockers-discoverer-k8s-image.yml
  .github/workflows/dockers-gateway-filter-image.yml
  .github/workflows/dockers-gateway-lb-image.yml
  .github/workflows/dockers-helm-operator-image.yml
  .github/workflows/dockers-loadtest-image.yml
  .github/workflows/dockers-manager-index-image.yml
Labels: team/sre, priority/low, size/S, type/ci

#1902 add actions workflow validation
  .github/workflows/dockers-agent-ngt-image.yml
  .github/workflows/dockers-agent-sidecar-image.yml
  .github/workflows/dockers-ci-container-image.yml
  .github/workflows/dockers-dev-container-image.yml
  .github/workflows/dockers-discoverer-k8s-image.yml
  .github/workflows/dockers-gateway-filter-image.yml
  .github/workflows/dockers-gateway-lb-image.yml
  .github/workflows/dockers-helm-operator-image.yml
  .github/workflows/dockers-loadtest-image.yml
  .github/workflows/dockers-manager-index-image.yml
Labels: team/sre, priority/low, size/S, type/ci

#1903 Ci/GitHub action docker/update docker login action
  .github/workflows/dockers-agent-ngt-image.yml
  .github/workflows/dockers-agent-sidecar-image.yml
  .github/workflows/dockers-ci-container-image.yml
  .github/workflows/dockers-dev-container-image.yml
  .github/workflows/dockers-discoverer-k8s-image.yml
  .github/workflows/dockers-gateway-filter-image.yml
  .github/workflows/dockers-gateway-lb-image.yml
  .github/workflows/dockers-helm-operator-image.yml
  .github/workflows/dockers-loadtest-image.yml
  .github/workflows/dockers-manager-index-image.yml
Labels: team/sre, priority/low, size/S, type/ci

#1904 update go modules
  .github/actions/docker-build/action.yaml
  .github/workflows/dockers-agent-ngt-image.yml
  .github/workflows/dockers-agent-sidecar-image.yml
  .github/workflows/dockers-ci-container-image.yml
  .github/workflows/dockers-dev-container-image.yml
  .github/workflows/dockers-discoverer-k8s-image.yml
  .github/workflows/dockers-gateway-filter-image.yml
  .github/workflows/dockers-gateway-lb-image.yml
  .github/workflows/dockers-helm-operator-image.yml
  .github/workflows/dockers-image-scan.yml
  .github/workflows/dockers-loadtest-image.yml
  .github/workflows/dockers-manager-index-image.yml
  .github/workflows/labeler.yml
  go.mod
  go.sum
  hack/go.mod.default
Labels: team/sre, type/ci, ci/approved

#1910 Update license headers / Format codes
  apis/grpc/v1/payload/interface.go
Labels: priority/low, size/S

#1912 update github actions workflow concurrent cancellation group name
  .github/workflows/dockers-agent-ngt-image.yml
  .github/workflows/dockers-agent-sidecar-image.yml
  .github/workflows/dockers-ci-container-image.yml
  .github/workflows/dockers-dev-container-image.yml
  .github/workflows/dockers-discoverer-k8s-image.yml
  .github/workflows/dockers-gateway-filter-image.yml
  .github/workflows/dockers-gateway-lb-image.yml
  .github/workflows/dockers-helm-operator-image.yml
  .github/workflows/dockers-image-scan.yml
  .github/workflows/dockers-loadtest-image.yml
  .github/workflows/dockers-manager-index-image.yml
Labels: team/sre, priority/low, size/S, type/ci

#1911 Fixed a bug that could cause duplicate counts of working_memory_set_bytes
  k8s/metrics/grafana/dashboards/00-vald-cluster-overview.yaml
  k8s/metrics/grafana/dashboards/01-vald-agent.yaml
  k8s/metrics/grafana/dashboards/02-vald-discoverer.yaml
  k8s/metrics/grafana/dashboards/05-vald-index-manager.yaml
  k8s/metrics/grafana/dashboards/08-vald-lb-gateway.yaml
Labels: team/sre, priority/medium, status/in-review, size/S, type/suggestion

#1914 Bugfix: grafana dashboard
  k8s/metrics/grafana/dashboards/00-vald-cluster-overview.yaml
  k8s/metrics/grafana/dashboards/01-vald-agent.yaml
  k8s/metrics/grafana/dashboards/02-vald-discoverer.yaml
  k8s/metrics/grafana/dashboards/05-vald-index-manager.yaml
  k8s/metrics/grafana/dashboards/08-vald-lb-gateway.yaml
Labels: type/bug, priority/medium, size/S

#1892 Refactor Agent, add canceled status for CreateIndex API and Update VQueue impl
  Makefile
  Makefile.d/test.mk
  apis/docs/v1/docs.md
  apis/grpc/v1/agent/core/agent.pb.go
  apis/grpc/v1/agent/sidecar/sidecar.pb.go
  apis/grpc/v1/discoverer/discoverer.pb.go
  apis/grpc/v1/filter/egress/egress_filter.pb.go
  apis/grpc/v1/filter/ingress/ingress_filter.pb.go
  apis/grpc/v1/manager/index/index_manager.pb.go
  apis/grpc/v1/payload/payload.pb.go
  apis/grpc/v1/vald/filter.pb.go
  apis/grpc/v1/vald/insert.pb.go
  apis/grpc/v1/vald/object.pb.go
  apis/grpc/v1/vald/remove.pb.go
  apis/grpc/v1/vald/search.pb.go
  apis/grpc/v1/vald/update.pb.go
  apis/grpc/v1/vald/upsert.pb.go
  dockers/agent/core/ngt/Dockerfile
  dockers/ci/base/Dockerfile
  dockers/dev/Dockerfile
  example/client/go.mod
  example/client/go.sum
  go.mod
  go.sum
  internal/config/compress_test.go
  internal/errors/redis_test.go
  internal/file/file_test.go
  internal/observability/exporter/otlp/option_test.go
  internal/observability/exporter/otlp/otlp.go
  internal/observability/exporter/otlp/otlp_test.go
  internal/test/data/vector/gen.go
  internal/test/data/vector/gen_test.go
  pkg/agent/core/ngt/handler/grpc/handler_test.go
  pkg/agent/core/ngt/handler/grpc/index.go
  pkg/agent/core/ngt/handler/grpc/object_test.go
  pkg/agent/core/ngt/handler/grpc/remove_test.go
  pkg/agent/core/ngt/handler/grpc/search_test.go
  pkg/agent/core/ngt/handler/grpc/update_test.go
  pkg/agent/core/ngt/handler/grpc/upsert_test.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/ngt_test.go
  pkg/agent/core/ngt/service/vqueue/indexmap.go
  pkg/agent/core/ngt/service/vqueue/indexmap_test.go
  pkg/agent/core/ngt/service/vqueue/option.go
  pkg/agent/core/ngt/service/vqueue/option_test.go
  pkg/agent/core/ngt/service/vqueue/queue.go
  pkg/agent/core/ngt/service/vqueue/queue_test.go
  pkg/agent/core/ngt/service/vqueue/undeleted_index_map_test.go
  pkg/agent/core/ngt/service/vqueue/uninserted_index_map.go
  versions/NGT_VERSION
Labels: team/set, team/sre, priority/low, area/discoverer, area/manager/index, area/internal, size/XXXL, area/makefile, area/agent/core, area/agent/sidecar, area/gateway/lb, area/gateway/filter, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#1915 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: team/sre, priority/low, type/documentation, size/S, type/ci

#1917 add auto update libs & deps make command
  Makefile
  Makefile.d/bench.mk
  Makefile.d/build.mk
  Makefile.d/dependencies.mk
  Makefile.d/functions.mk
  Makefile.d/git.mk
  Makefile.d/k8s.mk
  Makefile.d/test.mk
  Makefile.d/tools.mk
  example/client/go.mod
  example/client/go.sum
  go.mod
  go.sum
  versions/GOLANGCILINT_VERSION
  versions/GO_VERSION
  versions/HELM_DOCS_VERSION
  versions/HELM_VERSION
  versions/JAEGER_OPERATOR_VERSION
  versions/KIND_VERSION
  versions/KUBELINTER_VERSION
  versions/OPERATOR_SDK_VERSION
  versions/OTEL_OPERATOR_VERSION
  versions/PROMETHEUS_STACK_VERSION
  versions/PROTOBUF_VERSION
  versions/REVIEWDOG_VERSION
  versions/TELEPRESENCE_VERSION
  versions/VALDCLI_VERSION
  versions/YQ_VERSION
Labels: team/sre, type/feature, priority/medium, size/L, area/makefile, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim
