Repository vdaas/vald, pull requests merged in 2022-03, with the labels that each got.

#1556 Add error handling when there is no data in google cloud storage.
  internal/db/storage/blob/cloudstorage/cloudstorage.go
  internal/io/io.go
  internal/io/io_test.go
  internal/net/grpc/codec_test.go
Labels: type/bug, team/set, priority/medium, size/L, area/internal

#1572 Update dataflow images
  assets/docs/overview/dataflow_v2.drawio
  assets/docs/overview/delete_flow_v2.png
  assets/docs/overview/delete_flow_v2.svg
  assets/docs/overview/insert_flow_v2.png
  assets/docs/overview/insert_flow_v2.svg
  assets/docs/overview/search_flow_v2.png
  assets/docs/overview/search_flow_v2.svg
  assets/docs/overview/update_flow_v2.png
  assets/docs/overview/update_flow_v2.svg
  assets/docs/overview/upsert_flow_v2.png
  assets/docs/overview/upsert_flow_v2.svg
Labels: priority/low, size/XXL

#1574 add discoverer component overview document
  docs/overview/component/discoverer.md
Labels: priority/low, type/documentation, size/M

#1549 add gateway component overview document
  docs/overview/component/filter-gateway.md
  docs/overview/component/lb-gateway.md
Labels: priority/low, type/documentation, size/M

#1576 add min_num for each search service api docs
  docs/api/serach.md
Labels: priority/low, type/documentation, size/S

#1530 Implement test for net/grpc codec,logger and server
  internal/net/grpc/codec.go
  internal/net/grpc/codec_test.go
  internal/net/grpc/logger/logger.go
  internal/net/grpc/logger/logger_test.go
  internal/net/grpc/server.go
  internal/net/grpc/server_test.go
  internal/test/comparator/comparators.go
Labels: team/set, type/test, priority/low, area/internal, size/XXL

#1575 add index manager component overview document
  docs/overview/component/index-manager.md
Labels: priority/low, type/documentation, size/M

#1573 implement uniform/gaussian distributed random float32/uint8 vector generator
  internal/test/data/vector/gen.go
  internal/test/data/vector/gen_test.go
Labels: team/set, type/feature, priority/medium, area/internal, size/XL

#1581 Update license headers / Format codes
  internal/net/grpc/server_test.go
Labels: team/set, priority/low, size/S, area/internal

#1577 Improve string conversion performace
  .github/workflows/e2e-chaos.yaml
  internal/config/config.go
  internal/conv/conv.go
  internal/conv/conv_bench_test.go
  internal/conv/conv_test.go
  internal/db/storage/blob/cloudstorage/urlopener/urlopener.go
  internal/net/grpc/interceptor/server/trace/payload.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/ngt_test.go
  pkg/gateway/lb/handler/grpc/handler.go
  pkg/gateway/lb/handler/grpc/handler_test.go
Labels: team/set, team/sre, priority/low, area/internal, type/ci, type/bench, size/XL, area/agent/core, area/gateway/lb, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling

#1582 add example values for using Pyroscope
  example/helm/values-with-pyroscope.yaml
Labels: priority/low, size/S

#1586 Update license headers / Format codes
  example/helm/values-with-pyroscope.yaml
  internal/conv/conv_test.go
Labels: team/set, priority/low, size/S, area/internal

#1585 fix reviewdog markdown workflow
  .github/workflows/reviewdog-markdown.yml
Labels: team/sre, priority/low, size/S, type/ci

#1589 fix invalid URL
  README.md
Labels: priority/low, type/documentation, size/S

#1593 update dependencies version
  go.mod
  go.sum
Labels: type/dependency, priority/low, size/S

#1592 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: team/sre, priority/low, type/documentation, size/S, type/ci

#1595 cleanup document images
  assets/docs/overview/dataflow.drawio
  assets/docs/overview/dataflow_v2.drawio
  assets/docs/overview/delete_flow.drawio
  assets/docs/overview/delete_flow.png
  assets/docs/overview/delete_flow.svg
  assets/docs/overview/delete_flow_v2.png
  assets/docs/overview/delete_flow_v2.svg
  assets/docs/overview/insert_flow.drawio
  assets/docs/overview/insert_flow.png
  assets/docs/overview/insert_flow.svg
  assets/docs/overview/insert_flow_v2.png
  assets/docs/overview/insert_flow_v2.svg
  assets/docs/overview/search_flow.drawio
  assets/docs/overview/search_flow.png
  assets/docs/overview/search_flow.svg
  assets/docs/overview/search_flow_v2.png
  assets/docs/overview/search_flow_v2.svg
  assets/docs/overview/update_flow.drawio
  assets/docs/overview/update_flow.png
  assets/docs/overview/update_flow.svg
  assets/docs/overview/update_flow_v2.png
  assets/docs/overview/update_flow_v2.svg
  assets/docs/overview/upsert_flow.drawio
  assets/docs/overview/upsert_flow.png
  assets/docs/overview/upsert_flow.svg
  assets/docs/overview/upsert_flow_v2.png
  assets/docs/overview/upsert_flow_v2.svg
  assets/docs/tutorial/getstarted.drawio
  assets/docs/tutorial/getstarted.png
  assets/docs/tutorial/getstarted.svg
  assets/docs/tutorial/tutorial.drawio
  assets/docs/tutorial/vald-agent-standalone-on-k8s.drawio
  assets/docs/tutorial/vald-agent-standalone-on-k8s.png
  assets/docs/tutorial/vald-agent-standalone-on-k8s.svg
  assets/docs/tutorial/vald-with-syclladb.drawio
  assets/docs/tutorial/vald-with-syclladb.png
  assets/docs/usecase/usecase_audio.png
  assets/docs/usecase/usecase_data.png
  assets/docs/usecase/usecase_image.png
  assets/docs/usecase/usecase_text.png
  assets/docs/vector_data_space_explain.drawio
  assets/docs/vector_data_space_explain.svg
  docs/overview/component/README.md
  docs/overview/data-flow.md
  docs/tutorial/get-started.md
  docs/tutorial/using-backup-with-scylladb.md
  docs/tutorial/vald-agent-standalone-on-k8s.md
  docs/usecase/usage-example.md
Labels: priority/low, type/documentation, size/XL

#1599 fix file name of search API
  docs/api/search.md
Labels: priority/low, type/documentation, size/S

#1552 Implement pkg ngt handler insert test
  pkg/agent/core/ngt/handler/grpc/handler.go
  pkg/agent/core/ngt/handler/grpc/handler_test.go
Labels: team/set, type/test, priority/low, area/internal, size/XXL, area/agent/core

#1600 fix brand guidelines display missing
  assets/image/Vald_brandguidelines.pdf
Labels: priority/low, size/S
