Repository vdaas/vald, pull requests merged in 2022-01, with the labels that each got.

#1511 Add linear search handler for gateway-lb / ingress-filter / agent-core-ngt
  Makefile
  Makefile.d/e2e.mk
  Makefile.d/functions.mk
  apis/docs/v1/docs.md
  apis/grpc/v1/vald/search.pb.go
  apis/grpc/v1/vald/search_vtproto.pb.go
  apis/proto/v1/vald/search.proto
  apis/swagger/v1/vald/apis/proto/v1/vald/search.swagger.json
  internal/client/v1/client/vald/vald.go
  internal/client/v1/client/vald/vald_test.go
  pkg/agent/core/ngt/handler/grpc/handler.go
  pkg/agent/core/ngt/handler/grpc/handler_test.go
  pkg/agent/core/ngt/handler/rest/handler.go
  pkg/agent/core/ngt/handler/rest/handler_test.go
  pkg/agent/core/ngt/router/router.go
  pkg/gateway/filter/handler/grpc/handler.go
  pkg/gateway/filter/handler/grpc/handler_test.go
  pkg/gateway/filter/handler/rest/handler.go
  pkg/gateway/filter/handler/rest/handler_test.go
  pkg/gateway/filter/router/router.go
  pkg/gateway/lb/handler/grpc/handler.go
  pkg/gateway/lb/handler/grpc/handler_test.go
  pkg/gateway/lb/handler/rest/handler.go
  pkg/gateway/lb/handler/rest/handler_test.go
  tests/e2e/crud/crud_test.go
  tests/e2e/operation/multi.go
  tests/e2e/operation/operation.go
  tests/e2e/operation/stream.go
Labels: team/set, team/sre, type/feature, priority/medium, area/discoverer, area/manager/index, area/internal, size/XXXL, area/makefile, area/agent/core, area/agent/sidecar, area/gateway/lb, area/gateway/filter

#1533 add upsert api document
  docs/api/README.md
  docs/api/upsert.md
Labels: priority/low, type/documentation, size/L

#1534 add search api document
  docs/api/README.md
  docs/api/insert.md
  docs/api/serach.md
  docs/api/update.md
  docs/api/upsert.md
Labels: priority/low, type/documentation, size/XXL

#1535 Fix vulnerability problem of helm-operator
  Makefile.d/docker.mk
  dockers/operator/helm/Dockerfile
Labels: team/sre, type/security, priority/high, size/M, area/makefile

#1520 feat: add pyroscope manifest
  Makefile.d/build.mk
  Makefile.d/k3d.mk
  Makefile.d/k8s.mk
  dockers/agent/core/ngt/Dockerfile
  k8s/metrics/pyroscope/README.md
  k8s/metrics/pyroscope/clusterrole.yaml
  k8s/metrics/pyroscope/clusterrolebinding.yaml
  k8s/metrics/pyroscope/configmap.yaml
  k8s/metrics/pyroscope/daemonset.yaml
  k8s/metrics/pyroscope/deployment.yaml
  k8s/metrics/pyroscope/service.yaml
  k8s/metrics/pyroscope/serviceaccount.yaml
Labels: team/sre, type/feature, priority/medium, size/M, area/makefile

#1536 add remove/object api document
  docs/api/README.md
  docs/api/object.md
  docs/api/remove.md
Labels: priority/low, type/documentation, size/L

#1539 Add settings for profiling with pyroscope
  .github/workflows/helm-lint.yml
  Makefile.d/build.mk
  Makefile.d/docker.mk
  charts/vald/templates/agent/daemonset.yaml
  charts/vald/templates/agent/deployment.yaml
  charts/vald/templates/agent/statefulset.yaml
  charts/vald/templates/discoverer/daemonset.yaml
  charts/vald/templates/discoverer/deployment.yaml
  charts/vald/templates/gateway/filter/daemonset.yaml
  charts/vald/templates/gateway/filter/deployment.yaml
  charts/vald/templates/gateway/lb/daemonset.yaml
  charts/vald/templates/gateway/lb/deployment.yaml
  charts/vald/templates/manager/index/daemonset.yaml
  charts/vald/templates/manager/index/deployment.yaml
  dockers/agent/core/ngt/Dockerfile
  dockers/agent/sidecar/Dockerfile
  dockers/discoverer/k8s/Dockerfile
  dockers/gateway/filter/Dockerfile
  dockers/gateway/lb/Dockerfile
  dockers/manager/index/Dockerfile
  k8s/agent/statefulset.yaml
  k8s/discoverer/deployment.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/manager/index/deployment.yaml
  k8s/metrics/pyroscope/clusterrole.yaml
  k8s/metrics/pyroscope/clusterrolebinding.yaml
  k8s/metrics/pyroscope/configmap.yaml
  k8s/metrics/pyroscope/daemonset.yaml
  k8s/metrics/pyroscope/deployment.yaml
  k8s/metrics/pyroscope/service.yaml
  k8s/metrics/pyroscope/serviceaccount.yaml
Labels: team/sre, type/feature, priority/medium, size/M, type/ci, area/helm, area/makefile
