Repository vdaas/vald, pull requests merged in 2022-09, with the labels that each got.

#1784 Fix dialer test error
  internal/net/dialer_test.go
Labels: team/set, type/test, priority/low, area/internal, size/XXXL

#1786 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: team/sre, priority/low, type/documentation, size/S, type/ci

#1785 Deleted vald_ prefix of metrics name
  k8s/metrics/grafana/dashboards/00-vald-cluster-overview.yaml
  k8s/metrics/grafana/dashboards/01-vald-agent.yaml
  k8s/metrics/grafana/dashboards/02-vald-discoverer.yaml
  k8s/metrics/grafana/dashboards/05-vald-index-manager.yaml
  k8s/metrics/grafana/dashboards/08-vald-lb-gateway.yaml
Labels: priority/low, type/refactoring, size/S

#1787 fix fossa workflow bug
  .github/workflows/fossa.yml
Labels: type/bug, team/sre, priority/medium, size/S, type/ci

#1788 use gotestfmt instead of tparse
  .github/workflows/test-hack.yml
  .github/workflows/test.yml
  Makefile
  Makefile.d/test.mk
  dockers/ci/base/Dockerfile
Labels: team/sre, priority/low, size/L, type/ci, area/makefile

#1790 Ignore gorules test
  hack/gorules/rules_test.go
Labels: type/bug, team/set, priority/medium, size/S

#1789 Add crds for continuous benchmark tools
  internal/k8s/benchmark/job/doc.go
  internal/k8s/benchmark/job/job.go
  internal/k8s/benchmark/job/option.go
  internal/k8s/benchmark/job/types.go
  internal/k8s/benchmark/operator/doc.go
  internal/k8s/benchmark/operator/operator.go
  internal/k8s/benchmark/operator/option.go
  internal/k8s/benchmark/operator/types.go
  internal/k8s/crd/benchmark/valdbenchmarkjob.yaml
  internal/k8s/crd/benchmark/valdbenchmarkoperator.yaml
  internal/k8s/rbac/benchmark/job/clusterrole.yaml
  internal/k8s/rbac/benchmark/job/clusterrolebinding.yaml
  internal/k8s/rbac/benchmark/job/serviceaccount.yaml
  internal/k8s/rbac/benchmark/job/svc.yaml
  internal/k8s/rbac/benchmark/operator/clusterrole.yaml
  internal/k8s/rbac/benchmark/operator/clusterrolebinding.yaml
  internal/k8s/rbac/benchmark/operator/serviceaccount.yaml
Labels: type/feature, priority/medium, area/internal, size/XXL

#1783 Add Client API Config document
  docs/user-guides/client-api-config.md
  docs/user-guides/search-config.md
Labels: priority/low, type/documentation, size/XL

#1731 Implement agent handler saveIndex test case
  pkg/agent/core/ngt/handler/grpc/index_test.go
Labels: team/set, type/test, priority/low, size/XL, area/agent/core
