Repository vdaas/vald, pull requests merged in 2022-08, with the labels that each got.

#1751 update config document
  .prh.yaml
  docs/overview/component/discoverer.md
  docs/overview/component/index-manager.md
  docs/user-guides/capacity-planning.md
  docs/user-guides/configuration.md
Labels: priority/low, type/documentation, size/L

#1757 fix chaos test
  .github/workflows/e2e-chaos.yaml
  Makefile.d/tools.mk
Labels: team/sre, priority/low, size/S, type/ci, area/makefile, actions/e2e-chaos

#1753 Update the images of agent page
  assets/docs/overview/component/agent/agent.drawio
  assets/docs/overview/component/agent/ngt.png
  assets/docs/overview/component/agent/sidecar_backup.png
  assets/docs/overview/component/agent/sidecar_restore.png
Labels: priority/low, size/S

#1761 Delete stackdriver dependencies
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/templates/_helpers.tpl
  charts/vald/values.schema.json
  charts/vald/values.yaml
  cmd/agent/core/ngt/sample-cow.yaml
  cmd/agent/core/ngt/sample.yaml
  cmd/discoverer/k8s/sample.yaml
  cmd/gateway/filter/sample.yaml
  cmd/gateway/lb/sample.yaml
  cmd/manager/index/sample.yaml
  go.mod
  go.sum
  internal/config/observability.go
  internal/config/observability_test.go
  internal/observability/client/google/option.go
  internal/observability/client/google/option_test.go
  internal/observability/exporter/stackdriver/stackdriver.go
  internal/observability/exporter/stackdriver/stackdriver_option.go
  internal/observability/exporter/stackdriver/stackdriver_option_test.go
  internal/observability/exporter/stackdriver/stackdriver_test.go
  internal/observability/observability.go
  internal/observability/observability_option.go
  internal/observability/observability_option_test.go
  internal/observability/observability_test.go
  internal/observability/profiler/profiler.go
  internal/observability/profiler/stackdriver/stackdriver.go
  internal/observability/profiler/stackdriver/stackdriver_option.go
  internal/observability/profiler/stackdriver/stackdriver_option_test.go
  internal/observability/profiler/stackdriver/stackdriver_test.go
  pkg/agent/core/ngt/config/config_test.go
Labels: team/set, type/feature, priority/medium, area/discoverer, area/manager/index, area/internal, size/XXXL, area/helm, area/agent/core, area/gateway/lb, area/gateway/filter

#1758 add deployment document
  docs/user-guides/deployment.md
Labels: priority/low, type/documentation, size/L

#1733 Create Continuous Bench Search Job tool
  .github/workflows/dockers-benchmark-job-image.yml
  Makefile
  Makefile.d/build.mk
  Makefile.d/docker.mk
  apis/docs/v1/docs.md
  apis/grpc/v1/benchmark/benchmark.pb.go
  apis/grpc/v1/benchmark/benchmark_vtproto.pb.go
  apis/proto/v1/benchmark/benchmark.proto
  apis/swagger/v1/benchmark/apis/proto/v1/benchmark/benchmark.swagger.json
  cmd/tools/benchmark/job/main.go
  cmd/tools/benchmark/job/sample.yaml
  dockers/tools/benchmark/job/Dockerfile
  internal/config/benchmark.go
  internal/errors/http.go
  internal/errors/http_test.go
  internal/test/data/hdf5/doc.go
  internal/test/data/hdf5/hdf5.go
  internal/test/data/hdf5/option.go
  pkg/tools/benchmark/job/README.md
  pkg/tools/benchmark/job/config/config.go
  pkg/tools/benchmark/job/config/doc.go
  pkg/tools/benchmark/job/handler/doc.go
  pkg/tools/benchmark/job/handler/grpc/handler.go
  pkg/tools/benchmark/job/handler/grpc/option.go
  pkg/tools/benchmark/job/handler/rest/handler.go
  pkg/tools/benchmark/job/handler/rest/option.go
  pkg/tools/benchmark/job/router/doc.go
  pkg/tools/benchmark/job/router/option.go
  pkg/tools/benchmark/job/router/router.go
  pkg/tools/benchmark/job/service/doc.go
  pkg/tools/benchmark/job/service/job.go
  pkg/tools/benchmark/job/service/option.go
  pkg/tools/benchmark/job/service/search.go
  pkg/tools/benchmark/job/usecase/benchmarkd.go
Labels: team/set, team/sre, type/feature, priority/medium, area/internal, type/ci, size/XXL, area/makefile

#1755 add filter config document
  .prh.yaml
  docs/user-guides/filtering-configuration.md
Labels: priority/low, type/documentation, size/L

#1766 set default image tag as latest
  charts/vald/values/agent-ngt-standalone.yaml
  example/helm/values-standalone-agent-ngt.yaml
  example/helm/values-with-pyroscope.yaml
  example/helm/values.yaml
Labels: priority/low, type/refactoring, size/S, area/helm

#1773 update document by feedback
  .prh.yaml
  CONTRIBUTING.md
  docs/api/build_proto.md
  docs/api/insert.md
  docs/api/object.md
  docs/api/remove.md
  docs/api/search.md
  docs/api/status.md
  docs/api/update.md
  docs/api/upsert.md
  docs/contributing/coding-style.md
  docs/contributing/unit-test-guideline.md
  docs/overview/about-vald.md
  docs/overview/architecture.md
  docs/overview/component/agent.md
  docs/overview/component/lb-gateway.md
  docs/performance/loadtest.md
  docs/support/contacts.md
  docs/support/faq.md
  docs/troubleshooting/client-side.md
  docs/troubleshooting/provisioning.md
  docs/tutorial/get-started.md
  docs/tutorial/vald-agent-standalone-on-docker.md
  docs/tutorial/vald-agent-standalone-on-k8s.md
  docs/usecase/usage-example.md
  docs/user-guides/configuration.md
  docs/user-guides/operations.md
  docs/user-guides/sdks.md
  docs/user-guides/search-config.md
Labels: priority/low, type/documentation, size/XXL

#1777 add upgrade document
  docs/user-guides/upgrade-cluster.md
Labels: priority/low, type/documentation, size/L
