Repository vdaas/vald, pull requests merged in 2022-10, with the labels that each got.

#1791 Update testing guideline & template
  assets/test/templates/common/function.tmpl
  assets/test/templates/option/function.tmpl
  docs/contributing/coding-style.md
Labels: priority/low, type/documentation, size/L

#1797 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: team/sre, priority/low, type/documentation, size/S, type/ci

#1799 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, type/documentation, size/S

#1800 [BUG] fix metrics bug
  internal/net/grpc/interceptor/server/metric/metric.go
Labels: type/bug, priority/medium, size/M, area/internal, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#1801 Add test for attributesFromError method
  internal/net/grpc/interceptor/server/metric/metric.go
  internal/net/grpc/interceptor/server/metric/metric_test.go
Labels: team/set, type/test, priority/low, size/L, area/internal

#1803 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, type/documentation, size/S

#1805 bugfix success handling in the half-open and add flow control
  internal/circuitbreaker/breaker.go
  internal/circuitbreaker/breaker_test.go
  internal/circuitbreaker/counter.go
  internal/errors/circuitbreaker.go
Labels: type/bug, team/set, priority/medium, size/L, area/internal

#1806 fix string concat buffer overflow
  internal/client/v1/client/discoverer/discover.go
  internal/net/grpc/errdetails/errdetails.go
Labels: type/bug, priority/medium, size/M, area/internal, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#1804 Fix document format
  CHANGELOG.md
  docs/api/build_proto.md
Labels: priority/low, type/documentation, size/M

#1794 Implement pkg/agent/handler createAndSaveIndex test case
  pkg/agent/core/ngt/handler/grpc/index_test.go
Labels: team/set, type/test, priority/low, size/XL, area/agent/core

#1810 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, type/documentation, size/S

#1812 update go modules and add small test for strings
  example/client/go.mod
  example/client/go.sum
  go.mod
  go.sum
  hack/go.mod.default
  internal/strings/strings.go
  internal/strings/strings_benchmark_test.go
  internal/strings/strings_test.go
  versions/GO_VERSION
Labels: team/set, type/dependency, priority/low, area/internal, size/XL

#1813 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: team/sre, priority/low, type/documentation, size/S, type/ci

#1807 Fix dead link
  docs/overview/component/discoverer.md
  docs/overview/component/lb-gateway.md
  docs/performance/benchmark.md
  docs/user-guides/deployment.md
  docs/user-guides/filtering-configuration.md
  docs/user-guides/operations.md
Labels: priority/low, type/documentation, size/L

#1811 Bugfix Circuit Breaker half-open error handling
  internal/circuitbreaker/breaker.go
  internal/circuitbreaker/breaker_test.go
  internal/circuitbreaker/counter.go
  internal/circuitbreaker/counter_test.go
Labels: type/bug, team/set, priority/medium, area/internal, size/XL

#1815 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, type/documentation, size/S

#1816 small refactor circuitbreaker
  .github/workflows/e2e-max-dim.yml
  example/client/go.mod
  example/client/go.sum
  go.mod
  go.sum
  internal/circuitbreaker/breaker.go
  internal/circuitbreaker/manager.go
  internal/errors/circuitbreaker.go
  internal/net/grpc/client.go
  internal/observability/exporter/prometheus/prometheus.go
  internal/observability/exporter/prometheus/prometheus_test.go
Labels: team/set, priority/low, type/refactoring, size/L, area/internal, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#1818 resolve GitHub Actions warning
  .github/actions/detect-docker-image-tags/action.yaml
  .github/actions/docker-build/action.yaml
  .github/actions/e2e-deploy-vald-helm-operator/action.yaml
  .github/actions/e2e-deploy-vald/action.yaml
  .github/workflows/build-binaries.yml
  .github/workflows/chatops.yml
  .github/workflows/dockers-image-scan.yml
  .github/workflows/e2e-chaos.yaml
  .github/workflows/e2e-deploy.yml
  .github/workflows/e2e-max-dim.yml
  .github/workflows/e2e-profiling.yml
  .github/workflows/format.yml
  .github/workflows/helm-lint.yml
  .github/workflows/helm.yml
  .github/workflows/semver.yml
Labels: team/sre, priority/low, type/refactoring, size/S, type/ci

#1817 bugfix prometheus export return value
  go.mod
  go.sum
  internal/db/storage/blob/s3/option_test.go
  internal/io/copy.go
  internal/net/dialer_test.go
  internal/net/grpc/option.go
  internal/net/http/middleware/timeout_test.go
  internal/observability/exporter/prometheus/prometheus.go
  internal/observability/metrics/version/version.go
  internal/params/params_test.go
  internal/rand/rand_test.go
  internal/runner/runner_race_test.go
  internal/tls/tls_test.go
  internal/unit/unit_test.go
  internal/worker/queue_option_test.go
  pkg/agent/core/ngt/handler/grpc/insert_test.go
  pkg/agent/sidecar/usecase/initcontainer/initcontainer.go
  tests/performance/max_vector_dim_test.go
Labels: type/bug, team/set, priority/medium, size/L, area/internal, area/agent/core, area/agent/sidecar, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#1819 Add manifest to deploy opentelemetry-operator
  Makefile
  Makefile.d/k8s.mk
  k8s/metrics/grafana/configmap.yaml
  k8s/metrics/otel/README.md
  k8s/metrics/otel/collector.yaml
  k8s/metrics/otel/operator.yaml
  k8s/metrics/otel/service-monitor.yaml
Labels: team/sre, type/feature, priority/medium, size/L, area/makefile

#1822 Update license headers / Format codes
  k8s/metrics/otel/collector.yaml
  k8s/metrics/otel/operator.yaml
  k8s/metrics/otel/service-monitor.yaml
Labels: priority/low, size/S

#1821 Add filter gateway api doc
  docs/api/filter-gateway.md
Labels: priority/low, type/documentation, size/XXL
