Repository vdaas/vald, pull requests merged in 2022-05, with the labels that each got.

#1628 implement pkg handler exists test cases
  pkg/agent/core/ngt/handler/grpc/handler_test.go
Labels: team/set, type/test, priority/low, size/L, area/agent/core, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling

#1633 create investigation test of max dim for NGT
  internal/core/algorithm/ngt/ngt.go
  internal/core/algorithm/ngt/ngt_test.go
  internal/core/algorithm/ngt/option.go
  internal/core/algorithm/ngt/option_test.go
  internal/net/control/control_darwin.go
  internal/net/control/control_other.go
  internal/net/control/control_unix.go
  internal/net/control/control_windows.go
  internal/runner/runner_race_test.go
  internal/singleflight/singleflight_test.go
  internal/timeutil/location/set_test.go
  tests/e2e/crud/crud_test.go
  tests/e2e/hdf5/hdf5.go
  tests/e2e/kubernetes/client/client.go
  tests/e2e/kubernetes/portforward/portforward.go
  tests/e2e/multiapis/multiapis_test.go
  tests/e2e/operation/doc.go
  tests/e2e/operation/multi.go
  tests/e2e/operation/operation.go
  tests/e2e/operation/stream.go
  tests/e2e/sidecar/sidecar_test.go
  tests/performance/max_vector_dim_test.go
Labels: team/set, type/test, priority/low, size/L, area/internal, actions/fossa

#1645 Implement multi insert test case for pkg agent handler - part 2
  pkg/agent/core/ngt/handler/grpc/handler_test.go
Labels: team/set, type/test, priority/low, size/XXL, area/agent/core

#1643 update go module
  Makefile
  example/client/go.mod
  example/client/go.sum
  go.mod
  go.sum
  hack/go.mod.default
  internal/net/control/control_darwin.go
  internal/net/control/control_other.go
  internal/net/control/control_unix.go
  internal/net/control/control_windows.go
  internal/runner/runner_race_test.go
  internal/singleflight/singleflight_test.go
  internal/timeutil/location/set_test.go
  tests/e2e/crud/crud_test.go
  tests/e2e/hdf5/hdf5.go
  tests/e2e/kubernetes/client/client.go
  tests/e2e/kubernetes/portforward/portforward.go
  tests/e2e/multiapis/multiapis_test.go
  tests/e2e/operation/doc.go
  tests/e2e/operation/multi.go
  tests/e2e/operation/operation.go
  tests/e2e/operation/stream.go
  tests/e2e/sidecar/sidecar_test.go
  versions/GO_VERSION
  versions/OPERATOR_SDK_VERSION
Labels: team/set, team/sre, type/dependency, priority/low, size/L, area/internal, area/makefile, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling

#1653 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: team/sre, priority/low, type/documentation, size/S, type/ci

#1654 [security] fix CWE-285
  example/client/go.mod
  example/client/go.sum
  go.mod
  go.sum
  hack/go.mod.default
Labels: type/security, priority/high, size/M, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling

#1649 fix go tool installation
  Makefile.d/functions.mk
  Makefile.d/proto.mk
  Makefile.d/test.mk
  Makefile.d/tools.mk
Labels: type/bug, team/sre, priority/medium, size/M, area/makefile

#1646 Implement multi insert test case for pkg agent handler - part 3
  pkg/agent/core/ngt/handler/grpc/handler_test.go
Labels: team/set, type/test, priority/low, size/XXL, area/agent/core

#1644 implement pkg handler remove test cases
  internal/errors/ngt.go
  internal/errors/ngt_test.go
  pkg/agent/core/ngt/handler/grpc/handler.go
  pkg/agent/core/ngt/handler/grpc/handler_test.go
Labels: team/set, type/test, priority/low, area/internal, size/XL, area/agent/core, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling

#1660 fix update bug
  pkg/agent/core/ngt/service/ngt.go
Labels: type/bug, priority/medium, size/S, area/agent/core, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#1665 fix chaos test temporarily
  .github/workflows/e2e-chaos.yaml
  Makefile.d/tools.mk
Labels: team/sre, priority/low, size/S, type/ci, area/makefile, actions/e2e-chaos

#1647 update dataflow image
  assets/docs/overview/dataflow.drawio
  assets/docs/overview/delete_flow.svg
  assets/docs/overview/search_flow.svg
  assets/docs/overview/update_flow.svg
  assets/docs/overview/upsert_flow.svg
Labels: priority/low, size/S

#1667 add invalid id argument handling
  Makefile
  Makefile.d/functions.mk
  Makefile.d/proto.mk
  example/client/go.mod
  example/client/go.sum
  go.mod
  go.sum
  hack/go.mod.default
  pkg/agent/core/ngt/handler/grpc/handler.go
  pkg/gateway/lb/handler/grpc/handler.go
  versions/NGT_VERSION
Labels: type/bug, team/sre, priority/medium, size/L, area/makefile, area/agent/core, area/gateway/lb, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling

#1612 Implement multi insert test case for pkg agent handler
  pkg/agent/core/ngt/handler/grpc/handler_test.go
Labels: team/set, type/test, priority/low, size/XXL, area/agent/core

#1669 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: team/sre, priority/low, type/documentation, size/S, type/ci

#1657 implement update handler test cases
  pkg/agent/core/ngt/handler/grpc/handler_test.go
Labels: team/set, type/test, priority/low, size/XL, area/agent/core, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#1650 Add e2e test for maxDimensionTest
  .github/helm/values/values-max-dim.yaml
  .github/workflows/e2e-max-dim.yml
  internal/core/algorithm/algorithm.go
  internal/core/algorithm/ngt/ngt.go
  internal/core/algorithm/ngt/ngt_test.go
  internal/core/algorithm/ngt/option.go
  internal/core/algorithm/ngt/option_test.go
  tests/e2e/performance/max_vector_dim_test.go
Labels: team/set, team/sre, type/test, priority/low, size/L, area/internal, type/ci, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling

#1670 Update license headers / Format codes
  internal/core/algorithm/ngt/option_test.go
  tests/e2e/performance/max_vector_dim_test.go
Labels: team/set, priority/low, size/S, area/internal

#1661 Add search config details document
  docs/user-guides/operations.md
  docs/user-guides/search-config.md
Labels: priority/low, type/documentation, size/L

#1673 fix typo argument in Makefile and Makefile.d/function.mk
  Makefile
  Makefile.d/functions.mk
Labels: type/bug, team/sre, priority/medium, size/S, area/makefile

#1674 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, type/documentation, size/S
