Repository vdaas/vald, pull requests merged in 2022-11, with the labels that each got.

#1825 Add Job reconciler & Change directory constitution of internal/k8s for benchmark
  apis/grpc/v1/benchmark/benchmark_vtproto.pb.go
  internal/config/benchmark.go
  internal/k8s/crd/benchmark/valdbenchmarkscenario.yaml
  internal/k8s/job/job.go
  internal/k8s/job/option.go
  internal/k8s/vald/benchmark/job/doc.go
  internal/k8s/vald/benchmark/job/job.go
  internal/k8s/vald/benchmark/job/option.go
  internal/k8s/vald/benchmark/job/types.go
  internal/k8s/vald/benchmark/scenario/doc.go
  internal/k8s/vald/benchmark/scenario/option.go
  internal/k8s/vald/benchmark/scenario/scenario.go
  internal/k8s/vald/benchmark/scenario/types.go
  pkg/tools/benchmark/job/service/job.go
Labels: type/feature, priority/medium, area/internal, size/XXL

#1828 install make dependencies before format command
  Makefile
Labels: team/sre, priority/low, type/refactoring, size/S, area/makefile

#1824 Introduce OTLP for metrics and trace
  Makefile.d/k8s.mk
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/README.md
  charts/vald/templates/_helpers.tpl
  charts/vald/values.schema.json
  charts/vald/values.yaml
  charts/vald/values/dev-observability.yaml
  example/client/go.mod
  example/client/go.sum
  go.mod
  go.sum
  hack/go.mod.default
  internal/config/observability.go
  internal/config/observability_test.go
  internal/config/server.go
  internal/observability/attribute/attribute.go
  internal/observability/exporter/jaeger/jaeger.go
  internal/observability/exporter/jaeger/jaeger_test.go
  internal/observability/exporter/jaeger/option.go
  internal/observability/exporter/jaeger/option_test.go
  internal/observability/exporter/otlp/option.go
  internal/observability/exporter/otlp/otlp.go
  internal/observability/exporter/prometheus/option.go
  internal/observability/exporter/prometheus/option_test.go
  internal/observability/exporter/prometheus/prometheus.go
  internal/observability/exporter/prometheus/prometheus_test.go
  internal/observability/observability.go
  internal/servers/starter/starter.go
  k8s/agent/configmap.yaml
  k8s/agent/statefulset.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/metrics/grafana/dashboards/00-vald-cluster-overview.yaml
  k8s/metrics/grafana/dashboards/01-vald-agent.yaml
  k8s/metrics/grafana/dashboards/02-vald-discoverer.yaml
  k8s/metrics/grafana/dashboards/05-vald-index-manager.yaml
  k8s/metrics/grafana/dashboards/07-vald-helm-operator.yaml
  k8s/metrics/grafana/dashboards/08-vald-lb-gateway.yaml
  k8s/metrics/otel/collector.yaml
  k8s/metrics/otel/pod-monitor.yaml
  k8s/operator/helm/crds/valdrelease.yaml
  pkg/agent/core/ngt/config/config_test.go
Labels: team/set, team/sre, type/feature, priority/medium, area/internal, size/XXXL, area/helm, area/makefile, area/agent/core

#1831 fix typo comment
  pkg/agent/core/ngt/service/ngt.go
Labels: priority/low, type/refactoring, size/S, area/agent/core

#1839 Fix deepsource: GSC-G404 Audit the random number generation source (rand)
  internal/test/data/vector/gen.go
Labels: priority/low, type/refactoring, size/S, area/internal

#1838 Fix deepsource: RVV-A0003 exit inside non-main function
  hack/license/gen/main.go
  internal/info/info.go
  internal/net/grpc/logger/logger.go
Labels: priority/low, type/refactoring, size/S, area/internal

#1836 fix deepsource: Unsafe defer of os.Close
  hack/benchmark/src/singleflight/singleflight_bench_test.go
Labels: team/set, priority/low, type/refactoring, size/S

#1834 fix deepsource: Potential slowloris attack
  internal/servers/server/server_test.go
Labels: team/set, priority/low, type/refactoring, size/S, area/internal

#1833 fix deepsource: Audit required: Insecure gRPC server
  internal/net/grpc/pool/pool_bench_test.go
  internal/net/grpc/server.go
  internal/net/grpc/server_test.go
Labels: team/set, type/security, priority/high, size/S, area/internal

#1837 Fix deepsource VET-V0007 unkeyed composite literals
  internal/net/http/metrics/pprof.go
  pkg/agent/core/ngt/router/router.go
  pkg/agent/core/ngt/router/router_test.go
  pkg/agent/sidecar/router/router.go
  pkg/discoverer/k8s/router/router.go
  pkg/gateway/filter/router/router.go
  pkg/gateway/lb/router/router.go
  pkg/manager/index/router/router.go
Labels: team/set, priority/low, type/refactoring, area/discoverer, area/manager/index, area/internal, size/XXL, area/agent/core, area/agent/sidecar, area/gateway/lb, area/gateway/filter

#1832 Fix deepsource RVV-B0013 Unused method receiver
  hack/benchmark/internal/starter/gateway/vald/vald.go
  internal/client/v1/client/vald/vald.go
  internal/db/kvs/redis/redis_mock.go
  internal/db/nosql/cassandra/cassandra_mock.go
  internal/db/nosql/cassandra/conviction.go
  internal/io/copy_bench_test.go
  internal/k8s/metrics/node/node.go
  internal/k8s/metrics/pod/pod.go
  internal/k8s/node/node.go
  internal/k8s/pod/pod.go
  internal/log/glg/glg.go
  internal/log/mock/logger.go
  internal/net/grpc/logger/logger.go
  internal/net/grpc/pool/pool_bench_test.go
  internal/net/http/routing/router.go
  internal/observability/metrics/agent/sidecar/sidecar.go
  internal/observability/metrics/backoff/backoff.go
  internal/observability/metrics/circuitbreaker/circuitbreaker.go
  internal/observability/metrics/grpc/grpc.go
  internal/observability/metrics/manager/index/index.go
  internal/observability/metrics/mem/index/index.go
  internal/observability/metrics/runtime/cgo/cgo.go
  internal/observability/metrics/runtime/goroutine/goroutine.go
  internal/observability/metrics/version/version.go
  internal/observability/observability.go
  internal/observability/trace/trace.go
  pkg/agent/core/ngt/handler/rest/handler.go
  pkg/agent/core/ngt/usecase/agentd.go
  pkg/agent/sidecar/handler/rest/handler.go
  pkg/agent/sidecar/service/observer/observer.go
  pkg/agent/sidecar/usecase/sidecar/sidecar.go
  pkg/discoverer/k8s/handler/grpc/handler.go
  pkg/discoverer/k8s/handler/rest/handler.go
  pkg/discoverer/k8s/usecase/discovered.go
  pkg/gateway/filter/handler/rest/handler.go
  pkg/gateway/lb/handler/rest/handler.go
  pkg/gateway/lb/usecase/vald.go
  pkg/manager/index/handler/rest/handler.go
  pkg/manager/index/usecase/indexer.go
  pkg/tools/cli/loadtest/usecase/load.go
Labels: team/set, priority/low, type/refactoring, size/L, area/discoverer, area/manager/index, area/internal, area/agent/core, area/agent/sidecar, area/tools/cli/loadtest, area/gateway/lb, area/gateway/filter

#1835 Fix deepsource: dockerfile warning
  dockers/agent/core/ngt/Dockerfile
  dockers/agent/sidecar/Dockerfile
  dockers/ci/base/Dockerfile
  dockers/dev/Dockerfile
  dockers/discoverer/k8s/Dockerfile
  dockers/gateway/filter/Dockerfile
  dockers/gateway/lb/Dockerfile
  dockers/manager/index/Dockerfile
  dockers/operator/helm/Dockerfile
  dockers/tools/cli/loadtest/Dockerfile
Labels: priority/low, type/refactoring, size/M, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#1845 Bugfix: e2e operator workflow
  .github/workflows/e2e-deploy.yml
Labels: type/bug, team/sre, size/S, type/ci, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#1847 Fix deepsource: DOK-SC2002, DOK-W1001 Useless cat and Multiple consecutive RUN
  dockers/operator/helm/Dockerfile
  dockers/tools/cli/loadtest/Dockerfile
Labels: priority/low, type/refactoring, size/S

#1849 Fix deepsource: RVV-B0012 Unused parameter in function
  hack/benchmark/internal/starter/gateway/vald/vald.go
  internal/client/v1/client/agent/core/client.go
  internal/client/v1/client/vald/vald.go
  internal/db/kvs/redis/redis_mock.go
  internal/db/nosql/cassandra/cassandra.go
  internal/db/nosql/cassandra/cassandra_mock.go
  internal/db/rdb/mysql/mysql.go
  internal/db/storage/blob/s3/s3.go
  internal/file/watch/watch.go
  internal/k8s/metrics/node/node.go
  internal/k8s/metrics/pod/pod.go
  internal/k8s/node/node.go
  internal/k8s/pod/pod.go
  internal/log/nop/nop.go
  internal/net/http/routing/router.go
  internal/observability/metrics/agent/sidecar/sidecar.go
  internal/observability/metrics/grpc/grpc.go
  internal/observability/observability.go
  internal/observability/trace/trace.go
  internal/servers/starter/starter.go
  internal/singleflight/singleflight.go
  pkg/agent/core/ngt/service/vqueue/queue.go
  pkg/agent/sidecar/service/observer/observer.go
  pkg/agent/sidecar/service/storage/storage.go
  pkg/agent/sidecar/usecase/initcontainer/initcontainer.go
  pkg/agent/sidecar/usecase/sidecar/sidecar.go
  pkg/discoverer/k8s/handler/grpc/handler.go
  pkg/discoverer/k8s/usecase/discovered.go
  pkg/gateway/filter/usecase/vald.go
  pkg/gateway/lb/usecase/vald.go
  pkg/manager/index/usecase/indexer.go
Labels: priority/low, type/refactoring, size/L, area/discoverer, area/manager/index, area/internal, area/agent/core, area/agent/sidecar, area/gateway/lb, area/gateway/filter

#1850 Fix deepsource: GSC-G103 Function call made to an unsafe package
  hack/benchmark/assets/x1b/loader.go
  internal/conv/conv.go
  internal/net/grpc/grpcconns.go
  internal/strings/strings_benchmark_test.go
  pkg/agent/core/ngt/service/kvs/ou.go
  pkg/agent/core/ngt/service/kvs/uo.go
  pkg/agent/core/ngt/service/vqueue/undeleted_index_map.go
  pkg/agent/core/ngt/service/vqueue/uninserted_index_map.go
  pkg/discoverer/k8s/service/nodemap.go
  pkg/discoverer/k8s/service/nodemetricsmap.go
  pkg/discoverer/k8s/service/podmetricsmap.go
  pkg/discoverer/k8s/service/podsmap.go
  pkg/manager/index/service/indexinfos.go
Labels: team/set, priority/low, type/refactoring, size/M, area/discoverer, area/manager/index, area/internal, area/agent/core

#1848 Fix deepsource: RVV-B0011 exported function returning value of unexported type
  internal/cache/cache.go
  internal/cache/cache_test.go
  internal/cache/cacher/cacher.go
  internal/cache/gache/gache.go
  internal/cache/gache/gache_test.go
  internal/config/compress.go
  internal/config/compress_test.go
  internal/log/zap/zap.go
  internal/log/zap/zap_test.go
  internal/net/dialer.go
  internal/net/dialer_test.go
  internal/net/option.go
  internal/net/option_test.go
  internal/params/params.go
  internal/params/params_test.go
  pkg/agent/sidecar/service/storage/storage.go
Labels: team/set, priority/low, type/refactoring, size/L, area/internal, area/agent/sidecar

#1846 Fix deepsource: GO-W1009 using a deprecated function or etc
  internal/config/grpc.go
  internal/config/grpc_test.go
  internal/net/grpc/option.go
  internal/net/grpc/option_test.go
  internal/net/grpc/pool/pool.go
  internal/net/grpc/pool/pool_bench_test.go
  internal/net/net.go
  internal/tls/tls_test.go
Labels: team/set, priority/low, type/refactoring, size/L, area/internal

#1852 fix deepsource: [RVV-B0013] Unused method receiver
  pkg/gateway/filter/usecase/vald.go
Labels: priority/low, type/refactoring, size/S, area/gateway/filter

#1853 Fix deepsource: SCC-S1003 replace call to strings.Index with strings.Contains
  internal/info/info.go
Labels: priority/low, type/refactoring, size/S, area/internal

#1854 Fix deepsource: RVV-A0003 Exit inside non-main function ./hack
  hack/helm/schema/crd/main.go
  hack/helm/schema/gen/main.go
Labels: priority/low, type/refactoring, size/S

#1855 Fix deepsource: CRT-A0014 switch single case can be rewritten if or if-else
  internal/cache/cache.go
  internal/cache/cacher/cacher.go
Labels: priority/low, type/refactoring, size/S, area/internal

#1856 Fix unsing undefined varibale at maxDimensionTest
  tests/performance/max_vector_dim_test.go
Labels: type/bug, team/set, priority/medium, size/S

#1858 fix deepsource: [RVV-B0009] Redefinition of builtin
  internal/net/grpc/types/types_test.go
Labels: team/set, priority/low, type/refactoring, size/S, area/internal

#1859 Fix deepsource: VET-V0008 Lock erroneously passed by value internal/db, backoff, circuitbreaker
  internal/backoff/backoff_test.go
  internal/circuitbreaker/manager_test.go
  internal/db/nosql/cassandra/cassandra_test.go
Labels: team/set, priority/low, type/refactoring, size/M, area/internal

#1862 Fix deepsource: VET-V0008 Lock erroneously passed by value internal/client
  internal/client/v1/client/filter/egress/client_test.go
  internal/client/v1/client/filter/ingress/client_test.go
Labels: team/set, priority/low, type/refactoring, size/M, area/internal

#1864 Fix deepsource: VET-V0008 lock erroneously passed by value info
  internal/info/info.go
Labels: priority/low, type/refactoring, size/S, area/internal

#1863 Fix deepsource: VET-V0008 Lock erroneously passed by value (internal/test, singleflight, observability)
  internal/observability/metrics/agent/sidecar/sidecar_test.go
  internal/singleflight/singleflight_test.go
  internal/test/comparator/comparators.go
Labels: team/set, priority/low, type/refactoring, size/M, area/internal

#1865 fix deepsource: [RVV-B0006] Method modifies receiver
  internal/info/info.go
Labels: priority/low, type/refactoring, size/S, area/internal

#1857 Fix deepsource: VET-V0008 lock erroneously passed by value pkg/discoverer
  pkg/discoverer/k8s/service/discover_test.go
  pkg/discoverer/k8s/service/nodemap_test.go
  pkg/discoverer/k8s/service/nodemetricsmap_test.go
  pkg/discoverer/k8s/service/podmetricsmap_test.go
  pkg/discoverer/k8s/service/podsmap_test.go
Labels: team/set, priority/low, type/refactoring, area/discoverer, size/XXL

#1861 Fix deepsource: VET-V0008 Lock erroneously passed by value (pkg/manager)
  pkg/manager/index/config/config_test.go
  pkg/manager/index/handler/grpc/handler_test.go
  pkg/manager/index/handler/grpc/option_test.go
  pkg/manager/index/handler/rest/handler_test.go
  pkg/manager/index/handler/rest/option_test.go
  pkg/manager/index/router/option_test.go
  pkg/manager/index/router/router_test.go
  pkg/manager/index/service/indexer_test.go
  pkg/manager/index/service/indexinfos_test.go
  pkg/manager/index/service/option_test.go
  pkg/manager/index/usecase/indexer_test.go
Labels: team/set, priority/low, type/refactoring, area/manager/index, size/XXL

#1866 fix deepsource: [CRT-D0001] append possibly assigns to a wrong variable
  internal/test/data/request/insert_test.go
  pkg/gateway/lb/handler/grpc/handler.go
  pkg/gateway/lb/usecase/vald.go
  pkg/manager/index/usecase/indexer.go
Labels: team/set, priority/low, type/refactoring, size/S, area/manager/index, area/internal, area/gateway/lb

#1867 :recycle: Fix deepsource: VET-V0008 lock erroneously passed by value (internal/net)
  internal/net/dialer_test.go
  internal/net/grpc/addrs_test.go
  internal/net/grpc/client_test.go
  internal/net/grpc/grpcconns_test.go
  internal/net/http/client/client_test.go
Labels: team/set, priority/low, type/refactoring, area/internal, size/XXL

#1870 Fix deepsource: DOK-W1001 found consecutive run command
  dockers/operator/helm/Dockerfile
Labels: priority/low, type/refactoring, size/S

#1869 Fix deepsource: VET-V0008 lock erroneously passed by value (internal/info test)
  internal/info/info_test.go
  internal/info/option_test.go
Labels: team/set, priority/low, type/refactoring, size/S, area/internal

#1868 Fix deepsource: VET-V0008 Lock erroneously passed by value (pkg/agent)
  pkg/agent/core/ngt/service/kvs/ou_test.go
  pkg/agent/core/ngt/service/kvs/uo_test.go
  pkg/agent/core/ngt/service/ngt_test.go
  pkg/agent/core/ngt/service/vqueue/queue_test.go
  pkg/agent/core/ngt/service/vqueue/undeleted_index_map_test.go
  pkg/agent/core/ngt/service/vqueue/uninserted_index_map_test.go
Labels: team/set, priority/low, type/refactoring, size/XXL, area/agent/core

#1871 [SCC-SA4006] fix deepsource: Value assigned to a variable is never read before bei…
  internal/log/zap/zap_test.go
Labels: team/set, priority/low, type/refactoring, size/S, area/internal

#1872 [RVV-B0006] fix deepsource: Method modifies receiver
  internal/info/info.go
Labels: priority/low, type/refactoring, size/S, area/internal

#1873 [SCC-U1000] fix deepsource: Unused code
  internal/db/nosql/cassandra/cassandra.go
Labels: priority/low, type/refactoring, size/S, area/internal

#1844 Fix deepsource: RVV-B0001 confusing naming of struct fields or methods
  hack/benchmark/assets/x1b/loader.go
  hack/benchmark/assets/x1b/loader_test.go
  internal/db/rdb/mysql/mysql.go
  internal/db/rdb/mysql/mysql_test.go
  internal/file/file.go
  internal/file/file_test.go
  internal/net/grpc/client.go
  internal/net/grpc/client_test.go
  internal/net/grpc/pool/pool.go
  internal/net/grpc/pool/pool_test.go
  internal/net/http/transport/roundtrip.go
  internal/net/http/transport/roundtrip_test.go
  internal/safety/safety.go
  internal/safety/safety_test.go
  internal/test/data/vector/gen.go
  internal/test/data/vector/gen_test.go
  internal/worker/queue.go
  internal/worker/queue_test.go
  pkg/gateway/lb/handler/grpc/handler.go
  pkg/gateway/lb/handler/grpc/handler_test.go
Labels: team/set, priority/low, type/refactoring, area/internal, size/XXL, area/gateway/lb

#1874 Fix deepsource: VET-V0008 lock erroneously passed by value (internal/net/test)
  internal/net/grpc/client_test.go
Labels: team/set, priority/low, type/refactoring, size/M, area/internal

#1875 Fix deepsource: RVV-B0001 Confusing naming of struct fields or methods
  internal/info/info.go
  internal/info/info_test.go
  internal/net/grpc/pool/pool.go
  internal/net/grpc/pool/pool_test.go
  internal/test/data/vector/gen.go
  internal/test/data/vector/gen_test.go
Labels: team/set, priority/low, type/refactoring, size/M, area/internal

#1876 Update license headers / Format codes
  internal/info/info.go
Labels: priority/low, size/S, area/internal

#1877 Remove deprecated functional option (internal/net/grpc)
  internal/net/grpc/option.go
Labels: priority/low, type/refactoring, size/S, area/internal
