Repository vdaas/vald, pull requests merged in 2023-09, with the labels that each got.

#2167 Add CopyBuffer to copy.go
  internal/io/copy.go
  internal/io/copy_bench_test.go
Labels: team/set, priority/low, type/refactoring, size/M, area/internal

#2168 Refactor search status
  apis/grpc/v1/agent/core/agent.pb.go
  apis/grpc/v1/agent/sidecar/sidecar.pb.go
  apis/grpc/v1/discoverer/discoverer.pb.go
  apis/grpc/v1/filter/egress/egress_filter.pb.go
  apis/grpc/v1/filter/ingress/ingress_filter.pb.go
  apis/grpc/v1/manager/index/index_manager.pb.go
  apis/grpc/v1/payload/payload.pb.go
  apis/grpc/v1/vald/filter.pb.go
  apis/grpc/v1/vald/insert.pb.go
  apis/grpc/v1/vald/object.pb.go
  apis/grpc/v1/vald/remove.pb.go
  apis/grpc/v1/vald/search.pb.go
  apis/grpc/v1/vald/update.pb.go
  apis/grpc/v1/vald/upsert.pb.go
  go.mod
  go.sum
  internal/errors/errors.go
  internal/strings/strings.go
  k8s/discoverer/deployment.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/manager/index/deployment.yaml
  pkg/gateway/lb/handler/grpc/aggregation.go
  versions/PROMETHEUS_STACK_VERSION
  versions/REVIEWDOG_VERSION
Labels: priority/low, type/refactoring, area/discoverer, area/manager/index, area/internal, size/XXL, area/agent/core, area/agent/sidecar, area/gateway/lb, area/gateway/filter, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2173 Add object pool for payload.Object_Vector
  Makefile.d/functions.mk
  Makefile.d/proto.mk
  apis/docs/v1/docs.md
  apis/grpc/v1/filter/egress/egress_filter_vtproto.pb.go
  apis/grpc/v1/filter/ingress/ingress_filter_vtproto.pb.go
  apis/grpc/v1/payload/payload.pb.go
  apis/grpc/v1/payload/payload_vtproto.pb.go
  apis/grpc/v1/rpc/errdetails/error_details.pb.go
  apis/grpc/v1/rpc/errdetails/error_details_vtproto.pb.go
  apis/grpc/v1/vald/object_vtproto.pb.go
  apis/proto/v1/payload/payload.proto
  apis/proto/v1/rpc/error_details.proto
  apis/swagger/v1/rpc/apis/proto/v1/rpc/error_details.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/filter.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/insert.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/object.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/remove.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/search.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/update.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/upsert.swagger.json
  go.mod
  go.sum
  hack/license/gen/main.go
  internal/net/grpc/codec.go
  internal/net/grpc/errdetails/errdetails.go
  pkg/agent/core/ngt/handler/grpc/insert_test.go
  pkg/agent/core/ngt/handler/grpc/object.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/vqueue/queue.go
  pkg/gateway/lb/handler/grpc/handler.go
  versions/GO_VERSION
  versions/PROTOBUF_VERSION
  versions/TELEPRESENCE_VERSION
Labels: team/set, team/sre, priority/low, type/refactoring, size/L, area/manager/index, area/internal, area/makefile, area/agent/core, area/gateway/lb, area/gateway/filter, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2172 Refactor Agent
  .github/actions/deploy-chaos-mesh/action.yaml
  .github/actions/setup-e2e/action.yaml
  go.mod
  go.sum
  hack/benchmark/internal/operation/search.go
  hack/go.mod.default
  internal/core/algorithm/ngt/ngt.go
  internal/core/algorithm/ngt/ngt_test.go
  internal/errors/ngt.go
  pkg/agent/core/ngt/handler/grpc/linear_search.go
  pkg/agent/core/ngt/handler/grpc/search.go
  pkg/agent/core/ngt/service/ngt.go
Labels: team/set, team/sre, priority/low, type/refactoring, size/L, area/internal, type/ci, area/agent/core, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2176 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: team/sre, priority/low, type/documentation, size/S, type/ci

#2178 Modified svg image
  assets/docs/tutorial/getstarted.svg
  assets/docs/tutorial/vald-agent-standalone-on-k8s.svg
Labels: type/bug, priority/medium, size/S

#2163 Add troubleshooting for each rpc
  docs/api/insert.md
  docs/api/object.md
  docs/api/remove.md
  docs/api/search.md
  docs/api/update.md
  docs/api/upsert.md
Labels: priority/low, type/documentation, size/XXL

#2181 bugfix lb gateway pacicked caused by pairing heap search aggregator makes nil pointer when empty search result
  apis/grpc/v1/agent/core/agent.pb.go
  apis/grpc/v1/agent/sidecar/sidecar.pb.go
  apis/grpc/v1/discoverer/discoverer.pb.go
  apis/grpc/v1/filter/egress/egress_filter.pb.go
  apis/grpc/v1/filter/ingress/ingress_filter.pb.go
  apis/grpc/v1/manager/index/index_manager.pb.go
  apis/grpc/v1/payload/payload.pb.go
  apis/grpc/v1/rpc/errdetails/error_details.pb.go
  apis/grpc/v1/vald/filter.pb.go
  apis/grpc/v1/vald/insert.pb.go
  apis/grpc/v1/vald/object.pb.go
  apis/grpc/v1/vald/remove.pb.go
  apis/grpc/v1/vald/search.pb.go
  apis/grpc/v1/vald/update.pb.go
  apis/grpc/v1/vald/upsert.pb.go
  go.mod
  go.sum
  pkg/gateway/lb/handler/grpc/aggregation.go
  versions/KUBECTL_VERSION
  versions/PROMETHEUS_STACK_VERSION
Labels: type/bug, priority/medium, size/M, area/discoverer, area/manager/index, area/agent/core, area/agent/sidecar, area/gateway/lb, area/gateway/filter

#2182 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: team/sre, priority/low, type/documentation, size/S, type/ci

#2184 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, type/documentation, size/S

#2185 Update license headers / Format codes
  charts/vald-helm-operator/values.schema.json
  charts/vald/values.schema.json
Labels: priority/low, size/XXXL, area/helm

#2189 refactor semver ci
  .github/workflows/semver.yml
  go.mod
  go.sum
  versions/PROMETHEUS_STACK_VERSION
Labels: team/sre, priority/low, type/refactoring, size/S, type/ci

#2188 List kvs and vqueue data
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/vqueue/queue.go
Labels: type/feature, priority/medium, size/M, area/agent/core, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2190 change default creation poolsize
  charts/vald/README.md
  charts/vald/values.yaml
  k8s/agent/configmap.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
Labels: priority/low, type/refactoring, size/S, area/helm

#2177 Add bbolt as internal/db/kvs
  go.mod
  go.sum
  hack/go.mod.default
  internal/db/kvs/bbolt/bbolt.go
  internal/db/kvs/bbolt/bbolt_test.go
  internal/db/kvs/bbolt/option.go
  internal/db/kvs/bbolt/option_test.go
Labels: team/set, type/feature, priority/medium, area/internal, size/XXL

#2192 Update license headers / Format codes
  internal/db/kvs/bbolt/option_test.go
Labels: team/set, priority/low, size/S, area/internal

#2193 Replace x/slices with standard slices pkg
  go.mod
  go.sum
  hack/go.mod.default
  hack/tools/metrics/main.go
  internal/file/file.go
  internal/info/info.go
  internal/net/grpc/pool/pool.go
  internal/net/grpc/stream.go
  internal/slices/slices.go
  internal/slices/slices_test.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/vqueue/queue.go
  pkg/discoverer/k8s/service/discover.go
  pkg/gateway/filter/usecase/vald.go
  pkg/gateway/lb/handler/grpc/aggregation.go
  pkg/gateway/lb/handler/grpc/handler.go
  pkg/gateway/lb/handler/grpc/search_benchmark_test.go
Labels: team/set, type/feature, priority/medium, area/discoverer, area/internal, size/XL, area/agent/core, area/gateway/lb, area/gateway/filter, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2195 update telepresence and helm-docs installer and update deps
  Makefile.d/helm.mk
  Makefile.d/k8s.mk
  go.mod
  go.sum
  versions/HELM_DOCS_VERSION
  versions/JAEGER_OPERATOR_VERSION
  versions/VALDCLI_VERSION
Labels: team/sre, priority/low, type/refactoring, size/L, area/makefile
