Repository vdaas/vald, pull requests merged in 2023-05, with the labels that each got.

#2021 Chatops command /format output message if nothing updated
  .github/workflows/chatops.yml
Labels: team/sre, priority/low, size/S, type/ci

#2022 add network policy
  Makefile
  Makefile.d/k8s.mk
  charts/vald/templates/agent/networkpolicy.yaml
  charts/vald/templates/discoverer/networkpolicy.yaml
  charts/vald/templates/gateway/filter/networkpolicy.yaml
  charts/vald/templates/gateway/lb/networkpolicy.yaml
  charts/vald/templates/manager/index/networkpolicy.yaml
  charts/vald/values.yaml
Labels: team/sre, type/feature, priority/medium, size/S, area/helm, area/makefile

#2024 Change E2E actions to use local charts on PR
  .github/actions/e2e-deploy-vald-helm-operator/action.yaml
  .github/actions/e2e-deploy-vald/action.yaml
  .github/workflows/e2e-chaos.yaml
  .github/workflows/e2e-deploy.yml
  .github/workflows/e2e-max-dim.yml
  .github/workflows/e2e-profiling.yml
  Makefile.d/k8s.mk
Labels: team/sre, priority/low, size/S, type/ci, area/makefile

#2025 Fix E2E actions on PR
  .github/actions/e2e-deploy-vald/action.yaml
  .github/workflows/e2e-chaos.yaml
  .github/workflows/e2e-deploy.yml
  .github/workflows/e2e-max-dim.yml
  .github/workflows/e2e-profiling.yml
  Makefile.d/k8s.mk
Labels: team/sre, priority/low, size/S, type/ci, area/makefile, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2014 Create README for each docker image
  dockers/agent/core/ngt/README.md
  dockers/agent/sidecar/README.md
  dockers/ci/base/README.md
  dockers/dev/README.md
  dockers/discoverer/k8s/README.md
  dockers/gateway/filter/README.md
  dockers/gateway/lb/README.md
  dockers/manager/index/README.md
  dockers/operator/helm/README.md
  dockers/template.md
  dockers/tools/cli/loadtest/README.md
Labels: priority/low, type/documentation, size/XL

#2026 Update NGT version
  versions/NGT_VERSION
Labels: priority/low, size/S, type/ci, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2029 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: team/sre, priority/low, type/documentation, size/S, type/ci

#2028 Fix e2e-max-dim test
  .github/actions/e2e-deploy-vald-helm-operator/action.yaml
  .github/actions/e2e-deploy-vald/action.yaml
  .github/workflows/e2e-chaos.yaml
  .github/workflows/e2e-deploy.yml
  .github/workflows/e2e-max-dim.yml
  .github/workflows/e2e-profiling.yml
  .github/workflows/helm.yml
  Makefile
  Makefile.d/k8s.mk
Labels: team/sre, priority/low, size/S, type/ci, area/makefile, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2030 Add command to deploy monitoring stack
  Makefile.d/k8s.mk
  docs/user-guides/observability-configuration.md
  k8s/metrics/jaeger/jaeger-operator/deployment.yaml
  k8s/metrics/jaeger/jaeger-operator/role-binding.yaml
  k8s/metrics/jaeger/jaeger-operator/role.yaml
  k8s/metrics/jaeger/jaeger-operator/service-account.yaml
  k8s/metrics/jaeger/jaeger-operator/service.yaml
  k8s/metrics/jaeger/jaeger.yaml
Labels: team/sre, type/feature, priority/medium, size/M, area/makefile

#2033 Update RoundTrip retry condition
  internal/net/http/transport/roundtrip.go
  internal/net/http/transport/roundtrip_test.go
Labels: team/set, priority/low, type/refactoring, size/M, area/internal, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling

#2032 add e2e envs to devcontainer
  .devcontainer/devcontainer.json
  Makefile.d/k3d.mk
  Makefile.d/tools.mk
  dockers/dev/Dockerfile
  dockers/dev/README.md
Labels: team/sre, type/feature, priority/medium, size/L, area/makefile

#2037 [Bugfix] remove sudo from kubectl/install make command and small refactor around os/arch
  .github/workflows/e2e-chaos.yaml
  .github/workflows/update_pull_request_and_issue_template.yml
  Makefile
  Makefile.d/dependencies.mk
  Makefile.d/helm.mk
  Makefile.d/k8s.mk
  Makefile.d/kind.mk
  Makefile.d/tools.mk
  versions/CHAOS_MESH_VERSION
  versions/KUBECTL_VERSION
Labels: type/bug, team/sre, priority/medium, size/M, type/ci, area/makefile, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2038 disable deepsource TestCoverage due to the Deepsource Coverage collect server timeout is too short for Vald testing
  .deepsource.toml
Labels: priority/low, size/S, type/ci

#2040 refactor and add test for service/ngt.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/ngt_test.go
Labels: team/set, type/feature, priority/medium, size/L, area/agent/core, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#1976 Added flg that can disable to ingress defaultBackend
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/templates/gateway/filter/ing.yaml
  charts/vald/templates/gateway/lb/ing.yaml
  charts/vald/values.schema.json
  charts/vald/values.yaml
Labels: actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, ci/approved

#2042 Add documentation for devcontiner
  CONTRIBUTING.md
  Makefile
  docs/contributing/development.md
Labels: team/sre, type/feature, priority/medium, size/M, area/makefile
