Repository vdaas/vald, pull requests merged in 2023-07, with the labels that each got.

#2096 Add broken index backup document
  docs/user-guides/backup-configuration.md
Labels: type/feature, priority/medium, size/M

#2100 tune default params & small bug fix
  charts/vald/README.md
  charts/vald/templates/_helpers.tpl
  charts/vald/values.schema.json
  charts/vald/values.yaml
  go.mod
  go.sum
  internal/core/algorithm/ngt/ngt.go
  k8s/agent/configmap.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  pkg/gateway/lb/handler/grpc/aggregation.go
  versions/CHAOS_MESH_VERSION
  versions/JAEGER_OPERATOR_VERSION
  versions/PROMETHEUS_STACK_VERSION
Labels: priority/low, area/internal, size/XL, area/helm, area/gateway/lb

#2101 Install additional tools for docker image for devcontainer
  .devcontainer/devcontainer.json
  Makefile.d/tools.mk
  dockers/dev/Dockerfile
Labels: team/sre, type/feature, priority/medium, size/M, area/makefile

#2108 Fix format network policy document
  docs/user-guides/network-policy.md
Labels: priority/low, type/documentation, size/S

#2106 update golangci-lint configuration: use white-list configuration pattern
  .golangci.yml
Labels: priority/low, type/refactoring, size/S

#2104 Make internal/cache generic
  go.mod
  go.sum
  hack/go.mod.default
  internal/cache/cache.go
  internal/cache/cache_test.go
  internal/cache/cacher/cacher.go
  internal/cache/gache/gache.go
  internal/cache/gache/gache_test.go
  internal/cache/gache/option.go
  internal/cache/gache/option_test.go
  internal/cache/option.go
  internal/cache/option_test.go
  internal/net/dialer.go
  internal/net/dialer_test.go
  internal/net/option.go
  internal/net/option_test.go
Labels: team/set, type/feature, priority/medium, size/L, area/internal, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2114 Fix jaeger operator wait logic
  Makefile.d/k8s.mk
Labels: type/bug, team/sre, priority/medium, size/S, area/makefile

#2116 remove some linters to make ci faster
  .github/workflows/reviewdog.yml
  .golangci.yml
Labels: team/sre, priority/low, size/S, type/ci

#2111 Revert "tune default params (#2100)" and add Go module
  Makefile
  charts/vald/README.md
  charts/vald/values.yaml
  go.mod
  go.sum
  k8s/agent/configmap.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  versions/JAEGER_OPERATOR_VERSION
Labels: team/sre, priority/low, size/L, area/helm, area/makefile

#2115 Add gache's generic Map as internal/sync.Map and replace standard sync.Map with it
  go.mod
  internal/circuitbreaker/manager.go
  internal/client/v1/client/discoverer/discover.go
  internal/client/v1/client/filter/egress/client.go
  internal/client/v1/client/filter/ingress/client.go
  internal/net/dialer.go
  internal/net/grpc/client.go
  internal/net/grpc/pool/pool_bench_test.go
  internal/singleflight/singleflight.go
  internal/sync/map.go
  pkg/agent/core/ngt/service/kvs/kvs.go
  pkg/agent/core/ngt/service/kvs/kvs_test.go
  pkg/agent/core/ngt/service/kvs/ou.go
  pkg/agent/core/ngt/service/kvs/ou_test.go
  pkg/agent/core/ngt/service/kvs/uo.go
  pkg/agent/core/ngt/service/kvs/uo_test.go
  pkg/agent/core/ngt/service/vqueue/indexmap.go
  pkg/agent/core/ngt/service/vqueue/indexmap_test.go
  pkg/agent/core/ngt/service/vqueue/queue.go
  pkg/discoverer/k8s/service/discover.go
  pkg/discoverer/k8s/service/nodemap.go
  pkg/discoverer/k8s/service/nodemap_test.go
  pkg/discoverer/k8s/service/nodemetricsmap.go
  pkg/discoverer/k8s/service/nodemetricsmap_test.go
  pkg/discoverer/k8s/service/podmetricsmap.go
  pkg/discoverer/k8s/service/podmetricsmap_test.go
  pkg/discoverer/k8s/service/podsmap.go
  pkg/discoverer/k8s/service/podsmap_test.go
  pkg/gateway/lb/handler/grpc/aggregation.go
  pkg/gateway/lb/service/gateway.go
  pkg/manager/index/service/indexer.go
  pkg/manager/index/service/indexinfos.go
  pkg/manager/index/service/indexinfos_test.go
Labels: team/set, type/feature, priority/medium, area/discoverer, area/manager/index, area/internal, size/XXXL, area/agent/core, area/gateway/lb, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2117 Propagate context to Search operation.
  internal/core/algorithm/ngt/ngt.go
  internal/core/algorithm/ngt/ngt_test.go
  pkg/agent/core/ngt/handler/grpc/search.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/ngt_stateful_test.go
Labels: type/bug, team/set, priority/medium, size/L, area/internal, area/agent/core, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2121 refactor context
  go.mod
  go.sum
  internal/errgroup/group.go
  internal/net/grpc/client.go
  versions/NGT_VERSION
  versions/PROMETHEUS_STACK_VERSION
  versions/PROTOBUF_VERSION
  versions/TELEPRESENCE_VERSION
Labels: priority/low, type/refactoring, size/L, area/internal

#2124 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: team/sre, type/ci

#2102 use GOBIN instead of GOPATH/bin
  .github/workflows/chatops.yml
  Makefile
  Makefile.d/functions.mk
  Makefile.d/proto.mk
  Makefile.d/tools.mk
  go.mod
  go.sum
  internal/sync/map.go
  versions/GO_VERSION
  versions/PROMETHEUS_STACK_VERSION
Labels: team/sre, priority/low, type/refactoring, size/L, area/internal, type/ci, area/makefile

#2123 Fix variable type definition for using gache
  internal/sync/map.go
  pkg/agent/core/ngt/service/vqueue/queue.go
  pkg/discoverer/k8s/service/discover.go
Labels: type/bug, priority/medium, size/L, area/discoverer, area/internal, area/agent/core, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2128 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: team/sre, priority/low, type/documentation, size/S, type/ci

#2129 Fix hack/benchmark search interface change
  hack/benchmark/core/benchmark/strategy/search.go
  hack/benchmark/internal/core/algorithm/algorithm.go
  hack/benchmark/internal/core/algorithm/ngt/ngt.go
Labels: type/bug, priority/medium, size/S

#2130 Fix ngt index path of test case
  internal/core/algorithm/ngt/ngt_test.go
Labels: type/bug, team/set, priority/medium, size/L, area/internal

#2138 Update devcontainer
  .devcontainer/devcontainer.json
Labels: type/feature, priority/medium, size/S

#2137 add apiversion capabilities check to helm template
  charts/vald/templates/agent/hpa.yaml
  charts/vald/templates/agent/networkpolicy.yaml
  charts/vald/templates/agent/pdb.yaml
  charts/vald/templates/discoverer/hpa.yaml
  charts/vald/templates/discoverer/networkpolicy.yaml
  charts/vald/templates/discoverer/pdb.yaml
  charts/vald/templates/gateway/filter/hpa.yaml
  charts/vald/templates/gateway/filter/ing.yaml
  charts/vald/templates/gateway/filter/networkpolicy.yaml
  charts/vald/templates/gateway/filter/pdb.yaml
  charts/vald/templates/gateway/lb/hpa.yaml
  charts/vald/templates/gateway/lb/ing.yaml
  charts/vald/templates/gateway/lb/networkpolicy.yaml
  charts/vald/templates/gateway/lb/pdb.yaml
  charts/vald/templates/manager/index/networkpolicy.yaml
  charts/vald/templates/manager/index/pdb.yaml
Labels: type/feature, priority/medium, size/S, area/helm, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2136 Add timestamp field to Object.Vector
  apis/docs/v1/docs.md
  apis/grpc/v1/agent/core/agent.pb.go
  apis/grpc/v1/agent/sidecar/sidecar.pb.go
  apis/grpc/v1/discoverer/discoverer.pb.go
  apis/grpc/v1/filter/egress/egress_filter.pb.go
  apis/grpc/v1/filter/ingress/ingress_filter.pb.go
  apis/grpc/v1/manager/index/index_manager.pb.go
  apis/grpc/v1/payload/payload.pb.go
  apis/grpc/v1/payload/payload_vtproto.pb.go
  apis/grpc/v1/vald/filter.pb.go
  apis/grpc/v1/vald/insert.pb.go
  apis/grpc/v1/vald/object.pb.go
  apis/grpc/v1/vald/remove.pb.go
  apis/grpc/v1/vald/search.pb.go
  apis/grpc/v1/vald/update.pb.go
  apis/grpc/v1/vald/upsert.pb.go
  apis/proto/v1/payload/payload.proto
  apis/swagger/v1/filter/egress/apis/proto/v1/filter/egress/egress_filter.swagger.json
  apis/swagger/v1/filter/ingress/apis/proto/v1/filter/ingress/ingress_filter.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/filter.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/insert.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/object.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/remove.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/search.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/update.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/upsert.swagger.json
  go.mod
  go.sum
  hack/go.mod.default
  pkg/agent/core/ngt/handler/grpc/index_test.go
  pkg/agent/core/ngt/handler/grpc/object.go
  pkg/agent/core/ngt/handler/grpc/object_test.go
  pkg/agent/core/ngt/service/kvs/kvs.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/ngt_stateful_test.go
  pkg/agent/core/ngt/service/ngt_test.go
  pkg/agent/core/ngt/service/vqueue/queue.go
  pkg/agent/core/ngt/service/vqueue/queue_test.go
  pkg/agent/core/ngt/service/vqueue/stateful_test.go
Labels: team/set, type/feature, priority/medium, area/discoverer, area/manager/index, size/XL, area/agent/core, area/agent/sidecar, area/gateway/lb, area/gateway/filter

#2132 Use internal comparator instead of go-cmp
  .golangci.yml
  internal/cache/gache/option_test.go
  internal/core/algorithm/ngt/ngt_test.go
  internal/db/kvs/redis/redis_test.go
  internal/db/storage/blob/s3/option_test.go
  internal/db/storage/blob/s3/reader/option_test.go
  internal/net/dialer_test.go
  internal/test/data/request/insert_test.go
  internal/test/data/request/object_test.go
  internal/worker/queue_test.go
Labels: team/set, priority/low, type/refactoring, size/L, area/internal

#2142 Add timestamp check for GetObject e2e
  go.mod
  go.sum
  tests/e2e/operation/stream.go
Labels: type/feature, priority/medium, size/M, actions/e2e-deploy
