Repository vdaas/vald, pull requests merged in 2023-03, with the labels that each got.

#1956 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: team/sre, type/documentation, size/S, type/ci

#1954 Update test template to exclude deepsource warning
  assets/test/templates/common/fill.tmpl
  assets/test/templates/common/function.tmpl
Labels: priority/low, type/refactoring, size/M

#1958 bugfix backoff metrics
  internal/backoff/backoff.go
Labels: area/internal

#1960 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, type/documentation, size/S

#1962 Update license headers / Format codes
  CHANGELOG.md
  charts/vald-helm-operator/README.md
  charts/vald-helm-operator/values.schema.json
  charts/vald/README.md
  charts/vald/values.schema.json
Labels: priority/low, size/XXXL, area/helm

#1961 [k8s]: Fix grafana dashboard query for backoff retry count
  charts/vald/values.yaml
  k8s/metrics/grafana/configmap.yaml
  k8s/metrics/grafana/dashboards/00-vald-cluster-overview.yaml
  k8s/metrics/grafana/dashboards/01-vald-agent.yaml
  k8s/metrics/grafana/dashboards/02-vald-discoverer.yaml
  k8s/metrics/grafana/dashboards/05-vald-index-manager.yaml
  k8s/metrics/grafana/dashboards/07-vald-helm-operator.yaml
  k8s/metrics/grafana/dashboards/08-vald-lb-gateway.yaml
Labels: priority/low, size/S, area/helm

#1964 Add disable balanced update features & use generic type for BidirectionalStream
  apis/docs/v1/docs.md
  apis/grpc/v1/payload/interface.go
  apis/grpc/v1/payload/payload.pb.go
  apis/grpc/v1/payload/payload_vtproto.pb.go
  apis/proto/v1/payload/payload.proto
  apis/swagger/v1/vald/apis/proto/v1/vald/filter.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/update.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/upsert.swagger.json
  charts/vald/README.md
  example/client/go.mod
  example/client/go.sum
  go.mod
  go.sum
  hack/go.mod.default
  internal/config/grpc.go
  internal/net/grpc/stream.go
  k8s/agent/configmap.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  pkg/agent/core/ngt/handler/grpc/insert.go
  pkg/agent/core/ngt/handler/grpc/linear_search.go
  pkg/agent/core/ngt/handler/grpc/object.go
  pkg/agent/core/ngt/handler/grpc/remove.go
  pkg/agent/core/ngt/handler/grpc/search.go
  pkg/agent/core/ngt/handler/grpc/update.go
  pkg/agent/core/ngt/handler/grpc/upsert.go
  pkg/gateway/filter/handler/grpc/handler.go
  pkg/gateway/filter/usecase/vald.go
  pkg/gateway/lb/handler/grpc/handler.go
  versions/GO_VERSION
  versions/PROMETHEUS_STACK_VERSION
  versions/PROTOBUF_VERSION
Labels: type/feature, priority/medium, area/manager/index, area/internal, size/XL, area/helm, area/agent/core, area/gateway/lb, area/gateway/filter, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#1965 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: team/sre, priority/low, type/documentation, size/S, type/ci

#1966 Add new API parameter and update observability docs
  docs/api/filter-gateway.md
  docs/api/update.md
  docs/api/upsert.md
  docs/user-guides/observability-configuration.md
Labels: priority/low, type/documentation, size/L

#1969 update deps
  apis/grpc/v1/agent/core/agent.pb.go
  apis/grpc/v1/agent/sidecar/sidecar.pb.go
  apis/grpc/v1/discoverer/discoverer.pb.go
  apis/grpc/v1/filter/egress/egress_filter.pb.go
  apis/grpc/v1/filter/ingress/ingress_filter.pb.go
  apis/grpc/v1/manager/index/index_manager.pb.go
  apis/grpc/v1/payload/payload.pb.go
  apis/grpc/v1/vald/filter.pb.go
  apis/grpc/v1/vald/insert.pb.go
  apis/grpc/v1/vald/object.pb.go
  apis/grpc/v1/vald/remove.pb.go
  apis/grpc/v1/vald/search.pb.go
  apis/grpc/v1/vald/update.pb.go
  apis/grpc/v1/vald/upsert.pb.go
  go.mod
  go.sum
  versions/JAEGER_OPERATOR_VERSION
  versions/PROTOBUF_VERSION
Labels: priority/low, size/L, area/discoverer, area/manager/index, area/agent/core, area/agent/sidecar, area/gateway/lb, area/gateway/filter, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#1972 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, type/documentation, size/S

#1980 enable gorules
  .github/workflows/test-hack.yml
  Makefile.d/test.mk
  apis/grpc/v1/payload/interface.go
  hack/gorules/rules_test.go
  hack/gorules/testdata/tests.go
Labels: team/set, team/sre, priority/low, type/refactoring, size/S, type/ci, area/makefile

#1981 [bugfix] non grpc style error parse result returns Unknown status, it should be re-parse to find inside status
  example/client/go.mod
  example/client/go.sum
  go.mod
  go.sum
  internal/errors/errors.go
  internal/net/grpc/status/status.go
  pkg/gateway/lb/handler/grpc/handler.go
  versions/OPERATOR_SDK_VERSION
  versions/TELEPRESENCE_VERSION
  versions/VALDCLI_VERSION
Labels: type/bug, priority/medium, area/internal, size/XL, area/gateway/lb, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#1967 Update makefile for "not implemented" placeholder
  Makefile
  Makefile.d/functions.mk
  Makefile.d/test.mk
Labels: team/sre, priority/low, type/refactoring, size/L, area/makefile, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#1986 Bug fix: fix range concurrency branch rule
  internal/net/grpc/client.go
  internal/net/grpc/context.go
Labels: type/bug, priority/medium, size/S, area/internal, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#1985 Update license headers / Format codes
  Makefile.d/functions.mk
  Makefile.d/test.mk
Labels: team/sre, priority/low, size/S, area/makefile

#1990 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, type/documentation, size/S

#1991 Update license headers / Format codes
  CHANGELOG.md
  charts/vald-helm-operator/README.md
  charts/vald-helm-operator/values.schema.json
  charts/vald/README.md
  charts/vald/values.schema.json
Labels: priority/low, size/XXXL, area/helm
