Repository vdaas/vald, pull requests merged in 2023-01, with the labels that each got.

#1919 Refactor Insert Upsert Testing
  Makefile
  apis/grpc/v1/agent/core/agent.pb.go
  apis/grpc/v1/agent/sidecar/sidecar.pb.go
  apis/grpc/v1/discoverer/discoverer.pb.go
  apis/grpc/v1/filter/egress/egress_filter.pb.go
  apis/grpc/v1/filter/ingress/ingress_filter.pb.go
  apis/grpc/v1/manager/index/index_manager.pb.go
  apis/grpc/v1/payload/payload.pb.go
  apis/grpc/v1/vald/filter.pb.go
  apis/grpc/v1/vald/insert.pb.go
  apis/grpc/v1/vald/object.pb.go
  apis/grpc/v1/vald/remove.pb.go
  apis/grpc/v1/vald/search.pb.go
  apis/grpc/v1/vald/update.pb.go
  apis/grpc/v1/vald/upsert.pb.go
  example/client/go.mod
  example/client/go.sum
  go.mod
  go.sum
  hack/go.mod.default
  k8s/discoverer/deployment.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/manager/index/deployment.yaml
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/ngt_test.go
  versions/NGT_VERSION
  versions/PROMETHEUS_STACK_VERSION
  versions/TELEPRESENCE_VERSION
Labels: team/set, team/sre, priority/low, type/refactoring, size/L, area/discoverer, area/manager/index, area/makefile, area/agent/core, area/agent/sidecar, area/gateway/lb, area/gateway/filter, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#1920 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: team/sre, priority/low, type/documentation, size/S, type/ci

#1882 Create observability configuration document
  .prh.yaml
  assets/docs/guides/observability-configuration/architecture.png
  docs/user-guides/observability-configuration.md
Labels: priority/low, type/documentation, size/L

#1921 Bugfix grpc status handling for idle connection
  internal/net/grpc/pool/pool.go
Labels: type/bug, priority/medium, size/S, area/internal, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#1922 update go modules and go version
  example/client/go.mod
  example/client/go.sum
  go.mod
  go.sum
  versions/GO_VERSION
  versions/PROMETHEUS_STACK_VERSION
  versions/TELEPRESENCE_VERSION
  versions/YQ_VERSION
Labels: type/dependency, priority/low, size/L, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#1924 divide agent errors for QBG and Faiss implementation
  internal/errors/agent.go
  internal/errors/ngt.go
Labels: priority/low, type/refactoring, size/L, area/internal

#1925 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: team/sre, priority/low, type/documentation, size/S, type/ci

#1928 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, type/documentation, size/S

#1929 Fix the condition for building a docker image and Add a step to dump context in each workflow
  .github/workflows/build-binaries.yml
  .github/workflows/build-protobuf.yml
  .github/workflows/chatops-help.yml
  .github/workflows/chatops.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/coverage.yml
  .github/workflows/detect-internal-config-changes.yml
  .github/workflows/dockers-agent-ngt-image.yml
  .github/workflows/dockers-agent-sidecar-image.yml
  .github/workflows/dockers-ci-container-image.yml
  .github/workflows/dockers-dev-container-image.yml
  .github/workflows/dockers-discoverer-k8s-image.yml
  .github/workflows/dockers-gateway-filter-image.yml
  .github/workflows/dockers-gateway-lb-image.yml
  .github/workflows/dockers-helm-operator-image.yml
  .github/workflows/dockers-image-scan.yml
  .github/workflows/dockers-loadtest-image.yml
  .github/workflows/dockers-manager-index-image.yml
  .github/workflows/e2e-chaos.yaml
  .github/workflows/e2e-code-bench-agent.yaml
  .github/workflows/e2e-deploy.yml
  .github/workflows/e2e-max-dim.yml
  .github/workflows/e2e-profiling.yml
  .github/workflows/format.yml
  .github/workflows/fossa.yml
  .github/workflows/helm-lint.yml
  .github/workflows/helm.yml
  .github/workflows/labeler.yml
  .github/workflows/reviewdog-hadolint.yml
  .github/workflows/reviewdog-k8s.yml
  .github/workflows/reviewdog-markdown.yml
  .github/workflows/reviewdog.yml
  .github/workflows/semver.yml
  .github/workflows/test-hack.yml
  .github/workflows/test.yml
  .github/workflows/update-protobuf.yml
  .github/workflows/update_pull_request_and_issue_template.yml
  dockers/ci/base/Dockerfile
Labels: team/sre, priority/low, size/S, type/ci

#1934 format codes
  CHANGELOG.md
  charts/vald-helm-operator/README.md
  charts/vald-helm-operator/values.schema.json
  charts/vald/README.md
  charts/vald/values.schema.json
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
  q
Labels: priority/low, type/refactoring, size/XXXL, area/helm

#1936 Fix syntax error on dump context workflow
  .github/workflows/build-binaries.yml
  .github/workflows/build-protobuf.yml
  .github/workflows/chatops-help.yml
  .github/workflows/chatops.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/coverage.yml
  .github/workflows/detect-internal-config-changes.yml
  .github/workflows/dockers-agent-ngt-image.yml
  .github/workflows/dockers-agent-sidecar-image.yml
  .github/workflows/dockers-ci-container-image.yml
  .github/workflows/dockers-dev-container-image.yml
  .github/workflows/dockers-discoverer-k8s-image.yml
  .github/workflows/dockers-gateway-filter-image.yml
  .github/workflows/dockers-gateway-lb-image.yml
  .github/workflows/dockers-helm-operator-image.yml
  .github/workflows/dockers-image-scan.yml
  .github/workflows/dockers-loadtest-image.yml
  .github/workflows/dockers-manager-index-image.yml
  .github/workflows/e2e-chaos.yaml
  .github/workflows/e2e-code-bench-agent.yaml
  .github/workflows/e2e-deploy.yml
  .github/workflows/e2e-max-dim.yml
  .github/workflows/e2e-profiling.yml
  .github/workflows/format.yml
  .github/workflows/fossa.yml
  .github/workflows/helm-lint.yml
  .github/workflows/helm.yml
  .github/workflows/labeler.yml
  .github/workflows/reviewdog-hadolint.yml
  .github/workflows/reviewdog-k8s.yml
  .github/workflows/reviewdog-markdown.yml
  .github/workflows/reviewdog.yml
  .github/workflows/semver.yml
  .github/workflows/test-hack.yml
  .github/workflows/test.yml
  .github/workflows/update-protobuf.yml
  .github/workflows/update_pull_request_and_issue_template.yml
Labels: team/sre, priority/low, size/S, type/ci
