Repository vdaas/vald, pull requests merged in 2023-04, with the labels that each got.

#1994 remove nvimlog
  .gitignore
  .nvimlog
Labels: priority/low, type/refactoring, size/S

#1993 Fix ChatOpts /gen-test command error
  .github/workflows/chatops.yml
Labels: team/sre, type/test, priority/low, size/S, type/ci

#1997 Refactor makefile for non GOPATH strict environment
  Makefile
  Makefile.d/proto.mk
Labels: team/sre, priority/low, type/refactoring, size/S, area/makefile

#1998 Refactor makefile for non GOPATH strict environment #2
  Makefile
  Makefile.d/build.mk
  Makefile.d/functions.mk
Labels: team/sre, priority/low, type/refactoring, size/L, area/makefile

#1996 Refactor error returning timing of doSearch function
  apis/grpc/v1/agent/core/agent.pb.go
  apis/grpc/v1/agent/sidecar/sidecar.pb.go
  apis/grpc/v1/discoverer/discoverer.pb.go
  apis/grpc/v1/filter/egress/egress_filter.pb.go
  apis/grpc/v1/filter/ingress/ingress_filter.pb.go
  apis/grpc/v1/manager/index/index_manager.pb.go
  apis/grpc/v1/payload/payload.pb.go
  apis/grpc/v1/vald/filter.pb.go
  apis/grpc/v1/vald/insert.pb.go
  apis/grpc/v1/vald/object.pb.go
  apis/grpc/v1/vald/remove.pb.go
  apis/grpc/v1/vald/search.pb.go
  apis/grpc/v1/vald/update.pb.go
  apis/grpc/v1/vald/upsert.pb.go
  example/client/go.mod
  example/client/go.sum
  go.mod
  go.sum
  hack/go.mod.default
  internal/errors/errors.go
  internal/net/grpc/client.go
  pkg/gateway/lb/handler/grpc/handler.go
  versions/GOLANGCILINT_VERSION
  versions/GO_VERSION
  versions/KIND_VERSION
  versions/KUBELINTER_VERSION
  versions/PROMETHEUS_STACK_VERSION
  versions/TELEPRESENCE_VERSION
  versions/VALDCLI_VERSION
  versions/YQ_VERSION
Labels: priority/low, type/refactoring, area/discoverer, area/manager/index, area/internal, size/XXL, area/agent/core, area/agent/sidecar, area/gateway/lb, area/gateway/filter, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#1999 Output error log to ChatOpts comment
  .github/workflows/chatops.yml
  Makefile.d/functions.mk
Labels: team/sre, type/test, priority/low, size/S, type/ci, area/makefile

#2000 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: team/sre, priority/low, type/documentation, size/S, type/ci

#2002 fix Makefile bug and update deps for checking bugfix
  Makefile
  Makefile.d/build.mk
  example/client/go.mod
  example/client/go.sum
  go.mod
  go.sum
  internal/info/info.go
  versions/PROMETHEUS_STACK_VERSION
Labels: team/sre, priority/low, type/refactoring, size/L, area/internal, area/makefile

#2003 Update internal/info test and add new case for coverage
  internal/info/info.go
  internal/info/info_test.go
Labels: team/set, type/test, priority/low, size/L, area/internal

#1984 Implement index with timestamp
  pkg/agent/core/ngt/service/kvs/kvs.go
  pkg/agent/core/ngt/service/kvs/kvs_test.go
  pkg/agent/core/ngt/service/kvs/ou.go
  pkg/agent/core/ngt/service/kvs/uo.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/vqueue/queue.go
  pkg/agent/core/ngt/service/vqueue/stateful_test.go
Labels: team/set, type/feature, priority/medium, size/XL, area/agent/core, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2006 Update license headers / Format codes
  pkg/agent/core/ngt/service/ngt.go
Labels: priority/low, size/S, area/agent/core

#2007 Fix CI chatops format workflow
  .github/workflows/chatops.yml
Labels: team/sre, priority/low, size/S, type/ci

#1983 Update unit test guideline for unimplemented test
  CONTRIBUTING.md
Labels: priority/low, type/documentation, size/L

#2001 Refactor replace errors wrap with join
  hack/benchmark/internal/operation/operation.go
  internal/backoff/backoff.go
  internal/circuitbreaker/manager.go
  internal/client/v1/client/discoverer/discover.go
  internal/compress/gzip.go
  internal/compress/gzip_test.go
  internal/compress/lz4.go
  internal/compress/zstd.go
  internal/compress/zstd_test.go
  internal/config/config.go
  internal/db/kvs/redis/redis.go
  internal/db/kvs/redis/redis_test.go
  internal/db/nosql/cassandra/option_test.go
  internal/db/rdb/mysql/mysql.go
  internal/db/rdb/mysql/mysql_test.go
  internal/db/storage/blob/s3/option_test.go
  internal/errgroup/group.go
  internal/errgroup/group_test.go
  internal/file/file.go
  internal/log/zap/zap.go
  internal/net/control/control.go
  internal/net/dialer.go
  internal/net/grpc/client.go
  internal/net/grpc/pool/pool.go
  internal/net/grpc/stream.go
  internal/net/http/client/option_test.go
  internal/net/http/middleware/timeout.go
  internal/net/http/transport/roundtrip.go
  internal/observability/observability.go
  internal/safety/safety.go
  internal/servers/server/server.go
  internal/timeutil/time.go
  internal/unit/unit.go
  internal/unit/unit_test.go
  internal/worker/worker.go
  pkg/agent/core/ngt/handler/grpc/insert_test.go
  pkg/agent/core/ngt/handler/grpc/linear_search.go
  pkg/agent/core/ngt/handler/grpc/search.go
  pkg/agent/core/ngt/handler/grpc/upsert.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/option_test.go
  pkg/agent/internal/metadata/metadata.go
  pkg/gateway/filter/handler/grpc/handler.go
  pkg/gateway/filter/usecase/vald.go
  pkg/manager/index/service/indexer.go
  pkg/tools/cli/loadtest/service/loader.go
  pkg/tools/cli/loadtest/usecase/load.go
  tests/e2e/operation/stream.go
Labels: team/set, priority/low, type/refactoring, size/L, area/manager/index, area/internal, area/agent/core, area/tools/cli/loadtest, area/gateway/filter, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2008 Implement generic function tests
  internal/net/grpc/stream_test.go
  internal/slices/slices_test.go
  internal/test/mock/server_stream.go
Labels: team/set, type/test, priority/low, size/L, area/internal, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling

#2010 [Refactor] Improve errors.Join performance
  .golangci.yml
  Makefile.d/test.mk
  example/client/go.mod
  example/client/go.sum
  go.mod
  go.sum
  hack/go.mod.default
  internal/errors/errors.go
  internal/errors/errors_benchmark_test.go
  internal/errors/errors_test.go
  internal/net/grpc/stream.go
  internal/slices/slices.go
  internal/slices/slices_test.go
  versions/HELM_VERSION
  versions/JAEGER_OPERATOR_VERSION
  versions/KUBELINTER_VERSION
  versions/PROMETHEUS_STACK_VERSION
  versions/PROTOBUF_VERSION
  versions/TELEPRESENCE_VERSION
  versions/YQ_VERSION
Labels: team/set, team/sre, priority/low, type/refactoring, area/internal, size/XL, area/makefile, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2011 [bugfix] Correction of a bug that returned NotFound as success 0 when balancedUpdate is disabled and all ReplicaAgents returned AlreadyExists (already have the exact same Index).
  apis/grpc/v1/agent/core/agent.pb.go
  apis/grpc/v1/agent/sidecar/sidecar.pb.go
  apis/grpc/v1/discoverer/discoverer.pb.go
  apis/grpc/v1/filter/egress/egress_filter.pb.go
  apis/grpc/v1/filter/ingress/ingress_filter.pb.go
  apis/grpc/v1/manager/index/index_manager.pb.go
  apis/grpc/v1/payload/payload.pb.go
  apis/grpc/v1/vald/filter.pb.go
  apis/grpc/v1/vald/insert.pb.go
  apis/grpc/v1/vald/object.pb.go
  apis/grpc/v1/vald/remove.pb.go
  apis/grpc/v1/vald/search.pb.go
  apis/grpc/v1/vald/update.pb.go
  apis/grpc/v1/vald/upsert.pb.go
  go.mod
  go.sum
  pkg/gateway/lb/handler/grpc/handler.go
  versions/JAEGER_OPERATOR_VERSION
  versions/PROMETHEUS_STACK_VERSION
  versions/TELEPRESENCE_VERSION
Labels: type/bug, priority/medium, size/L, area/discoverer, area/manager/index, area/agent/core, area/agent/sidecar, area/gateway/lb, area/gateway/filter, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2012 [dependency] update go module and libs
  go.mod
  go.sum
  versions/PROMETHEUS_STACK_VERSION
  versions/TELEPRESENCE_VERSION
Labels: type/dependency, priority/low, size/M, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2017 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, type/documentation, size/S
