Repository vdaas/vald, pull requests merged in 2023-02, with the labels that each got.

#1935 Refactor: Add t.Helper() on test helper function
  internal/cache/gache/gache_test.go
  internal/config/config_test.go
  internal/config/log_test.go
  internal/config/mysql_test.go
  internal/config/ngt_test.go
  internal/config/tls_test.go
  internal/db/nosql/cassandra/option_test.go
  internal/db/rdb/mysql/mysql_test.go
  internal/db/storage/blob/s3/reader/option_test.go
  internal/db/storage/blob/s3/reader/reader_test.go
  internal/errgroup/group_test.go
  internal/file/watch/watch_test.go
  internal/info/info_test.go
  internal/log/log_test.go
  internal/log/retry/retry_test.go
  internal/net/control/control_test.go
  internal/net/dialer_test.go
  internal/net/grpc/logger/logger_test.go
  internal/net/http/json/json_test.go
  internal/net/net_test.go
  internal/params/params_test.go
  internal/rand/rand_test.go
  internal/runner/runner_race_test.go
  internal/runner/runner_test.go
  internal/servers/server/server_test.go
  internal/servers/servers_test.go
  internal/worker/queue_test.go
  pkg/agent/core/ngt/handler/grpc/handler_test.go
  pkg/agent/core/ngt/handler/grpc/index_test.go
  pkg/agent/core/ngt/handler/grpc/insert_test.go
  pkg/agent/core/ngt/handler/grpc/linear_search_test.go
  pkg/agent/core/ngt/handler/grpc/object_test.go
  pkg/agent/core/ngt/handler/grpc/remove_test.go
  pkg/agent/core/ngt/handler/grpc/search_test.go
  pkg/agent/core/ngt/handler/grpc/update_test.go
  pkg/agent/core/ngt/handler/grpc/upsert_test.go
  pkg/agent/core/ngt/service/kvs/kvs_test.go
  pkg/agent/core/ngt/service/option_test.go
Labels: team/set, priority/low, type/refactoring, area/internal, size/XXL, area/agent/core

#1939 [bugfix] add target length validation for each grpc client exection method
  apis/grpc/v1/payload/payload_vtproto.pb.go
  example/client/go.mod
  example/client/go.sum
  go.mod
  go.sum
  hack/go.mod.default
  internal/errors/agent.go
  internal/errors/agent_test.go
  internal/errors/ngt.go
  internal/errors/ngt_test.go
  internal/net/grpc/client.go
  internal/net/grpc/client_test.go
  internal/net/grpc/grpcconns.go
  internal/net/grpc/grpcconns_test.go
  internal/net/grpc/logger/logger_test.go
  internal/net/net.go
  internal/observability/exporter/otlp/otlp.go
  internal/observability/trace/status.go
  pkg/gateway/lb/handler/grpc/handler.go
  pkg/gateway/lb/handler/grpc/handler_test.go
  versions/GOLANGCILINT_VERSION
  versions/GO_VERSION
  versions/OPERATOR_SDK_VERSION
  versions/PROMETHEUS_STACK_VERSION
  versions/TELEPRESENCE_VERSION
  versions/VALDCLI_VERSION
Labels: type/bug, team/set, priority/medium, area/internal, size/XXXL, area/gateway/lb, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#1941 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: team/sre, type/documentation, size/S, type/ci

#1943 Update gRPC status code for API docs
  docs/api/filter-gateway.md
  docs/api/insert.md
  docs/api/object.md
  docs/api/remove.md
  docs/api/search.md
  docs/api/status.md
  docs/api/update.md
  docs/api/upsert.md
Labels: priority/low, type/documentation, size/L

#1947 Update license headers / Format codes
  CHANGELOG.md
  charts/vald-helm-operator/README.md
  charts/vald-helm-operator/values.schema.json
  charts/vald/README.md
  charts/vald/values.schema.json
Labels: priority/low, size/XXXL, area/helm

#1946 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, type/documentation, size/S

#1923 impl reconcile logic for create benchmark job
  Makefile.d/docker.mk
  Makefile.d/helm.mk
  charts/vald-benchmark-operator/crds/valdbenchmarkoperatorrelease.yaml
  charts/vald-benchmark-operator/values.schema.json
  charts/vald-benchmark-operator/values.yaml
  cmd/tools/benchmark/job/main.go
  dockers/tools/benchmark/job/Dockerfile
  dockers/tools/benchmark/operator/Dockerfile
  internal/config/benchmark.go
  internal/k8s/client/client.go
  internal/k8s/client/option.go
  internal/k8s/crd/benchmark/valdbenchmarkjob.yaml
  internal/k8s/crd/benchmark/valdbenchmarkscenario.yaml
  internal/k8s/rbac/benchmark/operator/clusterrole.yaml
  internal/k8s/rbac/benchmark/operator/clusterrolebinding.yaml
  internal/k8s/rbac/benchmark/operator/serviceaccount.yaml
  internal/k8s/reconciler.go
  internal/k8s/vald/benchmark/api/v1/info.go
  internal/k8s/vald/benchmark/api/v1/job_types.go
  internal/k8s/vald/benchmark/api/v1/scenario_types.go
  internal/k8s/vald/benchmark/job/job.go
  internal/k8s/vald/benchmark/job/option.go
  internal/k8s/vald/benchmark/scenario/option.go
  internal/k8s/vald/benchmark/scenario/scenario.go
  pkg/tools/benchmark/job/config/config.go
  pkg/tools/benchmark/job/config/config_test.go
  pkg/tools/benchmark/job/service/job.go
  pkg/tools/benchmark/job/service/option.go
  pkg/tools/benchmark/job/service/search.go
  pkg/tools/benchmark/job/usecase/benchmarkd.go
  pkg/tools/benchmark/operator/service/option.go
  pkg/tools/benchmark/operator/service/scenario.go
Labels: team/set, team/sre, type/feature, priority/medium, area/internal, size/XXXL, area/helm, area/makefile
