Repository vdaas/vald, pull requests merged in 2023-11, with the labels that each got.

#2226 Enabled CI to fail in case of format differences.
  .github/workflows/format.yml
Labels: team/sre, priority/low, size/S, type/ci

#2223 Add implementation for create index job
  .github/workflows/dockers-index-creation.yml
  Makefile
  Makefile.d/build.mk
  Makefile.d/docker.mk
  cmd/index/job/creation/main.go
  cmd/index/job/creation/sample.yaml
  dockers/index/job/creation/Dockerfile
  internal/config/index_creation.go
  internal/config/index_creation_test.go
  pkg/index/job/creation/config/config.go
  pkg/index/job/creation/config/config_test.go
  pkg/index/job/creation/service/indexer.go
  pkg/index/job/creation/service/indexer_test.go
  pkg/index/job/creation/service/mock_test.go
  pkg/index/job/creation/service/options.go
  pkg/index/job/creation/service/options_test.go
  pkg/index/job/creation/usecase/creation.go
  pkg/index/job/creation/usecase/creation_test.go
Labels: team/set, team/sre, type/feature, priority/medium, area/internal, type/ci, size/XXL, area/makefile

#2228 Add minikube to create volume snapshot development environment locally
  .github/workflows/dockers-dev-container-image.yml
  Makefile
  Makefile.d/minikube.mk
  Makefile.d/proto.mk
  dockers/dev/Dockerfile
Labels: team/sre, type/feature, priority/medium, size/M, type/ci, area/makefile

#2230 Fix invalid networkPolicy schema
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/values.schema.json
  charts/vald/values.yaml
Labels: size/S, area/helm

#2229 Delete ingress controller deploy from k3d/start command
  Makefile.d/k3d.mk
Labels: team/sre, priority/low, size/S, area/makefile

#2207 Update Mirror Gateway document
  docs/api/mirror-gateway.md
  docs/overview/component/mirror-gateway.md
  docs/troubleshooting/mirror-gateway.md
  docs/user-guides/mirroring-configuration.md
Labels: type/feature, priority/medium, size/XXXL

#2227 Add implementation for save index job
  .github/workflows/dockers-index-save.yml
  Makefile
  Makefile.d/build.mk
  Makefile.d/docker.mk
  cmd/index/job/save/main.go
  cmd/index/job/save/sample.yaml
  dockers/index/job/save/Dockerfile
  internal/config/index_save.go
  internal/config/index_save_test.go
  internal/test/mock/client/discoverer_client_mock.go
  internal/test/mock/grpc/grpc_client_mock.go
  pkg/index/job/save/config/config.go
  pkg/index/job/save/config/config_test.go
  pkg/index/job/save/service/indexer.go
  pkg/index/job/save/service/indexer_test.go
  pkg/index/job/save/service/options.go
  pkg/index/job/save/service/options_test.go
  pkg/index/job/save/usecase/save.go
  pkg/index/job/save/usecase/save_test.go
Labels: team/set, team/sre, type/feature, priority/medium, area/internal, type/ci, size/XXL, area/makefile

#2231 Add job error to report index correction error status
  internal/errors/corrector.go
  internal/errors/errors.go
  internal/errors/errors_test.go
  internal/net/grpc/stream.go
  pkg/index/job/correction/service/corrector.go
  pkg/index/job/correction/usecase/corrector.go
Labels: team/set, type/feature, priority/medium, size/L, area/internal, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2232 Refactor Index Management Job
  internal/config/corrector.go
  internal/config/corrector_test.go
  pkg/index/job/correction/config/config.go
  pkg/index/job/correction/service/corrector.go
  pkg/index/job/correction/service/corrector_test.go
  pkg/index/job/correction/service/options.go
  pkg/index/job/correction/service/options_test.go
  pkg/index/job/correction/usecase/corrector.go
  pkg/index/job/creation/service/indexer.go
  pkg/index/job/creation/service/indexer_test.go
  pkg/index/job/creation/service/mock_test.go
  pkg/index/job/creation/usecase/creation.go
  pkg/index/job/save/service/indexer_test.go
Labels: team/set, priority/low, area/internal, size/XXL, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2234 Improve index correction performance
  apis/docs/v1/docs.md
  apis/grpc/v1/agent/core/agent.go
  apis/grpc/v1/agent/core/agent.pb.go
  apis/grpc/v1/agent/core/agent_vtproto.pb.go
  apis/grpc/v1/payload/payload.pb.go
  apis/grpc/v1/payload/payload_vtproto.pb.go
  apis/grpc/v1/vald/vald.go
  apis/proto/v1/agent/core/agent.proto
  apis/proto/v1/payload/payload.proto
  apis/swagger/v1/agent/core/apis/proto/v1/agent/core/agent.swagger.json
  internal/client/v1/client/agent/core/client.go
  internal/client/v1/client/client.go
  pkg/agent/core/ngt/handler/grpc/object.go
  pkg/agent/core/ngt/handler/grpc/object_test.go
  pkg/index/job/correction/service/corrector.go
  tests/e2e/operation/stream.go
Labels: team/set, type/feature, priority/medium, size/L, area/manager/index, area/internal, area/agent/core, area/gateway/lb, area/gateway/filter, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2238 Add document for RemoveByTimestamp RPC
  apis/docs/v1/docs.md
  apis/grpc/v1/payload/payload.pb.go
  apis/proto/v1/payload/payload.proto
  apis/swagger/v1/vald/apis/proto/v1/vald/remove.swagger.json
  docs/api/remove.md
Labels: priority/low, type/documentation, size/L, area/manager/index, area/gateway/lb, area/gateway/filter

#2240 Disable exhaustruct
  .golangci.yml
Labels: type/feature, priority/medium, size/S
