Repository vdaas/vald, pull requests merged in 2023-08, with the labels that each got.

#2145 Implement StreamListObject and its tests
  apis/docs/v1/docs.md
  apis/grpc/v1/payload/payload.pb.go
  apis/grpc/v1/payload/payload_vtproto.pb.go
  apis/grpc/v1/vald/object.pb.go
  apis/grpc/v1/vald/object_vtproto.pb.go
  apis/grpc/v1/vald/vald.go
  apis/proto/v1/payload/payload.proto
  apis/proto/v1/vald/object.proto
  apis/swagger/v1/vald/apis/proto/v1/vald/filter.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/object.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/search.swagger.json
  go.mod
  internal/client/v1/client/vald/vald.go
  internal/net/grpc/status/status.go
  internal/net/grpc/stream.go
  internal/test/mock/grpc_testify_mock.go
  pkg/agent/core/ngt/handler/grpc/object.go
  pkg/agent/core/ngt/handler/grpc/object_test.go
  pkg/agent/core/ngt/service/ngt.go
Labels: team/set, type/feature, priority/medium, size/L, area/manager/index, area/internal, area/agent/core, area/gateway/lb, area/gateway/filter, actions/e2e-deploy

#2150 Fix coverage CI error
  tests/performance/max_vector_dim_test.go
Labels: team/set, priority/low, size/S

#2149 modified apiversion capabilities check
  .github/workflows/e2e-deploy.yml
  charts/vald/templates/agent/hpa.yaml
  charts/vald/templates/agent/networkpolicy.yaml
  charts/vald/templates/agent/pdb.yaml
  charts/vald/templates/discoverer/hpa.yaml
  charts/vald/templates/discoverer/networkpolicy.yaml
  charts/vald/templates/discoverer/pdb.yaml
  charts/vald/templates/gateway/filter/hpa.yaml
  charts/vald/templates/gateway/filter/ing.yaml
  charts/vald/templates/gateway/filter/networkpolicy.yaml
  charts/vald/templates/gateway/filter/pdb.yaml
  charts/vald/templates/gateway/lb/hpa.yaml
  charts/vald/templates/gateway/lb/ing.yaml
  charts/vald/templates/gateway/lb/networkpolicy.yaml
  charts/vald/templates/gateway/lb/pdb.yaml
  charts/vald/templates/manager/index/networkpolicy.yaml
  charts/vald/templates/manager/index/pdb.yaml
Labels: team/sre, type/feature, priority/medium, size/S, type/ci, area/helm, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2154 Refactor agent GetObject error not to wrap with details for performance issue
  pkg/agent/core/ngt/handler/grpc/object.go
Labels: type/feature, priority/medium, size/S, area/agent/core, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-max-dim

#2160 Update license headers / Format codes
  .github/actions/deploy-chaos-mesh/action.yaml
  .github/actions/determine-docker-image-tag/action.yaml
  .github/actions/dump-context/action.yaml
  .github/actions/notify-slack/action.yaml
  .github/actions/scan-docker-image/action.yaml
  .github/actions/setup-e2e/action.yaml
  .github/actions/setup-go/action.yaml
  .github/actions/setup-helm/action.yaml
  .github/actions/setup-k3d/action.yaml
  .github/actions/setup-yq/action.yaml
  .github/workflows/_docker-image-scan.yaml
  .github/workflows/_docker-image.yaml
  .github/workflows/_update-protobuf.yaml
Labels: team/sre, priority/low, size/S, type/ci

#2162 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: team/sre, priority/low, type/documentation, size/S, type/ci

#2158 Add RemoveByTimestamp RPC
  Makefile.d/e2e.mk
  apis/docs/v1/docs.md
  apis/grpc/v1/agent/core/agent.pb.go
  apis/grpc/v1/agent/sidecar/sidecar.pb.go
  apis/grpc/v1/discoverer/discoverer.pb.go
  apis/grpc/v1/filter/egress/egress_filter.pb.go
  apis/grpc/v1/filter/ingress/ingress_filter.pb.go
  apis/grpc/v1/manager/index/index_manager.pb.go
  apis/grpc/v1/payload/payload.pb.go
  apis/grpc/v1/payload/payload_vtproto.pb.go
  apis/grpc/v1/vald/filter.pb.go
  apis/grpc/v1/vald/insert.pb.go
  apis/grpc/v1/vald/object.pb.go
  apis/grpc/v1/vald/remove.pb.go
  apis/grpc/v1/vald/remove_vtproto.pb.go
  apis/grpc/v1/vald/search.pb.go
  apis/grpc/v1/vald/update.pb.go
  apis/grpc/v1/vald/upsert.pb.go
  apis/grpc/v1/vald/vald.go
  apis/proto/v1/payload/payload.proto
  apis/proto/v1/vald/remove.proto
  apis/swagger/v1/vald/apis/proto/v1/vald/filter.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/insert.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/object.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/remove.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/search.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/update.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/upsert.swagger.json
  internal/client/v1/client/vald/vald.go
  internal/compress/zstd_test.go
  pkg/agent/core/ngt/handler/grpc/remove.go
  pkg/agent/core/ngt/handler/grpc/remove_test.go
  pkg/gateway/filter/handler/grpc/handler.go
  pkg/gateway/lb/handler/grpc/handler.go
  tests/e2e/crud/crud_test.go
  tests/e2e/operation/operation.go
  tests/e2e/operation/stream.go
Labels: team/set, team/sre, type/feature, priority/medium, area/discoverer, area/manager/index, area/internal, size/XXL, area/makefile, area/agent/core, area/agent/sidecar, area/gateway/lb, area/gateway/filter, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2144 refactor internal/core/algorithm/ngt
  apis/docs/v1/docs.md
  apis/grpc/v1/agent/core/agent.pb.go
  apis/grpc/v1/agent/sidecar/sidecar.pb.go
  apis/grpc/v1/discoverer/discoverer.pb.go
  apis/grpc/v1/filter/egress/egress_filter.pb.go
  apis/grpc/v1/filter/ingress/ingress_filter.pb.go
  apis/grpc/v1/manager/index/index_manager.pb.go
  apis/grpc/v1/payload/payload.pb.go
  apis/grpc/v1/vald/filter.pb.go
  apis/grpc/v1/vald/insert.pb.go
  apis/grpc/v1/vald/object.pb.go
  apis/grpc/v1/vald/remove.pb.go
  apis/grpc/v1/vald/search.pb.go
  apis/grpc/v1/vald/update.pb.go
  apis/grpc/v1/vald/upsert.pb.go
  apis/swagger/v1/vald/apis/proto/v1/vald/filter.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/insert.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/object.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/remove.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/search.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/update.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/upsert.swagger.json
  go.mod
  go.sum
  internal/core/algorithm/ngt/ngt.go
  internal/core/algorithm/ngt/ngt_test.go
  pkg/agent/core/ngt/handler/grpc/object.go
  versions/NGT_VERSION
Labels: team/set, priority/low, type/refactoring, size/L, area/discoverer, area/manager/index, area/internal, area/agent/core, area/agent/sidecar, area/gateway/lb, area/gateway/filter, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2165 Fix duplicate make command
  Makefile.d/e2e.mk
Labels: type/bug, team/sre, priority/medium, size/S, area/makefile
