Repository vdaas/vald, pull requests merged in 2023-10, with the labels that each got.

#2199 Returns all connection information in the registration rpc
  charts/vald/templates/gateway/mirror/configmap.yaml
  charts/vald/values.yaml
  internal/config/mirror.go
  pkg/gateway/mirror/handler/grpc/handler.go
  pkg/gateway/mirror/service/mirror.go
  pkg/gateway/mirror/service/mirror_option.go
  pkg/gateway/mirror/usecase/vald.go
Labels: priority/low, type/refactoring, area/internal, size/XXXL, area/helm, actions/e2e-deploy

#2200 Add index correction helm templates and E2E
  .github/helm/values/values-lb.yaml
  .github/workflows/e2e.yml
  Makefile.d/build.mk
  Makefile.d/e2e.mk
  Makefile.d/k8s.mk
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/templates/agent/networkpolicy.yaml
  charts/vald/templates/discoverer/networkpolicy.yaml
  charts/vald/templates/index/job/correction/configmap.yaml
  charts/vald/templates/index/job/correction/cronjob.yaml
  charts/vald/values.yaml
  cmd/index/job/correction/sample.yaml
  tests/e2e/crud/crud_test.go
  tests/e2e/operation/job.go
  tests/e2e/operation/operation.go
Labels: team/set, team/sre, type/feature, priority/medium, type/ci, size/XXL, area/helm, area/makefile, actions/e2e-deploy

#2203 Add StreamListObject to LB
  internal/errors/grpc.go
  pkg/gateway/lb/handler/grpc/handler.go
  pkg/gateway/lb/service/gateway.go
  tests/e2e/crud/crud_test.go
  tests/e2e/operation/operation.go
  tests/e2e/operation/stream.go
Labels: team/set, type/feature, priority/medium, size/L, area/internal, area/gateway/lb, actions/e2e-deploy

#2206 Add step to get k3s latest version
  .github/actions/setup-e2e/action.yaml
  .github/actions/setup-k3d/action.yaml
  Makefile.d/dependencies.mk
  versions/K3S_VERSION
Labels: type/bug, team/sre, priority/medium, size/S, type/ci, area/makefile, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2204 Add handler logic to continue processing
  pkg/gateway/mirror/handler/grpc/handler.go
  pkg/gateway/mirror/handler/grpc/handler_test.go
  pkg/gateway/mirror/handler/grpc/mock_test.go
Labels: team/set, type/feature, priority/medium, size/XXXL, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2205 Add verification for index correction e2e and add clusterrole cronjobs for operator to deploy index correction
  .github/helm/values/values-lb.yaml
  .github/valdrelease/valdrelease.yaml
  charts/vald-helm-operator/templates/clusterrole.yaml
  charts/vald/values.yaml
  k8s/operator/helm/clusterrole.yaml
  k8s/operator/helm/crds/valdrelease.yaml
  tests/e2e/crud/crud_test.go
  tests/e2e/operation/job.go
  tests/e2e/operation/stream.go
Labels: team/set, team/sre, type/feature, priority/medium, size/L, type/ci, area/helm, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2208 update deps
  Makefile.d/k8s.mk
  apis/grpc/v1/agent/core/agent.pb.go
  apis/grpc/v1/agent/sidecar/sidecar.pb.go
  apis/grpc/v1/discoverer/discoverer.pb.go
  apis/grpc/v1/filter/egress/egress_filter.pb.go
  apis/grpc/v1/filter/ingress/ingress_filter.pb.go
  apis/grpc/v1/manager/index/index_manager.pb.go
  apis/grpc/v1/payload/payload.pb.go
  apis/grpc/v1/rpc/errdetails/error_details.pb.go
  apis/grpc/v1/vald/filter.pb.go
  apis/grpc/v1/vald/insert.pb.go
  apis/grpc/v1/vald/object.pb.go
  apis/grpc/v1/vald/remove.pb.go
  apis/grpc/v1/vald/search.pb.go
  apis/grpc/v1/vald/update.pb.go
  apis/grpc/v1/vald/upsert.pb.go
  charts/vald/README.md
  charts/vald/values.schema.json
  go.mod
  go.sum
  hack/go.mod.default
  k8s/index/job/correction/configmap.yaml
  k8s/index/job/correction/cronjob.yaml
  tests/chaos/chart/README.md
  versions/GO_VERSION
  versions/HELM_DOCS_VERSION
  versions/HELM_VERSION
  versions/JAEGER_OPERATOR_VERSION
  versions/OPERATOR_SDK_VERSION
  versions/PROMETHEUS_STACK_VERSION
  versions/PROTOBUF_VERSION
  versions/TELEPRESENCE_VERSION
  versions/YQ_VERSION
Labels: team/sre, type/dependency, priority/low, area/discoverer, area/manager/index, size/XXL, area/helm, area/makefile, area/agent/core, area/agent/sidecar, area/gateway/lb, area/gateway/filter, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2209 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: team/sre, type/documentation, size/S, type/ci

#2211 Enable ingress resource in the getStarted document
  docs/tutorial/get-started.md
  docs/tutorial/vald-agent-standalone-on-k8s.md
  example/client/agent/main.go
  example/client/go.mod
  example/client/go.mod.default
  example/client/go.sum
  example/client/main.go
  example/helm/values-with-pyroscope.yaml
  example/helm/values.yaml
Labels: type/feature, priority/medium, size/L

#2214 Add job to check format difference
  .github/workflows/format.yml
  Makefile.d/helm.mk
Labels: team/sre, priority/low, size/S, type/ci, area/makefile

#2212 Add make command to update template
  .github/workflows/update-pull-request-and-issue-template.yml
  Makefile
  Makefile.d/dependencies.mk
Labels: team/sre, type/feature, priority/medium, size/S, type/ci, area/makefile

#2217 Add index correction document
  docs/user-guides/index-correction.md
Labels: type/feature, priority/medium, size/M

#2215 Add index correction metrics
  charts/vald/values.yaml
  internal/observability/metrics/index/job/correction/correction.go
  k8s/metrics/grafana/dashboards/09-vald-index-correction.yaml
  k8s/metrics/grafana/deployment.yaml
  pkg/index/job/correction/service/corrector.go
  pkg/index/job/correction/usecase/corrector.go
Labels: type/feature, priority/medium, size/L, area/internal, area/helm

#2221 Update license headers / Format codes
  internal/observability/metrics/index/job/correction/correction.go
Labels: size/S, area/internal
