Repository vdaas/vald, pull requests merged in 2023-06, with the labels that each got.

#2048 Add save index operation log
  pkg/agent/core/ngt/service/ngt.go
Labels: priority/low, type/refactoring, size/M, area/agent/core, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling

#2052 [bugfix] add KUBECTL_VERSION value to workflow
  .github/workflows/update_pull_request_and_issue_template.yml
  Makefile
Labels: type/bug, team/sre, priority/medium, size/S, type/ci, area/makefile

#2049 [bugfix] fp16 problems
  cmd/agent/core/ngt/sample-fp16.yaml
  example/client/agent/main.go
  internal/core/algorithm/ngt/ngt.go
  internal/core/algorithm/ngt/option.go
Labels: type/bug, priority/medium, size/M, area/internal, area/agent/core

#2053 update go modules
  apis/docs/v1/docs.md
  go.mod
  go.sum
  versions/PROMETHEUS_STACK_VERSION
  versions/TELEPRESENCE_VERSION
Labels: type/dependency, size/M, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2056 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, type/documentation, size/S

#2060 Fix to create index_path when it does not exists
  internal/errors/agent.go
  internal/errors/errors.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/ngt_test.go
Labels: team/set, priority/low, size/M, area/internal, area/agent/core

#2063 [bugfix] disable vtproto pooling due to the performance degradation
  Makefile.d/functions.mk
  apis/docs/v1/docs.md
  apis/grpc/v1/agent/core/agent_vtproto.pb.go
  apis/grpc/v1/discoverer/discoverer_vtproto.pb.go
  apis/grpc/v1/filter/egress/egress_filter_vtproto.pb.go
  apis/grpc/v1/filter/ingress/ingress_filter_vtproto.pb.go
  apis/grpc/v1/manager/index/index_manager_vtproto.pb.go
  apis/grpc/v1/payload/payload.pb.go
  apis/grpc/v1/payload/payload_vtproto.pb.go
  apis/grpc/v1/vald/filter_vtproto.pb.go
  apis/grpc/v1/vald/insert_vtproto.pb.go
  apis/grpc/v1/vald/object_vtproto.pb.go
  apis/grpc/v1/vald/remove_vtproto.pb.go
  apis/grpc/v1/vald/search_vtproto.pb.go
  apis/grpc/v1/vald/update_vtproto.pb.go
  apis/grpc/v1/vald/upsert_vtproto.pb.go
  apis/proto/v1/agent/sidecar/sidecar.proto
  apis/proto/v1/payload/payload.proto
  apis/proto/v1/vald/search.proto
  apis/swagger/v1/vald/apis/proto/v1/vald/filter.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/search.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/update.swagger.json
  apis/swagger/v1/vald/apis/proto/v1/vald/upsert.swagger.json
  example/client/go.mod
  example/client/go.sum
  go.mod
  go.sum
  hack/benchmark/src/singleflight/singleflight_bench_test.go
  internal/net/grpc/client.go
  internal/net/grpc/client_test.go
  internal/net/grpc/codec.go
  internal/singleflight/singleflight.go
  internal/singleflight/singleflight_test.go
  pkg/agent/core/ngt/service/ngt_test.go
  pkg/discoverer/k8s/handler/grpc/handler.go
  pkg/discoverer/k8s/handler/grpc/handler_test.go
  versions/TELEPRESENCE_VERSION
  versions/VALDCLI_VERSION
Labels: type/bug, team/set, team/sre, priority/medium, area/discoverer, area/manager/index, area/internal, size/XXL, area/makefile, area/agent/core, area/agent/sidecar, area/gateway/lb, area/gateway/filter, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2064 revert v1.7.6
  CHANGELOG.md
  charts/vald-helm-operator/Chart.yaml
  charts/vald-helm-operator/README.md
  charts/vald-helm-operator/values.yaml
  charts/vald/Chart.yaml
  charts/vald/README.md
  charts/vald/values.yaml
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
  versions/VALD_VERSION
Labels: priority/low, size/L, area/helm

#2074 Update K8s manifests
  k8s/agent/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/lb/configmap.yaml
  k8s/gateway/lb/deployment.yaml
  k8s/gateway/lb/hpa.yaml
  k8s/gateway/lb/pdb.yaml
  k8s/gateway/lb/priorityclass.yaml
  k8s/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
Labels: priority/low, type/documentation, size/S

#2075 Update license headers / Format codes
  CHANGELOG.md
  charts/vald-helm-operator/README.md
  charts/vald-helm-operator/values.schema.json
  charts/vald/README.md
  charts/vald/values.schema.json
Labels: priority/low, size/XXXL, area/helm

#2078 add user custom network policy
  .devcontainer/devcontainer.json
  .github/helm/values/values-lb.yaml
  .github/valdrelease/valdrelease.yaml
  charts/vald-helm-operator/templates/clusterrole.yaml
  charts/vald/templates/agent/networkpolicy.yaml
  charts/vald/templates/discoverer/networkpolicy.yaml
  charts/vald/templates/gateway/filter/networkpolicy.yaml
  charts/vald/templates/gateway/lb/networkpolicy.yaml
  charts/vald/templates/manager/index/networkpolicy.yaml
  charts/vald/values.yaml
  charts/vald/values/dev-observability.yaml
  dockers/dev/Dockerfile
Labels: team/sre, type/feature, priority/medium, size/S, type/ci, area/helm, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2081 Update docs: search API and client API config
  docs/api/search.md
  docs/user-guides/client-api-config.md
Labels: priority/low, type/documentation, size/L

#2076 fix non-trusted module problem of v1.7.6 and disable not found debug message
  .github/workflows/e2e-chaos.yaml
  .github/workflows/e2e-deploy.yml
  .github/workflows/e2e-max-dim.yml
  .github/workflows/e2e-profiling.yml
  .github/workflows/helm.yml
  Makefile
  Makefile.d/bench.mk
  Makefile.d/dependencies.mk
  Makefile.d/e2e.mk
  Makefile.d/functions.mk
  Makefile.d/test.mk
  dockers/agent/core/ngt/Dockerfile
  dockers/agent/sidecar/Dockerfile
  dockers/discoverer/k8s/Dockerfile
  dockers/gateway/filter/Dockerfile
  dockers/gateway/lb/Dockerfile
  dockers/manager/index/Dockerfile
  dockers/operator/helm/Dockerfile
  dockers/tools/cli/loadtest/Dockerfile
  example/client/go.mod
  example/client/go.sum
  go.mod
  go.sum
  hack/go.mod.default
  pkg/gateway/lb/handler/grpc/aggregation.go
  tests/e2e/performance/max_vector_dim_test.go
  tests/e2e/sidecar/sidecar_test.go
  versions/GOLANGCILINT_VERSION
  versions/REVIEWDOG_VERSION
  versions/VALDCLI_VERSION
Labels: team/set, team/sre, priority/low, type/refactoring, type/ci, size/XL, area/makefile, area/gateway/lb, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2088 fix deploy command
  docs/contributing/development.md
Labels: priority/low, size/S

#2087 Fix typo of contribution guide
  .prh.yaml
  CONTRIBUTING.md
Labels: priority/low, type/documentation, size/S

#2086 Update observability document
  docs/user-guides/observability-configuration.md
Labels: priority/low, type/documentation, size/M

#2089 bugfix Makefile KUBECONFIG recursive reference
  Makefile
Labels: type/bug, team/sre, priority/medium, size/S, area/makefile

#2059 add decode kvsdb tool
  hack/tools/kvsdb/main.go
Labels: type/feature, priority/medium, size/L

#2083 Add broken index count metrics
  charts/vald/values/dev-broken-index-backup.yaml
  example/client/agent/main.go
  internal/observability/metrics/agent/core/ngt/ngt.go
  k8s/metrics/grafana/dashboards/01-vald-agent.yaml
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/ngt_test.go
Labels: team/set, type/feature, priority/medium, area/internal, size/XXL, area/helm, area/agent/core, actions/e2e-deploy

#2077 fix make k8s/metrics/jaeger/deploy failure
  Makefile.d/k8s.mk
Labels: type/bug, team/sre, priority/medium, size/S, area/makefile

#2050 Add Faiss Agent Docs
  docs/overview/component/README.md
  docs/overview/component/agent.md
  docs/user-guides/configuration.md
Labels: priority/low, size/XXXL

#2092 update go modules
  apis/grpc/v1/agent/core/agent.pb.go
  apis/grpc/v1/agent/sidecar/sidecar.pb.go
  apis/grpc/v1/discoverer/discoverer.pb.go
  apis/grpc/v1/filter/egress/egress_filter.pb.go
  apis/grpc/v1/filter/ingress/ingress_filter.pb.go
  apis/grpc/v1/manager/index/index_manager.pb.go
  apis/grpc/v1/payload/payload.pb.go
  apis/grpc/v1/vald/filter.pb.go
  apis/grpc/v1/vald/insert.pb.go
  apis/grpc/v1/vald/object.pb.go
  apis/grpc/v1/vald/remove.pb.go
  apis/grpc/v1/vald/search.pb.go
  apis/grpc/v1/vald/update.pb.go
  apis/grpc/v1/vald/upsert.pb.go
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/README.md
  example/client/go.mod
  example/client/go.sum
  go.mod
  go.sum
  hack/go.mod.default
  k8s/operator/helm/clusterrole.yaml
  k8s/operator/helm/crds/valdrelease.yaml
  versions/NGT_VERSION
  versions/OPERATOR_SDK_VERSION
  versions/PROMETHEUS_STACK_VERSION
Labels: type/dependency, priority/low, area/discoverer, area/manager/index, size/XL, area/helm, area/agent/core, area/agent/sidecar, area/gateway/lb, area/gateway/filter, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2091 Add backup origin when CoW enabled and failed to load primary
  internal/errors/agent.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/ngt_test.go
Labels: team/set, type/feature, priority/medium, size/M, area/internal, area/agent/core

#2085 Update "make gotests/gen" command
  .github/workflows/chatops.yml
  Makefile.d/functions.mk
  Makefile.d/test.mk
Labels: team/sre, priority/low, type/ci, size/XXXL, area/makefile

#2094 Install buf and apply buf format
  Makefile
  Makefile.d/tools.mk
  apis/proto/v1/agent/core/agent.proto
  apis/proto/v1/agent/sidecar/sidecar.proto
  apis/proto/v1/discoverer/discoverer.proto
  apis/proto/v1/filter/egress/egress_filter.proto
  apis/proto/v1/filter/ingress/ingress_filter.proto
  apis/proto/v1/manager/index/index_manager.proto
  apis/proto/v1/payload/payload.proto
  apis/proto/v1/vald/filter.proto
  apis/proto/v1/vald/insert.proto
  apis/proto/v1/vald/object.proto
  apis/proto/v1/vald/remove.proto
  apis/proto/v1/vald/search.proto
  apis/proto/v1/vald/update.proto
  apis/proto/v1/vald/upsert.proto
  versions/BUF_VERSION
Labels: team/sre, type/feature, priority/medium, size/S, area/discoverer, area/manager/index, area/makefile, area/agent/core, area/agent/sidecar, area/gateway/lb, area/gateway/filter

#2093 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: team/sre, priority/low, type/documentation, size/S, type/ci

#2090 Refactor fix url http to https
  .all-contributorsrc
  Makefile.d/bench.mk
  README.md
  charts/vald-helm-operator/values.schema.json
  docs/tutorial/vald-agent-standalone-on-docker.md
  docs/tutorial/vald-agent-standalone-on-k8s.md
  hack/helm/schema/gen/main.go
Labels: team/sre, priority/low, type/refactoring, size/S, area/helm, area/makefile

#2095 Add network policy document
  docs/user-guides/network-policy.md
Labels: type/feature, priority/medium, size/M
