Repository vdaas/vald, pull requests merged in 2023-12, with the labels that each got.

#2255 Revert vtpool for ResourceExhausted problem
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
  Makefile.d/functions.mk
  Makefile.d/proto.mk
  apis/docs/v1/docs.md
  apis/grpc/v1/agent/core/agent.pb.go
  apis/grpc/v1/agent/sidecar/sidecar.pb.go
  apis/grpc/v1/discoverer/discoverer.pb.go
  apis/grpc/v1/filter/egress/egress_filter.pb.go
  apis/grpc/v1/filter/egress/egress_filter_vtproto.pb.go
  apis/grpc/v1/filter/ingress/ingress_filter.pb.go
  apis/grpc/v1/filter/ingress/ingress_filter_vtproto.pb.go
  apis/grpc/v1/manager/index/index_manager.pb.go
  apis/grpc/v1/payload/payload.pb.go
  apis/grpc/v1/payload/payload_vtproto.pb.go
  apis/grpc/v1/rpc/errdetails/error_details.pb.go
  apis/grpc/v1/vald/filter.pb.go
  apis/grpc/v1/vald/insert.pb.go
  apis/grpc/v1/vald/object.pb.go
  apis/grpc/v1/vald/object_vtproto.pb.go
  apis/grpc/v1/vald/remove.pb.go
  apis/grpc/v1/vald/search.pb.go
  apis/grpc/v1/vald/update.pb.go
  apis/grpc/v1/vald/upsert.pb.go
  apis/proto/v1/payload/payload.proto
  charts/vald/README.md
  go.mod
  go.sum
  internal/net/grpc/codec.go
  internal/net/grpc/errdetails/errdetails.go
  internal/net/grpc/proto/proto.go
  internal/net/grpc/status/status.go
  internal/safety/safety.go
  pkg/agent/core/ngt/handler/grpc/object.go
  pkg/gateway/lb/handler/grpc/handler.go
  versions/GOLANGCILINT_VERSION
  versions/GO_VERSION
  versions/HELM_VERSION
  versions/K3S_VERSION
  versions/KUBECTL_VERSION
  versions/KUBELINTER_VERSION
  versions/NGT_VERSION
  versions/PROMETHEUS_STACK_VERSION
  versions/PROTOBUF_VERSION
  versions/TELEPRESENCE_VERSION
  versions/YQ_VERSION
Labels: team/sre, priority/low, area/discoverer, area/manager/index, area/internal, type/ci, size/XL, area/helm, area/makefile, area/agent/core, area/agent/sidecar, area/gateway/lb, area/gateway/filter, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2242 Add cronjob for readreplica rotator
  .github/workflows/dockers-readreplica-rotate.yml
  Makefile
  Makefile.d/build.mk
  Makefile.d/docker.mk
  Makefile.d/k8s.mk
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/README.md
  charts/vald/templates/index/job/readreplica/rotate/clusterrole.yaml
  charts/vald/templates/index/job/readreplica/rotate/clusterrolebinding.yaml
  charts/vald/templates/index/job/readreplica/rotate/configmap.yaml
  charts/vald/templates/index/job/readreplica/rotate/cronjob.yaml
  charts/vald/templates/index/job/readreplica/rotate/networkpolicy.yaml
  charts/vald/templates/index/job/readreplica/rotate/serviceaccount.yaml
  charts/vald/values.schema.json
  charts/vald/values.yaml
  dockers/index/job/readreplica/rotate/Dockerfile
Labels: team/sre, type/feature, priority/medium, type/ci, size/XXXL, area/helm, area/makefile

#2261 Add docker buildx cache
  .github/actions/docker-build/action.yaml
  Makefile
  Makefile.d/docker.mk
  dockers/agent/core/ngt/Dockerfile
  dockers/agent/sidecar/Dockerfile
  dockers/ci/base/Dockerfile
  dockers/dev/Dockerfile
  dockers/discoverer/k8s/Dockerfile
  dockers/gateway/filter/Dockerfile
  dockers/gateway/lb/Dockerfile
  dockers/index/job/correction/Dockerfile
  dockers/index/job/creation/Dockerfile
  dockers/index/job/save/Dockerfile
  dockers/manager/index/Dockerfile
  dockers/operator/helm/Dockerfile
  dockers/tools/cli/loadtest/Dockerfile
  hack/license/gen/main.go
Labels: team/sre, priority/low, type/refactoring, size/L, type/ci, area/makefile

#2264 Update license headers / Format codes
  dockers/index/job/readreplica/rotate/Dockerfile
Labels: size/S

#2239 Add e2e job for index managemt job
  .github/actions/deploy-chaos-mesh/action.yaml
  .github/actions/detect-docker-image-tags/action.yaml
  .github/actions/setup-e2e/action.yaml
  .github/helm/values/values-index-management-jobs.yaml
  .github/workflows/e2e-chaos.yaml
  .github/workflows/e2e.yml
  Makefile.d/k8s.mk
Labels: team/sre, priority/low, size/S, type/ci, area/makefile, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2265 Update schema for readreplica
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/values.schema.json
Labels: type/feature, priority/medium, size/XXL, area/helm

#2266 Apply make proto/all
  apis/docs/v1/docs.md
  apis/grpc/v1/agent/core/agent_vtproto.pb.go
  apis/grpc/v1/discoverer/discoverer_vtproto.pb.go
  apis/grpc/v1/filter/egress/egress_filter_vtproto.pb.go
  apis/grpc/v1/filter/ingress/ingress_filter_vtproto.pb.go
  apis/grpc/v1/manager/index/index_manager_vtproto.pb.go
  apis/grpc/v1/payload/payload.pb.go
  apis/grpc/v1/payload/payload_vtproto.pb.go
  apis/grpc/v1/rpc/errdetails/error_details.pb.go
  apis/grpc/v1/rpc/errdetails/error_details_vtproto.pb.go
  apis/grpc/v1/vald/filter_vtproto.pb.go
  apis/grpc/v1/vald/insert_vtproto.pb.go
  apis/grpc/v1/vald/object_vtproto.pb.go
  apis/grpc/v1/vald/remove_vtproto.pb.go
  apis/grpc/v1/vald/search_vtproto.pb.go
  apis/grpc/v1/vald/update_vtproto.pb.go
  apis/grpc/v1/vald/upsert_vtproto.pb.go
Labels: priority/low, size/S, area/discoverer, area/manager/index, area/agent/core, area/gateway/lb, area/gateway/filter

#2268 Update actions deps to fix cache issue
  .github/workflows/_docker-image-scan.yaml
  .github/workflows/_docker-image.yaml
  .github/workflows/build-binaries.yml
  .github/workflows/build-protobuf.yml
  .github/workflows/chatops-help.yml
  .github/workflows/chatops.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/coverage.yml
  .github/workflows/detect-internal-config-changes.yml
  .github/workflows/dockers-image-scan.yml
  .github/workflows/e2e-chaos.yaml
  .github/workflows/e2e-code-bench-agent.yaml
  .github/workflows/e2e-max-dim.yml
  .github/workflows/e2e-profiling.yml
  .github/workflows/e2e.yml
  .github/workflows/format.yml
  .github/workflows/fossa.yml
  .github/workflows/helm-lint.yml
  .github/workflows/helm.yml
  .github/workflows/labeler.yml
  .github/workflows/reviewdog-hadolint.yml
  .github/workflows/reviewdog-k8s.yml
  .github/workflows/reviewdog-markdown.yml
  .github/workflows/reviewdog.yml
  .github/workflows/semver.yml
  .github/workflows/test-hack.yml
  .github/workflows/unit-test.yaml
  .github/workflows/update-protobuf.yaml
  .github/workflows/update-pull-request-and-issue-template.yml
Labels: type/bug, team/sre, priority/medium, size/S, type/ci

#2269 fix docker build for scanning
  .github/workflows/_docker-image-scan.yaml
  .github/workflows/dockers-image-scan.yml
  Makefile.d/docker.mk
Labels: type/bug, team/sre, priority/medium, size/S, type/ci, area/makefile

#2270 disable BUILDKIT_INLINE_CACHE on GitHub Actions
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/docker-build/action.yaml
  .github/workflows/_docker-image-scan.yaml
  Makefile
  Makefile.d/dependencies.mk
  Makefile.d/docker.mk
  apis/swagger/v1/agent/core/agent.swagger.json
  apis/swagger/v1/agent/sidecar/sidecar.swagger.json
  apis/swagger/v1/discoverer/discoverer.swagger.json
  apis/swagger/v1/filter/egress/egress_filter.swagger.json
  apis/swagger/v1/filter/ingress/ingress_filter.swagger.json
  apis/swagger/v1/manager/index/index_manager.swagger.json
  apis/swagger/v1/payload/payload.swagger.json
  apis/swagger/v1/rpc/errdetails/error_details.swagger.json
  apis/swagger/v1/vald/filter.swagger.json
  apis/swagger/v1/vald/insert.swagger.json
  apis/swagger/v1/vald/object.swagger.json
  apis/swagger/v1/vald/remove.swagger.json
  apis/swagger/v1/vald/search.swagger.json
  apis/swagger/v1/vald/update.swagger.json
  apis/swagger/v1/vald/upsert.swagger.json
  go.mod
  go.sum
  k8s/agent/readreplica/deployment.yaml
  k8s/agent/readreplica/networkpolicy.yaml
  k8s/agent/readreplica/pvc.yaml
  k8s/agent/readreplica/snapshot.yaml
  k8s/agent/readreplica/svc.yaml
  k8s/index/job/readreplica/rotate/clusterrole.yaml
  k8s/index/job/readreplica/rotate/clusterrolebinding.yaml
  k8s/index/job/readreplica/rotate/configmap.yaml
  k8s/index/job/readreplica/rotate/cronjob.yaml
  k8s/index/job/readreplica/rotate/networkpolicy.yaml
  k8s/index/job/readreplica/rotate/serviceaccount.yaml
  k8s/operator/helm/crds/valdrelease.yaml
  versions/K3S_VERSION
  versions/NGT_VERSION
  versions/PROMETHEUS_STACK_VERSION
  versions/VALDCLI_VERSION
  versions/YQ_VERSION
Labels: type/bug, team/sre, priority/medium, size/L, type/ci, area/makefile

#2271 Add caution sentence for deploy multi Vald clusters
  docs/tutorial/get-started.md
  docs/user-guides/deployment.md
Labels: priority/low, type/documentation, size/S

#2161 implement malloc metrics
  internal/observability/metrics/mem/index/index.go
  internal/observability/metrics/mem/index/index_test.go
  internal/observability/metrics/mem/malloc/malloc_test.go
  internal/observability/metrics/mem/mem.go
  internal/observability/observability.go
  pkg/agent/core/ngt/usecase/agentd.go
Labels: team/set, type/feature, priority/medium, area/internal, size/XXL, area/agent/core

#2274 [bugfix] resolve duplicated cluster wide resources name problem
  charts/vald/templates/agent/networkpolicy.yaml
  charts/vald/templates/agent/readreplica/networkpolicy.yaml
  charts/vald/templates/discoverer/clusterrole.yaml
  charts/vald/templates/discoverer/networkpolicy.yaml
  charts/vald/templates/gateway/filter/networkpolicy.yaml
  charts/vald/templates/gateway/lb/networkpolicy.yaml
  charts/vald/templates/manager/index/networkpolicy.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/operator/helm/crds/valdrelease.yaml
Labels: type/bug, priority/medium, size/S, area/helm

#2277 [bugfix] gRPC pool connection health check for DNS Addr may fail during VIP member disconnection
  internal/net/grpc/client.go
  internal/net/grpc/pool/pool.go
Labels: type/bug, priority/medium, size/M, area/internal, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, actions/backport/release/v1.7

#2281 Add detailed log for readreplica rotator
  pkg/index/job/readreplica/rotate/service/rotator.go
Labels: priority/low, size/S

#2279 Add new grafana dashboard for agent memory metrics
  internal/observability/metrics/mem/mem.go
  k8s/metrics/grafana/dashboards/99-vald-agent-memory.yaml
  k8s/metrics/grafana/deployment.yaml
Labels: type/feature, priority/medium, size/S, area/internal
