Repository vdaas/vald, pull requests merged in 2024-03, with the labels that each got.

#2273 Add flush API for deleting all vectors
  apis/docs/v1/docs.md
  apis/grpc/v1/payload/payload.pb.go
  apis/grpc/v1/payload/payload_vtproto.pb.go
  apis/grpc/v1/vald/flush.pb.go
  apis/grpc/v1/vald/flush_vtproto.pb.go
  apis/grpc/v1/vald/vald.go
  apis/proto/v1/payload/payload.proto
  apis/proto/v1/vald/flush.proto
  apis/swagger/v1/vald/flush.swagger.json
  docs/api/README.md
  docs/api/flush.md
  docs/api/insert.md
  docs/api/remove.md
  docs/api/search.md
  docs/api/status.md
  docs/api/update.md
  docs/api/upsert.md
  docs/tutorial/get-started.md
  example/client/agent/main.go
  example/client/main.go
  internal/client/v1/client/vald/vald.go
  internal/core/algorithm/ngt/ngt.go
  internal/errors/ngt.go
  internal/file/file.go
  pkg/agent/core/faiss/handler/grpc/flush.go
  pkg/agent/core/ngt/handler/grpc/flush.go
  pkg/agent/core/ngt/handler/grpc/insert.go
  pkg/agent/core/ngt/handler/grpc/linear_search.go
  pkg/agent/core/ngt/handler/grpc/remove.go
  pkg/agent/core/ngt/handler/grpc/search.go
  pkg/agent/core/ngt/handler/grpc/update.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/gateway/filter/handler/grpc/handler.go
  pkg/gateway/filter/handler/rest/handler.go
  pkg/gateway/filter/router/router.go
  pkg/gateway/lb/handler/grpc/handler.go
  pkg/gateway/lb/handler/rest/handler.go
  pkg/gateway/lb/router/router.go
  pkg/gateway/mirror/handler/grpc/handler.go
  rust/libs/proto/src/payload.v1.rs
  rust/libs/proto/src/vald.v1.tonic.rs
  tests/e2e/crud/crud_test.go
  tests/e2e/operation/operation.go
  tests/e2e/operation/stream.go
Labels: actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, ci/approved, actions/backport/release/v1.7

#2433 update deps & add validation for Flush API when agent is Read Only
  .github/actions/setup-helm/action.yaml
  apis/docs/v1/docs.md
  apis/grpc/v1/payload/payload.pb.go
  example/client/go.mod
  example/client/go.sum
  go.mod
  go.sum
  hack/go.mod.default
  k8s/discoverer/clusterrole.yaml
  k8s/index/operator/configmap.yaml
  k8s/index/operator/deployment.yaml
  k8s/index/operator/priorityclass.yaml
  k8s/operator/helm/crds/valdrelease.yaml
  pkg/agent/core/ngt/handler/grpc/flush.go
  pkg/agent/core/ngt/service/ngt.go
  rust/Cargo.lock
  rust/libs/proto/src/payload.v1.rs
  versions/FAISS_VERSION
  versions/HELM_DOCS_VERSION
  versions/HELM_VERSION
  versions/K3S_VERSION
  versions/KUBELINTER_VERSION
  versions/OPERATOR_SDK_VERSION
  versions/PROMETHEUS_STACK_VERSION
  versions/VALDCLI_VERSION
  versions/YQ_VERSION
  versions/actions/ACTIONS_CACHE
  versions/actions/ACTIONS_DOWNLOAD_ARTIFACT
  versions/actions/AZURE_SETUP_HELM
  versions/actions/SHOGO82148_ACTIONS_UPLOAD_RELEASE_ASSET
Labels: priority/low, area/manager/index, area/filter/ingress, area/filter/egress, type/ci, size/XL, area/gateway/lb, area/gateway/filter, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, actions/backport/release/v1.7, area/agent/core/ngt, area/gateway/mirror, area/index/job/correction, area/index/job/creation, area/index/job/save, area/index/job/readreplica

#2436 Backport PR #2433 to release/v1.7 for update deps & add validation for Flush API when agent is Read Only
  .github/actions/setup-helm/action.yaml
  apis/docs/v1/docs.md
  apis/grpc/v1/payload/payload.pb.go
  example/client/go.mod
  example/client/go.sum
  go.mod
  go.sum
  hack/go.mod.default
  k8s/discoverer/clusterrole.yaml
  k8s/index/operator/configmap.yaml
  k8s/index/operator/deployment.yaml
  k8s/index/operator/priorityclass.yaml
  k8s/operator/helm/crds/valdrelease.yaml
  pkg/agent/core/ngt/handler/grpc/flush.go
  pkg/agent/core/ngt/service/ngt.go
  rust/Cargo.lock
  rust/libs/proto/src/payload.v1.rs
  versions/FAISS_VERSION
  versions/HELM_DOCS_VERSION
  versions/HELM_VERSION
  versions/K3S_VERSION
  versions/KUBELINTER_VERSION
  versions/OPERATOR_SDK_VERSION
  versions/PROMETHEUS_STACK_VERSION
  versions/VALDCLI_VERSION
  versions/YQ_VERSION
  versions/actions/ACTIONS_CACHE
  versions/actions/ACTIONS_DOWNLOAD_ARTIFACT
  versions/actions/AZURE_SETUP_HELM
  versions/actions/SHOGO82148_ACTIONS_UPLOAD_RELEASE_ASSET
Labels: priority/low, area/manager/index, area/filter/ingress, area/filter/egress, type/ci, size/XXXL, area/gateway/lb, area/gateway/filter, area/agent/core/ngt, area/gateway/mirror, area/index/job/correction, area/index/job/creation, area/index/job/save, area/index/job/readreplica

#2440 Update README.md (grammer)
  README.md
Labels: priority/low, type/documentation, size/S, status/author-review, actions/backport/release/v1.7

#2428 Added snapshot timestamp annotations to read replica agent
  charts/vald/templates/index/operator/configmap.yaml
  cmd/index/job/readreplica/rotate/sample.yaml
  cmd/index/operator/sample.yaml
  internal/config/index_operator.go
  internal/k8s/client/client.go
  internal/k8s/pod/pod.go
  internal/k8s/vald/annotations.go
  internal/test/mock/k8s/client.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/ngt_test.go
  pkg/index/job/readreplica/rotate/service/rotator.go
  pkg/index/operator/service/operator.go
  pkg/index/operator/service/options.go
  pkg/index/operator/usecase/operator.go
Labels: type/feature, priority/medium, size/L, area/internal, area/helm, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, actions/backport/release/v1.7, area/agent/core/ngt, area/index/job/readreplica

#2445 Fixed issue with updating vald version information at build time
  .github/actions/docker-build/action.yaml
Labels: priority/low, size/S, type/ci, actions/backport/release/v1.7

#2446 Backport PR #2445 to release/v1.7 for Fixed issue with updating vald version information at build time
  .github/actions/docker-build/action.yaml
Labels: priority/low, type/ci, size/XXXL

#2438 Fix index job logic to pass DNS A record
  charts/vald/templates/index/job/creation/configmap.yaml
  charts/vald/templates/index/job/save/configmap.yaml
  pkg/index/job/creation/service/indexer.go
  pkg/index/job/creation/service/indexer_test.go
  pkg/index/job/save/service/indexer.go
  pkg/index/job/save/service/indexer_test.go
Labels: priority/low, size/L, area/helm, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, actions/backport/release/v1.7, area/index/job/creation, area/index/job/save

#2448 Backport PR #2438 to release/v1.7 for Fix index job logic to pass DNS A record
  charts/vald/templates/index/job/creation/configmap.yaml
  charts/vald/templates/index/job/save/configmap.yaml
  pkg/index/job/creation/service/indexer.go
  pkg/index/job/creation/service/indexer_test.go
  pkg/index/job/save/service/indexer.go
  pkg/index/job/save/service/indexer_test.go
Labels: priority/low, size/XXXL, area/helm, area/index/job/creation, area/index/job/save

#2443 Backport PR #2428 to release/v1.7 for Added snapshot timestamp annotations to read replica agent
  charts/vald/templates/index/operator/configmap.yaml
  cmd/index/job/readreplica/rotate/sample.yaml
  cmd/index/operator/sample.yaml
  internal/config/index_operator.go
  internal/k8s/client/client.go
  internal/k8s/pod/pod.go
  internal/k8s/vald/annotations.go
  internal/test/mock/k8s/client.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/ngt_test.go
  pkg/index/job/readreplica/rotate/service/rotator.go
  pkg/index/operator/service/operator.go
  pkg/index/operator/service/options.go
  pkg/index/operator/usecase/operator.go
Labels: priority/low, area/internal, size/XXXL, area/helm, area/agent/core/ngt, area/index/job/readreplica

#2447 Fix operator-sdk version
  versions/OPERATOR_SDK_VERSION
Labels: type/bug, priority/medium, size/S, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, actions/backport/release/v1.7

#2449 Backport PR #2447 to release/v1.7 for Fix operator-sdk version
  versions/OPERATOR_SDK_VERSION
Labels: priority/low, size/XXXL

#2451 Bugfix docker build command for ci-container
  Makefile.d/docker.mk
Labels: priority/low, size/S, area/makefile, actions/backport/release/v1.7

#2452 Backport PR #2451 to release/v1.7 for Bugfix docker build command for ci-container
  Makefile.d/docker.mk
Labels: priority/low, size/XXXL, area/makefile

#2430 Add base of benchmark operator dashboard
  .github/workflows/dockers-benchmark-job-image.yml
  .github/workflows/dockers-benchmark-operator-image.yaml
  charts/vald-benchmark-operator/crds/valdbenchmarkoperatorrelease.yaml
  charts/vald-benchmark-operator/templates/deployment.yaml
  charts/vald-benchmark-operator/values.yaml
  internal/config/benchmark.go
  internal/observability/metrics/tools/benchmark/benchmark.go
  internal/observability/metrics/tools/benchmark/benchmark_test.go
  k8s/metrics/grafana/dashboards/10-vald-benchmark-operator.yaml
  k8s/metrics/grafana/deployment.yaml
  k8s/tools/benchmark/operator/crds/valdbenchmarkoperatorrelease.yaml
  k8s/tools/benchmark/operator/deployment.yaml
  pkg/tools/benchmark/operator/config/config.go
  pkg/tools/benchmark/operator/service/operator.go
  pkg/tools/benchmark/operator/usecase/benchmarkd.go
Labels: priority/low, area/internal, type/ci, size/XL, area/helm, actions/backport/release/v1.7

#2453 Backport PR #2430 to release/v1.7 for Add base of benchmark operator dashboard
  .github/workflows/dockers-benchmark-job-image.yml
  .github/workflows/dockers-benchmark-operator-image.yaml
  charts/vald-benchmark-operator/crds/valdbenchmarkoperatorrelease.yaml
  charts/vald-benchmark-operator/templates/deployment.yaml
  charts/vald-benchmark-operator/values.yaml
  internal/config/benchmark.go
  internal/observability/metrics/tools/benchmark/benchmark.go
  internal/observability/metrics/tools/benchmark/benchmark_test.go
  k8s/metrics/grafana/dashboards/10-vald-benchmark-operator.yaml
  k8s/metrics/grafana/deployment.yaml
  k8s/tools/benchmark/operator/crds/valdbenchmarkoperatorrelease.yaml
  k8s/tools/benchmark/operator/deployment.yaml
  pkg/tools/benchmark/operator/config/config.go
  pkg/tools/benchmark/operator/service/operator.go
  pkg/tools/benchmark/operator/usecase/benchmarkd.go
Labels: priority/low, area/internal, type/ci, size/XXXL, area/helm

#2444 Implement index operator logic for read replica rotation
  .github/helm/values/values-readreplica.yaml
  .github/workflows/e2e.yml
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/README.md
  charts/vald/templates/_helpers.tpl
  charts/vald/templates/discoverer/clusterrole.yaml
  charts/vald/templates/index/job/correction/cronjob.yaml
  charts/vald/templates/index/job/creation/cronjob.yaml
  charts/vald/templates/index/job/readreplica/rotate/configmap.yaml
  charts/vald/templates/index/job/readreplica/rotate/cronjob.yaml
  charts/vald/templates/index/job/save/cronjob.yaml
  charts/vald/templates/index/operator/configmap.yaml
  charts/vald/values.schema.json
  charts/vald/values.yaml
  cmd/index/operator/sample.yaml
  internal/config/config.go
  internal/config/config_test.go
  internal/config/index_operator.go
  internal/config/readreplica_rotate.go
  internal/k8s/client/client.go
  internal/k8s/option.go
  internal/k8s/reconciler.go
  internal/k8s/v2/pod/option.go
  internal/k8s/v2/pod/pod.go
  pkg/agent/core/ngt/config/config_test.go
  pkg/discoverer/k8s/service/discover.go
  pkg/gateway/mirror/service/discovery.go
  pkg/index/job/readreplica/rotate/usecase/rotate.go
  pkg/index/operator/service/operator.go
  pkg/index/operator/service/options.go
  pkg/index/operator/usecase/operator.go
  tests/chaos/chart/README.md
  tests/e2e/crud/crud_test.go
Labels: type/feature, priority/medium, area/discoverer, area/internal, type/ci, size/XXL, area/helm, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, actions/backport/release/v1.7, area/agent/core/ngt, area/gateway/mirror, area/index/job/readreplica

#2456 Backport PR #2444 to release/v1.7 for Implement index operator logic for read replica rotation
  .github/helm/values/values-readreplica.yaml
  .github/workflows/e2e.yml
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/README.md
  charts/vald/templates/_helpers.tpl
  charts/vald/templates/discoverer/clusterrole.yaml
  charts/vald/templates/index/job/correction/cronjob.yaml
  charts/vald/templates/index/job/creation/cronjob.yaml
  charts/vald/templates/index/job/readreplica/rotate/configmap.yaml
  charts/vald/templates/index/job/readreplica/rotate/cronjob.yaml
  charts/vald/templates/index/job/save/cronjob.yaml
  charts/vald/templates/index/operator/configmap.yaml
  charts/vald/values.schema.json
  charts/vald/values.yaml
  cmd/index/operator/sample.yaml
  internal/config/config.go
  internal/config/config_test.go
  internal/config/index_operator.go
  internal/config/readreplica_rotate.go
  internal/k8s/client/client.go
  internal/k8s/option.go
  internal/k8s/reconciler.go
  internal/k8s/v2/pod/option.go
  internal/k8s/v2/pod/pod.go
  pkg/agent/core/ngt/config/config_test.go
  pkg/discoverer/k8s/service/discover.go
  pkg/gateway/mirror/service/discovery.go
  pkg/index/job/readreplica/rotate/usecase/rotate.go
  pkg/index/operator/service/operator.go
  pkg/index/operator/service/options.go
  pkg/index/operator/usecase/operator.go
  tests/chaos/chart/README.md
  tests/e2e/crud/crud_test.go
Labels: priority/low, area/discoverer, area/internal, type/ci, size/XXXL, area/helm, area/agent/core/ngt, area/gateway/mirror, area/index/job/readreplica

#2454 add inner product distance type for ngt
  .gitfiles
  .yamlfmt
  Makefile
  charts/vald-benchmark-operator/README.md
  charts/vald-benchmark-operator/values.schema.json
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/README.md
  charts/vald/values.schema.json
  charts/vald/values.yaml
  example/client/go.mod
  example/client/go.sum
  go.mod
  go.sum
  internal/core/algorithm/ngt/ngt.go
  internal/core/algorithm/ngt/option.go
  internal/core/algorithm/ngt/option_test.go
  k8s/discoverer/clusterrole.yaml
  k8s/index/job/readreplica/rotate/cronjob.yaml
  k8s/operator/helm/crds/valdrelease.yaml
  rust/Cargo.lock
  versions/HELM_VERSION
  versions/NGT_VERSION
  versions/PROMETHEUS_STACK_VERSION
  versions/PROTOBUF_VERSION
  versions/actions/AZURE_SETUP_HELM
  versions/actions/DOCKER_LOGIN_ACTION
  versions/actions/DOCKER_SETUP_BUILDX_ACTION
Labels: type/feature, priority/high, priority/medium, status/in-review, size/M, area/internal, size/XXL, area/helm, area/makefile, area/agent/core, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, actions/backport/release/v1.7, area/agent/core/ngt

#2458 Backport PR #2454 to release/v1.7 for add inner product distance type for ngt
  .gitfiles
  .yamlfmt
  Makefile
  charts/vald-benchmark-operator/README.md
  charts/vald-benchmark-operator/values.schema.json
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/README.md
  charts/vald/values.schema.json
  charts/vald/values.yaml
  example/client/go.mod
  example/client/go.sum
  go.mod
  go.sum
  internal/core/algorithm/ngt/ngt.go
  internal/core/algorithm/ngt/option.go
  internal/core/algorithm/ngt/option_test.go
  k8s/discoverer/clusterrole.yaml
  k8s/index/job/readreplica/rotate/cronjob.yaml
  k8s/operator/helm/crds/valdrelease.yaml
  rust/Cargo.lock
  versions/HELM_VERSION
  versions/NGT_VERSION
  versions/PROMETHEUS_STACK_VERSION
  versions/PROTOBUF_VERSION
  versions/actions/AZURE_SETUP_HELM
  versions/actions/DOCKER_LOGIN_ACTION
  versions/actions/DOCKER_SETUP_BUILDX_ACTION
Labels: priority/low, area/internal, size/XXXL, area/helm, area/makefile

#2455 Fix e2e for read replica and add e2e for index operator
  .github/actions/detect-docker-image-tags/action.yaml
  .github/actions/setup-e2e/action.yaml
  .github/actions/wait-for-docker-image/action.yaml
  .github/helm/values/values-readreplica.yaml
  .github/workflows/e2e.yml
  tests/e2e/crud/crud_test.go
  tests/e2e/kubernetes/kubectl/kubectl.go
Labels: priority/low, size/M, type/ci, actions/e2e-deploy, actions/backport/release/v1.7

#2459 Backport PR #2455 to release/v1.7 for Fix e2e for read replica and add e2e for index operator
  .github/actions/detect-docker-image-tags/action.yaml
  .github/actions/setup-e2e/action.yaml
  .github/actions/wait-for-docker-image/action.yaml
  .github/helm/values/values-readreplica.yaml
  .github/workflows/e2e.yml
  tests/e2e/crud/crud_test.go
  tests/e2e/kubernetes/kubectl/kubectl.go
Labels: priority/low, type/ci, size/XXXL

#2460 Add unit tests for index operator
  internal/k8s/client/client.go
  internal/test/testify/testify.go
  pkg/index/operator/service/operator_test.go
Labels: type/feature, priority/medium, size/L, area/internal, actions/backport/release/v1.7

#2461 Backport PR #2460 to release/v1.7 for Add unit tests for index operator
  internal/k8s/client/client.go
  internal/test/testify/testify.go
  pkg/index/operator/service/operator_test.go
Labels: priority/low, area/internal, size/XXXL

#2457 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: priority/low, type/documentation, size/S, type/ci

#2463 Bugfix recreate benchmark job when operator reboot
  charts/vald-benchmark-operator/crds/valdbenchmarkjob.yaml
  charts/vald-benchmark-operator/crds/valdbenchmarkscenario.yaml
  k8s/tools/benchmark/operator/crds/valdbenchmarkjob.yaml
  k8s/tools/benchmark/operator/crds/valdbenchmarkscenario.yaml
  pkg/tools/benchmark/operator/service/operator.go
  pkg/tools/benchmark/operator/service/operator_test.go
Labels: type/bug, priority/medium, size/M, area/helm, actions/backport/release/v1.7

#2462 Refactor k8s types
  internal/config/index_operator.go
  internal/k8s/client/client.go
  internal/k8s/job/job.go
  internal/k8s/job/option.go
  internal/k8s/reconciler.go
  internal/k8s/types.go
  internal/k8s/vald/benchmark/job/job_template.go
  internal/k8s/vald/benchmark/job/job_template_option.go
  internal/test/data/hdf5/hdf5_test.go
  internal/test/mock/k8s/client.go
  pkg/gateway/mirror/service/discovery.go
  pkg/index/job/readreplica/rotate/service/rotator.go
  pkg/index/job/readreplica/rotate/service/rotator_test.go
  pkg/index/operator/service/operator.go
  pkg/index/operator/service/operator_test.go
  pkg/tools/benchmark/operator/service/operator.go
  pkg/tools/benchmark/operator/service/operator_test.go
Labels: type/feature, priority/medium, area/internal, size/XL, actions/e2e-deploy, actions/backport/release/v1.7, area/gateway/mirror, area/index/job/readreplica

#2464 Backport PR #2463 to release/v1.7 for Bugfix recreate benchmark job when operator reboot
  charts/vald-benchmark-operator/crds/valdbenchmarkjob.yaml
  charts/vald-benchmark-operator/crds/valdbenchmarkscenario.yaml
  k8s/tools/benchmark/operator/crds/valdbenchmarkjob.yaml
  k8s/tools/benchmark/operator/crds/valdbenchmarkscenario.yaml
  pkg/tools/benchmark/operator/service/operator.go
  pkg/tools/benchmark/operator/service/operator_test.go
Labels: priority/low, size/XXXL, area/helm

#2465 Backport PR #2462 to release/v1.7 for Refactor k8s types
  internal/config/index_operator.go
  internal/k8s/client/client.go
  internal/k8s/job/job.go
  internal/k8s/job/option.go
  internal/k8s/reconciler.go
  internal/k8s/types.go
  internal/k8s/vald/benchmark/job/job_template.go
  internal/k8s/vald/benchmark/job/job_template_option.go
  internal/test/data/hdf5/hdf5_test.go
  internal/test/mock/k8s/client.go
  pkg/gateway/mirror/service/discovery.go
  pkg/index/job/readreplica/rotate/service/rotator.go
  pkg/index/job/readreplica/rotate/service/rotator_test.go
  pkg/index/operator/service/operator.go
  pkg/index/operator/service/operator_test.go
  pkg/tools/benchmark/operator/service/operator.go
  pkg/tools/benchmark/operator/service/operator_test.go
Labels: priority/low, area/internal, size/XXXL, area/gateway/mirror, area/index/job/readreplica

#2467 add extra flags for NGT build phase
  Makefile
  dockers/agent/core/ngt/Dockerfile
Labels: type/bug, priority/medium, size/S, area/makefile, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim
