Repository vdaas/vald, pull requests merged in 2024-06, with the labels that each got.

#2509 update large top-K ratio handling logic
  pkg/gateway/lb/handler/grpc/handler.go
Labels: priority/low, size/S, area/gateway/lb, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, actions/backport/release/v1.7

#2516 Change default image tag from latest to nightly
  charts/vald/values/agent-ngt-standalone.yaml
  charts/vald/values/vald-backup-via-pv-and-s3.yaml
  charts/vald/values/vald-backup-via-pv.yaml
  charts/vald/values/vald-backup-via-s3.yaml
  charts/vald/values/vald-in-memory-mode-no-backup.yaml
  example/helm/values-standalone-agent-ngt.yaml
  example/helm/values-with-pyroscope.yaml
  example/helm/values.yaml
Labels: type/bug, priority/medium, size/S, area/helm

#2518 Backport PR #2516 to release/v1.7 for bugfix/example/change-default-image-tag
  charts/vald/values/agent-ngt-standalone.yaml
  charts/vald/values/vald-backup-via-pv-and-s3.yaml
  charts/vald/values/vald-backup-via-pv.yaml
  charts/vald/values/vald-backup-via-s3.yaml
  charts/vald/values/vald-in-memory-mode-no-backup.yaml
  example/helm/values-standalone-agent-ngt.yaml
  example/helm/values-with-pyroscope.yaml
  example/helm/values.yaml
Labels: type/bug, priority/medium, size/XXXL, area/helm

#2514 add faiss in values.yaml & valdrelease.yaml
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/values.yaml
  cmd/agent/core/faiss/sample.yaml
  docs/tutorial/get-started-with-faiss-agent.md
  k8s/operator/helm/crds/valdrelease.yaml
Labels: type/feature, priority/medium, size/S, area/helm, actions/backport/release/v1.7, area/agent/core/faiss

#2517 Bugfix that caused an error when argument has 3 or more nil arguments
  internal/errors/errors.go
  internal/errors/errors_test.go
Labels: type/bug, priority/medium, size/L, area/internal, actions/backport/release/v1.7

#2519 Backport PR #2514 to release/v1.7 for add faiss in values.yaml & valdrelease.yaml
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/values.yaml
  cmd/agent/core/faiss/sample.yaml
  docs/tutorial/get-started-with-faiss-agent.md
  k8s/operator/helm/crds/valdrelease.yaml
Labels: priority/low, size/XXXL, area/helm, area/agent/core/faiss

#2512 capitalize faq
  docs/support/FAQ.md
  docs/troubleshooting/client-side.md
Labels: priority/low, type/documentation, size/S, actions/backport/release/v1.7

#2522 Backport PR #2512 to release/v1.7 for capitalize faq
  docs/support/FAQ.md
  docs/troubleshooting/client-side.md
Labels: priority/low, size/XXXL

#2521 Backport docs updates to release/v1.7
  docs/api/filter-gateway.md
  docs/api/remove.md
  docs/api/search.md
  docs/overview/component/agent.md
  docs/tutorial/get-started.md
  docs/user-guides/read-replica-and-rotator.md
Labels: priority/low, size/XXXL
