Repository vdaas/vald, pull requests merged in 2024-12, with the labels that each got.

#2758 add affinity to jobTemplate
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/templates/_helpers.tpl
  charts/vald/values.schema.json
  charts/vald/values.yaml
Labels: actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, actions/backport/release/v1.7

#2760 Backport PR #2758 to release/v1.7 for add affinity to jobTemplate
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/templates/_helpers.tpl
  charts/vald/values.schema.json
  charts/vald/values.yaml
Labels: priority/low, size/XXXL, area/helm

#2762 fix file permissions
  .github/workflows/dockers-benchmark-operator-image.yaml
  .github/workflows/dockers-gateway-mirror-image.yaml
Labels: priority/low, type/refactoring, type/ci, size/XXXL

#2765 Change make command
  .github/workflows/dockers-image-scan.yaml
Labels: priority/low, size/S, type/ci, actions/backport/release/v1.7

#2770 Backport PR #2765 to release/v1.7 for Change make command
  .github/workflows/dockers-image-scan.yaml
Labels: priority/low, type/ci, size/XXXL

#2741 change symlink API documents
  Makefile
  Makefile.d/functions.mk
  Makefile.d/proto.mk
  apis/docs/buf.gen.doc.yaml
  apis/docs/buf.gen.payload.yaml
  apis/docs/buf.gen.tmpl.yaml
  apis/docs/v1/doc.tmpl
  apis/docs/v1/filter.md
  apis/docs/v1/flush.md
  apis/docs/v1/index.md
  apis/docs/v1/insert.md
  apis/docs/v1/mirror.md
  apis/docs/v1/object.md
  apis/docs/v1/payload.md.tmpl
  apis/docs/v1/payload.tmpl
  apis/docs/v1/remove.md
  apis/docs/v1/search.md
  apis/docs/v1/update.md
  apis/docs/v1/upsert.md
  apis/proto/v1/mirror/mirror.proto
  apis/proto/v1/vald/filter.proto
  apis/proto/v1/vald/flush.proto
  apis/proto/v1/vald/index.proto
  apis/proto/v1/vald/insert.proto
  apis/proto/v1/vald/object.proto
  apis/proto/v1/vald/remove.proto
  apis/proto/v1/vald/search.proto
  apis/proto/v1/vald/update.proto
  apis/proto/v1/vald/upsert.proto
Labels: priority/low, type/documentation, size/M, area/makefile, area/tools/cli/loadtest, area/gateway/lb, area/gateway/filter, actions/backport/release/v1.7, area/gateway/mirror, area/index/job/correction, area/index/job/creation, area/index/job/save, area/index/job/readreplica

#2776 Backport PR #2741 to release/v1.7 for change symlink API documents
  Makefile
  Makefile.d/functions.mk
  Makefile.d/proto.mk
  apis/docs/buf.gen.doc.yaml
  apis/docs/buf.gen.payload.yaml
  apis/docs/buf.gen.tmpl.yaml
  apis/docs/v1/doc.tmpl
  apis/docs/v1/filter.md
  apis/docs/v1/flush.md
  apis/docs/v1/index.md
  apis/docs/v1/insert.md
  apis/docs/v1/mirror.md
  apis/docs/v1/object.md
  apis/docs/v1/payload.md.tmpl
  apis/docs/v1/payload.tmpl
  apis/docs/v1/remove.md
  apis/docs/v1/search.md
  apis/docs/v1/update.md
  apis/docs/v1/upsert.md
  apis/proto/v1/mirror/mirror.proto
  apis/proto/v1/vald/filter.proto
  apis/proto/v1/vald/flush.proto
  apis/proto/v1/vald/index.proto
  apis/proto/v1/vald/insert.proto
  apis/proto/v1/vald/object.proto
  apis/proto/v1/vald/remove.proto
  apis/proto/v1/vald/search.proto
  apis/proto/v1/vald/update.proto
  apis/proto/v1/vald/upsert.proto
Labels: priority/low, size/XXXL, area/makefile, area/tools/cli/loadtest, area/gateway/lb, area/gateway/filter, area/gateway/mirror, area/index/job/correction, area/index/job/creation, area/index/job/save, area/index/job/readreplica

#2773 Refactor github actions
  .github/actions/deploy-chaos-mesh/action.yaml
  .github/actions/detect-docker-image-tags/action.yaml
  .github/actions/determine-docker-image-tag/action.yaml
  .github/actions/docker-build/action.yaml
  .github/actions/dump-context/action.yaml
  .github/actions/e2e-deploy-vald-helm-operator/action.yaml
  .github/actions/e2e-deploy-vald-readreplica/action.yaml
  .github/actions/e2e-deploy-vald/action.yaml
  .github/actions/notify-slack/action.yaml
  .github/actions/scan-docker-image/action.yaml
  .github/actions/setup-e2e/action.yaml
  .github/actions/setup-go/action.yaml
  .github/actions/setup-helm/action.yaml
  .github/actions/setup-k3d/action.yaml
  .github/actions/setup-yq/action.yaml
  .github/actions/wait-for-docker-image/action.yaml
  .github/workflows/build-binaries.yaml
  .github/workflows/chatops.yaml
  .github/workflows/e2e-code-bench-agent.yaml
  .github/workflows/format.yaml
  .github/workflows/helm-lint.yaml
  .github/workflows/helm.yaml
  Makefile.d/helm.mk
  Makefile.d/tools.mk
Labels: priority/low, type/refactoring, size/S, type/ci, area/makefile, actions/backport/release/v1.7

#2779 Backport PR #2773 to release/v1.7 for Refactor github actions
  .github/actions/deploy-chaos-mesh/action.yaml
  .github/actions/detect-docker-image-tags/action.yaml
  .github/actions/determine-docker-image-tag/action.yaml
  .github/actions/docker-build/action.yaml
  .github/actions/dump-context/action.yaml
  .github/actions/e2e-deploy-vald-helm-operator/action.yaml
  .github/actions/e2e-deploy-vald-readreplica/action.yaml
  .github/actions/e2e-deploy-vald/action.yaml
  .github/actions/notify-slack/action.yaml
  .github/actions/scan-docker-image/action.yaml
  .github/actions/setup-e2e/action.yaml
  .github/actions/setup-go/action.yaml
  .github/actions/setup-helm/action.yaml
  .github/actions/setup-k3d/action.yaml
  .github/actions/setup-yq/action.yaml
  .github/actions/wait-for-docker-image/action.yaml
  .github/workflows/build-binaries.yaml
  .github/workflows/chatops.yaml
  .github/workflows/e2e-code-bench-agent.yaml
  .github/workflows/format.yaml
  .github/workflows/helm-lint.yaml
  .github/workflows/helm.yaml
  Makefile.d/helm.mk
  Makefile.d/tools.mk
Labels: priority/low, type/ci, size/XXXL, area/makefile

#2778 Fix format of proto files
  apis/proto/v1/vald/filter.proto
  apis/proto/v1/vald/index.proto
  apis/proto/v1/vald/insert.proto
  apis/proto/v1/vald/object.proto
  apis/proto/v1/vald/remove.proto
  apis/proto/v1/vald/search.proto
  apis/proto/v1/vald/update.proto
  apis/proto/v1/vald/upsert.proto
Labels: priority/low, type/refactoring, size/S, area/tools/cli/loadtest, area/gateway/lb, area/gateway/filter, actions/backport/release/v1.7, area/gateway/mirror, area/index/job/correction, area/index/job/creation, area/index/job/save, area/index/job/readreplica

#2783 Backport PR #2778 to release/v1.7 for Fix format of proto files
  apis/proto/v1/vald/filter.proto
  apis/proto/v1/vald/index.proto
  apis/proto/v1/vald/insert.proto
  apis/proto/v1/vald/object.proto
  apis/proto/v1/vald/remove.proto
  apis/proto/v1/vald/search.proto
  apis/proto/v1/vald/update.proto
  apis/proto/v1/vald/upsert.proto
Labels: priority/low, size/XXXL, area/tools/cli/loadtest, area/gateway/lb, area/gateway/filter, area/gateway/mirror, area/index/job/correction, area/index/job/creation, area/index/job/save, area/index/job/readreplica

#2784 Added output for Go Module with fixed Version
  Makefile.d/dependencies.mk
  hack/go.mod.default
Labels: priority/low, size/S, size/XL, area/makefile

#2775 Update libs dependency
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
  Makefile.d/dependencies.mk
  charts/vald-benchmark-operator/values.schema.json
  charts/vald/values.schema.json
  example/client/go.mod
  example/client/go.sum
  go.mod
  go.sum
  hack/go.mod.default
  internal/core/algorithm/ngt/ngt_test.go
  k8s/tools/benchmark/operator/crds/valdbenchmarkjob.yaml
  k8s/tools/benchmark/operator/crds/valdbenchmarkoperatorrelease.yaml
  k8s/tools/benchmark/operator/crds/valdbenchmarkscenario.yaml
  rust/Cargo.lock
  versions/KUBECTL_VERSION
  versions/PROMETHEUS_STACK_VERSION
Labels: priority/low, area/internal, type/ci, size/XL, area/helm, area/makefile, area/agent/sidecar, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, actions/backport/release/v1.7

#2785 Backport PR #2775 to release/v1.7 for Update libs dependency
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
  Makefile.d/dependencies.mk
  charts/vald-benchmark-operator/values.schema.json
  charts/vald/values.schema.json
  example/client/go.mod
  example/client/go.sum
  go.mod
  go.sum
  hack/go.mod.default
  internal/core/algorithm/ngt/ngt_test.go
  k8s/tools/benchmark/operator/crds/valdbenchmarkjob.yaml
  k8s/tools/benchmark/operator/crds/valdbenchmarkoperatorrelease.yaml
  k8s/tools/benchmark/operator/crds/valdbenchmarkscenario.yaml
  rust/Cargo.lock
  versions/KUBECTL_VERSION
  versions/PROMETHEUS_STACK_VERSION
Labels: priority/low, area/internal, type/ci, size/XXXL, area/helm, area/makefile
