Repository vdaas/vald, pull requests merged in 2024-01, with the labels that each got.

#2286 Make vald-readreplica values.yaml to symbolic link
  charts/vald-readreplica/values.yaml
Labels: priority/low, size/S, area/helm

#2171 Two version deploy support
  .github/actions/detect-docker-image-tags/action.yaml
  .github/actions/determine-docker-image-tag/action.yaml
  .github/actions/docker-build/action.yaml
  .github/actions/e2e-deploy-vald-helm-operator/action.yaml
  .github/actions/e2e-deploy-vald/action.yaml
  .github/actions/setup-e2e/action.yaml
  .github/workflows/_detect-ci-container.yml
  .github/workflows/_docker-image-scan.yaml
  .github/workflows/_docker-image.yaml
  .github/workflows/_release-pr.yml
  .github/workflows/_update-protobuf.yaml
  .github/workflows/backport.yml
  .github/workflows/build-protobuf.yml
  .github/workflows/chatops.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dockers-agent-ngt-image.yml
  .github/workflows/dockers-agent-sidecar-image.yml
  .github/workflows/dockers-ci-container-image.yml
  .github/workflows/dockers-dev-container-image.yml
  .github/workflows/dockers-discoverer-k8s-image.yml
  .github/workflows/dockers-gateway-filter-image.yml
  .github/workflows/dockers-gateway-lb-image.yml
  .github/workflows/dockers-helm-operator-image.yml
  .github/workflows/dockers-image-scan.yml
  .github/workflows/dockers-loadtest-image.yml
  .github/workflows/dockers-manager-index-image.yml
  .github/workflows/dockers-release-branch-image.yaml
  .github/workflows/e2e-chaos.yaml
  .github/workflows/e2e-max-dim.yml
  .github/workflows/e2e-profiling.yml
  .github/workflows/e2e.yml
  .github/workflows/format.yml
  .github/workflows/helm.yml
  .github/workflows/release.yml
  .github/workflows/semver-major-minor.yaml
  .github/workflows/semver-patch.yaml
  .github/workflows/semver.yml
  .github/workflows/test-hack.yml
  .github/workflows/unit-test.yaml
Labels: team/sre, type/feature, priority/medium, size/S, type/ci, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2287 Add owner reference to the resources made by rotator to delete them when read replica resources are deleted
  Makefile.d/k8s.mk
  pkg/index/job/readreplica/rotate/service/rotator.go
Labels: team/sre, type/feature, priority/medium, size/M, area/makefile

#2290 Change license/gen to skip symlink
  hack/license/gen/main.go
  hack/license/gen/main_test.go
Labels: team/set, priority/low, size/M

#2292 Fix isSymlink function to correctly check for symbolic links
  hack/license/gen/main.go
Labels: priority/low, size/S

#2293 Initialize dev env for Rust agent
  .gitignore
  Makefile
  Makefile.d/tools.mk
  buf.gen.yaml
  hack/license/gen/main.go
  rust/Cargo.lock
  rust/Cargo.toml
  rust/bin/agent/Cargo.toml
  rust/bin/agent/src/main.rs
  rust/libs/ngt/Cargo.toml
  rust/libs/ngt/src/lib.rs
  rust/libs/proto/Cargo.toml
  rust/libs/proto/src/core.v1.tonic.rs
  rust/libs/proto/src/discoverer.v1.tonic.rs
  rust/libs/proto/src/filter.egress.v1.tonic.rs
  rust/libs/proto/src/filter.ingress.v1.tonic.rs
  rust/libs/proto/src/lib.rs
  rust/libs/proto/src/manager.index.v1.tonic.rs
  rust/libs/proto/src/payload.v1.rs
  rust/libs/proto/src/rpc.v1.rs
  rust/libs/proto/src/sidecar.v1.tonic.rs
  rust/libs/proto/src/vald.v1.tonic.rs
Labels: team/sre, type/feature, priority/medium, size/XXXL, area/makefile

#2295 Update capacity planning doc
  docs/user-guides/capacity-planning.md
Labels: priority/low, type/documentation, size/S

#2296 Add Filter query configuration to Continuous Benchmark Job
  charts/vald-benchmark-operator/crds/valdbenchmarkjob.yaml
  charts/vald-benchmark-operator/schemas/job-values.yaml
  internal/config/benchmark.go
  pkg/tools/benchmark/job/service/object.go
Labels: priority/low, area/internal, size/XXL, area/helm, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2276 Change discoverer client to broadcast to read replicas
  charts/vald-readreplica/templates/deployment.yaml
  charts/vald/templates/gateway/lb/configmap.yaml
  internal/client/v1/client/discoverer/discover.go
  internal/client/v1/client/discoverer/discover_test.go
  internal/client/v1/client/discoverer/option.go
  internal/config/lb.go
  pkg/gateway/lb/handler/grpc/aggregation.go
  pkg/gateway/lb/handler/grpc/handler.go
  pkg/gateway/lb/service/gateway.go
  pkg/gateway/lb/usecase/vald.go
  pkg/gateway/lb/usecase/vald_test.go
  pkg/index/job/correction/service/corrector_test.go
  pkg/index/job/readreplica/rotate/service/rotator.go
Labels: team/set, type/feature, priority/medium, area/internal, size/XXL, area/helm, area/gateway/lb, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2299 Fix deeepsource errors
  internal/client/v1/client/discoverer/discover_test.go
  pkg/gateway/lb/usecase/vald.go
  pkg/gateway/lb/usecase/vald_test.go
Labels: team/set, priority/low, size/M, area/internal, area/gateway/lb

#2300 Add release branch build for bench and mirror
  .github/workflows/dockers-release-branch-image.yaml
  charts/vald/values/multi-vald/dev-vald-with-mirror.yaml
Labels: team/sre, priority/low, size/S, type/ci, area/helm

#2297 Add go cache for improvement docker build performance
  Makefile
  Makefile.d/dependencies.mk
  dockers/agent/core/ngt/Dockerfile
  dockers/agent/sidecar/Dockerfile
  dockers/ci/base/Dockerfile
  dockers/dev/Dockerfile
  dockers/discoverer/k8s/Dockerfile
  dockers/gateway/filter/Dockerfile
  dockers/gateway/lb/Dockerfile
  dockers/gateway/mirror/Dockerfile
  dockers/index/job/correction/Dockerfile
  dockers/index/job/creation/Dockerfile
  dockers/index/job/readreplica/rotate/Dockerfile
  dockers/index/job/save/Dockerfile
  dockers/manager/index/Dockerfile
  dockers/tools/benchmark/job/Dockerfile
  dockers/tools/benchmark/operator/Dockerfile
  dockers/tools/cli/loadtest/Dockerfile
Labels: team/sre, priority/low, size/L, type/ci, area/makefile

#2304 Stop using ENV ARCH and add --platform in Dockerfile
  dockers/agent/core/ngt/Dockerfile
  dockers/agent/sidecar/Dockerfile
  dockers/ci/base/Dockerfile
  dockers/dev/Dockerfile
  dockers/discoverer/k8s/Dockerfile
  dockers/gateway/filter/Dockerfile
  dockers/gateway/lb/Dockerfile
  dockers/gateway/mirror/Dockerfile
  dockers/index/job/correction/Dockerfile
  dockers/index/job/creation/Dockerfile
  dockers/index/job/readreplica/rotate/Dockerfile
  dockers/index/job/save/Dockerfile
  dockers/manager/index/Dockerfile
  dockers/tools/benchmark/job/Dockerfile
  dockers/tools/benchmark/operator/Dockerfile
  dockers/tools/cli/loadtest/Dockerfile
Labels: type/feature, priority/medium, size/L

#2302 Add internal KVS pogreb package
  go.mod
  go.sum
  hack/go.mod.default
  internal/db/kvs/pogreb/options.go
  internal/db/kvs/pogreb/options_test.go
  internal/db/kvs/pogreb/pogreb.go
  internal/db/kvs/pogreb/pogreb_test.go
Labels: team/set, type/feature, priority/medium, area/internal, size/XXL, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2294 Add dispatch workflow for update contents of vdaas/web repo
  .github/workflows/update-web-docs.yml
Labels: team/sre, type/feature, priority/medium, size/S, type/ci

#2308 Add issue metrics
  .github/workflows/issue-metrics.yaml
Labels: team/sre, type/feature, priority/medium, size/S, type/ci

#2307 Add HPA for read replica
  .github/helm/values/values-readreplica.yaml
  charts/vald-benchmark-operator/README.md
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald-readreplica/templates/configmap.yaml
  charts/vald-readreplica/templates/deployment.yaml
  charts/vald-readreplica/templates/hpa.yaml
  charts/vald/README.md
  charts/vald/templates/gateway/lb/configmap.yaml
  charts/vald/values.schema.json
  charts/vald/values.yaml
  internal/config/ngt.go
  internal/errors/agent.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/ngt_test.go
  pkg/agent/core/ngt/service/option.go
  pkg/agent/core/ngt/usecase/agentd.go
Labels: team/set, team/sre, type/feature, priority/medium, area/internal, type/ci, size/XL, area/helm, area/agent/core, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2310 Change to dynamically switch CI container image tag
  .github/workflows/build-binaries.yml
  .github/workflows/build-protobuf.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/coverage.yml
  .github/workflows/e2e-code-bench-agent.yaml
  .github/workflows/fossa.yml
  .github/workflows/helm-lint.yml
  .github/workflows/helm.yml
  .github/workflows/reviewdog-k8s.yml
  .github/workflows/reviewdog.yml
Labels: team/sre, priority/low, type/refactoring, size/S, type/ci

#2306 Add search optimization document
  docs/performance/tuning-search-performance.md
Labels: priority/low, type/documentation, size/M, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2312 Refactor postAttachCommand
  .devcontainer/devcontainer.json
  .devcontainer/postAttachCommand.sh
Labels: type/feature, priority/medium, size/M

#2313 Change lincense/gen/main.go to skip shebang
  .devcontainer/postAttachCommand.sh
  .github/workflows/issue-metrics.yaml
  hack/license/gen/main.go
Labels: team/sre, priority/low, size/S, type/ci
