Repository vdaas/vald, pull requests merged in 2024-04, with the labels that each got.

#2469 Backport PR #2457 to release/v1.7 for Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: priority/low, type/ci, size/XXXL

#2471 Fix workflow trigger for backport pr creation
  .github/workflows/backport.yml
Labels: priority/low, size/S, type/ci, actions/backport/release/v1.7

#2472 Backport PR #2471 to release/v1.7 for Fix workflow trigger for backport pr creation
  .github/workflows/backport.yml
Labels: priority/low, type/ci, size/XXXL

#2473 Automatically add backport main label for release-pr
  .github/workflows/_release-pr.yml
Labels: type/feature, priority/medium, size/S, type/ci

#2468 update deps
  .gitfiles
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/issue-metrics.yaml
  example/client/go.mod
  example/client/go.mod.default
  example/client/go.sum
  go.mod
  go.sum
  hack/go.mod.default
  internal/net/grpc/server_test.go
  rust/Cargo.lock
  versions/GOLANGCILINT_VERSION
  versions/GO_VERSION
  versions/K3S_VERSION
  versions/KUBECTL_VERSION
  versions/OPERATOR_SDK_VERSION
  versions/PROMETHEUS_STACK_VERSION
  versions/PROTOBUF_VERSION
  versions/YQ_VERSION
  versions/actions/ACTIONS_CACHE
  versions/actions/CODECOV_CODECOV_ACTION
  versions/actions/GITHUB_CODEQL_ACTION_ANALYZE
  versions/actions/GITHUB_CODEQL_ACTION_AUTOBUILD
  versions/actions/GITHUB_CODEQL_ACTION_INIT
  versions/actions/GITHUB_CODEQL_ACTION_UPLOAD_SARIF
  versions/actions/GITHUB_ISSUE_METRICS
  versions/actions/REVIEWDOG_ACTION_HADOLINT
Labels: priority/low, area/internal, type/ci, size/XL, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, actions/backport/release/v1.7

#2476 Backport PR #2468 to release/v1.7 for update deps
  .gitfiles
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/issue-metrics.yaml
  example/client/go.mod
  example/client/go.mod.default
  example/client/go.sum
  go.mod
  go.sum
  hack/go.mod.default
  internal/net/grpc/server_test.go
  rust/Cargo.lock
  versions/GOLANGCILINT_VERSION
  versions/GO_VERSION
  versions/K3S_VERSION
  versions/KUBECTL_VERSION
  versions/OPERATOR_SDK_VERSION
  versions/PROMETHEUS_STACK_VERSION
  versions/PROTOBUF_VERSION
  versions/YQ_VERSION
  versions/actions/ACTIONS_CACHE
  versions/actions/CODECOV_CODECOV_ACTION
  versions/actions/GITHUB_CODEQL_ACTION_ANALYZE
  versions/actions/GITHUB_CODEQL_ACTION_AUTOBUILD
  versions/actions/GITHUB_CODEQL_ACTION_INIT
  versions/actions/GITHUB_CODEQL_ACTION_UPLOAD_SARIF
  versions/actions/GITHUB_ISSUE_METRICS
  versions/actions/REVIEWDOG_ACTION_HADOLINT
Labels: priority/low, area/internal, type/ci, size/XXXL

#2479 Add CNCF Badge to README.md
  README.md
Labels: priority/low, type/refactoring, size/S

#2477 Implement client metrics interceptor for continuous benchmark job
  charts/vald-benchmark-operator/crds/valdbenchmarkoperatorrelease.yaml
  charts/vald-benchmark-operator/templates/configmap.yaml
  charts/vald-benchmark-operator/values.yaml
  cmd/tools/benchmark/job/sample.yaml
  internal/config/benchmark.go
  internal/k8s/vald/benchmark/job/job_template.go
  internal/k8s/vald/benchmark/job/job_template_option.go
  internal/net/grpc/interceptor/client/metric/metric.go
  internal/net/grpc/option.go
  k8s/metrics/grafana/dashboards/10-vald-benchmark-operator.yaml
  k8s/tools/benchmark/operator/configmap.yaml
  k8s/tools/benchmark/operator/crds/valdbenchmarkoperatorrelease.yaml
  pkg/tools/benchmark/job/config/config.go
  pkg/tools/benchmark/job/usecase/benchmarkd.go
  pkg/tools/benchmark/operator/config/config.go
  pkg/tools/benchmark/operator/service/operator.go
  pkg/tools/benchmark/operator/service/operator_test.go
  pkg/tools/benchmark/operator/service/option.go
  pkg/tools/benchmark/operator/usecase/benchmarkd.go
Labels: priority/low, size/L, area/internal, area/helm, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, actions/backport/release/v1.7

#2481 Add Benchmark Job metrics panels
  k8s/metrics/grafana/dashboards/10-vald-benchmark-operator.yaml
Labels: priority/low, size/S, actions/backport/release/v1.7

#2483 Backport PR #2481 to release/v1.7 for Add Benchmark Job metrics panels
  k8s/metrics/grafana/dashboards/10-vald-benchmark-operator.yaml
Labels: priority/low, size/XXXL

#2482 add rust versions
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/update-pull-request-and-issue-template.yml
  Makefile
  Makefile.d/dependencies.mk
  Makefile.d/docker.mk
  Makefile.d/tools.mk
  rust/Cargo.lock
  rust/rust-toolchain.toml
  versions/RUST_VERSION
Labels: type/feature, priority/medium, size/L, type/ci, area/makefile

#2485 Update continuous benchmark docs
  assets/docs/performance/benchmark-grafana.png
  docs/performance/continuous-benchmark.md
Labels: priority/low, type/documentation, size/L, actions/backport/release/v1.7

#2486 Backport PR #2485 to release/v1.7 for Update continuous benchmark docs
  assets/docs/performance/benchmark-grafana.png
  docs/performance/continuous-benchmark.md
Labels: priority/low, size/XXXL

#2484 update NGT version
  dockers/agent/core/ngt/Dockerfile
  versions/NGT_VERSION
Labels: priority/low, size/S

#2488 fix sed applying line
  Makefile.d/dependencies.mk
Labels: type/bug, priority/medium, size/S, area/makefile

#2487 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: priority/low, type/documentation, size/S, type/ci
