Repository vdaas/vald, pull requests merged in 2024-08, with the labels that each got.

#2556 Backport PR #2552 to release/v1.7
  versions/actions/DOCKER_SETUP_BUILDX_ACTION
Labels: priority/low, size/XXXL

#2559 [BUGFIX] agent Faiss on ARM doesn't have libquadmath
  .github/workflows/dockers-agent-faiss-image.yml
  .github/workflows/dockers-agent-image.yml
  .github/workflows/dockers-agent-ngt-image.yml
  Makefile
  dockers/agent/core/agent/Dockerfile
  dockers/agent/core/faiss/Dockerfile
  dockers/ci/base/Dockerfile
  dockers/dev/Dockerfile
  go.mod
  go.sum
  hack/docker/gen/main.go
  rust/Cargo.lock
  versions/PROMETHEUS_STACK_VERSION
Labels: type/bug, priority/medium, size/M, type/ci, area/makefile

#2570 :bookmark: :robot: Release v1.7.13
  CHANGELOG.md
  charts/vald-benchmark-operator/Chart.yaml
  charts/vald-benchmark-operator/README.md
  charts/vald-benchmark-operator/values.yaml
  charts/vald-helm-operator/Chart.yaml
  charts/vald-helm-operator/README.md
  charts/vald-helm-operator/values.yaml
  charts/vald-readreplica/Chart.yaml
  charts/vald-readreplica/README.md
  charts/vald/Chart.yaml
  charts/vald/README.md
  charts/vald/values.yaml
  k8s/agent/ngt/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/gateway/ing.yaml
  k8s/gateway/gateway/lb/configmap.yaml
  k8s/gateway/gateway/lb/deployment.yaml
  k8s/gateway/gateway/lb/hpa.yaml
  k8s/gateway/gateway/lb/pdb.yaml
  k8s/gateway/gateway/lb/priorityclass.yaml
  k8s/gateway/gateway/lb/svc.yaml
  k8s/index/job/correction/configmap.yaml
  k8s/index/job/correction/cronjob.yaml
  k8s/index/job/creation/configmap.yaml
  k8s/index/job/creation/cronjob.yaml
  k8s/index/job/save/configmap.yaml
  k8s/index/job/save/cronjob.yaml
  k8s/index/operator/configmap.yaml
  k8s/index/operator/deployment.yaml
  k8s/index/operator/priorityclass.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
  k8s/readreplica/configmap.yaml
  k8s/tools/benchmark/operator/configmap.yaml
  k8s/tools/benchmark/operator/deployment.yaml
  k8s/tools/benchmark/operator/service.yaml
  versions/VALD_VERSION
Labels: priority/low, size/XXXL, area/helm, actions/backport/main

#2571 Backport PR #2570 to main for :bookmark: :robot: Release v1.7.13
  CHANGELOG.md
  charts/vald-benchmark-operator/Chart.yaml
  charts/vald-benchmark-operator/README.md
  charts/vald-benchmark-operator/values.yaml
  charts/vald-helm-operator/Chart.yaml
  charts/vald-helm-operator/README.md
  charts/vald-helm-operator/values.yaml
  charts/vald-readreplica/Chart.yaml
  charts/vald-readreplica/README.md
  charts/vald/Chart.yaml
  charts/vald/README.md
  charts/vald/values.yaml
  k8s/agent/ngt/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/gateway/ing.yaml
  k8s/gateway/gateway/lb/configmap.yaml
  k8s/gateway/gateway/lb/deployment.yaml
  k8s/gateway/gateway/lb/hpa.yaml
  k8s/gateway/gateway/lb/pdb.yaml
  k8s/gateway/gateway/lb/priorityclass.yaml
  k8s/gateway/gateway/lb/svc.yaml
  k8s/index/job/correction/configmap.yaml
  k8s/index/job/correction/cronjob.yaml
  k8s/index/job/creation/configmap.yaml
  k8s/index/job/creation/cronjob.yaml
  k8s/index/job/save/configmap.yaml
  k8s/index/job/save/cronjob.yaml
  k8s/index/operator/configmap.yaml
  k8s/index/operator/deployment.yaml
  k8s/index/operator/priorityclass.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
  k8s/readreplica/configmap.yaml
  k8s/tools/benchmark/operator/configmap.yaml
  k8s/tools/benchmark/operator/deployment.yaml
  k8s/tools/benchmark/operator/service.yaml
  versions/VALD_VERSION
Labels: priority/low, size/L, area/helm

#2577 refactor docker and change buildkit-syft-scanner reference to ghcr.io
  .gitfiles
  .github/workflows/_docker-image.yaml
  Makefile
  Makefile.d/docker.mk
  dockers/agent/core/agent/Dockerfile
  dockers/agent/core/faiss/Dockerfile
  dockers/agent/core/ngt/Dockerfile
  dockers/agent/sidecar/Dockerfile
  dockers/binfmt/Dockerfile
  dockers/buildbase/Dockerfile
  dockers/buildkit/Dockerfile
  dockers/buildkit/syft/scanner/Dockerfile
  dockers/ci/base/Dockerfile
  dockers/dev/Dockerfile
  dockers/discoverer/k8s/Dockerfile
  dockers/gateway/filter/Dockerfile
  dockers/gateway/lb/Dockerfile
  dockers/gateway/mirror/Dockerfile
  dockers/index/job/correction/Dockerfile
  dockers/index/job/creation/Dockerfile
  dockers/index/job/readreplica/rotate/Dockerfile
  dockers/index/job/save/Dockerfile
  dockers/index/operator/Dockerfile
  dockers/manager/index/Dockerfile
  dockers/operator/helm/Dockerfile
  dockers/tools/benchmark/job/Dockerfile
  dockers/tools/benchmark/operator/Dockerfile
  dockers/tools/cli/loadtest/Dockerfile
  go.mod
  go.sum
  hack/docker/gen/main.go
  k8s/discoverer/deployment.yaml
  k8s/gateway/gateway/lb/deployment.yaml
  k8s/index/operator/configmap.yaml
  k8s/index/operator/deployment.yaml
  k8s/manager/index/deployment.yaml
  rust/Cargo.lock
  versions/JAEGER_OPERATOR_VERSION
Labels: priority/low, type/refactoring, type/ci, size/XL, area/makefile

#2578 Backport PR #2577 to release/v1.7 for refactor docker and change buildkit-syft-scanner reference to ghcr.io
  .gitfiles
  .github/workflows/_docker-image.yaml
  Makefile
  Makefile.d/docker.mk
  dockers/agent/core/agent/Dockerfile
  dockers/agent/core/faiss/Dockerfile
  dockers/agent/core/ngt/Dockerfile
  dockers/agent/sidecar/Dockerfile
  dockers/binfmt/Dockerfile
  dockers/buildbase/Dockerfile
  dockers/buildkit/Dockerfile
  dockers/buildkit/syft/scanner/Dockerfile
  dockers/ci/base/Dockerfile
  dockers/dev/Dockerfile
  dockers/discoverer/k8s/Dockerfile
  dockers/gateway/filter/Dockerfile
  dockers/gateway/lb/Dockerfile
  dockers/gateway/mirror/Dockerfile
  dockers/index/job/correction/Dockerfile
  dockers/index/job/creation/Dockerfile
  dockers/index/job/readreplica/rotate/Dockerfile
  dockers/index/job/save/Dockerfile
  dockers/index/operator/Dockerfile
  dockers/manager/index/Dockerfile
  dockers/operator/helm/Dockerfile
  dockers/tools/benchmark/job/Dockerfile
  dockers/tools/benchmark/operator/Dockerfile
  dockers/tools/cli/loadtest/Dockerfile
  github_info.json
  go.mod
  go.sum
  hack/docker/gen/main.go
  k8s/discoverer/deployment.yaml
  k8s/gateway/gateway/lb/deployment.yaml
  k8s/index/operator/configmap.yaml
  k8s/index/operator/deployment.yaml
  k8s/manager/index/deployment.yaml
  rust/Cargo.lock
  versions/JAEGER_OPERATOR_VERSION
Labels: priority/low, type/ci, size/XXXL, area/makefile

#2535 Introduce an observability crate using opentelemetry-rust
  rust/Cargo.lock
  rust/Cargo.toml
  rust/libs/observability/Cargo.toml
  rust/libs/observability/src/config.rs
  rust/libs/observability/src/lib.rs
  rust/libs/observability/src/macros.rs
  rust/libs/observability/src/observability.rs
Labels: type/feature, priority/medium, size/XL, actions/backport/release/v1.7

#2580 Correct the link to cluster-role-binding.md in mirroring-configuration.md
  docs/user-guides/mirroring-configuration.md
Labels: ci/approved

#2576 add Faiss BinaryIndex
  apis/docs/v1/docs.md
  apis/grpc/v1/payload/payload.pb.go
  apis/grpc/v1/payload/payload_vtproto.pb.go
  apis/proto/v1/payload/payload.proto
  apis/swagger/v1/vald/filter.swagger.json
  apis/swagger/v1/vald/search.swagger.json
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/values.yaml
  cmd/agent/core/faiss/sample.yaml
  docs/tutorial/get-started-with-faiss-agent.md
  internal/config/faiss.go
  internal/core/algorithm/faiss/Capi.cpp
  internal/core/algorithm/faiss/Capi.h
  internal/core/algorithm/faiss/faiss.go
  internal/core/algorithm/faiss/option.go
  k8s/operator/helm/crds/valdrelease.yaml
  pkg/agent/core/faiss/handler/grpc/search.go
  pkg/agent/core/faiss/service/faiss.go
  rust/libs/proto/src/payload.v1.rs
Labels: type/feature, priority/medium, size/L, area/manager/index, area/filter/ingress, area/filter/egress, area/internal, area/helm, area/gateway/lb, area/gateway/filter, area/agent/core/faiss, area/gateway/mirror, area/index/job/correction, area/index/job/creation, area/index/job/save, area/index/job/readreplica

#2584 Implement ngt property get API
  README.md
  apis/docs/v1/docs.md
  apis/grpc/v1/agent/sidecar/sidecar_vtproto.pb.go
  apis/grpc/v1/payload/payload.pb.go
  apis/grpc/v1/payload/payload.pb.json.go
  apis/grpc/v1/payload/payload_vtproto.pb.go
  apis/grpc/v1/vald/index.pb.go
  apis/grpc/v1/vald/index_vtproto.pb.go
  apis/grpc/v1/vald/vald.go
  apis/proto/v1/payload/payload.proto
  apis/proto/v1/vald/index.proto
  apis/swagger/v1/vald/index.swagger.json
  codecov.yml
  example/client/go.mod
  example/client/go.mod.default
  example/client/go.sum
  go.mod
  go.sum
  hack/go.mod.default
  internal/client/v1/client/vald/vald.go
  internal/core/algorithm/ngt/ngt.go
  internal/core/algorithm/ngt/ngt_test.go
  internal/core/algorithm/ngt/option.go
  internal/net/http/client/client_test.go
  pkg/agent/core/ngt/handler/grpc/index.go
  pkg/agent/core/ngt/handler/grpc/index_test.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/gateway/lb/handler/grpc/handler.go
  rust/Cargo.lock
  rust/bin/agent/src/handler/index.rs
  rust/libs/proto/src/filter.egress.v1.tonic.rs
  rust/libs/proto/src/filter.ingress.v1.tonic.rs
  rust/libs/proto/src/payload.v1.rs
  rust/libs/proto/src/vald.v1.tonic.rs
  versions/GO_VERSION
Labels: type/feature, priority/medium, area/manager/index, area/filter/ingress, area/filter/egress, area/internal, size/XXL, area/agent/sidecar, area/tools/cli/loadtest, area/gateway/lb, area/gateway/filter, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, actions/backport/release/v1.7, area/agent/core/ngt, area/gateway/mirror, area/index/job/correction, area/index/job/creation, area/index/job/save, area/index/job/readreplica

#2587 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: priority/low, type/documentation, size/S, type/ci
