Repository vdaas/vald, pull requests merged in 2024-11, with the labels that each got.

#2729 Fix installation command for arm64
  Makefile.d/helm.mk
  Makefile.d/k8s.mk
  Makefile.d/kind.mk
  Makefile.d/tools.mk
Labels: type/bug, priority/medium, size/M, area/makefile, actions/backport/release/v1.7

#2730 Backport PR #2729 to release/v1.7 for Fix installation command for arm64
  Makefile.d/helm.mk
  Makefile.d/k8s.mk
  Makefile.d/kind.mk
  Makefile.d/tools.mk
Labels: priority/low, size/XXXL, area/makefile

#2731 fix rust-analyzer
  rust/bin/agent/src/handler/update.rs
  rust/bin/meta/src/handler/meta.rs
Labels: priority/low, type/refactoring, size/S, actions/backport/release/v1.7

#2732 Backport PR #2731 to release/v1.7 for fix rust-analyzer
  rust/bin/agent/src/handler/update.rs
  rust/bin/meta/src/handler/meta.rs
Labels: priority/low, size/XXXL

#1771 [Experimental] Add QUIC support and use netpoll for more efficient network handling
  .gitfiles
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/README.md
  charts/vald/templates/agent/pdb.yaml
  charts/vald/templates/discoverer/pdb.yaml
  charts/vald/templates/gateway/filter/pdb.yaml
  charts/vald/templates/gateway/lb/pdb.yaml
  charts/vald/templates/gateway/mirror/pdb.yaml
  charts/vald/templates/manager/index/pdb.yaml
  charts/vald/values.schema.json
  charts/vald/values.yaml
  example/client/go.mod
  example/client/go.mod.default
  go.mod
  go.sum
  hack/go.mod.default
  internal/client/v1/client/discoverer/discover.go
  internal/config/grpc.go
  internal/config/net.go
  internal/errors/net.go
  internal/net/dialer.go
  internal/net/dialer_test.go
  internal/net/grpc/option.go
  internal/net/net.go
  internal/net/net_test.go
  internal/net/quic/conn.go
  internal/net/quic/listener.go
  internal/servers/server/server.go
  internal/servers/servers.go
  internal/servers/servers_test.go
  internal/sync/semaphore/semaphore_bench_test.go
  k8s/agent/pdb.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/gateway/gateway/lb/configmap.yaml
  k8s/gateway/gateway/lb/deployment.yaml
  k8s/gateway/gateway/lb/pdb.yaml
  k8s/gateway/gateway/mirror/configmap.yaml
  k8s/gateway/gateway/mirror/deployment.yaml
  k8s/gateway/gateway/mirror/pdb.yaml
  k8s/index/job/correction/configmap.yaml
  k8s/index/job/creation/configmap.yaml
  k8s/index/job/save/configmap.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/operator/helm/crds/valdrelease.yaml
  pkg/discoverer/k8s/service/discover.go
  pkg/index/job/correction/usecase/corrector.go
  pkg/manager/index/service/indexer.go
  pkg/manager/index/service/indexer_test.go
  rust/Cargo.lock
  tests/e2e/crud/crud_test.go
  tests/e2e/operation/operation.go
  versions/CMAKE_VERSION
  versions/PROMETHEUS_STACK_VERSION
  versions/actions/SOFTPROPS_ACTION_GH_RELEASE
Labels: team/set, type/feature, priority/medium, area/discoverer, area/manager/index, area/filter/ingress, area/filter/egress, area/internal, type/ci, size/XXL, area/helm, area/agent/core, area/agent/sidecar, area/tools/cli/loadtest, area/gateway/lb, area/gateway/filter, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, actions/backport/release/v1.7, area/agent/core/faiss, area/agent/core/ngt, area/gateway/mirror, area/index/job/correction, area/index/job/creation, area/index/job/save, area/index/job/readreplica

#2737 Fix update deps workflow: buf is not found
  .github/workflows/update-deps.yaml
Labels: priority/low, size/S, type/ci, actions/backport/release/v1.7

#2739 Backport PR #2737 to release/v1.7 for Fix update deps workflow: buf is not found
  .github/workflows/update-deps.yaml
Labels: priority/low, type/ci, size/XXXL

#2743 refactor dockerfiles and update gitattributes
  .gitattributes
  dockers/agent/core/agent/Dockerfile
  dockers/agent/core/faiss/Dockerfile
  dockers/agent/core/ngt/Dockerfile
  dockers/agent/sidecar/Dockerfile
  dockers/binfmt/Dockerfile
  dockers/buildbase/Dockerfile
  dockers/buildkit/Dockerfile
  dockers/buildkit/syft/scanner/Dockerfile
  dockers/ci/base/Dockerfile
  dockers/dev/Dockerfile
  dockers/discoverer/k8s/Dockerfile
  dockers/example/client/Dockerfile
  dockers/gateway/filter/Dockerfile
  dockers/gateway/lb/Dockerfile
  dockers/gateway/mirror/Dockerfile
  dockers/index/job/correction/Dockerfile
  dockers/index/job/creation/Dockerfile
  dockers/index/job/deletion/Dockerfile
  dockers/index/job/readreplica/rotate/Dockerfile
  dockers/index/job/save/Dockerfile
  dockers/index/operator/Dockerfile
  dockers/manager/index/Dockerfile
  dockers/operator/helm/Dockerfile
  dockers/tools/benchmark/job/Dockerfile
  dockers/tools/benchmark/operator/Dockerfile
  dockers/tools/cli/loadtest/Dockerfile
  hack/docker/gen/main.go
  hack/git/hooks/pre-commit
Labels: priority/low, type/refactoring, size/L, actions/backport/release/v1.7

#2744 use ci-container for update deps cron job
  .github/workflows/update-deps.yaml
Labels: priority/low, size/S, type/ci, actions/backport/release/v1.7

#2745 Backport PR #2743 to release/v1.7 for refactor dockerfiles and update gitattributes
  .gitattributes
  dockers/agent/core/agent/Dockerfile
  dockers/agent/core/faiss/Dockerfile
  dockers/agent/core/ngt/Dockerfile
  dockers/agent/sidecar/Dockerfile
  dockers/binfmt/Dockerfile
  dockers/buildbase/Dockerfile
  dockers/buildkit/Dockerfile
  dockers/buildkit/syft/scanner/Dockerfile
  dockers/ci/base/Dockerfile
  dockers/dev/Dockerfile
  dockers/discoverer/k8s/Dockerfile
  dockers/example/client/Dockerfile
  dockers/gateway/filter/Dockerfile
  dockers/gateway/lb/Dockerfile
  dockers/gateway/mirror/Dockerfile
  dockers/index/job/correction/Dockerfile
  dockers/index/job/creation/Dockerfile
  dockers/index/job/deletion/Dockerfile
  dockers/index/job/readreplica/rotate/Dockerfile
  dockers/index/job/save/Dockerfile
  dockers/index/operator/Dockerfile
  dockers/manager/index/Dockerfile
  dockers/operator/helm/Dockerfile
  dockers/tools/benchmark/job/Dockerfile
  dockers/tools/benchmark/operator/Dockerfile
  dockers/tools/cli/loadtest/Dockerfile
  hack/docker/gen/main.go
  hack/git/hooks/pre-commit
Labels: priority/low, size/XXXL

#2736 update ubuntu version for devcontainer
  Makefile.d/helm.mk
  dockers/dev/Dockerfile
  hack/docker/gen/main.go
Labels: priority/low, type/refactoring, size/M, type/ci, area/makefile, actions/backport/release/v1.7

#2748 Backport PR #2744 to release/v1.7 for use ci-container for update deps cron job
  .github/workflows/update-deps.yaml
Labels: priority/low, type/ci, size/XXXL

#2750 Backport PR #2736 to release/v1.7 for update ubuntu version for devcontainer
  Makefile.d/helm.mk
  dockers/dev/Dockerfile
  hack/docker/gen/main.go
Labels: priority/low, size/XXXL, area/makefile
