Repository vdaas/vald, pull requests merged in 2024-02, with the labels that each got.

#2317 Fix k3d connectivity error
  .github/workflows/helm-lint.yml
Labels: team/sre, priority/low, size/S, type/ci

#2316 bugfix grpc ip direct connection status check
  internal/net/grpc/pool/pool.go
Labels: type/bug, priority/medium, size/S, area/internal, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2320 Add stern and telepresence
  dockers/dev/Dockerfile
Labels: type/feature, priority/medium, size/S

#2327 Fix e2e regressions
  .github/workflows/e2e-max-dim.yml
  .github/workflows/e2e.yml
  Makefile.d/k8s.mk
  tests/e2e/crud/crud_test.go
Labels: priority/low, size/S, type/ci, area/makefile, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2330 Fix infinite yaml format
  .github/workflows/_docker-image.yaml
Labels: type/bug, priority/medium, type/ci, size/XXL

#2332 fix NGT default params
  charts/vald/values.yaml
Labels: priority/low, size/S, area/helm

#2333 Fix release pr workflow
  .github/workflows/_release-pr.yml
  Makefile.d/helm.mk
  charts/vald-benchmark-operator/README.md
  tests/chaos/chart/README.md
Labels: priority/low, size/S, type/ci, area/helm, area/makefile

#2336 Revert docker-image.yaml change
  .github/workflows/_docker-image.yaml
Labels: actions/backport/release/v1.7

#2339 Refactor ignore rule
  .github/workflows/_docker-image.yaml
  hack/license/gen/main.go
Labels: priority/low, size/S, type/ci

#2335 Revert dev Dockerfile to use official devcontainer image
  Makefile.d/tools.mk
  dockers/dev/Dockerfile
Labels: priority/low, size/M, area/makefile

#2341 Investigate component build error
  dockers/agent/core/faiss/Dockerfile
  dockers/agent/core/ngt/Dockerfile
  dockers/agent/sidecar/Dockerfile
  dockers/ci/base/Dockerfile
  dockers/dev/Dockerfile
  dockers/discoverer/k8s/Dockerfile
  dockers/gateway/filter/Dockerfile
  dockers/gateway/lb/Dockerfile
  dockers/gateway/mirror/Dockerfile
  dockers/index/job/correction/Dockerfile
  dockers/index/job/creation/Dockerfile
  dockers/index/job/readreplica/rotate/Dockerfile
  dockers/index/job/save/Dockerfile
  dockers/manager/index/Dockerfile
  dockers/operator/helm/Dockerfile
  dockers/tools/benchmark/job/Dockerfile
  dockers/tools/benchmark/operator/Dockerfile
  dockers/tools/cli/loadtest/Dockerfile
Labels: priority/low, size/L

#2326 Fix golangci-lint config and apply tagalign
  .golangci.yml
  internal/config/blob.go
  internal/config/circuitbreaker.go
  internal/config/faiss.go
  internal/config/index.go
  internal/config/net.go
  internal/config/ngt.go
  internal/config/server.go
  internal/config/sidecar.go
  internal/config/tls.go
  internal/config/transport.go
  internal/k8s/vald/benchmark/api/v1/job_types.go
  pkg/tools/cli/loadtest/config/config.go
Labels: type/feature, priority/medium, size/L, area/internal, area/tools/cli/loadtest, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim

#2345 Fix format-diff error problem
  .github/workflows/format.yml
  Makefile.d/functions.mk
Labels: type/bug, priority/medium, size/L, type/ci, area/makefile

#2347 Add newline between params to avoid false formatting
  .github/workflows/format.yml
  go.mod
  go.sum
  internal/config/server.go
  rust/Cargo.lock
Labels: priority/low, size/M, area/internal, type/ci

#2353 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: priority/low, type/documentation, size/S, type/ci

#2354 Disable arm64 build for faiss
  .github/workflows/dockers-release-branch-image.yaml
Labels: priority/low, size/S, type/ci

#2356 Git add chart directory for release
  .github/workflows/_release-pr.yml
Labels: type/bug, priority/medium, size/S, type/ci, actions/backport/release/v1.7

#2357 Backport to release/v1.7
  .github/workflows/_release-pr.yml
Labels: priority/low, size/S, type/ci

#2360 :bookmark: :robot: Release v1.7.11
  CHANGELOG.md
  charts/vald-benchmark-operator/README.md
  charts/vald-helm-operator/Chart.yaml
  charts/vald-helm-operator/README.md
  charts/vald-helm-operator/values.yaml
  charts/vald/Chart.yaml
  charts/vald/README.md
  charts/vald/values.yaml
  k8s/agent/ngt/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/gateway/ing.yaml
  k8s/gateway/gateway/lb/configmap.yaml
  k8s/gateway/gateway/lb/deployment.yaml
  k8s/gateway/gateway/lb/hpa.yaml
  k8s/gateway/gateway/lb/pdb.yaml
  k8s/gateway/gateway/lb/priorityclass.yaml
  k8s/gateway/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
  versions/VALD_VERSION
Labels: priority/low, size/L, area/helm, actions/backport/main

#2361 Backport to main
  CHANGELOG.md
  charts/vald-benchmark-operator/README.md
  charts/vald-helm-operator/Chart.yaml
  charts/vald-helm-operator/README.md
  charts/vald-helm-operator/values.yaml
  charts/vald/Chart.yaml
  charts/vald/README.md
  charts/vald/values.yaml
  k8s/agent/ngt/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/gateway/ing.yaml
  k8s/gateway/gateway/lb/configmap.yaml
  k8s/gateway/gateway/lb/deployment.yaml
  k8s/gateway/gateway/lb/hpa.yaml
  k8s/gateway/gateway/lb/pdb.yaml
  k8s/gateway/gateway/lb/priorityclass.yaml
  k8s/gateway/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
  versions/VALD_VERSION
Labels: size/L, area/helm

#2363 Change docker scan timeout longer
  .github/actions/scan-docker-image/action.yaml
Labels: type/feature, priority/medium, size/S, type/ci, actions/backport/release/v1.7

#2364 Backport to release/v1.7
  .github/actions/scan-docker-image/action.yaml
Labels: priority/low, size/L, type/ci

#2362 refactor code using golangci-lint
  Makefile.d/functions.mk
  charts/vald/values.go
  internal/backoff/context.go
  internal/client/v1/client/discoverer/discover_test.go
  internal/config/benchmark.go
  internal/config/lb.go
  internal/config/ngt.go
  internal/db/storage/blob/cloudstorage/option.go
  internal/errors/agent.go
  internal/file/file.go
  internal/info/info.go
  internal/k8s/service/service.go
  internal/k8s/vald/benchmark/api/v1/info.go
  internal/k8s/vald/benchmark/api/v1/job_types.go
  internal/k8s/vald/benchmark/job/job.go
  internal/log/format/format.go
  internal/log/logger/type.go
  internal/net/control/control_unix.go
  internal/net/dialer_test.go
  internal/net/grpc/proto/proto.go
  internal/net/http/transport/roundtrip_test.go
  internal/net/net.go
  internal/observability/metrics/mem/mem.go
  internal/sync/singleflight/singleflight_test.go
  internal/test/data/hdf5/hdf5.go
  internal/test/data/vector/gen.go
  internal/test/mock/grpc_testify_mock.go
  pkg/agent/core/ngt/config/config_test.go
  pkg/agent/core/ngt/service/option.go
  pkg/agent/internal/vqueue/queue.go
  pkg/gateway/lb/handler/grpc/aggregation.go
  pkg/index/job/correction/service/corrector.go
  pkg/index/job/correction/service/options.go
  pkg/tools/benchmark/job/config/config.go
  pkg/tools/benchmark/job/router/router.go
  pkg/tools/benchmark/job/service/job.go
  pkg/tools/benchmark/operator/config/config.go
  pkg/tools/benchmark/operator/router/router.go
  pkg/tools/benchmark/operator/service/operator.go
  pkg/tools/cli/loadtest/config/config.go
  tests/performance/max_vector_dim_test.go
Labels: priority/low, type/refactoring, size/L, area/internal, area/helm, area/makefile, area/tools/cli/loadtest, area/gateway/lb, actions/backport/release/v1.7, area/agent/core/faiss, area/agent/core/ngt, area/index/job/correction

#2367 Create SECURITY.md
  SECURITY.md
Labels: type/security, priority/high, size/M, actions/backport/release/v1.7

#2368 Backport to release/v1.7
  SECURITY.md
Labels: priority/low, size/XL

#2359 add commit hash build image
  .github/actions/docker-build/action.yaml
Labels: priority/low, size/S, type/ci, actions/backport/release/v1.7

#2319 Make agent export index metrics to Pod k8s resource
  .github/workflows/format.yml
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/templates/agent/clusterrole.yaml
  charts/vald/templates/agent/clusterrolebinding.yaml
  charts/vald/templates/agent/daemonset.yaml
  charts/vald/templates/agent/deployment.yaml
  charts/vald/templates/agent/serviceaccount.yaml
  charts/vald/templates/agent/statefulset.yaml
  charts/vald/values.schema.json
  charts/vald/values.yaml
  cmd/agent/core/ngt/sample.yaml
  internal/config/ngt.go
  internal/k8s/client/client.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/option.go
  pkg/agent/core/ngt/service/option_test.go
  pkg/agent/core/ngt/usecase/agentd.go
  pkg/index/job/readreplica/rotate/service/rotator.go
Labels: type/feature, priority/medium, size/L, area/internal, type/ci, area/helm, area/agent/core, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, actions/backport/release/v1.7, area/agent/core/ngt, area/index/job/readreplica

#2370 update docker build target platform selection rules
  .github/actions/docker-build/action.yaml
  .github/workflows/dockers-agent-ngt-image.yml
  .github/workflows/dockers-benchmark-job-image.yml
  .github/workflows/dockers-helm-operator-image.yml
Labels: priority/low, type/refactoring, size/S, type/ci, actions/backport/release/v1.7

#2371 Backport to release/v1.7
  .github/actions/docker-build/action.yaml
Labels: priority/low, type/ci, size/XL

#2374 Backport to release/v1.7
  .github/actions/docker-build/action.yaml
  .github/workflows/dockers-agent-ngt-image.yml
  .github/workflows/dockers-benchmark-job-image.yml
  .github/workflows/dockers-helm-operator-image.yml
Labels: priority/low, type/ci, size/XL

#2373 improve Backport Pull Request Title & Description Quality
  .github/workflows/backport.yml
Labels: priority/low, type/refactoring, size/S, type/ci, actions/backport/release/v1.7

#2372 Backport to release/v1.7
  .github/workflows/format.yml
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/templates/agent/clusterrole.yaml
  charts/vald/templates/agent/clusterrolebinding.yaml
  charts/vald/templates/agent/daemonset.yaml
  charts/vald/templates/agent/deployment.yaml
  charts/vald/templates/agent/serviceaccount.yaml
  charts/vald/templates/agent/statefulset.yaml
  charts/vald/values.schema.json
  charts/vald/values.yaml
  cmd/agent/core/ngt/sample.yaml
  internal/config/ngt.go
  internal/k8s/client/client.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/option.go
  pkg/agent/core/ngt/service/option_test.go
  pkg/agent/core/ngt/usecase/agentd.go
  pkg/index/job/readreplica/rotate/service/rotator.go
Labels: priority/low, area/internal, type/ci, size/XXL, area/helm, area/agent/core/ngt, area/index/job/readreplica

#2376 update deps & re-generate k8s templates
  Makefile
  Makefile.d/functions.mk
  charts/vald/README.md
  example/client/go.mod
  example/client/go.sum
  go.mod
  go.sum
  k8s/agent/clusterrole.yaml
  k8s/agent/clusterrolebinding.yaml
  k8s/agent/ngt/configmap.yaml
  k8s/agent/serviceaccount.yaml
  k8s/operator/helm/crds/valdrelease.yaml
  rust/Cargo.lock
  rust/libs/proto/src/core.v1.rs
  rust/libs/proto/src/core.v1.tonic.rs
  rust/libs/proto/src/discoverer.v1.rs
  rust/libs/proto/src/discoverer.v1.tonic.rs
  rust/libs/proto/src/filter.egress.v1.rs
  rust/libs/proto/src/filter.egress.v1.tonic.rs
  rust/libs/proto/src/filter.ingress.v1.rs
  rust/libs/proto/src/filter.ingress.v1.tonic.rs
  rust/libs/proto/src/manager.index.v1.rs
  rust/libs/proto/src/manager.index.v1.tonic.rs
  rust/libs/proto/src/mirror.v1.rs
  rust/libs/proto/src/mirror.v1.tonic.rs
  rust/libs/proto/src/rpc.v1.rs
  rust/libs/proto/src/sidecar.v1.rs
  rust/libs/proto/src/vald.v1.rs
  rust/libs/proto/src/vald.v1.tonic.rs
  tests/chaos/chart/README.md
  versions/GOLANGCILINT_VERSION
  versions/PROMETHEUS_STACK_VERSION
  versions/PROTOBUF_VERSION
  versions/VALDCLI_VERSION
  versions/YQ_VERSION
Labels: priority/low, type/refactoring, size/L, area/helm, area/makefile, actions/backport/release/v1.7

#2378 [bugfix] fix backport github value bypass failure
  .github/workflows/backport.yml
Labels: type/bug, priority/medium, size/S, type/ci, actions/backport/release/v1.7

#2380 [bugfix] fix backport github value bypass failure
  .github/workflows/backport.yml
Labels: type/bug, priority/medium, size/S, type/ci, actions/backport/release/v1.7

#2381 [bugfix] fix backport github value bypass failure
  .github/workflows/backport.yml
Labels: type/bug, priority/medium, size/S, type/ci, actions/backport/release/v1.7

#2382 Bugfix/ci/backport value output
  .github/workflows/backport.yml
Labels: type/bug, size/S, type/ci, actions/backport/release/v1.7

#2383 Update workflow to release readreplica chart
  .github/workflows/_release-pr.yml
  .github/workflows/helm.yml
  Makefile.d/helm.mk
  Makefile.d/k8s.mk
  charts/vald-readreplica/Chart.yaml
  charts/vald-readreplica/README.md
  k8s/readreplica/configmap.yaml
  k8s/readreplica/deployment.yaml
  k8s/readreplica/hpa.yaml
  k8s/readreplica/networkpolicy.yaml
  k8s/readreplica/pvc.yaml
  k8s/readreplica/snapshot.yaml
  k8s/readreplica/svc.yaml
Labels: type/feature, priority/medium, size/M, type/ci, area/helm, area/makefile, actions/backport/release/v1.7

#2386 backport main to release/v1.7 (ci deps others)
  .github/workflows/backport.yml
  Makefile
  Makefile.d/functions.mk
  charts/vald/README.md
  example/client/go.mod
  example/client/go.sum
  go.mod
  go.sum
  k8s/agent/clusterrole.yaml
  k8s/agent/clusterrolebinding.yaml
  k8s/agent/ngt/configmap.yaml
  k8s/agent/serviceaccount.yaml
  k8s/operator/helm/crds/valdrelease.yaml
  rust/Cargo.lock
  rust/libs/proto/src/core.v1.rs
  rust/libs/proto/src/core.v1.tonic.rs
  rust/libs/proto/src/discoverer.v1.rs
  rust/libs/proto/src/discoverer.v1.tonic.rs
  rust/libs/proto/src/filter.egress.v1.rs
  rust/libs/proto/src/filter.egress.v1.tonic.rs
  rust/libs/proto/src/filter.ingress.v1.rs
  rust/libs/proto/src/filter.ingress.v1.tonic.rs
  rust/libs/proto/src/manager.index.v1.rs
  rust/libs/proto/src/manager.index.v1.tonic.rs
  rust/libs/proto/src/mirror.v1.rs
  rust/libs/proto/src/mirror.v1.tonic.rs
  rust/libs/proto/src/rpc.v1.rs
  rust/libs/proto/src/sidecar.v1.rs
  rust/libs/proto/src/vald.v1.rs
  rust/libs/proto/src/vald.v1.tonic.rs
  tests/chaos/chart/README.md
  versions/GOLANGCILINT_VERSION
  versions/PROMETHEUS_STACK_VERSION
  versions/PROTOBUF_VERSION
  versions/VALDCLI_VERSION
  versions/YQ_VERSION
Labels: priority/low, type/ci, size/XXL, area/helm, area/makefile

#2387 Backport PR #2383 to release/v1.7 for Update workflow to release readreplica chart
  .github/workflows/_release-pr.yml
  .github/workflows/helm.yml
  Makefile.d/helm.mk
  Makefile.d/k8s.mk
  charts/vald-readreplica/Chart.yaml
  charts/vald-readreplica/README.md
  k8s/readreplica/configmap.yaml
  k8s/readreplica/deployment.yaml
  k8s/readreplica/hpa.yaml
  k8s/readreplica/networkpolicy.yaml
  k8s/readreplica/pvc.yaml
  k8s/readreplica/snapshot.yaml
  k8s/readreplica/svc.yaml
Labels: priority/low, type/ci, size/XXL, area/helm, area/makefile

#2388 Add Con-Bench helm chart to the Vald charts
  .github/workflows/_release-pr.yml
  .github/workflows/helm.yml
  Makefile.d/helm.mk
  charts/vald-benchmark-operator/Chart.yaml
  charts/vald-benchmark-operator/README.md
  charts/vald-benchmark-operator/README.md.gotmpl
  charts/vald-benchmark-operator/values.yaml
  k8s/tools/benchmark/operator/configmap.yaml
  k8s/tools/benchmark/operator/deployment.yaml
  k8s/tools/benchmark/operator/service.yaml
Labels: priority/low, type/refactoring, size/M, type/ci, area/helm, area/makefile, actions/backport/release/v1.7

#2389 Backport PR #2388 to release/v1.7 for Add Con-Bench helm chart to the Vald charts
  .github/workflows/_release-pr.yml
  .github/workflows/helm.yml
  Makefile.d/helm.mk
  charts/vald-benchmark-operator/Chart.yaml
  charts/vald-benchmark-operator/README.md
  charts/vald-benchmark-operator/README.md.gotmpl
  charts/vald-benchmark-operator/values.yaml
  k8s/tools/benchmark/operator/configmap.yaml
  k8s/tools/benchmark/operator/deployment.yaml
  k8s/tools/benchmark/operator/service.yaml
Labels: priority/low, type/ci, size/XXL, area/helm, area/makefile

#2369 Change users logo
  README.md
  assets/image/vald-users/japansearch_color.png
  assets/image/vald-users/japansearch_color.png.webp
  assets/image/vald-users/lycorp.png
  assets/image/vald-users/lycorp_black.png
  assets/image/vald-users/lycorp_white.png
  assets/image/vald-users/yahoojapan.svg
Labels: priority/low, size/S, actions/backport/release/v1.7

#2392 Backport PR #2369 to release/v1.7 for Change users logo
  README.md
  assets/image/vald-users/japansearch_color.png
  assets/image/vald-users/japansearch_color.png.webp
  assets/image/vald-users/lycorp.png
  assets/image/vald-users/lycorp_black.png
  assets/image/vald-users/lycorp_white.png
  assets/image/vald-users/yahoojapan.svg
Labels: priority/low, size/XXL

#2305 Add rotate-all option to rotator
  internal/errors/rotator.go
  internal/k8s/client/client.go
  internal/test/mock/k8s/client.go
  internal/test/testify/testify.go
  pkg/agent/core/faiss/service/option.go
  pkg/index/job/readreplica/rotate/service/rotator.go
  pkg/index/job/readreplica/rotate/service/rotator_test.go
Labels: type/feature, priority/medium, size/L, area/internal, actions/e2e-deploy, actions/backport/release/v1.7, area/agent/core/faiss, area/index/job/readreplica

#2390 [bugfix] resolve agent kvsdb already closed before last saving
  Makefile
  go.mod
  go.sum
  internal/core/algorithm/ngt/ngt.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/internal/kvs/kvs.go
  pkg/agent/internal/kvs/kvs_test.go
  pkg/agent/internal/kvs/option.go
  pkg/agent/internal/kvs/option_test.go
  rust/Cargo.lock
  versions/PROMETHEUS_STACK_VERSION
  versions/VALDCLI_VERSION
Labels: type/bug, priority/medium, size/L, area/internal, area/makefile, actions/backport/release/v1.7, area/agent/core/faiss, area/agent/core/ngt

#2393 Backport PR #2305 to release/v1.7 for Add rotate-all option to rotator
  internal/errors/rotator.go
  internal/k8s/client/client.go
  internal/test/mock/k8s/client.go
  internal/test/testify/testify.go
  pkg/agent/core/faiss/service/option.go
  pkg/index/job/readreplica/rotate/service/rotator.go
  pkg/index/job/readreplica/rotate/service/rotator_test.go
Labels: priority/low, area/internal, size/XXL, area/agent/core/faiss, area/index/job/readreplica

#2396 Bugfix: Build error of pkg/internal/ kvs test
  pkg/agent/internal/kvs/kvs_test.go
Labels: type/bug, priority/medium, size/S, actions/backport/release/v1.7, area/agent/core/faiss, area/agent/core/ngt

#2398 Backport PR #2396 to release/v1.7 for Bugfix: Build error of pkg/internal/ kvs test
  pkg/agent/internal/kvs/kvs_test.go
Labels: priority/low, size/XXL, area/agent/core/faiss, area/agent/core/ngt

#2397 Update license headers / Format codes
  example/helm/benchmark/job-values.yaml
  example/helm/benchmark/scenario-values.yaml
Labels: priority/low, size/S, actions/backport/release/v1.7

#2394 Backport PR #2390 to release/v1.7 for [bugfix] resolve agent kvsdb already closed before last saving
  Makefile
  go.mod
  go.sum
  internal/core/algorithm/ngt/ngt.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/internal/kvs/kvs.go
  pkg/agent/internal/kvs/kvs_test.go
  pkg/agent/internal/kvs/option.go
  pkg/agent/internal/kvs/option_test.go
  rust/Cargo.lock
  versions/PROMETHEUS_STACK_VERSION
  versions/VALDCLI_VERSION
Labels: priority/low, area/internal, size/XXL, area/makefile, area/agent/core/faiss, area/agent/core/ngt

#2400 Backport PR #2397 to release/v1.7 for Update license headers / Format codes
  example/helm/benchmark/job-values.yaml
  example/helm/benchmark/scenario-values.yaml
Labels: priority/low, size/XXL

#2395 Backport PR #2352 to release/v1.7 for create continous benchmark doc
  charts/vald-benchmark-operator/crds/valdbenchmarkjob.yaml
  charts/vald-benchmark-operator/schemas/job-values.yaml
  charts/vald-benchmark-operator/schemas/scenario-values.yaml
  charts/vald-benchmark-operator/values/benchmark-job.yaml
  charts/vald-benchmark-operator/values/benchmark-scenario.yaml
  docs/performance/continuos-benchmatk.md
  internal/config/benchmark.go
  internal/k8s/vald/benchmark/api/v1/job_types.go
  internal/k8s/vald/benchmark/job/job_template_option.go
  k8s/tools/benchmark/operator/crds/valdbenchmarkjob.yaml
  pkg/tools/benchmark/job/service/job.go
  pkg/tools/benchmark/job/service/option.go
  pkg/tools/benchmark/job/service/search.go
  pkg/tools/benchmark/job/usecase/benchmarkd.go
Labels: priority/low, area/internal, size/XXL, area/helm

#2401 Enable only manual dispatch for protobuf update
  .github/workflows/update-protobuf.yaml
Labels: priority/low, size/S, type/ci, actions/backport/release/v1.7

#2404 update deps
  charts/vald-benchmark-operator/schemas/job-values.schema.json
  example/client/go.mod
  example/client/go.sum
  go.mod
  go.sum
  rust/Cargo.lock
  versions/PROMETHEUS_STACK_VERSION
Labels: priority/low, size/L, area/helm, actions/backport/release/v1.7

#2405 Backport PR #2404 to release/v1.7 for update deps
  charts/vald-benchmark-operator/schemas/job-values.schema.json
  example/client/go.mod
  example/client/go.sum
  go.mod
  go.sum
  rust/Cargo.lock
  versions/PROMETHEUS_STACK_VERSION
Labels: priority/low, size/XXL, area/helm

#2408 :bookmark: :robot: Release v1.7.12
  CHANGELOG.md
  charts/vald-benchmark-operator/Chart.yaml
  charts/vald-benchmark-operator/README.md
  charts/vald-benchmark-operator/values.yaml
  charts/vald-helm-operator/Chart.yaml
  charts/vald-helm-operator/README.md
  charts/vald-helm-operator/values.yaml
  charts/vald-readreplica/Chart.yaml
  charts/vald-readreplica/README.md
  charts/vald/Chart.yaml
  charts/vald/README.md
  charts/vald/values.yaml
  k8s/agent/ngt/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/gateway/ing.yaml
  k8s/gateway/gateway/lb/configmap.yaml
  k8s/gateway/gateway/lb/deployment.yaml
  k8s/gateway/gateway/lb/hpa.yaml
  k8s/gateway/gateway/lb/pdb.yaml
  k8s/gateway/gateway/lb/priorityclass.yaml
  k8s/gateway/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
  k8s/readreplica/configmap.yaml
  k8s/tools/benchmark/operator/configmap.yaml
  k8s/tools/benchmark/operator/deployment.yaml
  k8s/tools/benchmark/operator/service.yaml
  versions/VALD_VERSION
Labels: priority/low, size/XXL, area/helm, actions/backport/main

#2409 Backport PR #2408 to main for :bookmark: :robot: Release v1.7.12
  CHANGELOG.md
  charts/vald-benchmark-operator/Chart.yaml
  charts/vald-benchmark-operator/README.md
  charts/vald-benchmark-operator/values.yaml
  charts/vald-helm-operator/Chart.yaml
  charts/vald-helm-operator/README.md
  charts/vald-helm-operator/values.yaml
  charts/vald-readreplica/Chart.yaml
  charts/vald-readreplica/README.md
  charts/vald/Chart.yaml
  charts/vald/README.md
  charts/vald/values.yaml
  k8s/agent/ngt/configmap.yaml
  k8s/agent/pdb.yaml
  k8s/agent/priorityclass.yaml
  k8s/agent/statefulset.yaml
  k8s/agent/svc.yaml
  k8s/discoverer/clusterrole.yaml
  k8s/discoverer/clusterrolebinding.yaml
  k8s/discoverer/configmap.yaml
  k8s/discoverer/deployment.yaml
  k8s/discoverer/pdb.yaml
  k8s/discoverer/priorityclass.yaml
  k8s/discoverer/serviceaccount.yaml
  k8s/discoverer/svc.yaml
  k8s/gateway/gateway/ing.yaml
  k8s/gateway/gateway/lb/configmap.yaml
  k8s/gateway/gateway/lb/deployment.yaml
  k8s/gateway/gateway/lb/hpa.yaml
  k8s/gateway/gateway/lb/pdb.yaml
  k8s/gateway/gateway/lb/priorityclass.yaml
  k8s/gateway/gateway/lb/svc.yaml
  k8s/manager/index/configmap.yaml
  k8s/manager/index/deployment.yaml
  k8s/manager/index/pdb.yaml
  k8s/manager/index/priorityclass.yaml
  k8s/manager/index/svc.yaml
  k8s/operator/helm/operator.yaml
  k8s/operator/helm/svc.yaml
  k8s/readreplica/configmap.yaml
  k8s/tools/benchmark/operator/configmap.yaml
  k8s/tools/benchmark/operator/deployment.yaml
  k8s/tools/benchmark/operator/service.yaml
  versions/VALD_VERSION
Labels: priority/low, size/L, area/helm

#2412 Add tests for index information export
  internal/k8s/client/client.go
  internal/test/mock/k8s/client.go
  pkg/agent/core/ngt/service/export_test.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/agent/core/ngt/service/ngt_test.go
  pkg/agent/core/ngt/service/option.go
  pkg/agent/core/ngt/usecase/agentd.go
Labels: type/feature, priority/medium, size/L, area/internal, actions/backport/release/v1.7, area/agent/core/ngt

#2413 Fix typo of file name
  docs/performance/continuous-benchmark.md
Labels: priority/low, type/documentation, size/S, actions/backport/release/v1.7

#2415 Backport PR #2413 to release/v1.7 for Fix typo of file name
  docs/performance/continuous-benchmark.md
Labels: priority/low, size/XXL

#2418 Fix agent-faiss build failed
  dockers/agent/core/faiss/Dockerfile
Labels: priority/low, size/S, actions/backport/release/v1.7

#2419 Backport PR #2418 to release/v1.7 for Fix agent-faiss build failed
  dockers/agent/core/faiss/Dockerfile
Labels: priority/low, size/XXL

#2410 Fix the logic to determine docker image
  .github/actions/detect-docker-image-tags/action.yaml
  .github/actions/determine-docker-image-tag/action.yaml
  .github/actions/docker-build/action.yaml
  .github/actions/e2e-deploy-vald-helm-operator/action.yaml
  .github/actions/e2e-deploy-vald-readreplica/action.yaml
  .github/actions/e2e-deploy-vald/action.yaml
  .github/actions/setup-e2e/action.yaml
  .github/workflows/_detect-ci-container.yml
  .github/workflows/_release-pr.yml
  .github/workflows/build-binaries.yml
  .github/workflows/build-protobuf.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/coverage.yml
  .github/workflows/dockers-agent-faiss-image.yml
  .github/workflows/dockers-agent-ngt-image.yml
  .github/workflows/dockers-agent-sidecar-image.yml
  .github/workflows/dockers-benchmark-job-image.yml
  .github/workflows/dockers-benchmark-operator-image.yaml
  .github/workflows/dockers-ci-container-image.yml
  .github/workflows/dockers-dev-container-image.yml
  .github/workflows/dockers-discoverer-k8s-image.yml
  .github/workflows/dockers-gateway-filter-image.yml
  .github/workflows/dockers-gateway-lb-image.yml
  .github/workflows/dockers-gateway-mirror-image.yaml
  .github/workflows/dockers-helm-operator-image.yml
  .github/workflows/dockers-index-correction.yml
  .github/workflows/dockers-index-creation.yml
  .github/workflows/dockers-index-save.yml
  .github/workflows/dockers-loadtest-image.yml
  .github/workflows/dockers-manager-index-image.yml
  .github/workflows/dockers-readreplica-rotate.yml
  .github/workflows/e2e-chaos.yaml
  .github/workflows/e2e-code-bench-agent.yaml
  .github/workflows/e2e-max-dim.yml
  .github/workflows/e2e-profiling.yml
  .github/workflows/e2e.yml
  .github/workflows/format.yml
  .github/workflows/fossa.yml
  .github/workflows/helm-lint.yml
  .github/workflows/helm.yml
  .github/workflows/reviewdog-k8s.yml
  .github/workflows/reviewdog.yml
  .github/workflows/test-hack.yml
  .github/workflows/unit-test.yaml
Labels: priority/low, size/S, type/ci, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-max-dim, actions/backport/release/v1.7

#2420 Backport PR #2410 to release/v1.7 for Fix the logic to determine docker image
  .github/actions/detect-docker-image-tags/action.yaml
  .github/actions/determine-docker-image-tag/action.yaml
  .github/actions/docker-build/action.yaml
  .github/actions/e2e-deploy-vald-helm-operator/action.yaml
  .github/actions/e2e-deploy-vald-readreplica/action.yaml
  .github/actions/e2e-deploy-vald/action.yaml
  .github/actions/setup-e2e/action.yaml
  .github/workflows/_detect-ci-container.yml
  .github/workflows/_release-pr.yml
  .github/workflows/build-binaries.yml
  .github/workflows/build-protobuf.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/coverage.yml
  .github/workflows/dockers-agent-faiss-image.yml
  .github/workflows/dockers-agent-ngt-image.yml
  .github/workflows/dockers-agent-sidecar-image.yml
  .github/workflows/dockers-benchmark-job-image.yml
  .github/workflows/dockers-benchmark-operator-image.yaml
  .github/workflows/dockers-ci-container-image.yml
  .github/workflows/dockers-dev-container-image.yml
  .github/workflows/dockers-discoverer-k8s-image.yml
  .github/workflows/dockers-gateway-filter-image.yml
  .github/workflows/dockers-gateway-lb-image.yml
  .github/workflows/dockers-gateway-mirror-image.yaml
  .github/workflows/dockers-helm-operator-image.yml
  .github/workflows/dockers-index-correction.yml
  .github/workflows/dockers-index-creation.yml
  .github/workflows/dockers-index-save.yml
  .github/workflows/dockers-loadtest-image.yml
  .github/workflows/dockers-manager-index-image.yml
  .github/workflows/dockers-readreplica-rotate.yml
  .github/workflows/e2e-chaos.yaml
  .github/workflows/e2e-code-bench-agent.yaml
  .github/workflows/e2e-max-dim.yml
  .github/workflows/e2e-profiling.yml
  .github/workflows/e2e.yml
  .github/workflows/format.yml
  .github/workflows/fossa.yml
  .github/workflows/helm-lint.yml
  .github/workflows/helm.yml
  .github/workflows/reviewdog-k8s.yml
  .github/workflows/reviewdog.yml
  .github/workflows/test-hack.yml
  .github/workflows/unit-test.yaml
Labels: priority/low, type/ci, size/XXL

#2421 Update build rule for nightly image
  .github/actions/determine-docker-image-tag/action.yaml
  .github/actions/docker-build/action.yaml
  Makefile.d/docker.mk
Labels: priority/low, size/S, type/ci, area/makefile, actions/backport/release/v1.7

#2422 Backport PR #2421 to release/v1.7 for Update build rule for nightly image
  .github/actions/determine-docker-image-tag/action.yaml
  .github/actions/docker-build/action.yaml
  Makefile.d/docker.mk
Labels: priority/low, type/ci, size/XXL, area/makefile

#2423 Fix output settings to determine-docker-image-tag action and release branch build tag name
  .github/actions/determine-docker-image-tag/action.yaml
  .github/actions/docker-build/action.yaml
Labels: type/bug, priority/medium, size/S, type/ci, actions/backport/release/v1.7

#2426 Fix typo in actions workflow
  .github/workflows/dockers-index-operator.yml
Labels: priority/low, size/S, type/ci, actions/backport/release/v1.7

#2427 Backport PR #2426 to release/v1.7 for Fix typo in actions workflow
  .github/workflows/dockers-index-operator.yml
Labels: priority/low, type/ci, size/XXXL
