Repository vdaas/vald, pull requests merged in 2024-07, with the labels that each got.

#2526 [CI] Add workflow to synchronize ubuntu base image
  .github/workflows/dockers-buildbase-image.yml
  Makefile
  Makefile.d/docker.mk
  dockers/buildbase/Dockerfile
Labels: priority/low, size/M, type/ci, area/makefile, actions/backport/release/v1.7

#2528 Update buildbase sync schedule
  .github/workflows/dockers-buildbase-image.yml
Labels: priority/low, size/S, type/ci, actions/backport/release/v1.7

#2530 Backport PR #2528 to release/v1.7 for Update buildbase sync schedule
  .github/workflows/dockers-buildbase-image.yml
Labels: priority/low, type/ci, size/XXXL

#2534 Fix format
  apis/grpc/v1/agent/core/agent_vtproto.pb.go
  apis/grpc/v1/discoverer/discoverer_vtproto.pb.go
  apis/grpc/v1/filter/egress/egress_filter_vtproto.pb.go
  apis/grpc/v1/filter/ingress/ingress_filter_vtproto.pb.go
  apis/grpc/v1/mirror/mirror_vtproto.pb.go
  apis/grpc/v1/vald/filter_vtproto.pb.go
  apis/grpc/v1/vald/flush_vtproto.pb.go
  apis/grpc/v1/vald/index_vtproto.pb.go
  apis/grpc/v1/vald/insert_vtproto.pb.go
  apis/grpc/v1/vald/object_vtproto.pb.go
  apis/grpc/v1/vald/remove_vtproto.pb.go
  apis/grpc/v1/vald/search_vtproto.pb.go
  apis/grpc/v1/vald/update_vtproto.pb.go
  apis/grpc/v1/vald/upsert_vtproto.pb.go
  dockers/agent/core/agent/Dockerfile
  dockers/ci/base/Dockerfile
  dockers/dev/Dockerfile
Labels: priority/low, size/S, area/discoverer, area/manager/index, area/filter/ingress, area/filter/egress, area/tools/cli/loadtest, area/gateway/lb, area/gateway/filter, actions/backport/release/v1.7, area/agent/core/faiss, area/agent/core/ngt, area/gateway/mirror, area/index/job/correction, area/index/job/creation, area/index/job/save, area/index/job/readreplica

#2537 fix conflict bug
  Makefile
  rust/Cargo.lock
Labels: type/bug, priority/medium, size/XXXL, area/makefile

#2540 Backport PR #2534 to release/v1.7 for Fix format
  apis/grpc/v1/agent/core/agent_vtproto.pb.go
  apis/grpc/v1/discoverer/discoverer_vtproto.pb.go
  apis/grpc/v1/filter/egress/egress_filter_vtproto.pb.go
  apis/grpc/v1/filter/ingress/ingress_filter_vtproto.pb.go
  apis/grpc/v1/mirror/mirror_vtproto.pb.go
  apis/grpc/v1/vald/filter_vtproto.pb.go
  apis/grpc/v1/vald/flush_vtproto.pb.go
  apis/grpc/v1/vald/index_vtproto.pb.go
  apis/grpc/v1/vald/insert_vtproto.pb.go
  apis/grpc/v1/vald/object_vtproto.pb.go
  apis/grpc/v1/vald/remove_vtproto.pb.go
  apis/grpc/v1/vald/search_vtproto.pb.go
  apis/grpc/v1/vald/update_vtproto.pb.go
  apis/grpc/v1/vald/upsert_vtproto.pb.go
  dockers/agent/core/agent/Dockerfile
  dockers/ci/base/Dockerfile
  dockers/dev/Dockerfile
Labels: priority/low, area/discoverer, area/manager/index, area/filter/ingress, area/filter/egress, size/XXXL, area/tools/cli/loadtest, area/gateway/lb, area/gateway/filter, area/agent/core/faiss, area/agent/core/ngt, area/gateway/mirror, area/index/job/correction, area/index/job/creation, area/index/job/save, area/index/job/readreplica

#2538 Deleted unnecessary event path for docker build
  .github/workflows/dockers-agent-faiss-image.yml
  .github/workflows/dockers-agent-image.yml
  .github/workflows/dockers-agent-ngt-image.yml
  .github/workflows/dockers-agent-sidecar-image.yml
  .github/workflows/dockers-benchmark-job-image.yml
  .github/workflows/dockers-benchmark-operator-image.yaml
  .github/workflows/dockers-ci-container-image.yml
  .github/workflows/dockers-dev-container-image.yml
  .github/workflows/dockers-discoverer-k8s-image.yml
  .github/workflows/dockers-gateway-filter-image.yml
  .github/workflows/dockers-gateway-lb-image.yml
  .github/workflows/dockers-gateway-mirror-image.yaml
  .github/workflows/dockers-helm-operator-image.yml
  .github/workflows/dockers-index-correction.yml
  .github/workflows/dockers-index-creation.yml
  .github/workflows/dockers-index-operator.yml
  .github/workflows/dockers-index-save.yml
  .github/workflows/dockers-loadtest-image.yml
  .github/workflows/dockers-manager-index-image.yml
  .github/workflows/dockers-readreplica-rotate.yml
Labels: priority/low, size/S, type/ci, actions/backport/release/v1.7

#2542 Fix info path location
  .github/workflows/backport.yml
Labels: priority/low, size/S, type/ci

#2543 Backport PR #2542, #2538 to release/v1.7
  .github/workflows/backport.yml
  .github/workflows/dockers-agent-faiss-image.yml
  .github/workflows/dockers-agent-image.yml
  .github/workflows/dockers-agent-ngt-image.yml
  .github/workflows/dockers-agent-sidecar-image.yml
  .github/workflows/dockers-benchmark-job-image.yml
  .github/workflows/dockers-benchmark-operator-image.yaml
  .github/workflows/dockers-ci-container-image.yml
  .github/workflows/dockers-dev-container-image.yml
  .github/workflows/dockers-discoverer-k8s-image.yml
  .github/workflows/dockers-gateway-filter-image.yml
  .github/workflows/dockers-gateway-lb-image.yml
  .github/workflows/dockers-gateway-mirror-image.yaml
  .github/workflows/dockers-helm-operator-image.yml
  .github/workflows/dockers-index-correction.yml
  .github/workflows/dockers-index-creation.yml
  .github/workflows/dockers-index-operator.yml
  .github/workflows/dockers-index-save.yml
  .github/workflows/dockers-loadtest-image.yml
  .github/workflows/dockers-manager-index-image.yml
  .github/workflows/dockers-readreplica-rotate.yml
Labels: priority/low, type/ci, size/XXXL

#2545 Add file and directory to be excluded from format updates
  .github/workflows/format.yml
Labels: priority/low, size/S, type/ci, actions/backport/release/v1.7

#2546 Backport PR #2545 to release/v1.7 for Add file and directory to be excluded from format updates
  .github/workflows/format.yml
Labels: priority/low, type/ci, size/XXXL

#2548 Add workflow to check git conflict for backport PR
  .github/workflows/check-conflict.yml
Labels: priority/low, size/S, type/ci, actions/backport/release/v1.7

#2550 Backport PR #2548 to release/v1.7 for Add workflow to check git conflict for backport PR
  .github/workflows/check-conflict.yml
Labels: priority/low, type/ci, size/XXXL

#2498 Add workflow to update actions
  .github/workflows/update-actions.yaml
  Makefile
  versions/actions/PETER_EVANS_CREATE_PULL_REQUEST
Labels: type/feature, priority/medium, size/S, type/ci, area/makefile, actions/backport/release/v1.7

#2552 Update Actions dependency
  versions/actions/DOCKER_SETUP_BUILDX_ACTION
Labels: priority/low, size/S
