Repository vdaas/vald, pull requests merged in 2024-10, with the labels that each got.

#2670 Refactor use Absolute path for Makefile
  Makefile
  Makefile.d/docker.mk
  Makefile.d/functions.mk
  Makefile.d/git.mk
  Makefile.d/helm.mk
  Makefile.d/k8s.mk
  Makefile.d/proto.mk
  dockers/agent/core/agent/Dockerfile
  dockers/agent/core/faiss/Dockerfile
  dockers/agent/core/ngt/Dockerfile
  dockers/agent/sidecar/Dockerfile
  dockers/binfmt/Dockerfile
  dockers/buildbase/Dockerfile
  dockers/buildkit/Dockerfile
  dockers/buildkit/syft/scanner/Dockerfile
  dockers/ci/base/Dockerfile
  dockers/dev/Dockerfile
  dockers/discoverer/k8s/Dockerfile
  dockers/gateway/filter/Dockerfile
  dockers/gateway/lb/Dockerfile
  dockers/gateway/mirror/Dockerfile
  dockers/index/job/correction/Dockerfile
  dockers/index/job/creation/Dockerfile
  dockers/index/job/readreplica/rotate/Dockerfile
  dockers/index/job/save/Dockerfile
  dockers/index/operator/Dockerfile
  dockers/manager/index/Dockerfile
  dockers/operator/helm/Dockerfile
  dockers/tools/benchmark/job/Dockerfile
  dockers/tools/benchmark/operator/Dockerfile
  dockers/tools/cli/loadtest/Dockerfile
  go.mod
  go.sum
  hack/actions/gen/main.go
  hack/cspell/main.go
  hack/docker/gen/main.go
  hack/tools/deadlink/main.go
  internal/core/algorithm/faiss/faiss.go
  internal/core/algorithm/faiss/option.go
  internal/core/algorithm/usearch/option.go
  internal/core/algorithm/usearch/usearch.go
  internal/info/info.go
  internal/k8s/job/job.go
  internal/net/grpc/errdetails/errdetails.go
  internal/observability/metrics/mem/mem.go
  pkg/gateway/lb/handler/grpc/handler.go
  pkg/gateway/mirror/handler/grpc/handler.go
  pkg/gateway/mirror/service/gateway.go
  pkg/index/job/correction/service/corrector.go
  pkg/index/job/readreplica/rotate/service/rotator.go
  rust/Cargo.lock
  tests/performance/max_vector_dim_test.go
  versions/PROMETHEUS_STACK_VERSION
  versions/TELEPRESENCE_VERSION
  versions/actions/DOCKER_SETUP_BUILDX_ACTION
Labels: priority/low, type/refactoring, size/L, area/internal, area/makefile, area/gateway/lb, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, actions/backport/release/v1.7, area/gateway/mirror, area/index/job/correction, area/index/job/readreplica

#2674 Refactor internal/net/grpc/client.go
  internal/net/grpc/client.go
Labels: priority/low, type/refactoring, size/S, area/internal, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, actions/backport/release/v1.7

#2675 Backport PR #2674 to release/v1.7 for Refactor internal/net/grpc/client.go
  internal/net/grpc/client.go
Labels: priority/low, area/internal, size/XXXL

#2673 Backport PR #2670 to release/v1.7 for Refactor use Absolute path for Makefile
  Makefile
  Makefile.d/docker.mk
  Makefile.d/functions.mk
  Makefile.d/git.mk
  Makefile.d/helm.mk
  Makefile.d/k8s.mk
  Makefile.d/proto.mk
  dockers/agent/core/agent/Dockerfile
  dockers/agent/core/faiss/Dockerfile
  dockers/agent/core/ngt/Dockerfile
  dockers/agent/sidecar/Dockerfile
  dockers/binfmt/Dockerfile
  dockers/buildbase/Dockerfile
  dockers/buildkit/Dockerfile
  dockers/buildkit/syft/scanner/Dockerfile
  dockers/ci/base/Dockerfile
  dockers/dev/Dockerfile
  dockers/discoverer/k8s/Dockerfile
  dockers/gateway/filter/Dockerfile
  dockers/gateway/lb/Dockerfile
  dockers/gateway/mirror/Dockerfile
  dockers/index/job/correction/Dockerfile
  dockers/index/job/creation/Dockerfile
  dockers/index/job/readreplica/rotate/Dockerfile
  dockers/index/job/save/Dockerfile
  dockers/index/operator/Dockerfile
  dockers/manager/index/Dockerfile
  dockers/operator/helm/Dockerfile
  dockers/tools/benchmark/job/Dockerfile
  dockers/tools/benchmark/operator/Dockerfile
  dockers/tools/cli/loadtest/Dockerfile
  go.mod
  go.sum
  hack/actions/gen/main.go
  hack/cspell/main.go
  hack/docker/gen/main.go
  hack/tools/deadlink/main.go
  internal/core/algorithm/faiss/faiss.go
  internal/core/algorithm/faiss/option.go
  internal/core/algorithm/usearch/option.go
  internal/core/algorithm/usearch/usearch.go
  internal/info/info.go
  internal/k8s/job/job.go
  internal/net/grpc/errdetails/errdetails.go
  internal/observability/metrics/mem/mem.go
  pkg/gateway/lb/handler/grpc/handler.go
  pkg/gateway/mirror/handler/grpc/handler.go
  pkg/gateway/mirror/service/gateway.go
  pkg/index/job/correction/service/corrector.go
  pkg/index/job/readreplica/rotate/service/rotator.go
  rust/Cargo.lock
  tests/performance/max_vector_dim_test.go
  versions/PROMETHEUS_STACK_VERSION
  versions/TELEPRESENCE_VERSION
  versions/actions/DOCKER_SETUP_BUILDX_ACTION
Labels: priority/low, area/internal, size/XXXL, area/makefile, area/gateway/lb, area/gateway/mirror, area/index/job/correction, area/index/job/readreplica

#2677 Update Actions dependency
  versions/actions/ACTIONS_CACHE
  versions/actions/ACTIONS_CHECKOUT
  versions/actions/ACTIONS_UPLOAD_ARTIFACT
  versions/actions/DOCKER_SETUP_BUILDX_ACTION
  versions/actions/GITHUB_CODEQL_ACTION_ANALYZE
  versions/actions/GITHUB_CODEQL_ACTION_AUTOBUILD
  versions/actions/GITHUB_CODEQL_ACTION_INIT
  versions/actions/GITHUB_CODEQL_ACTION_UPLOAD_SARIF
  versions/actions/GITHUB_ISSUE_METRICS
Labels: priority/low, size/S, actions/backport/release/v1.7

#2678 Backport PR #2677 to release/v1.7 for Update Actions dependency
  versions/actions/ACTIONS_CACHE
  versions/actions/ACTIONS_CHECKOUT
  versions/actions/ACTIONS_UPLOAD_ARTIFACT
  versions/actions/DOCKER_SETUP_BUILDX_ACTION
  versions/actions/GITHUB_CODEQL_ACTION_ANALYZE
  versions/actions/GITHUB_CODEQL_ACTION_AUTOBUILD
  versions/actions/GITHUB_CODEQL_ACTION_INIT
  versions/actions/GITHUB_CODEQL_ACTION_UPLOAD_SARIF
  versions/actions/GITHUB_ISSUE_METRICS
Labels: priority/low, size/XXXL

#2667 modify ParseError to FromError for agent handler
  pkg/agent/core/ngt/handler/grpc/insert.go
  pkg/agent/core/ngt/handler/grpc/linear_search.go
  pkg/agent/core/ngt/handler/grpc/object.go
  pkg/agent/core/ngt/handler/grpc/remove.go
  pkg/agent/core/ngt/handler/grpc/search.go
  pkg/agent/core/ngt/handler/grpc/update.go
  pkg/agent/core/ngt/handler/grpc/upsert.go
Labels: priority/low, type/refactoring, size/L, actions/backport/release/v1.7, area/agent/core/ngt

#2679 Backport PR #2667 to release/v1.7 for modify ParseError to FromError for agent handler
  pkg/agent/core/ngt/handler/grpc/insert.go
  pkg/agent/core/ngt/handler/grpc/linear_search.go
  pkg/agent/core/ngt/handler/grpc/object.go
  pkg/agent/core/ngt/handler/grpc/remove.go
  pkg/agent/core/ngt/handler/grpc/search.go
  pkg/agent/core/ngt/handler/grpc/update.go
  pkg/agent/core/ngt/handler/grpc/upsert.go
Labels: priority/low, size/XXXL, area/agent/core/ngt

#2665 Fix gRPC error handling for mirror-gateway handler
  pkg/gateway/mirror/handler/grpc/handler.go
  pkg/gateway/mirror/service/mirror.go
Labels: priority/low, size/XL, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, actions/backport/release/v1.7, area/gateway/mirror

#2663 Fix gRPC error msg handling for lb-gateway handler
  pkg/gateway/lb/handler/grpc/aggregation.go
  pkg/gateway/lb/handler/grpc/handler.go
Labels: priority/low, type/refactoring, size/XL, area/gateway/lb, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, actions/backport/release/v1.7

#2683 [CI]: Increase the maximum limit of the gh pr list command
  .github/workflows/backport.yaml
Labels: priority/low, size/S, type/ci, actions/backport/release/v1.7

#2682 Backport PR #2663 to to release/v1.7 for Fix gRPC error msg handling for lb-gateway handler
  pkg/gateway/lb/handler/grpc/aggregation.go
  pkg/gateway/lb/handler/grpc/handler.go
Labels: priority/low, size/XXXL, area/gateway/lb

#2681 Backport PR #2665 to to release/v1.7 for Fix gRPC error handling for mirror-gateway handler
  pkg/gateway/mirror/handler/grpc/handler.go
  pkg/gateway/mirror/service/mirror.go
Labels: priority/low, size/XXXL, area/gateway/mirror

#2686 Backport PR #2683 to release/v1.7 for [CI]: Increase the maximum limit of the gh pr list command
  .github/workflows/backport.yaml
Labels: type/ci, size/XXXL

#2669 Fix gRPC error handling for gateway/filter handler
  pkg/gateway/filter/handler/grpc/handler.go
Labels: priority/low, type/refactoring, size/XL, area/gateway/filter, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, actions/backport/release/v1.7

#2689 Backport PR #2669 to release/v1.7 for Fix gRPC error handling for gateway/filter handler
  pkg/gateway/filter/handler/grpc/handler.go
Labels: priority/low, size/XXXL, area/gateway/filter

#2691 Buf CLI migrate to v2
  apis/proto/buf.lock
  buf.gen.yaml
  buf.lock
  buf.work.yaml
  buf.yaml
  rust/libs/proto/src/filter.egress.v1.tonic.rs
  rust/libs/proto/src/filter.ingress.v1.tonic.rs
  rust/libs/proto/src/meta.v1.tonic.rs
  rust/libs/proto/src/vald.v1.tonic.rs
Labels: type/feature, priority/medium, size/S, area/discoverer, area/manager/index, area/filter/ingress, area/filter/egress, area/agent/sidecar, area/tools/cli/loadtest, area/gateway/lb, area/gateway/filter, actions/backport/release/v1.7, area/agent/core/faiss, area/agent/core/ngt, area/gateway/mirror, area/index/job/correction, area/index/job/creation, area/index/job/save, area/index/job/readreplica

#2695 Backport PR #2691 to release/v1.7 for Buf CLI migrate to v2
  apis/proto/buf.lock
  buf.gen.yaml
  buf.lock
  buf.work.yaml
  buf.yaml
  rust/libs/proto/src/filter.egress.v1.tonic.rs
  rust/libs/proto/src/filter.ingress.v1.tonic.rs
  rust/libs/proto/src/meta.v1.tonic.rs
  rust/libs/proto/src/vald.v1.tonic.rs
Labels: size/XXXL

#2694 Add CPU_INFO_FLAGS for Apple Silicon
  .gitignore
  .whitesource
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  Makefile
  README.md
  charts/vald/.helmignore
  charts/vald/templates/_helpers.tpl
  cmd/filter/egress/.gitkeep
  cmd/filter/ingress/.gitkeep
  design/Vald Architecture Overview.drawio
  dockers/agent/core/agent/Dockerfile
  dockers/ci/base/Dockerfile
  dockers/dev/Dockerfile
  go.mod
  go.sum
  pkg/discoverer/k8s/README.md
  pkg/filter/egress/.gitkeep
  pkg/filter/ingress/.gitkeep
  pkg/gateway/filter/README.md
  pkg/gateway/lb/README.md
  pkg/gateway/mirror/README.md
  renovate.json
  rust/Cargo.lock
  versions/TELEPRESENCE_VERSION
Labels: priority/low, type/refactoring, size/M, area/discoverer, area/helm, area/makefile, area/gateway/lb, area/gateway/filter, actions/backport/release/v1.7, area/gateway/mirror

#2697 Backport PR #2694 to release/v1.7 for Add CPU_INFO_FLAGS for Apple Silicon
  .gitignore
  .whitesource
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  Makefile
  README.md
  charts/vald/.helmignore
  charts/vald/templates/_helpers.tpl
  cmd/filter/egress/.gitkeep
  cmd/filter/ingress/.gitkeep
  design/Vald Architecture Overview.drawio
  dockers/agent/core/agent/Dockerfile
  dockers/ci/base/Dockerfile
  dockers/dev/Dockerfile
  go.mod
  go.sum
  pkg/discoverer/k8s/README.md
  pkg/filter/egress/.gitkeep
  pkg/filter/ingress/.gitkeep
  pkg/gateway/filter/README.md
  pkg/gateway/lb/README.md
  pkg/gateway/mirror/README.md
  renovate.json
  rust/Cargo.lock
  versions/TELEPRESENCE_VERSION
Labels: area/discoverer, size/XXXL, area/helm, area/makefile, area/gateway/lb, area/gateway/filter, area/gateway/mirror

#2696 Add String sorted topologicalSort
  dockers/agent/core/agent/Dockerfile
  dockers/agent/core/faiss/Dockerfile
  dockers/agent/core/ngt/Dockerfile
  dockers/agent/sidecar/Dockerfile
  dockers/binfmt/Dockerfile
  dockers/buildbase/Dockerfile
  dockers/buildkit/Dockerfile
  dockers/buildkit/syft/scanner/Dockerfile
  dockers/ci/base/Dockerfile
  dockers/dev/Dockerfile
  dockers/discoverer/k8s/Dockerfile
  dockers/gateway/filter/Dockerfile
  dockers/gateway/lb/Dockerfile
  dockers/gateway/mirror/Dockerfile
  dockers/index/job/correction/Dockerfile
  dockers/index/job/creation/Dockerfile
  dockers/index/job/readreplica/rotate/Dockerfile
  dockers/index/job/save/Dockerfile
  dockers/index/operator/Dockerfile
  dockers/manager/index/Dockerfile
  dockers/operator/helm/Dockerfile
  dockers/tools/benchmark/job/Dockerfile
  dockers/tools/benchmark/operator/Dockerfile
  dockers/tools/cli/loadtest/Dockerfile
  hack/docker/gen/main.go
Labels: priority/low, type/refactoring, size/L, actions/backport/release/v1.7

#2698 Backport PR #2696 to release/v1.7 for Add String sorted topologicalSort
  dockers/agent/core/agent/Dockerfile
  dockers/agent/core/faiss/Dockerfile
  dockers/agent/core/ngt/Dockerfile
  dockers/agent/sidecar/Dockerfile
  dockers/binfmt/Dockerfile
  dockers/buildbase/Dockerfile
  dockers/buildkit/Dockerfile
  dockers/buildkit/syft/scanner/Dockerfile
  dockers/ci/base/Dockerfile
  dockers/dev/Dockerfile
  dockers/discoverer/k8s/Dockerfile
  dockers/gateway/filter/Dockerfile
  dockers/gateway/lb/Dockerfile
  dockers/gateway/mirror/Dockerfile
  dockers/index/job/correction/Dockerfile
  dockers/index/job/creation/Dockerfile
  dockers/index/job/readreplica/rotate/Dockerfile
  dockers/index/job/save/Dockerfile
  dockers/index/operator/Dockerfile
  dockers/manager/index/Dockerfile
  dockers/operator/helm/Dockerfile
  dockers/tools/benchmark/job/Dockerfile
  dockers/tools/benchmark/operator/Dockerfile
  dockers/tools/cli/loadtest/Dockerfile
  hack/docker/gen/main.go
Labels: priority/low, size/XXXL

#2703 update versions/BUF_VERSION
  dockers/agent/core/agent/Dockerfile
  dockers/ci/base/Dockerfile
  versions/BUF_VERSION
Labels: priority/low, size/S, actions/backport/release/v1.7

#2704 Backport PR #2703 to release/v1.7 for update versions/BUF_VERSION
  dockers/agent/core/agent/Dockerfile
  dockers/ci/base/Dockerfile
  versions/BUF_VERSION
Labels: priority/low, size/XXXL

#2705 add example-client docker image
  .github/workflows/dockers-example-client-image.yaml
  Makefile
  Makefile.d/build.mk
  Makefile.d/docker.mk
  Makefile.d/functions.mk
  dockers/example/client/Dockerfile
  example/helm/values.yaml
  hack/docker/gen/main.go
Labels: type/feature, priority/medium, size/L, type/ci, area/makefile, actions/backport/release/v1.7

#2709 Backport PR #2705 to release/v1.7 for add example-client docker image
  .github/workflows/dockers-example-client-image.yaml
  Makefile
  Makefile.d/build.mk
  Makefile.d/docker.mk
  Makefile.d/functions.mk
  dockers/example/client/Dockerfile
  example/helm/values.yaml
  hack/docker/gen/main.go
Labels: priority/low, type/ci, size/XXXL, area/makefile

#2708 fix: typo in index job
  pkg/gateway/mirror/usecase/vald.go
  pkg/index/job/creation/service/indexer.go
  pkg/index/job/creation/usecase/creation.go
  pkg/index/job/readreplica/rotate/usecase/rotate.go
  pkg/index/job/save/service/indexer.go
  pkg/index/job/save/usecase/save.go
  pkg/index/operator/usecase/operator.go
Labels: actions/backport/release/v1.7

#2711 Backport PR #2708 to release/v1.7 for fix: typo in index job
  pkg/gateway/mirror/usecase/vald.go
  pkg/index/job/creation/service/indexer.go
  pkg/index/job/creation/usecase/creation.go
  pkg/index/job/readreplica/rotate/usecase/rotate.go
  pkg/index/job/save/service/indexer.go
  pkg/index/job/save/usecase/save.go
  pkg/index/operator/usecase/operator.go
Labels: priority/low, size/XXXL, area/gateway/mirror, area/index/job/creation, area/index/job/save, area/index/job/readreplica

#2710 Remove clj link from docs
  docs/user-guides/sdks.md
Labels: priority/low, size/S, actions/backport/release/v1.7

#2714 Backport PR #2710 to release/v1.7 for Remove clj link from docs
  docs/user-guides/sdks.md
Labels: priority/low, size/XXXL

#2706 Update Actions dependency
  versions/actions/ACTIONS_CACHE
  versions/actions/ACTIONS_CHECKOUT
  versions/actions/GITHUB_CODEQL_ACTION_ANALYZE
  versions/actions/GITHUB_CODEQL_ACTION_AUTOBUILD
  versions/actions/GITHUB_CODEQL_ACTION_INIT
  versions/actions/GITHUB_CODEQL_ACTION_UPLOAD_SARIF
  versions/actions/GITHUB_ISSUE_METRICS
  versions/actions/SHOGO82148_ACTIONS_UPLOAD_RELEASE_ASSET
Labels: priority/low, size/S, actions/backport/release/v1.7

#2715 Backport PR #2706 to release/v1.7 for Update Actions dependency
  versions/actions/ACTIONS_CACHE
  versions/actions/ACTIONS_CHECKOUT
  versions/actions/GITHUB_CODEQL_ACTION_ANALYZE
  versions/actions/GITHUB_CODEQL_ACTION_AUTOBUILD
  versions/actions/GITHUB_CODEQL_ACTION_INIT
  versions/actions/GITHUB_CODEQL_ACTION_UPLOAD_SARIF
  versions/actions/GITHUB_ISSUE_METRICS
  versions/actions/SHOGO82148_ACTIONS_UPLOAD_RELEASE_ASSET
Labels: priority/low, size/XXXL

#2713 Multi-PF build for example-client image
  .github/workflows/dockers-example-client-image.yaml
Labels: priority/low, size/S, type/ci, actions/backport/release/v1.7

#2707 Add auto deps version update workflow
  .github/workflows/update-deps.yaml
  Makefile
  Makefile.d/dependencies.mk
Labels: priority/low, size/S, type/ci, area/makefile, actions/backport/release/v1.7

#2718 Fix bind DOCKER_OPTS option
  .github/workflows/dockers-example-client-image.yaml
  Makefile.d/docker.mk
Labels: priority/low, size/S, type/ci, area/makefile

#2717 Backport PR #2707 to release/v1.7 for Add auto deps version update workflow
  .github/workflows/update-deps.yaml
  Makefile
  Makefile.d/dependencies.mk
Labels: priority/low, type/ci, size/XXXL, area/makefile

#2719 Backport PR #2718 to release/v1.7 for Fix bind DOCKER_OPTS option
  Makefile.d/docker.mk
Labels: priority/low, size/XXXL, area/makefile

#2720 Fix typo for docker.mk
  Makefile.d/docker.mk
Labels: type/bug, priority/medium, size/S, area/makefile

#2702 feat: Implement delete expired index job
  .cspell.json
  .gitfiles
  .github/actions/detect-docker-image-tags/action.yaml
  .github/workflows/dockers-image-scan.yaml
  .github/workflows/dockers-index-deletion-image.yaml
  .github/workflows/dockers-index-deletion.yaml
  .github/workflows/dockers-release-branch-image.yaml
  Makefile
  Makefile.d/build.mk
  Makefile.d/docker.mk
  cmd/index/job/deletion/main.go
  cmd/index/job/deletion/sample.yaml
  dockers/index/job/deletion/Dockerfile
  hack/actions/gen/main.go
  hack/cspell/main.go
  hack/docker/gen/main.go
  internal/config/index_deleter.go
  k8s/index/job/deletion/configmap.yaml
  k8s/index/job/deletion/cronjob.yaml
  pkg/index/job/deletion/config/config.go
  pkg/index/job/deletion/service/deleter.go
  pkg/index/job/deletion/service/options.go
  pkg/index/job/deletion/usecase/deletion.go
Labels: actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, ci/approved, actions/backport/release/v1.7

#2722 Backport PR #2702 to release/v1.7 for feat: Implement delete expired index job
  .cspell.json
  .gitfiles
  .github/actions/detect-docker-image-tags/action.yaml
  .github/workflows/dockers-image-scan.yaml
  .github/workflows/dockers-index-deletion-image.yaml
  .github/workflows/dockers-index-deletion.yaml
  .github/workflows/dockers-release-branch-image.yaml
  Makefile
  Makefile.d/build.mk
  Makefile.d/docker.mk
  cmd/index/job/deletion/main.go
  cmd/index/job/deletion/sample.yaml
  dockers/index/job/deletion/Dockerfile
  hack/actions/gen/main.go
  hack/cspell/main.go
  hack/docker/gen/main.go
  internal/config/index_deleter.go
  k8s/index/job/deletion/configmap.yaml
  k8s/index/job/deletion/cronjob.yaml
  pkg/index/job/deletion/config/config.go
  pkg/index/job/deletion/service/deleter.go
  pkg/index/job/deletion/service/options.go
  pkg/index/job/deletion/usecase/deletion.go
Labels: priority/low, area/internal, type/ci, size/XXXL, area/makefile

#2723 Update license headers / Format codes
  .github/workflows/dockers-index-deletion-image.yaml
  pkg/index/job/deletion/service/deleter.go
  pkg/index/job/deletion/service/options.go
Labels: priority/low, size/S, type/ci

#2724 Update README.md
  README.md
Labels: priority/low, type/refactoring, size/S, actions/backport/release/v1.7

#2725 Backport PR #2724 to release/v1.7 for Update README.md
  README.md
Labels: priority/low, size/XXXL

#2726 fix not found error for gateway handler
  pkg/gateway/lb/handler/grpc/handler.go
Labels: type/bug, priority/medium, size/S, area/gateway/lb, actions/backport/release/v1.7

#2727 Backport PR #2726 to release/v1.7 for fix not found error for gateway handler
  pkg/gateway/lb/handler/grpc/handler.go
Labels: priority/low, size/XXXL, area/gateway/lb
