Repository vdaas/vald, pull requests merged in 2024-09, with the labels that each got.

#2588 Backport PR #2584 to release/v1.7 for Implement ngt property get API
  apis/docs/v1/docs.md
  apis/grpc/v1/agent/sidecar/sidecar_vtproto.pb.go
  apis/grpc/v1/payload/payload.pb.go
  apis/grpc/v1/payload/payload.pb.json.go
  apis/grpc/v1/payload/payload_vtproto.pb.go
  apis/grpc/v1/vald/index.pb.go
  apis/grpc/v1/vald/index_vtproto.pb.go
  apis/grpc/v1/vald/vald.go
  apis/proto/v1/payload/payload.proto
  apis/proto/v1/vald/index.proto
  apis/swagger/v1/vald/index.swagger.json
  codecov.yml
  example/client/go.mod
  example/client/go.mod.default
  example/client/go.sum
  go.mod
  go.sum
  hack/go.mod.default
  internal/client/v1/client/vald/vald.go
  internal/core/algorithm/ngt/ngt.go
  internal/core/algorithm/ngt/ngt_test.go
  internal/core/algorithm/ngt/option.go
  internal/net/http/client/client_test.go
  pkg/agent/core/ngt/handler/grpc/index.go
  pkg/agent/core/ngt/handler/grpc/index_test.go
  pkg/agent/core/ngt/service/ngt.go
  pkg/gateway/lb/handler/grpc/handler.go
  rust/Cargo.lock
  rust/bin/agent/src/handler/index.rs
  rust/libs/proto/src/filter.egress.v1.tonic.rs
  rust/libs/proto/src/filter.ingress.v1.tonic.rs
  rust/libs/proto/src/payload.v1.rs
  rust/libs/proto/src/vald.v1.tonic.rs
  versions/GO_VERSION
Labels: priority/low, area/manager/index, area/filter/ingress, area/filter/egress, area/internal, size/XXXL, area/agent/sidecar, area/tools/cli/loadtest, area/gateway/lb, area/gateway/filter, area/agent/core/ngt, area/gateway/mirror, area/index/job/correction, area/index/job/creation, area/index/job/save, area/index/job/readreplica

#2599 Refactor test checkFunc condition
  internal/test/data/vector/gen_test.go
Labels: type/bug, priority/medium, size/S, area/internal, actions/backport/release/v1.7

#2598 Bugfix NGT flush logic
  pkg/agent/core/ngt/handler/grpc/index.go
  pkg/agent/core/ngt/service/ngt.go
Labels: priority/low, size/M, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, actions/backport/release/v1.7, area/agent/core/ngt

#2602 Backport PR #2599 to release/v1.7 for Refactor test checkFunc condition
  internal/test/data/vector/gen_test.go
Labels: priority/low, area/internal, size/XXXL

#2609 Backport PR #2535 to release/v1.7 for feat/add-otel-rust
  rust/libs/observability/src/config.rs
  rust/libs/observability/src/lib.rs
  rust/libs/observability/src/macros.rs
  rust/libs/observability/src/observability.rs
Labels: priority/low, size/XXXL

#2606 Backport PR #2598 to release/v1.7 for Bugfix NGT flush logic
  pkg/agent/core/ngt/handler/grpc/index.go
  pkg/agent/core/ngt/service/ngt.go
Labels: priority/low, size/XXXL, actions/e2e-deploy, area/agent/core/ngt

#2610 Bugfix vald-helm-operator build error
  Makefile.d/docker.mk
Labels: priority/low, size/S, area/makefile, actions/backport/release/v1.7

#2611 Fix broken links in the document files
  Makefile.d/k8s.mk
  docs/api/insert.md
  docs/api/object.md
  docs/api/remove.md
  docs/api/search.md
  docs/api/update.md
  docs/api/upsert.md
  docs/contributing/coding-style.md
  docs/performance/continuous-benchmark.md
  docs/troubleshooting/client-side.md
  docs/tutorial/get-started-with-faiss-agent.md
  docs/tutorial/vald-multicluster-on-k8s.md
  docs/user-guides/cluster-role-binding.md
  k8s/gateway/gateway/mirror/clusterrole.yaml
  k8s/gateway/gateway/mirror/clusterrolebinding.yaml
  k8s/gateway/gateway/mirror/configmap.yaml
  k8s/gateway/gateway/mirror/deployment.yaml
  k8s/gateway/gateway/mirror/hpa.yaml
  k8s/gateway/gateway/mirror/pdb.yaml
  k8s/gateway/gateway/mirror/priorityclass.yaml
  k8s/gateway/gateway/mirror/serviceaccount.yaml
  k8s/gateway/gateway/mirror/svc.yaml
Labels: priority/low, type/documentation, size/L, area/makefile, actions/backport/release/v1.7

#2612 Backport PR #2610 to release/v1.7 for Bugfix vald-helm-operator build error
  Makefile.d/docker.mk
Labels: priority/low, size/XXXL, area/makefile

#2614 Backport PR #2611 to release/v1.7 for Fix broken links in the document files
  Makefile.d/k8s.mk
  docs/api/insert.md
  docs/api/object.md
  docs/api/remove.md
  docs/api/search.md
  docs/api/update.md
  docs/api/upsert.md
  docs/contributing/coding-style.md
  docs/performance/continuous-benchmark.md
  docs/troubleshooting/client-side.md
  docs/tutorial/get-started-with-faiss-agent.md
  docs/tutorial/vald-multicluster-on-k8s.md
  docs/user-guides/cluster-role-binding.md
  k8s/gateway/gateway/mirror/clusterrole.yaml
  k8s/gateway/gateway/mirror/clusterrolebinding.yaml
  k8s/gateway/gateway/mirror/configmap.yaml
  k8s/gateway/gateway/mirror/deployment.yaml
  k8s/gateway/gateway/mirror/hpa.yaml
  k8s/gateway/gateway/mirror/pdb.yaml
  k8s/gateway/gateway/mirror/priorityclass.yaml
  k8s/gateway/gateway/mirror/serviceaccount.yaml
  k8s/gateway/gateway/mirror/svc.yaml
Labels: priority/low, size/XXXL, area/makefile

#2596 add check context cancel
  internal/backoff/backoff.go
  versions/GO_VERSION
Labels: type/bug, priority/medium, size/S, area/internal, actions/backport/release/v1.7

#2620 [Bugfix] agent service test
  .gitfiles
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/dockers-agent-faiss-image.yaml
  .github/workflows/dockers-agent-image.yaml
  .github/workflows/dockers-agent-ngt-image.yaml
  .github/workflows/dockers-agent-sidecar-image.yaml
  .github/workflows/dockers-benchmark-job-image.yaml
  .github/workflows/dockers-benchmark-operator-image.yaml
  .github/workflows/dockers-binfmt-image.yaml
  .github/workflows/dockers-buildbase-image.yaml
  .github/workflows/dockers-buildkit-image.yaml
  .github/workflows/dockers-buildkit-syft-scanner-image.yaml
  .github/workflows/dockers-ci-container-image.yaml
  .github/workflows/dockers-dev-container-image.yaml
  .github/workflows/dockers-discoverer-k8s-image.yaml
  .github/workflows/dockers-gateway-filter-image.yaml
  .github/workflows/dockers-gateway-lb-image.yaml
  .github/workflows/dockers-gateway-mirror-image.yaml
  .github/workflows/dockers-helm-operator-image.yaml
  .github/workflows/dockers-index-correction-image.yaml
  .github/workflows/dockers-index-creation-image.yaml
  .github/workflows/dockers-index-operator-image.yaml
  .github/workflows/dockers-index-save-image.yaml
  .github/workflows/dockers-loadtest-image.yaml
  .github/workflows/dockers-manager-index-image.yaml
  .github/workflows/dockers-readreplica-rotate-image.yaml
  dockers/dev/Dockerfile
  example/client/go.mod
  example/client/go.sum
  go.mod
  go.sum
  hack/actions/gen/main.go
  pkg/agent/core/ngt/service/ngt_test.go
  rust/Cargo.lock
  rust/libs/proto/src/filter.egress.v1.tonic.rs
  rust/libs/proto/src/filter.ingress.v1.tonic.rs
  rust/libs/proto/src/vald.v1.tonic.rs
  versions/HELM_VERSION
  versions/PROTOBUF_VERSION
Labels: type/bug, priority/medium, size/L, type/ci, actions/backport/release/v1.7, area/agent/core/ngt

#2623 Update Actions dependency
  versions/actions/GITHUB_CODEQL_ACTION_ANALYZE
  versions/actions/GITHUB_CODEQL_ACTION_AUTOBUILD
  versions/actions/GITHUB_CODEQL_ACTION_INIT
  versions/actions/GITHUB_CODEQL_ACTION_UPLOAD_SARIF
  versions/actions/PETER_EVANS_CREATE_PULL_REQUEST
Labels: priority/low, size/S, actions/backport/release/v1.7

#2608 feat: add usearch
  Makefile
  dockers/ci/base/Dockerfile
  go.mod
  go.sum
  hack/actions/gen/main.go
  hack/docker/gen/main.go
  internal/core/algorithm/usearch/option.go
  internal/core/algorithm/usearch/usearch.go
  internal/core/algorithm/usearch/usearch_test.go
  internal/errors/usearch.go
  versions/USEARCH_VERSION
Labels: type/feature, priority/medium, area/internal, size/XL, area/makefile, actions/backport/release/v1.7

#2589 implement richer error model
  buf.gen.yaml
  dockers/agent/core/agent/Dockerfile
  dockers/ci/base/Dockerfile
  dockers/dev/Dockerfile
  hack/docker/gen/main.go
  rust/Cargo.lock
  rust/bin/agent/Cargo.toml
  rust/bin/agent/src/handler.rs
  rust/bin/agent/src/handler/index.rs
  rust/bin/agent/src/handler/insert.rs
  rust/bin/agent/src/handler/remove.rs
  rust/bin/agent/src/handler/search.rs
  rust/bin/agent/src/handler/update.rs
  rust/bin/agent/src/handler/upsert.rs
  rust/bin/agent/src/main.rs
  rust/libs/algorithm/Cargo.toml
  rust/libs/algorithm/src/lib.rs
  rust/libs/algorithms/ngt/Cargo.toml
  rust/libs/observability/Cargo.toml
  rust/libs/proto/Cargo.toml
  rust/libs/proto/src/filter.egress.v1.tonic.rs
  rust/libs/proto/src/filter.ingress.v1.tonic.rs
  rust/libs/proto/src/lib.rs
  rust/libs/proto/src/meta.v1.tonic.rs
  rust/libs/proto/src/payload.v1.rs
  rust/libs/proto/src/rpc.v1.rs
  rust/libs/proto/src/vald.v1.tonic.rs
Labels: type/feature, priority/medium, size/XXL, actions/backport/release/v1.7

#2629 Update Actions dependency
  versions/actions/PETER_EVANS_CREATE_PULL_REQUEST
  versions/actions/REVIEWDOG_ACTION_HADOLINT
  versions/actions/REVIEWDOG_ACTION_LANGUAGETOOL
Labels: priority/low, size/S

#2634 Add option to disable dns resolve
  apis/grpc/v1/payload/payload.pb.go
  apis/grpc/v1/rpc/errdetails/error_details.pb.go
  internal/net/grpc/client.go
  internal/test/mock/grpc/grpc_client_mock.go
  internal/test/mock/grpc_testify_mock.go
  pkg/gateway/mirror/service/gateway.go
  pkg/gateway/mirror/service/mirror.go
  pkg/gateway/mirror/service/mirror_test.go
Labels: priority/low, size/M, area/manager/index, area/filter/ingress, area/filter/egress, area/internal, area/gateway/lb, area/gateway/filter, actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, actions/backport/release/v1.7, area/gateway/mirror, area/index/job/correction, area/index/job/creation, area/index/job/save, area/index/job/readreplica

#2641 Backport PR #2634 to release/v1.7 for Add option to disable dns resolve
  apis/grpc/v1/payload/payload.pb.go
  apis/grpc/v1/rpc/errdetails/error_details.pb.go
  internal/net/grpc/client.go
  internal/test/mock/grpc/grpc_client_mock.go
  internal/test/mock/grpc_testify_mock.go
  pkg/gateway/mirror/service/gateway.go
  pkg/gateway/mirror/service/mirror.go
  pkg/gateway/mirror/service/mirror_test.go
Labels: priority/low, area/manager/index, area/filter/ingress, area/filter/egress, area/internal, size/XXXL, area/gateway/lb, area/gateway/filter, area/gateway/mirror, area/index/job/correction, area/index/job/creation, area/index/job/save, area/index/job/readreplica

#2642 Backport PR #2636 to release/v1.7 for Bugfix ingress route settings
  charts/vald/templates/gateway/ing.yaml
Labels: priority/low, size/XXXL, area/helm

#2644 refactor(gateway): delete unused file
  pkg/gateway/internal/location/location_test.go
Labels: ci/approved, actions/backport/release/v1.7

#2646 Backport PR #2644 to release/v1.7 for refactor(gateway): delete unused file
  pkg/gateway/internal/location/location_test.go
Labels: size/XXXL

#2660 Update license headers / Format codes
  hack/tools/deadlink/main.go
Labels: priority/low, size/S, actions/backport/release/v1.7
