Repository vdaas/vald, pull requests merged in 2025-09, with the labels that each got.

#3104 [VALD-350] Add retry_until_success_timeout and use it in readreplica CI
  .github/actions/e2e-deploy-vald-readreplica/action.yaml
  .github/actions/e2e-deploy-vald/action.yaml
  .github/e2e/readreplica.yaml
  .github/workflows/e2e.v2.yaml
  Makefile.d/k8s.mk
  tests/v2/e2e/assets/agent_crud.yaml
  tests/v2/e2e/assets/unary_crud.yaml
  tests/v2/e2e/config/config.go
  tests/v2/e2e/config/enums.go
  tests/v2/e2e/crud/agent_test.go
  tests/v2/e2e/crud/grpc_test.go
  tests/v2/e2e/crud/index_test.go
  tests/v2/e2e/crud/modification_test.go
  tests/v2/e2e/crud/object_test.go
  tests/v2/e2e/crud/search_test.go
  tests/v2/e2e/crud/strategy_test.go
Labels: type/feature, priority/medium, size/L, type/ci, area/makefile, actions/backport/release/v1.7, actions/e2e-v2

#3206 Backport PR #3204 to release/v1.7 for Add cert-manager for monitoring
  Makefile.d/k8s.mk
Labels: priority/low, size/XXXL, area/makefile

#3209 Migrate go tool
  Makefile.d/functions.mk
  Makefile.d/proto.mk
  Makefile.d/test.mk
  Makefile.d/tools.mk
  README.md
  go.mod
  go.sum
  hack/go.mod.default
Labels: type/feature, priority/medium, size/XXL, area/makefile, actions/backport/release/v1.7, actions/e2e-v2

#3211 Backport PR #3209 to release/v1.7 for Migrate go tool
  Makefile.d/functions.mk
  Makefile.d/proto.mk
  Makefile.d/test.mk
  Makefile.d/tools.mk
  README.md
  go.mod
  go.sum
  hack/go.mod.default
Labels: priority/low, size/XXXL, area/makefile

#3212 Backport PR #3208 to release/v1.7 for Add opentelemetry collector dashboard
  .gitfiles
  hack/grafana/gen/src/main.go
  hack/grafana/gen/src/otel.go
  k8s/metrics/grafana/dashboards/11-vald-otel-collector.yaml
  k8s/metrics/grafana/deployment.yaml
Labels: priority/low, size/XXXL

#3239 Update default parameters for gRPC
  .github/e2e/index_correction.yaml
  .github/e2e/multi_crud.yaml
  .github/e2e/readreplica.yaml
  .github/e2e/rollout.yaml
  .github/e2e/stream_crud.yaml
  .github/e2e/unary_crud.yaml
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/templates/gateway/ing.yaml
  charts/vald/values.schema.json
  charts/vald/values.yaml
  cmd/index/job/exportation/sample.yaml
  cmd/index/operator/sample.yaml
  k8s/agent/ngt/configmap.yaml
  k8s/discoverer/configmap.yaml
  k8s/gateway/gateway/lb/configmap.yaml
  k8s/gateway/gateway/mirror/configmap.yaml
  k8s/index/job/correction/configmap.yaml
  k8s/index/job/creation/configmap.yaml
  k8s/index/job/deletion/configmap.yaml
  k8s/index/job/save/configmap.yaml
  k8s/index/operator/configmap.yaml
  k8s/manager/index/configmap.yaml
  k8s/readreplica/configmap.yaml
  tests/v2/e2e/assets/agent_crud.yaml
  tests/v2/e2e/assets/index_correction.yaml
  tests/v2/e2e/assets/multi_crud.yaml
  tests/v2/e2e/assets/rollout.yaml
  tests/v2/e2e/assets/stream_crud.yaml
  tests/v2/e2e/assets/unary_crud.yaml
Labels: type/bug, priority/medium, type/ci, size/XXXL, area/helm, actions/backport/release/v1.7

#3238 Backport PR #3226 to release/v1.7 for Add optional tls support for gateway ingress
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/templates/gateway/ing.yaml
  charts/vald/values.yaml
Labels: priority/low, size/XXXL, area/helm

#3230 Added serviceAccountName to lb/filter gateways and bugfix
  charts/vald-helm-operator/crds/valdrelease.yaml
  charts/vald/templates/gateway/filter/deployment.yaml
  charts/vald/templates/gateway/lb/deployment.yaml
  charts/vald/templates/gateway/mirror/deployment.yaml
  charts/vald/values.yaml
Labels: ci/approved, actions/backport/release/v1.7

#3249 fix faiss_create_index_ivfpq
  internal/core/algorithm/faiss/Capi.cpp
Labels: type/bug, priority/medium, size/S, area/internal, actions/backport/release/v1.7
