Repository vdaas/vald, pull requests merged in 2025-07, with the labels that each got.

#3017 [Bugfix] prevent nil pointer panic for internal/config/grpc.go
  .gitfiles
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/dockers-index-exportation-image.yaml
  cmd/index/job/exportation/sample.yaml
  dockers/index/job/exportation/Dockerfile
  go.mod
  go.sum
  internal/config/corrector.go
  internal/config/grpc.go
  internal/config/index_creation.go
  internal/config/index_deleter.go
  internal/config/lb.go
  internal/net/dialer.go
  internal/net/dialer_test.go
  internal/net/grpc/client.go
  internal/net/grpc/pool/pool.go
  internal/net/net.go
  internal/net/net_test.go
  internal/observability/metrics/grpc/grpc.go
  k8s/index/job/exportation/configmap.yaml
  pkg/gateway/lb/handler/grpc/aggregation.go
  pkg/gateway/lb/handler/grpc/search.go
  pkg/index/job/exportation/service/exporter.go
  pkg/index/job/exportation/usecase/exportation.go
  rust/Cargo.lock
  tests/e2e/crud/crud_test.go
  tests/v2/e2e/assets/index_correction.yaml
  tests/v2/e2e/assets/multi_crud.yaml
  tests/v2/e2e/assets/rollout.yaml
  tests/v2/e2e/assets/stream_crud.yaml
  tests/v2/e2e/assets/unary_crud.yaml
  tests/v2/e2e/config/config.go
  versions/BUF_VERSION
  versions/CMAKE_VERSION
  versions/HELM_VERSION
  versions/KUBELINTER_VERSION
  versions/PROMETHEUS_STACK_VERSION
  versions/TELEPRESENCE_VERSION
  versions/actions/DOCKER_SETUP_BUILDX_ACTION
  versions/actions/GITHUB_ISSUE_METRICS
Labels: type/bug, priority/medium, area/internal, type/ci, size/XL, area/gateway/lb, actions/backport/release/v1.7, actions/e2e-v2

#3039 improve rangeConns's performance for Release v1.7.17
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
  example/client/go.mod
  go.mod
  go.sum
  hack/go.mod.default
  internal/net/grpc/client.go
  internal/net/quic/conn.go
  internal/net/quic/conn_test.go
  internal/net/quic/listener.go
  rust/Cargo.lock
  rust/rust-toolchain
  rust/rust-toolchain.toml
  tests/v2/e2e/config/config.go
  tests/v2/e2e/crud/crud_test.go
  tests/v2/e2e/crud/strategy_test.go
  versions/DOCKER_VERSION
  versions/GOLANGCILINT_VERSION
  versions/K3S_VERSION
  versions/KUBECTL_VERSION
  versions/KUBELINTER_VERSION
  versions/NGT_VERSION
  versions/PROMETHEUS_STACK_VERSION
  versions/RUST_VERSION
  versions/TELEPRESENCE_VERSION
  versions/actions/DOCKER_SETUP_BUILDX_ACTION
  versions/actions/GITHUB_CODEQL_ACTION_ANALYZE
  versions/actions/GITHUB_CODEQL_ACTION_AUTOBUILD
  versions/actions/GITHUB_CODEQL_ACTION_INIT
  versions/actions/GITHUB_CODEQL_ACTION_UPLOAD_SARIF
Labels: priority/low, area/internal, type/ci, size/XL, actions/backport/release/v1.7

#3040 [VALD-359] Support Mac C flags
  Makefile
  Makefile.d/functions.mk
Labels: type/feature, priority/medium, size/S, area/makefile, actions/backport/release/v1.7

#3043 hotfix: Support prometheus without container label
  hack/grafana/gen/src/variable.go
  k8s/metrics/grafana/dashboards/00-vald-cluster-overview.yaml
  k8s/metrics/grafana/dashboards/01-vald-agent.yaml
  k8s/metrics/grafana/dashboards/02-vald-discoverer.yaml
  k8s/metrics/grafana/dashboards/05-vald-index-manager.yaml
  k8s/metrics/grafana/dashboards/08-vald-lb-gateway.yaml
  k8s/metrics/grafana/dashboards/09-vald-index-correction.yaml
  k8s/metrics/grafana/dashboards/10-vald-benchmark-operator.yaml
  k8s/metrics/grafana/dashboards/99-vald-agent-memory.yaml
Labels: priority/low, size/S, actions/backport/release/v1.7

#3045 Backport PR #3043 to release/v1.7 for hotfix: Support prometheus without container label
  hack/grafana/gen/src/variable.go
  k8s/metrics/grafana/dashboards/00-vald-cluster-overview.yaml
  k8s/metrics/grafana/dashboards/01-vald-agent.yaml
  k8s/metrics/grafana/dashboards/02-vald-discoverer.yaml
  k8s/metrics/grafana/dashboards/05-vald-index-manager.yaml
  k8s/metrics/grafana/dashboards/08-vald-lb-gateway.yaml
  k8s/metrics/grafana/dashboards/09-vald-index-correction.yaml
  k8s/metrics/grafana/dashboards/10-vald-benchmark-operator.yaml
  k8s/metrics/grafana/dashboards/99-vald-agent-memory.yaml
Labels: priority/low, size/XL

#3050 [VALD-361] Backport changes into release v1.7 by default
  .github/workflows/labeler.yaml
Labels: type/feature, priority/medium, size/S, type/ci, actions/backport/release/v1.7

#3052 Backport PR #3047 to release/v1.7 for hotfix: Handle cherrypick without diff
  .github/workflows/backport.yaml
  .github/workflows/chatops.yaml
Labels: priority/low, type/ci, size/XL

#3059 Add RBAC permissions for DaemonSet access
  charts/vald-helm-operator/templates/clusterrole.yaml
Labels: actions/backport/release/v1.7

#3060 Backport PR #3059 to release/v1.7 for Add RBAC permissions for DaemonSet access
  charts/vald-helm-operator/templates/clusterrole.yaml
Labels: priority/low, size/XL, area/helm

#3062 Backport PR #3061 to release/v1.7 for check port-forward enabled/disabled
  .gitfiles
  CHANGELOG.md
  apis/docs/v1/docs.md
  k8s/agent/clusterrole.yaml
  k8s/agent/clusterrolebinding.yaml
  k8s/agent/daemonset.yaml
  k8s/agent/deployment.yaml
  k8s/agent/faiss/configmap.yaml
  k8s/agent/hpa.yaml
  k8s/agent/networkpolicy.yaml
  k8s/agent/serviceaccount.yaml
  k8s/agent/sidecar/configmap.yaml
  k8s/agent/sidecar/svc.yaml
  k8s/discoverer/daemonset.yaml
  k8s/discoverer/hpa.yaml
  k8s/discoverer/networkpolicy.yaml
  k8s/gateway/gateway/filter/configmap.yaml
  k8s/gateway/gateway/filter/daemonset.yaml
  k8s/gateway/gateway/filter/deployment.yaml
  k8s/gateway/gateway/filter/hpa.yaml
  k8s/gateway/gateway/filter/networkpolicy.yaml
  k8s/gateway/gateway/filter/pdb.yaml
  k8s/gateway/gateway/filter/priorityclass.yaml
  k8s/gateway/gateway/filter/svc.yaml
  k8s/gateway/gateway/lb/daemonset.yaml
  k8s/gateway/gateway/lb/hpa.yaml
  k8s/gateway/gateway/lb/networkpolicy.yaml
  k8s/gateway/gateway/mirror/daemonset.yaml
  k8s/gateway/gateway/mirror/networkpolicy.yaml
  k8s/index/job/correction/networkpolicy.yaml
  k8s/index/job/creation/networkpolicy.yaml
  k8s/index/job/deletion/networkpolicy.yaml
  k8s/index/job/readreplica/rotate/clusterrole.yaml
  k8s/index/job/readreplica/rotate/clusterrolebinding.yaml
  k8s/index/job/readreplica/rotate/configmap.yaml
  k8s/index/job/readreplica/rotate/networkpolicy.yaml
  k8s/index/job/readreplica/rotate/serviceaccount.yaml
  k8s/index/job/save/networkpolicy.yaml
  k8s/manager/index/daemonset.yaml
  k8s/manager/index/networkpolicy.yaml
  k8s/readreplica/deployment.yaml
  k8s/readreplica/hpa.yaml
  k8s/readreplica/networkpolicy.yaml
  k8s/readreplica/pvc.yaml
  k8s/readreplica/snapshot.yaml
  k8s/readreplica/svc.yaml
  tests/v2/e2e/config/config.go
Labels: priority/low, size/XXL

#3063 Added Loop test case for E2E V2
  tests/v2/e2e/assets/unary_crud.yaml
  tests/v2/e2e/config/config.go
  tests/v2/e2e/crud/strategy_test.go
Labels: type/feature, priority/medium, size/M, actions/backport/release/v1.7

#3065 Backport PR #3063 to release/v1.7 for Added Loop test case for E2E V2
  tests/v2/e2e/assets/unary_crud.yaml
  tests/v2/e2e/config/config.go
  tests/v2/e2e/crud/strategy_test.go
Labels: priority/low, size/XXL

#3057 [Feature] Add Production Bidirectional KVS
  .gitfiles
  rust/Cargo.lock
  rust/Cargo.toml
  rust/libs/kvs/Cargo.toml
  rust/libs/kvs/src/lib.rs
  rust/libs/vqueue/src/lib.rs
  rust/rust-toolchain
Labels: type/feature, priority/medium, size/XXL, actions/backport/release/v1.7

#3066 Backport PR #3057 to release/v1.7 for [Feature] Add Production Bidirectional KVS
  .gitfiles
  rust/Cargo.lock
  rust/Cargo.toml
  rust/libs/kvs/Cargo.toml
  rust/libs/kvs/src/lib.rs
  rust/libs/vqueue/src/lib.rs
  rust/rust-toolchain
Labels: priority/low, size/XXL

#3064 Refactor/internal strings/add trim for comparison func
  internal/core/algorithm/faiss/option.go
  internal/core/algorithm/ngt/option.go
  internal/core/algorithm/usearch/option.go
  internal/strings/strings.go
  internal/strings/strings_test.go
  internal/tls/option.go
  tests/v2/e2e/config/config.go
Labels: priority/low, type/refactoring, size/L, area/internal, actions/backport/release/v1.7

#3076 Backport PR #3064 to release/v1.7 for Refactor/internal strings/add trim for comparison func
  internal/core/algorithm/faiss/option.go
  internal/core/algorithm/ngt/option.go
  internal/core/algorithm/usearch/option.go
  internal/strings/strings.go
  internal/strings/strings_test.go
  internal/tls/option.go
  tests/v2/e2e/config/config.go
Labels: priority/low, area/internal, size/XXL

#3074 Add Agent Execution for E2E V2
  .gitfiles
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
  example/client/go.mod
  example/client/go.mod.default
  example/client/go.sum
  go.mod
  hack/go.mod.default
  k8s/operator/helm/clusterrole.yaml
  tests/v2/e2e/assets/agent_crud.yaml
  tests/v2/e2e/config/config.go
  tests/v2/e2e/config/enums.go
  tests/v2/e2e/crud/agent_test.go
  tests/v2/e2e/crud/grpc_test.go
  tests/v2/e2e/crud/strategy_test.go
  versions/DOCKER_VERSION
  versions/GOLANGCILINT_VERSION
  versions/GO_VERSION
  versions/HELM_VERSION
  versions/KUBECTL_VERSION
  versions/OPERATOR_SDK_VERSION
  versions/PROMETHEUS_STACK_VERSION
  versions/TELEPRESENCE_VERSION
  versions/USEARCH_VERSION
  versions/YQ_VERSION
  versions/actions/GITHUB_CODEQL_ACTION_ANALYZE
  versions/actions/GITHUB_CODEQL_ACTION_AUTOBUILD
  versions/actions/GITHUB_CODEQL_ACTION_INIT
  versions/actions/GITHUB_CODEQL_ACTION_UPLOAD_SARIF
  versions/actions/GITHUB_ISSUE_METRICS
Labels: type/feature, priority/medium, type/ci, size/XXL, actions/backport/release/v1.7

#3010 [VALD-147] Implement MetricMiddleware
  rust/Cargo.lock
  rust/bin/agent/Cargo.toml
  rust/bin/agent/src/handler/common.rs
  rust/bin/agent/src/main.rs
  rust/bin/agent/src/middleware.rs
Labels: type/feature, priority/medium, size/L, actions/backport/release/v1.7
