Repository vdaas/vald, pull requests merged in 2025-05, with the labels that each got.

#2961 [VALD-334] fix broken LFS files
  assets/docs/guides/observability-configuration/architecture.png
  assets/docs/guides/operations/grafana-example.png
  assets/docs/guides/read-replica-and-rotator/architecture.png
  assets/docs/overview/component/agent/ngt.png
  assets/docs/overview/component/agent/sidecar_backup.png
  assets/docs/overview/component/agent/sidecar_restore.png
  assets/docs/overview/component/mirror-gateway/full-mesh-connection.png
  assets/docs/overview/component/mirror-gateway/mirror-gateway.png
  assets/docs/overview/component/mirror-gateway/request-forwarding.png
  assets/docs/performance/benchmark-grafana.png
  assets/docs/tutorial/vald-multicluster-on-k8s.png
  assets/docs/usecase/usecase_audio.png
  assets/docs/usecase/usecase_data.png
  assets/docs/usecase/usecase_image.png
  assets/docs/usecase/usecase_text.png
  assets/image/ai/Vald_logo_CMYK.ai
  assets/image/ai/Vald_logo_RGB.ai
  assets/image/png/graphic.png
  assets/image/png/logo.png
  assets/image/png/logo_darkgray.png
  assets/image/png/logo_white.png
  assets/image/png/symbol.png
  assets/image/png/symbol_darkgray.png
  assets/image/png/symbol_white.png
  assets/image/vald-users/japansearch_color.png
  assets/image/vald-users/lycorp.png
  assets/image/vald-users/lycorp_black.png
  assets/image/vald-users/lycorp_white.png
  design/vald_architecture_overview.png
Labels: type/bug, priority/medium, size/XXXL, actions/backport/release/v1.7

#2962 Backport PR #2961 to release/v1.7 for [VALD-334] fix broken LFS files
  assets/docs/guides/observability-configuration/architecture.png
  assets/docs/guides/operations/grafana-example.png
  assets/docs/guides/read-replica-and-rotator/architecture.png
  assets/docs/overview/component/agent/ngt.png
  assets/docs/overview/component/agent/sidecar_backup.png
  assets/docs/overview/component/agent/sidecar_restore.png
  assets/docs/overview/component/mirror-gateway/full-mesh-connection.png
  assets/docs/overview/component/mirror-gateway/mirror-gateway.png
  assets/docs/overview/component/mirror-gateway/request-forwarding.png
  assets/docs/performance/benchmark-grafana.png
  assets/docs/tutorial/vald-multicluster-on-k8s.png
  assets/docs/usecase/usecase_audio.png
  assets/docs/usecase/usecase_data.png
  assets/docs/usecase/usecase_image.png
  assets/docs/usecase/usecase_text.png
  assets/image/ai/Vald_logo_CMYK.ai
  assets/image/ai/Vald_logo_RGB.ai
  assets/image/png/graphic.png
  assets/image/png/logo.png
  assets/image/png/logo_darkgray.png
  assets/image/png/logo_white.png
  assets/image/png/symbol.png
  assets/image/png/symbol_darkgray.png
  assets/image/png/symbol_white.png
  assets/image/vald-users/japansearch_color.png
  assets/image/vald-users/lycorp.png
  assets/image/vald-users/lycorp_black.png
  assets/image/vald-users/lycorp_white.png
  design/vald_architecture_overview.png
Labels: priority/low, size/XXXL

#2954 [VALD-321] Avoid concurrent assignment of stream client in RoundRobin
  internal/client/v1/client/agent/core/client.go
  internal/client/v1/client/discoverer/discover.go
  internal/client/v1/client/filter/egress/client.go
  internal/client/v1/client/filter/ingress/client.go
  internal/client/v1/client/mirror/mirror.go
  internal/client/v1/client/vald/vald.go
  internal/errors/grpc.go
  internal/net/grpc/client.go
Labels: priority/low, size/L, area/internal, actions/backport/release/v1.7

#2975 Backport PR #2954 to release/v1.7 for [VALD-321] Avoid concurrent assignment of stream client in RoundRobin
  internal/client/v1/client/agent/core/client.go
  internal/client/v1/client/discoverer/discover.go
  internal/client/v1/client/filter/egress/client.go
  internal/client/v1/client/filter/ingress/client.go
  internal/client/v1/client/mirror/mirror.go
  internal/client/v1/client/vald/vald.go
  internal/errors/grpc.go
  internal/net/grpc/client.go
Labels: priority/low, area/internal, size/XXXL

#2982 Backport PR #2977 to release/v1.7 for fix: make format has conflicts in some targets
  Makefile
Labels: priority/low, size/XXXL, area/makefile

#2981 [VALD-148] hotfix: Fix name & despcription of metrics
  hack/grafana/gen/src/const.go
  internal/observability/metrics/agent/core/ngt/ngt.go
  internal/observability/metrics/grpc/grpc.go
  internal/observability/metrics/mem/index/index.go
  internal/observability/metrics/mem/mem.go
  internal/observability/metrics/tools/benchmark/benchmark.go
  k8s/metrics/grafana/dashboards/99-vald-agent-memory.yaml
Labels: priority/low, size/S, area/internal, actions/backport/release/v1.7

#2984 Backport PR #2981 to release/v1.7 for [VALD-148] hotfix: Fix name & despcription of metrics
  hack/grafana/gen/src/const.go
  internal/observability/metrics/agent/core/ngt/ngt.go
  internal/observability/metrics/grpc/grpc.go
  internal/observability/metrics/mem/index/index.go
  internal/observability/metrics/mem/mem.go
  internal/observability/metrics/tools/benchmark/benchmark.go
  k8s/metrics/grafana/dashboards/99-vald-agent-memory.yaml
Labels: priority/low, area/internal, size/XXXL

#2985 Backport PR #2980 to release/v1.7 for Automatic conflict resolution for go.mod & go.sum
  .github/workflows/backport.yaml
Labels: priority/low, type/ci, size/XXXL

#2990 Backport PR #2950 to release/v1.7 for [VALD-319] E2E V2 CI
  .gitfiles
  .github/actions/e2e-profile/action.yaml
  .github/actions/setup-e2e/action.yaml
  .github/e2e/multi_crud.yaml
  .github/e2e/stream_crud.yaml
  .github/e2e/unary_crud.yaml
  .github/workflows/e2e.v2.yaml
  tests/v2/e2e/crud/search_test.go
Labels: priority/low, type/ci, size/XXXL, actions/e2e-deploy, actions/e2e-max-dim, actions/e2e-v2
