Repository vdaas/vald, pull requests merged in 2025-03, with the labels that each got.

#2872 implement bidirectional_stream
  .github/workflows/unit-test-rust.yaml
  Makefile.d/test.mk
  rust/Cargo.lock
  rust/bin/agent/Cargo.toml
  rust/bin/agent/src/handler/common.rs
Labels: type/feature, priority/medium, size/L, type/ci, area/makefile

#2879 [Backport] implement bidirectional_stream (#2872)
  .github/workflows/unit-test-rust.yaml
  Makefile.d/test.mk
  rust/Cargo.lock
  rust/bin/agent/Cargo.toml
  rust/bin/agent/src/handler/common.rs
Labels: priority/low, type/ci, size/XXXL, area/makefile

#2876 fix getting k3d version
  .github/actions/setup-k3d/action.yaml
Labels: type/bug, priority/medium, size/S, type/ci, actions/backport/release/v1.7

#2881 Backport PR #2876 to release/v1.7 for fix getting k3d version
  .github/actions/setup-k3d/action.yaml
Labels: priority/low, type/ci, size/XXXL

#2878 correct distance_type lorentz value to match schema
  internal/core/algorithm/ngt/ngt.go
  internal/core/algorithm/ngt/option.go
Labels: type/bug, ci/approved, actions/backport/release/v1.7

#2883 Backport PR #2878 to release/v1.7 for correct distance_type lorentz value to match schema
  internal/core/algorithm/ngt/ngt.go
  internal/core/algorithm/ngt/option.go
Labels: priority/low, area/internal, size/XXXL

#2888 fix log in MultiUpdate
  pkg/agent/core/ngt/handler/grpc/update.go
Labels: priority/low, type/refactoring, size/S, actions/backport/release/v1.7, area/agent/core/ngt

#2889 Backport PR #2888 to release/v1.7 for fix log in MultiUpdate
  pkg/agent/core/ngt/handler/grpc/update.go
Labels: priority/low, size/XXXL, area/agent/core/ngt

#2890 fix checking and installation k3d
  .github/actions/setup-k3d/action.yaml
  Makefile
  Makefile.d/dependencies.mk
  Makefile.d/k3d.mk
  tests/e2e/performance/max_vector_dim_test.go
  versions/K3D_VERSION
Labels: type/bug, priority/medium, size/S, type/ci, area/makefile, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, actions/backport/release/v1.7

#2891 Backport PR #2890 to release/v1.7 for fix checking and installation k3d
  .github/actions/setup-k3d/action.yaml
  Makefile
  Makefile.d/dependencies.mk
  Makefile.d/k3d.mk
  tests/e2e/performance/max_vector_dim_test.go
  versions/K3D_VERSION
Labels: priority/low, type/ci, size/XXXL, area/makefile

#2893 remove k3d install step
  .github/actions/setup-k3d/action.yaml
Labels: type/bug, priority/medium, size/S, type/ci, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim
