Repository vdaas/vald, pull requests merged in 2025-02, with the labels that each got.

#2829 Add TEST_LDFLAGS
  Makefile
  Makefile.d/bench.mk
  Makefile.d/functions.mk
  Makefile.d/test.mk
Labels: priority/low, size/M, area/makefile, actions/backport/release/v1.7

#2830 Backport PR #2829 to release/v1.7 for Add TEST_LDFLAGS
  Makefile
  Makefile.d/bench.mk
  Makefile.d/functions.mk
  Makefile.d/test.mk
Labels: priority/low, size/XXXL, area/makefile

#2803 refactor: Use generics in function of bidirectional stream
  internal/net/grpc/stream.go
  pkg/tools/cli/loadtest/service/insert.go
  pkg/tools/cli/loadtest/service/loader.go
  pkg/tools/cli/loadtest/service/search.go
Labels: actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, actions/backport/release/v1.7

#2837 bug fix build option for test command
  .github/workflows/unit-test.yaml
  Makefile.d/test.mk
  example/client/go.mod
  example/client/go.mod.default
  example/client/go.sum
  go.mod
  go.sum
  hack/go.mod.default
  versions/GO_VERSION
Labels: type/bug, priority/medium, type/ci, size/XL, area/makefile, actions/backport/release/v1.7

#2841 Backport PR #2837 to release/v1.7 for bug fix build option for test command
  .github/workflows/unit-test.yaml
  Makefile.d/test.mk
  example/client/go.mod
  example/client/go.mod.default
  example/client/go.sum
  go.mod
  go.sum
  hack/go.mod.default
  versions/GO_VERSION
Labels: priority/low, type/ci, size/XXXL, area/makefile

#2839 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: priority/low, type/documentation, size/S, type/ci, actions/backport/release/v1.7

#2833 Backport PR #2803 to release/v1.7 for refactor: Use generics in function of bidirectional stream
  internal/net/grpc/stream.go
  pkg/tools/cli/loadtest/service/insert.go
  pkg/tools/cli/loadtest/service/loader.go
  pkg/tools/cli/loadtest/service/search.go
Labels: priority/low, area/internal, size/XXXL, area/tools/cli/loadtest

#2831 inject kubeconfig option
  tests/e2e/crud/crud_test.go
  tests/e2e/kubernetes/kubectl/kubectl.go
Labels: priority/low, size/XL, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, actions/backport/release/v1.7

#2848 Remove update/go from go/deps cmd
  Makefile.d/dependencies.mk
Labels: priority/low, type/refactoring, size/S, area/makefile, actions/backport/release/v1.7

#2846 Backport PR #2831 to release/v1.7 for inject kubeconfig option
  tests/e2e/crud/crud_test.go
  tests/e2e/kubernetes/kubectl/kubectl.go
Labels: priority/low, size/XXXL

#2852 Backport PR #2848 to release/v1.7 for Remove update/go from go/deps cmd
  Makefile.d/dependencies.mk
Labels: priority/low, size/XXXL, area/makefile

#2850 Go v1.24.0 migration
  Makefile
  Makefile.d/test.mk
  example/client/go.mod
  example/client/go.mod.default
  example/client/go.sum
  go.mod
  go.sum
  hack/go.mod.default
  rust/Cargo.lock
  versions/GO_VERSION
Labels: type/bug, priority/medium, size/XL, area/makefile, actions/backport/release/v1.7

#2851 Enable retain line breaks
  .github/workflows/dockers-agent-faiss-image.yaml
  .github/workflows/dockers-agent-image.yaml
  .github/workflows/dockers-agent-ngt-image.yaml
  .github/workflows/dockers-agent-sidecar-image.yaml
  .github/workflows/dockers-benchmark-job-image.yaml
  .github/workflows/dockers-benchmark-operator-image.yaml
  .github/workflows/dockers-binfmt-image.yaml
  .github/workflows/dockers-buildbase-image.yaml
  .github/workflows/dockers-buildkit-image.yaml
  .github/workflows/dockers-buildkit-syft-scanner-image.yaml
  .github/workflows/dockers-ci-container-image.yaml
  .github/workflows/dockers-dev-container-image.yaml
  .github/workflows/dockers-discoverer-k8s-image.yaml
  .github/workflows/dockers-example-client-image.yaml
  .github/workflows/dockers-gateway-filter-image.yaml
  .github/workflows/dockers-gateway-lb-image.yaml
  .github/workflows/dockers-gateway-mirror-image.yaml
  .github/workflows/dockers-helm-operator-image.yaml
  .github/workflows/dockers-index-correction-image.yaml
  .github/workflows/dockers-index-creation-image.yaml
  .github/workflows/dockers-index-deletion-image.yaml
  .github/workflows/dockers-index-operator-image.yaml
  .github/workflows/dockers-index-save-image.yaml
  .github/workflows/dockers-loadtest-image.yaml
  .github/workflows/dockers-manager-index-image.yaml
  .github/workflows/dockers-readreplica-rotate-image.yaml
  .yamlfmt
  charts/vald-benchmark-operator/schemas/job-values.yaml
  charts/vald-benchmark-operator/schemas/scenario-values.yaml
  charts/vald-benchmark-operator/values.yaml
  charts/vald-helm-operator/values.yaml
  charts/vald/schemas/mirror-target-values.yaml
  charts/vald/values.yaml
Labels: type/bug, priority/medium, size/S, type/ci, area/helm, actions/backport/release/v1.7

#2857 Backport PR #2851 to release/v1.7 for Enable retain line breaks
  .github/workflows/dockers-agent-faiss-image.yaml
  .github/workflows/dockers-agent-image.yaml
  .github/workflows/dockers-agent-ngt-image.yaml
  .github/workflows/dockers-agent-sidecar-image.yaml
  .github/workflows/dockers-benchmark-job-image.yaml
  .github/workflows/dockers-benchmark-operator-image.yaml
  .github/workflows/dockers-binfmt-image.yaml
  .github/workflows/dockers-buildbase-image.yaml
  .github/workflows/dockers-buildkit-image.yaml
  .github/workflows/dockers-buildkit-syft-scanner-image.yaml
  .github/workflows/dockers-ci-container-image.yaml
  .github/workflows/dockers-dev-container-image.yaml
  .github/workflows/dockers-discoverer-k8s-image.yaml
  .github/workflows/dockers-example-client-image.yaml
  .github/workflows/dockers-gateway-filter-image.yaml
  .github/workflows/dockers-gateway-lb-image.yaml
  .github/workflows/dockers-gateway-mirror-image.yaml
  .github/workflows/dockers-helm-operator-image.yaml
  .github/workflows/dockers-index-correction-image.yaml
  .github/workflows/dockers-index-creation-image.yaml
  .github/workflows/dockers-index-deletion-image.yaml
  .github/workflows/dockers-index-operator-image.yaml
  .github/workflows/dockers-index-save-image.yaml
  .github/workflows/dockers-loadtest-image.yaml
  .github/workflows/dockers-manager-index-image.yaml
  .github/workflows/dockers-readreplica-rotate-image.yaml
  .yamlfmt
  charts/vald-benchmark-operator/schemas/job-values.yaml
  charts/vald-benchmark-operator/schemas/scenario-values.yaml
  charts/vald-benchmark-operator/values.yaml
  charts/vald-helm-operator/values.yaml
  charts/vald/schemas/mirror-target-values.yaml
  charts/vald/values.yaml
Labels: priority/low, type/ci, size/XXXL, area/helm

#2854 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: priority/low, type/documentation, size/S, type/ci, actions/backport/release/v1.7

#2818 Add offset shift vector check
  tests/e2e/crud/crud_test.go
  tests/e2e/operation/operation.go
  tests/e2e/operation/stream.go
Labels: type/bug, priority/medium, size/XL, area/helm, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, actions/backport/release/v1.7

#2860 Backport PR #2818 to release/v1.7 for Add offset shift vector check
  tests/e2e/crud/crud_test.go
  tests/e2e/operation/operation.go
  tests/e2e/operation/stream.go
Labels: priority/low, size/XXXL

#2821 add qbg-hander config
  cmd/agent/core/qbg/sample.yaml
  rust/Cargo.lock
  rust/bin/agent/Cargo.toml
  rust/bin/agent/src/main.rs
Labels: type/feature, priority/medium, size/L, actions/backport/release/v1.7

#2862 Add log in qbg-handler
  rust/Cargo.lock
  rust/bin/agent/Cargo.toml
  rust/bin/agent/src/handler/index.rs
  rust/bin/agent/src/handler/insert.rs
  rust/bin/agent/src/handler/object.rs
  rust/bin/agent/src/handler/remove.rs
  rust/bin/agent/src/handler/search.rs
  rust/bin/agent/src/handler/update.rs
  rust/bin/agent/src/handler/upsert.rs
  rust/bin/agent/src/main.rs
Labels: type/feature, priority/medium, size/L, actions/backport/release/v1.7

#2865 Backport PR #2862 to release/v1.7 for Add log in qbg-handler
  rust/Cargo.lock
  rust/bin/agent/Cargo.toml
  rust/bin/agent/src/handler/index.rs
  rust/bin/agent/src/handler/insert.rs
  rust/bin/agent/src/handler/object.rs
  rust/bin/agent/src/handler/remove.rs
  rust/bin/agent/src/handler/search.rs
  rust/bin/agent/src/handler/update.rs
  rust/bin/agent/src/handler/upsert.rs
  rust/bin/agent/src/main.rs
Labels: priority/low, size/XXXL

#2864 [CI] Add Label Event for Docker build trigger from forked PRs
  .github/workflows/_docker-image.yaml
  .github/workflows/dockers-agent-faiss-image.yaml
  .github/workflows/dockers-agent-image.yaml
  .github/workflows/dockers-agent-ngt-image.yaml
  .github/workflows/dockers-agent-sidecar-image.yaml
  .github/workflows/dockers-benchmark-job-image.yaml
  .github/workflows/dockers-benchmark-operator-image.yaml
  .github/workflows/dockers-binfmt-image.yaml
  .github/workflows/dockers-buildbase-image.yaml
  .github/workflows/dockers-buildkit-image.yaml
  .github/workflows/dockers-buildkit-syft-scanner-image.yaml
  .github/workflows/dockers-ci-container-image.yaml
  .github/workflows/dockers-dev-container-image.yaml
  .github/workflows/dockers-discoverer-k8s-image.yaml
  .github/workflows/dockers-example-client-image.yaml
  .github/workflows/dockers-gateway-filter-image.yaml
  .github/workflows/dockers-gateway-lb-image.yaml
  .github/workflows/dockers-gateway-mirror-image.yaml
  .github/workflows/dockers-helm-operator-image.yaml
  .github/workflows/dockers-index-correction-image.yaml
  .github/workflows/dockers-index-creation-image.yaml
  .github/workflows/dockers-index-deletion-image.yaml
  .github/workflows/dockers-index-operator-image.yaml
  .github/workflows/dockers-index-save-image.yaml
  .github/workflows/dockers-loadtest-image.yaml
  .github/workflows/dockers-manager-index-image.yaml
  .github/workflows/dockers-readreplica-rotate-image.yaml
  .github/workflows/unit-test-rust.yaml
  dockers/agent/core/agent/Dockerfile
  dockers/agent/core/faiss/Dockerfile
  dockers/agent/core/ngt/Dockerfile
  dockers/agent/sidecar/Dockerfile
  dockers/binfmt/Dockerfile
  dockers/buildbase/Dockerfile
  dockers/buildkit/Dockerfile
  dockers/buildkit/syft/scanner/Dockerfile
  dockers/ci/base/Dockerfile
  dockers/dev/Dockerfile
  dockers/discoverer/k8s/Dockerfile
  dockers/example/client/Dockerfile
  dockers/gateway/filter/Dockerfile
  dockers/gateway/lb/Dockerfile
  dockers/gateway/mirror/Dockerfile
  dockers/index/job/correction/Dockerfile
  dockers/index/job/creation/Dockerfile
  dockers/index/job/deletion/Dockerfile
  dockers/index/job/readreplica/rotate/Dockerfile
  dockers/index/job/save/Dockerfile
  dockers/index/operator/Dockerfile
  dockers/manager/index/Dockerfile
  dockers/operator/helm/Dockerfile
  dockers/tools/benchmark/job/Dockerfile
  dockers/tools/benchmark/operator/Dockerfile
  dockers/tools/cli/loadtest/Dockerfile
  hack/docker/gen/main.go
Labels: priority/low, size/M, type/ci, actions/backport/release/v1.7

#2823 implement meta and apply observability to meta
  rust/Cargo.lock
  rust/bin/agent/Cargo.toml
  rust/bin/meta/Cargo.toml
  rust/bin/meta/src/handler.rs
  rust/bin/meta/src/handler/meta.rs
  rust/bin/meta/src/main.rs
  rust/bin/meta/src/test_client.rs
  rust/libs/algorithm/Cargo.toml
  rust/libs/algorithms/ngt/Cargo.toml
  rust/libs/algorithms/qbg/Cargo.toml
  rust/libs/observability/Cargo.toml
  rust/libs/observability/src/lib.rs
  rust/libs/observability/src/macros.rs
  rust/libs/observability/src/observability.rs
  rust/libs/proto/Cargo.toml
  rust/rust-toolchain
  rust/rust-toolchain.toml
  versions/RUST_VERSION
Labels: type/feature, priority/medium, size/XXL, actions/backport/release/v1.7

#2866 Backport PR #2864 to release/v1.7 for [CI] Add Label Event for Docker build trigger from forked PRs
  .github/workflows/_docker-image.yaml
  .github/workflows/dockers-agent-faiss-image.yaml
  .github/workflows/dockers-agent-image.yaml
  .github/workflows/dockers-agent-ngt-image.yaml
  .github/workflows/dockers-agent-sidecar-image.yaml
  .github/workflows/dockers-benchmark-job-image.yaml
  .github/workflows/dockers-benchmark-operator-image.yaml
  .github/workflows/dockers-binfmt-image.yaml
  .github/workflows/dockers-buildbase-image.yaml
  .github/workflows/dockers-buildkit-image.yaml
  .github/workflows/dockers-buildkit-syft-scanner-image.yaml
  .github/workflows/dockers-ci-container-image.yaml
  .github/workflows/dockers-dev-container-image.yaml
  .github/workflows/dockers-discoverer-k8s-image.yaml
  .github/workflows/dockers-example-client-image.yaml
  .github/workflows/dockers-gateway-filter-image.yaml
  .github/workflows/dockers-gateway-lb-image.yaml
  .github/workflows/dockers-gateway-mirror-image.yaml
  .github/workflows/dockers-helm-operator-image.yaml
  .github/workflows/dockers-index-correction-image.yaml
  .github/workflows/dockers-index-creation-image.yaml
  .github/workflows/dockers-index-deletion-image.yaml
  .github/workflows/dockers-index-operator-image.yaml
  .github/workflows/dockers-index-save-image.yaml
  .github/workflows/dockers-loadtest-image.yaml
  .github/workflows/dockers-manager-index-image.yaml
  .github/workflows/dockers-readreplica-rotate-image.yaml
  .github/workflows/unit-test-rust.yaml
  dockers/agent/core/agent/Dockerfile
  dockers/agent/core/faiss/Dockerfile
  dockers/agent/core/ngt/Dockerfile
  dockers/agent/sidecar/Dockerfile
  dockers/binfmt/Dockerfile
  dockers/buildbase/Dockerfile
  dockers/buildkit/Dockerfile
  dockers/buildkit/syft/scanner/Dockerfile
  dockers/ci/base/Dockerfile
  dockers/dev/Dockerfile
  dockers/discoverer/k8s/Dockerfile
  dockers/example/client/Dockerfile
  dockers/gateway/filter/Dockerfile
  dockers/gateway/lb/Dockerfile
  dockers/gateway/mirror/Dockerfile
  dockers/index/job/correction/Dockerfile
  dockers/index/job/creation/Dockerfile
  dockers/index/job/deletion/Dockerfile
  dockers/index/job/readreplica/rotate/Dockerfile
  dockers/index/job/save/Dockerfile
  dockers/index/operator/Dockerfile
  dockers/manager/index/Dockerfile
  dockers/operator/helm/Dockerfile
  dockers/tools/benchmark/job/Dockerfile
  dockers/tools/benchmark/operator/Dockerfile
  dockers/tools/cli/loadtest/Dockerfile
  hack/docker/gen/main.go
Labels: priority/low, type/ci, size/XXXL

#2868 Backport PR #2823 to release/v1.7 for implement meta and apply observability to meta
  rust/Cargo.lock
  rust/bin/agent/Cargo.toml
  rust/bin/meta/Cargo.toml
  rust/bin/meta/src/handler.rs
  rust/bin/meta/src/handler/meta.rs
  rust/bin/meta/src/main.rs
  rust/bin/meta/src/test_client.rs
  rust/libs/algorithm/Cargo.toml
  rust/libs/algorithms/ngt/Cargo.toml
  rust/libs/algorithms/qbg/Cargo.toml
  rust/libs/observability/Cargo.toml
  rust/libs/observability/src/lib.rs
  rust/libs/observability/src/macros.rs
  rust/libs/observability/src/observability.rs
  rust/libs/proto/Cargo.toml
  rust/rust-toolchain
  rust/rust-toolchain.toml
  versions/RUST_VERSION
Labels: priority/low, size/XXXL

#2870 Backport PR #2832 to release/v1.7 for Add metadata to target host for benchmark job
  charts/vald-benchmark-operator/crds/valdbenchmarkjob.yaml
  charts/vald-benchmark-operator/crds/valdbenchmarkscenario.yaml
  charts/vald-benchmark-operator/schemas/job-values.schema.json
  charts/vald-benchmark-operator/schemas/job-values.yaml
  charts/vald-benchmark-operator/schemas/scenario-values.schema.json
  charts/vald-benchmark-operator/schemas/scenario-values.yaml
  charts/vald-benchmark-operator/values/benchmark-job.yaml
  charts/vald-benchmark-operator/values/benchmark-scenario.yaml
  example/helm/benchmark/job-values.yaml
  example/helm/benchmark/scenario-values.yaml
  internal/config/benchmark.go
  internal/net/grpc/metadata.go
  k8s/tools/benchmark/operator/crds/valdbenchmarkjob.yaml
  k8s/tools/benchmark/operator/crds/valdbenchmarkscenario.yaml
  pkg/tools/benchmark/job/service/job.go
  pkg/tools/benchmark/job/service/option.go
  pkg/tools/benchmark/job/usecase/benchmarkd.go
Labels: priority/low, area/internal, size/XXXL, area/helm

#2867 Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: priority/low, type/documentation, size/S, type/ci, actions/backport/release/v1.7

#2873 Backport PR #2867 to release/v1.7 for Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: priority/low, type/ci, size/XXXL
