Repository vdaas/vald, pull requests merged in 2025-10, with the labels that each got.

#3258 hotfix: docker build failure on GitHub Actions
  .github/workflows/dockers-agent-faiss-image.yaml
  .github/workflows/dockers-agent-image.yaml
  .github/workflows/dockers-agent-ngt-image.yaml
  .github/workflows/dockers-agent-sidecar-image.yaml
  .github/workflows/dockers-benchmark-job-image.yaml
  .github/workflows/dockers-benchmark-operator-image.yaml
  .github/workflows/dockers-binfmt-image.yaml
  .github/workflows/dockers-buildbase-image.yaml
  .github/workflows/dockers-buildkit-image.yaml
  .github/workflows/dockers-buildkit-syft-scanner-image.yaml
  .github/workflows/dockers-ci-container-image.yaml
  .github/workflows/dockers-dev-container-image.yaml
  .github/workflows/dockers-discoverer-k8s-image.yaml
  .github/workflows/dockers-e2e-image.yaml
  .github/workflows/dockers-example-client-image.yaml
  .github/workflows/dockers-gateway-filter-image.yaml
  .github/workflows/dockers-gateway-lb-image.yaml
  .github/workflows/dockers-gateway-mirror-image.yaml
  .github/workflows/dockers-helm-operator-image.yaml
  .github/workflows/dockers-index-correction-image.yaml
  .github/workflows/dockers-index-creation-image.yaml
  .github/workflows/dockers-index-deletion-image.yaml
  .github/workflows/dockers-index-exportation-image.yaml
  .github/workflows/dockers-index-operator-image.yaml
  .github/workflows/dockers-index-save-image.yaml
  .github/workflows/dockers-manager-index-image.yaml
  .github/workflows/dockers-readreplica-rotate-image.yaml
  .github/workflows/labeler.yaml
  .github/workflows/reviewdog.yaml
  Makefile.d/build.mk
  hack/docker/gen/main.go
Labels: type/bug, priority/medium, size/S, type/ci, area/makefile, actions/backport/release/v1.7

#3262 Fix joining architectures
  .github/workflows/_docker-image.yaml
Labels: type/bug, priority/medium, size/S, type/ci, actions/backport/release/v1.7, actions/build/amd64

#3270 Backport PR #3258 to release/v1.7 for hotfix: docker build failure on GitHub Actions
  .github/workflows/dockers-agent-faiss-image.yaml
  .github/workflows/dockers-agent-image.yaml
  .github/workflows/dockers-agent-ngt-image.yaml
  .github/workflows/dockers-agent-sidecar-image.yaml
  .github/workflows/dockers-benchmark-job-image.yaml
  .github/workflows/dockers-benchmark-operator-image.yaml
  .github/workflows/dockers-binfmt-image.yaml
  .github/workflows/dockers-buildbase-image.yaml
  .github/workflows/dockers-buildkit-image.yaml
  .github/workflows/dockers-buildkit-syft-scanner-image.yaml
  .github/workflows/dockers-ci-container-image.yaml
  .github/workflows/dockers-dev-container-image.yaml
  .github/workflows/dockers-discoverer-k8s-image.yaml
  .github/workflows/dockers-e2e-image.yaml
  .github/workflows/dockers-example-client-image.yaml
  .github/workflows/dockers-gateway-filter-image.yaml
  .github/workflows/dockers-gateway-lb-image.yaml
  .github/workflows/dockers-gateway-mirror-image.yaml
  .github/workflows/dockers-helm-operator-image.yaml
  .github/workflows/dockers-index-correction-image.yaml
  .github/workflows/dockers-index-creation-image.yaml
  .github/workflows/dockers-index-deletion-image.yaml
  .github/workflows/dockers-index-exportation-image.yaml
  .github/workflows/dockers-index-operator-image.yaml
  .github/workflows/dockers-index-save-image.yaml
  .github/workflows/dockers-manager-index-image.yaml
  .github/workflows/dockers-readreplica-rotate-image.yaml
  .github/workflows/labeler.yaml
  .github/workflows/reviewdog.yaml
  Makefile.d/build.mk
  hack/docker/gen/main.go
Labels: priority/low, type/ci, size/XXXL, area/makefile, actions/build/amd64

#3268 hotfix: build target architecture for main branch
  .github/workflows/_docker-image.yaml
Labels: type/bug, priority/medium, size/S, type/ci, actions/backport/release/v1.7, actions/build/amd64
