Repository vdaas/vald, pull requests merged in 2025-06, with the labels that each got.

#2971 [VALD-336] Implement expect in E2E v2 to assert API results
  .gitfiles
  .github/actions/setup-e2e/action.yaml
  .github/e2e/multi_crud.yaml
  .github/e2e/stream_crud.yaml
  .github/e2e/unary_crud.yaml
  .github/workflows/e2e.v2.yaml
  internal/jsonpath/jsonpath.go
  internal/jsonpath/jsonpath_test.go
  tests/v2/e2e/assets/multi_crud.yaml
  tests/v2/e2e/assets/rollout.yaml
  tests/v2/e2e/assets/stream_crud.yaml
  tests/v2/e2e/assets/unary_crud.yaml
  tests/v2/e2e/config/config.go
  tests/v2/e2e/config/enums.go
  tests/v2/e2e/crud/grpc_test.go
  tests/v2/e2e/crud/object_test.go
Labels: type/test, priority/low, size/L, area/internal, type/ci, actions/backport/release/v1.7, actions/e2e-v2

#2996 Backport PR #2971 to release/v1.7 for [VALD-336] Implement expect in E2E v2 to assert API results
  .gitfiles
  .github/actions/setup-e2e/action.yaml
  .github/e2e/multi_crud.yaml
  .github/e2e/stream_crud.yaml
  .github/e2e/unary_crud.yaml
  .github/workflows/e2e.v2.yaml
  internal/jsonpath/jsonpath.go
  internal/jsonpath/jsonpath_test.go
  tests/v2/e2e/assets/multi_crud.yaml
  tests/v2/e2e/assets/rollout.yaml
  tests/v2/e2e/assets/stream_crud.yaml
  tests/v2/e2e/assets/unary_crud.yaml
  tests/v2/e2e/config/config.go
  tests/v2/e2e/config/enums.go
  tests/v2/e2e/crud/grpc_test.go
  tests/v2/e2e/crud/object_test.go
Labels: priority/low, area/internal, type/ci, size/XXXL, actions/e2e-v2

#3000 [VALD-325] E2E V2: Index Correction Job
  .gitfiles
  .github/e2e/index_correction.yaml
  .github/workflows/e2e.v2.yaml
  Makefile
  internal/jsonpath/jsonpath.go
  internal/jsonpath/jsonpath_test.go
  tests/v2/e2e/assets/index_correction.yaml
  tests/v2/e2e/crud/grpc_test.go
  tests/v2/e2e/crud/kubernetes_test.go
  tests/v2/e2e/kubernetes/client.go
  tests/v2/e2e/kubernetes/doc.go
  tests/v2/e2e/kubernetes/resources.go
  tests/v2/e2e/kubernetes/rollout.go
  tests/v2/e2e/kubernetes/status.go
Labels: type/test, priority/low, size/L, area/internal, type/ci, area/makefile, actions/backport/release/v1.7, actions/e2e-v2

#2997 Backport PR #2956 to release/v1.7 for [VALD-322] e2e/v2: Support selector for wait action
  tests/v2/e2e/config/config.go
  tests/v2/e2e/crud/kubernetes_test.go
  tests/v2/e2e/kubernetes/status.go
Labels: priority/low, size/XXXL, actions/e2e-v2

#3004 Backport PR #3000 to release/v1.7 for [VALD-325] E2E V2: Index Correction Job
  .gitfiles
  .github/e2e/index_correction.yaml
  .github/workflows/e2e.v2.yaml
  Makefile
  internal/jsonpath/jsonpath.go
  internal/jsonpath/jsonpath_test.go
  tests/v2/e2e/assets/index_correction.yaml
  tests/v2/e2e/crud/grpc_test.go
  tests/v2/e2e/crud/kubernetes_test.go
  tests/v2/e2e/kubernetes/client.go
  tests/v2/e2e/kubernetes/doc.go
  tests/v2/e2e/kubernetes/resources.go
  tests/v2/e2e/kubernetes/rollout.go
  tests/v2/e2e/kubernetes/status.go
Labels: priority/low, area/internal, type/ci, size/XXXL, area/makefile, actions/e2e-v2

#3005 docs: Fix a typo in the value that specified the service name
  docs/tutorial/vald-agent-standalone-on-k8s.md
Labels: actions/backport/release/v1.7

#3011 Backport PR #3005 to release/v1.7 for docs: Fix a typo in the value that specified the service name
  docs/tutorial/vald-agent-standalone-on-k8s.md
Labels: priority/low, size/XXXL
