Repository vdaas/vald, pull requests merged in 2025-08, with the labels that each got.

#3073 Run E2E Test as a Kubernetes Job
  .gitfiles
  .github/workflows/dockers-e2e-image.yaml
  Makefile
  Makefile.d/build.mk
  Makefile.d/docker.mk
  Makefile.d/functions.mk
  Makefile.d/k8s.mk
  dockers/tests/v2/e2e/Dockerfile
  hack/docker/gen/main.go
  k8s/tests/v2/e2e/job.yaml
  tests/v2/e2e/crud/crud_test.go
Labels: type/feature, priority/medium, size/L, type/ci, area/makefile, actions/backport/release/v1.7

#3178 Try to separate amd64/arm64 builds
  .github/actions/docker-build/action.yaml
  .github/workflows/_docker-image.yaml
  Makefile.d/helm.mk
Labels: type/feature, priority/medium, size/S, type/ci, area/makefile, actions/backport/release/v1.7

#3180 Backport PR #3178 to release/v1.7 for Try to separate amd64/arm64 builds
  .github/actions/docker-build/action.yaml
  .github/workflows/_docker-image.yaml
  Makefile.d/helm.mk
Labels: priority/low, type/ci, size/XXL, area/makefile

#3182 hoftix: Avoid overwrite for ghcr.io
  .github/workflows/_docker-image.yaml
Labels: priority/low, size/S, type/ci, actions/backport/release/v1.7

#3186 hotfix: separated unification job
  .github/workflows/_docker-image.yaml
Labels: priority/low, size/S, type/ci, area/makefile, actions/backport/release/v1.7

#3184 Backport PR #3182 to release/v1.7 for hoftix: Avoid overwrite for ghcr.io
  .github/workflows/_docker-image.yaml
Labels: priority/low, type/ci, size/XXL

#3189 hotfix: Use extra tags to push nightly
  .github/workflows/_docker-image.yaml
Labels: priority/low, size/S, type/ci, actions/backport/release/v1.7

#3192 revert: Platform Separation
  .github/actions/docker-build/action.yaml
  .github/workflows/_docker-image.yaml
  Makefile.d/helm.mk
Labels: priority/low, size/S, type/ci, area/makefile

#3187 restore loadtest.md
  .gitfiles
  docs/performance/loadtest.md
Labels: priority/low, type/documentation, size/L, actions/backport/release/v1.7

#3197 Backport PR #3187 to release/v1.7 for restore loadtest.md
  .gitfiles
  docs/performance/loadtest.md
Labels: priority/low, size/XXL

#3198 Backport PR #3195 to release/v1.7 for hotfix: Use --retry for get.helm.sh
  Makefile.d/helm.mk
Labels: priority/low, size/XXL, area/makefile
