Repository vdaas/vald, pull requests merged in 2025-01, with the labels that each got.

#2795 fix(docs): Delete Clojure from supported language
  .prh.yaml
  docs/overview/about-vald.md
Labels: ci/approved, actions/backport/release/v1.7

#2804 fix(docs): typo of docs in loadtest
  docs/performance/loadtest.md
Labels: actions/backport/release/v1.7

#2806 :bug: fix go build argument
  dockers/agent/core/faiss/Dockerfile
  dockers/agent/core/ngt/Dockerfile
  dockers/agent/sidecar/Dockerfile
  dockers/discoverer/k8s/Dockerfile
  dockers/example/client/Dockerfile
  dockers/gateway/filter/Dockerfile
  dockers/gateway/lb/Dockerfile
  dockers/gateway/mirror/Dockerfile
  dockers/index/job/correction/Dockerfile
  dockers/index/job/creation/Dockerfile
  dockers/index/job/deletion/Dockerfile
  dockers/index/job/readreplica/rotate/Dockerfile
  dockers/index/job/save/Dockerfile
  dockers/index/operator/Dockerfile
  dockers/manager/index/Dockerfile
  dockers/tools/benchmark/job/Dockerfile
  dockers/tools/benchmark/operator/Dockerfile
  dockers/tools/cli/loadtest/Dockerfile
  example/client/go.mod
  example/client/go.mod.default
  example/client/go.sum
  go.mod
  go.sum
  hack/docker/gen/main.go
  hack/go.mod.default
  versions/GO_VERSION
Labels: type/bug, priority/medium, size/XXL, actions/backport/release/v1.7

#2800 Backport PR #2795 to release/v1.7 for fix(docs): Delete Clojure from supported language
  .prh.yaml
  docs/overview/about-vald.md
Labels: priority/low, size/XXXL

#2809 Backport PR #2804 to release/v1.7 for Document: fix typo of docs in loadtest (#2804)
  docs/performance/loadtest.md
Labels: priority/low, size/XXXL

#2810 Backport PR #2806 to release/v1.7 for :bug: fix go build argument (#2806)
  dockers/agent/core/faiss/Dockerfile
  dockers/agent/core/ngt/Dockerfile
  dockers/agent/sidecar/Dockerfile
  dockers/discoverer/k8s/Dockerfile
  dockers/example/client/Dockerfile
  dockers/gateway/filter/Dockerfile
  dockers/gateway/lb/Dockerfile
  dockers/gateway/mirror/Dockerfile
  dockers/index/job/correction/Dockerfile
  dockers/index/job/creation/Dockerfile
  dockers/index/job/deletion/Dockerfile
  dockers/index/job/readreplica/rotate/Dockerfile
  dockers/index/job/save/Dockerfile
  dockers/index/operator/Dockerfile
  dockers/manager/index/Dockerfile
  dockers/tools/benchmark/job/Dockerfile
  dockers/tools/benchmark/operator/Dockerfile
  dockers/tools/cli/loadtest/Dockerfile
  example/client/go.mod
  example/client/go.mod.default
  example/client/go.sum
  go.mod
  go.sum
  hack/docker/gen/main.go
  hack/go.mod.default
  versions/GO_VERSION
Labels: priority/low, size/XXXL

#2797 Fix validation logic for manager indexer
  pkg/manager/index/service/indexer.go
Labels: actions/e2e-deploy, actions/fossa, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, ci/approved, actions/backport/release/v1.7

#2814 Backport PR #2797 to release/v1.7 for Fix validation logic for manager indexer
  pkg/manager/index/service/indexer.go
Labels: priority/low, area/manager/index, size/XXXL

#2815 Backport PR #2808 to release/v1.7 for Update PULL_REQUEST_TEMPLATE and ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/security_issue_report.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: priority/low, type/ci, size/XXXL

#2811 add Search_Config validation
  internal/errors/lb.go
  pkg/gateway/lb/handler/grpc/aggregation.go
  pkg/gateway/lb/handler/grpc/handler.go
  pkg/tools/cli/loadtest/service/search.go
Labels: type/bug, priority/medium, size/M, area/internal, area/tools/cli/loadtest, area/gateway/lb, actions/e2e-deploy, actions/e2e-chaos, actions/e2e-profiling, actions/e2e-max-dim, actions/backport/release/v1.7

#2820 Fix format
  .github/workflows/unit-test-rust.yaml
  rust/libs/algorithms/qbg/src/input.cpp
  rust/libs/algorithms/qbg/src/input.h
Labels: priority/low, type/refactoring, type/ci, size/XXXL

#2807 add qbg-handler
  rust/Cargo.lock
  rust/bin/agent/Cargo.toml
  rust/bin/agent/src/handler.rs
  rust/bin/agent/src/handler/index.rs
  rust/bin/agent/src/handler/insert.rs
  rust/bin/agent/src/handler/object.rs
  rust/bin/agent/src/handler/remove.rs
  rust/bin/agent/src/handler/search.rs
  rust/bin/agent/src/handler/update.rs
  rust/bin/agent/src/handler/upsert.rs
  rust/bin/agent/src/main.rs
  rust/libs/algorithm/src/lib.rs
  rust/libs/algorithms/qbg/src/input.cpp
  rust/libs/algorithms/qbg/src/input.h
  rust/libs/algorithms/qbg/src/lib.rs
Labels: type/feature, priority/medium, size/XXL, actions/backport/release/v1.7

#2817 Backport PR #2811 to release/v1.7 for add Search_Config validation
  internal/errors/lb.go
  pkg/gateway/lb/handler/grpc/aggregation.go
  pkg/gateway/lb/handler/grpc/handler.go
  pkg/tools/cli/loadtest/service/search.go
Labels: priority/low, area/internal, size/XXXL, area/tools/cli/loadtest, area/gateway/lb

#2822 Backport PR #2807 to release/v1.7 for add qbg-handler
  rust/Cargo.lock
  rust/bin/agent/Cargo.toml
  rust/bin/agent/src/handler.rs
  rust/bin/agent/src/handler/index.rs
  rust/bin/agent/src/handler/insert.rs
  rust/bin/agent/src/handler/object.rs
  rust/bin/agent/src/handler/remove.rs
  rust/bin/agent/src/handler/search.rs
  rust/bin/agent/src/handler/update.rs
  rust/bin/agent/src/handler/upsert.rs
  rust/bin/agent/src/main.rs
  rust/libs/algorithm/src/lib.rs
  rust/libs/algorithms/qbg/src/input.cpp
  rust/libs/algorithms/qbg/src/input.h
  rust/libs/algorithms/qbg/src/lib.rs
Labels: priority/low, size/XXXL

#2819 Fix docker build error (benchmark-job, loadtest)
  Makefile.d/tools.mk
  dockers/ci/base/Dockerfile
  dockers/dev/Dockerfile
  dockers/example/client/Dockerfile
  dockers/tools/benchmark/job/Dockerfile
  dockers/tools/cli/loadtest/Dockerfile
  hack/docker/gen/main.go
Labels: type/bug, priority/medium, size/S, area/makefile, actions/backport/release/v1.7

#2826 Backport PR #2819 to release/v1.7 for Fix docker build error (benchmark-job, loadtest)
  Makefile.d/tools.mk
  dockers/ci/base/Dockerfile
  dockers/dev/Dockerfile
  dockers/example/client/Dockerfile
  dockers/tools/benchmark/job/Dockerfile
  dockers/tools/cli/loadtest/Dockerfile
  hack/docker/gen/main.go
Labels: priority/low, size/XXXL, area/makefile
